<%@ Page Language="C#" MasterPageFile="~/admin/MasterPage3_Blank.master" AutoEventWireup="true" Inherits="_Default" Title="FaceMaster - Complaint Resolution" Codebehind="Default.aspx.cs" %>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" Runat="Server">
</asp:Content>

