﻿@model IEnumerable<FM2015.Models.QMS.NCR>

@{
    ViewBag.Title = "NCRs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>NCRs</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NCRTrackingID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NCRNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OpenDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CloseDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NCRTrackingID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NCRNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OpenDate)
        </td>
        <td>
            @if(item.CloseDate == null)
            {
                <span>Not Closed</span>
            }
            else
            {
                @Html.DisplayFor(modelItem => item.CloseDate)
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
        </td>
    </tr>
}

</table>
