﻿body {
   background-color: #f6f8ed;
   width: 100%;
   margin-top: 5px;
   margin-bottom: 20px;
   margin-left: auto;
   margin-right: auto;
   font-family: Verdana, Arial, Geneva, Sans-Serif;
   font-size: 12px;
}

#MainContainer
{
    background-color: white;
    font-family: Verdana, Arial, Geneva, Sans-Serif;
    border: 0px solid black;
    width: 100%;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.simpleClear { clear:both; height:10px;}

td
{
   vertical-align: top;
   color: Black;
}

td.fieldname
{
   text-align: right;
   font-size: 10px;
   font-weight: bold;
}

ul
{
list-style-type:disc;
padding: 0px;
margin: 0px;
}

ul li
{
    margin-left: 10%;
    color: #181818;
    font-family: Arial, Tahoma, Helvetica, sans-serif;
	font-weight: normal; 
	font-size: 14px;
	line-height: 23px; 
}

ul ul
{
list-style-type:circle;
padding: 0px;
margin: 0px;
}

ul ul li
{
    margin-left: 15%;
    color: #181818;
    font-family: Arial, Tahoma, Helvetica, sans-serif;
	font-weight: normal; 
	font-size: 14px;
	line-height: 23px; 
}

#AdminNavContainer
{
    width: 1000px;
    text-align: left;
}

#AdminNavlist li
{
    display: inline;
    text-align:left;
    list-style-type: none; 
    padding-right: 20px;
    padding-left: 0px;  
}

.Catalog{font-size:42px; color:Red;}
#Catalog{font-size:42px; color:Red;}
.aCatalog{font-size:12px; color:#000000;text-align:left;}

.CatalogP{font-size:42px; color:blue;}

hr
{
   /* color: #b45d16; */
   color: gray;
}

#container
{
   /* background-color: #818689; */
   background-color: White;
   height: 900px;
}

#container2
{
   /* background-color: #bcbfc0; */
   /* background-color: #ff99ff; */
}

.Seachbox
{
    position: absolute;
    float: left;
    width: 30;
    top: 0; 
    right: -100;
    z-index: 1;
}

#Flash_Container
{
  width: auto;
  margin-left: 93px ;
  margin-right: auto; 
}

#Flash_Container2
{
   
   background-color: ButtonFace;
}

#Flash_Container3
{
   
   background-color: ButtonFace;
}

#Flash_Container4
{
  width: auto;
  margin-left: auto ;
  margin-right: auto; 
  background-color: White;
}

.header
{
  border: 0px solid gray;
  border-bottom: 0px solid gray;
  border-collapse: collapse;
  padding: 0px, 0px, 0px, 0px;
  border-spacing: 0;
  font: White;
}

.footer
{
  border: 0px solid gray;
  border-collapse: collapse;
  padding: 0px, 0px, 0px, 0px;
  border-spacing: 0;
  font: White;
  width: 100%; 
}

.ReportHelper
{
  border: 1px solid gray;
  border-collapse: collapse;
  padding: 0px, 0px, 0px, 0px;
  border-spacing: 0;
  font: Black;
  width: 100%; 
}
                
.headerbanner
{
   font-family: Verdana, Ariel, Geneva, Sans-Serif;
   font-size: 24px;
   font-weight: normal;
   height: 75px;
   padding: 0px, 0px, 0px, 0px;
   color: Black;
   vertical-align: middle;
   background-color: White;
   text-transform: none;
   text-align: center;          
}

.chkoutcustom{border: 0px; width: 800px;}
.chkoutmessage{border: 0px;}
.chkoutheader{border: 0px; text-align: left;}
.chkoutbody{border: 0px;}

.cschkoutcustom{border: 0px; width: 800px; font-size: 12px;}
.cschkoutmessage{border: 0px; font-size: 12px;}
.cschkoutheader{border: 0px; text-align: left; font-size: 12px;}
.cschkoutbody{border: 0px; font-size: 12px;}

.label{text-align:right;}
.rightlabel{text-align:left;}

.cslabel{font-size: 12px; text-align:right;}
.csrightlabel{font-size: 12px; text-align:left;}

#headermenu1
{
   padding: 0px 0px 0px 0px;
}

#headermenu2
{
   width: 800px;
   padding: 2px 2px 2px 2px;
}

.ulhdrmenu { padding:2px;}
.ulhdrmenu ul li { list-style:none;display:inline;float:left; margin-left:25px;}
.ulhdrmenu ul li a {padding:0px 30px 5px 0px;background-color:white;
      display:block;color:black;text-decoration:none;  font-size: 14px;}
.ulhdrmenu ul li a:hover 
      {padding:0px 30px 5px 0px;background-color:white;}
      
.uladminlist { margin:10px; }      
.uladminlist ul li { list-style-type: none; text-align:left; font-size: 14px;  padding-bottom: 0px }
.uladminlist ul li a {padding:0px 0px 0px 0px; background-color:white; color:black; font-size: 14px;}
.uladminlist ul li a:hover {padding:0px 0px 0px 0px; color:green; background-color:white; font-size: 14px;}

#contentmenu1
{
   width: 700px;
   padding: 2px 2px 2px 2px;
}

.TestimonialContainer
{
   
}

#Testimonialmenu
{
   
}

#footermenu
{
   width: 700px;
   padding: 2px 2px 2px 2px;
}

#playermenu
{
   padding: 2px 2px 2px 2px;
}

#playerimage
{
   margin-left: 65%;
   padding: 2px 2px 2px 2px;
}

#playertext
{
   margin-left: 65%;
   padding: 2px 2px 2px 2px;
}

#playercontent
{
   margin-left: 30%;
   padding: 2px 2px 2px 2px;
}
#breadcrumb
{
   background-color: #202020;
   color: White;
   padding: 3px;
   font-size: 10px;	
   padding-left: 5px;
}

#breadcrumb a
{
   color: Yellow;
}

#footermenu
{
   text-align: center;
   left: 135px;
   padding-top: 10px;            
}

#footertext
{
   text-align: center;
   padding-top: 3px;
   color: Black;            
}

#footerbanner
{
}

#footerimage
{
}

#bannerbox
{
   border: dashed 2px #c35308;
   margin-top: 20px;
   margin-bottom: 20px;
   margin-left: 10px;
   margin-right: 10px;
   padding: 5px;
   text-align: center;
   background-color: #e1e1e1;
}

#bannerbox a
{
   font-size: 10px;
   text-decoration: none;
   color: black; 
}

#loginbox
{
   width: 180px;
   height: 80px;
   padding: 2px 2px 2px 2px;    
   font-size: 10px;
}

#loginbox input
{
   color: red;
   border-color: red;
   background-color: #f7d582;
   font-size: 10px;
}

#themeselector
{
   text-align: right;
   height: 80px;
   padding: 2px 2px 2px 2px;    
   font-size: 10px;
}

#themeselector select
{
   color: black;
   background-color: #e1e1e1;
   font-size: 10px;
}

#welcomebox
{
   font-size: 12px;
   text-align: right;
}

#topicref
{
   font-family: Verdana, Arial, Geneva, Sans-Serif;
   font-size: 10px;
   font-weight: normal;
   text-align: center;
   background-color: White;
   text-transform: uppercase;
}

#productref
{
   font-family: Verdana, Arial, Geneva, Sans-Serif;
   font-size: 10px;
   font-weight: normal;
   text-align: center;
   background-color: White;
   text-transform: uppercase;
}

#topicblurb
{
   font-family: Verdana, Arial, Geneva, Sans-Serif;
   font-size: 12px;
   color: Black;
   font-weight:normal;
   text-align: left;
   padding: 0px 0px 0px 5px;
}

#IntroBlurb1
{
   font-family: Verdana, Arial, Geneva, Sans-Serif;
   font-size: 12px;
   color: Black;
   font-weight:normal;
   text-align: center;
}

#BenefitsImg
{
}

#BenefitsList
{
}

.BenefitsTable
{
    width: 1000px;
    border: 1px solid gray;
}

#topicClass
{
    font-size: medium;
}

#leftcol
{
   margin-left: 0px;
   width: 150px;
   height: 2237px;
   background-color: white;
   color: Black;
   font-size: 10px;
   border: 1px solid black
}

#leftcol a
{
   color: Blue;
}

#leftcol div.text
{
   padding: 6px 6px 6px 6px;
   text-align: justify;
}

#leftcol div.alternatetext
{
   padding: 6px 6px 6px 6px;
   background-color: #e1e1e1;
   text-align: justify;
}

#leftcol div.sectiontitle, #leftcol .sectiontitle span
{
   padding: 6px 6px 6px 3px;
   background-color: #818689;
   color: white;
   font-size: 12px;
   font-weight: bold;
   text-transform: uppercase;
}

#centercol
{
   margin-left: 0px;
   width: 830px;
   height: 950px;
   padding: 0px;
   background-color: white;
}

#centercol2
{
   margin-left: 150px;
   width: 680px;
   height: 950px;
   padding: 0px;
   background-color: white;
}

#centercolcontent
{
   padding: 0px 0px 0px 0px;
}

#centercolcontent_noproduct
{
   padding: 0px 0px 0px 0px;
   /* border: 1px solid gray; */
}

#noleftcentercol
{
   margin-left: 0px;
   width: 830px;
   height: 900px;
   padding: 0px;
   background-color: white;
}

#centercolcontent div.sectiontitle, #centercolcontent .sectiontitle span
{
   font-weight: bold;
   font-size: larger;
   color: #b45d16;
}

#centercolcontent div.sectionsubtitle
{
   font-weight:bold;
   padding-bottom: 4px;

}

#rightcol
{
   width: 164px;
   /* height: 1558px; */
   color: black;
   background-color: white;
   font-size: 10px;
   border: 1px solid gray
}

#rightcol a
{
   color: Blue;
}

#rightcol div.text
{
   padding: 6px 6px 6px 6px;
   text-align: center;
}

#rightcol div.sectiontitle, #rightcol .sectiontitle span
{
   padding: 6px 6px 6px 3px;
   background-color: #818689;
   color: #f7b76b;
   font-size: 12px;
   font-weight: bold;
   text-transform: uppercase;
}

#rightcolimage
{
   font-family: Verdana, Arial, Geneva, Sans-Serif;
   font-size: 12px;
   font-weight: bold;
   text-align: left;
}

#rightcolimage2
{
   font-family: Verdana, Arial, Geneva, Sans-Serif;
   font-size: 12px;
   font-weight: bold;
   text-align: left;
}

#CollagenContent
{
   background-color:ButtonFace;
}

.list1
{
   font-family: Verdana, Arial, Geneva, Sans-Serif;
   font-weight:normal;
   font-size: 12px;
   color: Black;       
}

.footermenulink
{
   font-family: Verdana, Arial, Geneva, Sans-Serif;
   margin-left:auto; margin-right:auto;
   vertical-align: middle;
   text-align: center;
   font-size: 10px;
   font-weight: bold;
   text-transform: uppercase;
   background-color: #636466;
   /* color: Purple; */
   color: White;     
}

.footermenulink a
{
   text-decoration: none;
   /* color: Purple; */
   color: White;
}

.hdrlink
{
   font-family: Verdana, Arial, Geneva, Sans-Serif;
   font-weight: bold;
   font-size: 12px;
   text-transform: uppercase;
   color: Black;       
}

.hdrlink a
{
   text-decoration: none;
   /* color: Purple; */
   color: Black;
}

.mainmenulink
{
   font-family: Verdana, Arial, Geneva, Sans-Serif;
   font-size: 14px;
   font-weight: normal;
   border-collapse: collapse;
   border-spacing: 0;
   padding: 0px, 0px, 0px, 0px;
   color: White;
   vertical-align: middle;
   text-align: center;
   background-color: #636466;
   text-transform: uppercase;
   width: 1024px;
   height: 30px;        
}

.mainmenulink a
{
   text-decoration: none;
   /* color: Purple; */
   color: white;
}

.mainmenulink a:hover
{
   text-decoration: none;
   color: white; 
}

.headermenulink
{
   font-family: Verdana, Arial, Geneva, Sans-Serif;
   font-size: 10px;
   font-weight: normal;
   padding: 0px, 0px, 0px, 0px;
   color: black;
   vertical-align: middle;
   text-align: right;
   background-color: white;
   text-transform: uppercase;        
}

.headermenulink a
{
   text-decoration: none;
   /* color: Purple; */
   color: black;
}

.headermenulink a:hover
{
   text-decoration: none;
   color: black; 
}

.contentmenulinkupper
{
   font-family: Verdana, Ariel, Geneva, Sans-Serif;
   font-size: 12px;
   font-weight: normal;
   height: 12px;
   padding: 0px, 0px, 0px, 0px;
   color: White;
   vertical-align: middle;
   text-align: center;
   background-color: #636466;
   text-transform: uppercase;        
}

.contentmenulinkupper a
{
   text-decoration: none;
   /* color: Purple; */
   color: White;
}

.contentmenulinkupper a:hover
{
   text-decoration: none;   
   /* background-color: #666666; */
   /* background-color: #B0B6B6; */
   background-color: #636466;
   color: White; 
}

.contentmenulinklower
{
   font-family: Verdana, Ariel, Geneva, Sans-Serif;
   font-size: 12px;
   font-weight: normal;
   /* height: 12px; */
   padding: 0px, 0px, 0px, 0px;
   color: White;
   vertical-align: bottom;
   background-color: #636466;
   text-transform: uppercase;
   text-align: center;        
}

.contentmenulinklower a
{
   text-decoration: none;
   /* color: Purple; */
   color: White;
}

.contentmenulinklower a:hover
{
   text-decoration: none;   
   /* background-color: #666666; */
   background-color: #636466;
   color: White; 
}

.contentmenulink
{
   font-family: Verdana, Ariel, Geneva, Sans-Serif;
   font-size: 12px;
   font-weight: normal;
   height: 12px;
   padding: 0px, 30px, 0px, 30px;
   color: Black;
   vertical-align: middle;
   text-align: left;
   background-color: White;
   text-transform: uppercase;        
}

.contentmenulink a
{
   text-decoration: none;
   /* color: Purple; */
   color: Black;
}

.contentmenulink a:hover
{
   text-decoration: none;   
   /* background-color: #666666; */
   background-color: ButtonFace;
   color: Black; 
}

.videotipmenulink
{
   font-family: Verdana, Ariel, Geneva, Sans-Serif;
   font-size: 8px;
   font-weight: normal;
   height: 10px;
   padding: 0px, 00px, 0px, 0px;
   color: Black;
   vertical-align: middle;
   text-align: justify;
   background-color: White;
   text-transform: uppercase;        
}

.videotipmenulink a
{
   text-decoration: none;
   /* color: Purple; */
   color: Black;
}

.videotipmenulink a:hover
{
   text-decoration: underline overline;
   background-color: #666666;
   color: White; 
}

.cartmenulink
{
   font-family: Verdana, Ariel, Geneva, Sans-Serif;
   font-size: 12px;
   font-weight: normal;
   height: 12px;
   padding: 0px, 15px, 0px, 15px;
   color: Black;
   vertical-align: middle;
   text-align: center;
   background-color: White;
   text-transform: uppercase;        
}

.cartmenulink a
{
   text-decoration: none;
   /* color: Purple; */
   color: Black;
}

.cartmenulink a:hover
{
   text-decoration: underline, overline;
   /* background-color: #666666; */
   background-color: ButtonFace;
   color: Black; 
}

#videotipmenuitem
{
}

.videotipmenulink
{
   font-family: Verdana, Arial, Geneva, Sans-Serif;
   font-size: 14px;
   color: Black;
   background-color: ButtonFace;
   text-transform: uppercase;        
}

.videotipmenulink a
{
   text-decoration: none;
   /* color: Purple; */
   color: Black;
}

.videotipmenulink a:hover
{
   text-decoration: underline overline;
   color: White; 
}

#videohighlightmenuitem
{
}

.videohighlightmenulink
{
   font-family: Verdana, Arial, Geneva, Sans-Serif;
   font-size: 14px;
   color: Black;
   background-color: ButtonFace;
   text-transform: uppercase;        
}

.videohighlightmenulink a
{
   text-decoration: none;
   /* color: Purple; */
   color: Black;
}

.videohighlightmenulink a:hover
{
   text-decoration: underline overline;
   color: White; 
}

#MainContentContainer
{
    background-color: White;
    /* border: 1px solid gray; */
}

.MainTable
{
    border: 0px solid gray;
    border-collapse:collapse;
    background-color: White;
    width: 100%;
    Padding: 0;
}

.MainContentTable
{
    border: 0px solid gray;
    border-collapse:collapse;
    background-color: White;
}

.MainProductBox
{
    padding-left: 0px;
    background-color: White;
}

.LowerContentTable
{
    border: 0px solid gray;
    background-color: White;
    width: 100%;
}

.InfoHolder
{
    border: 0px;
    background-color:White;
    width: 300px;
}

.InfoHolder_NoProduct
{
    border: 0px;
    background-color:ButtonFace;
    width: 750px;
}

.Product1
{
    border: 0px;
    background-color:ButtonFace;
    width: 500px;
}

.leftHolder
{
    border: 0px;
    border-spacing: 0;
    border-collapse: collapse;
    background-color:White;
    width: 275px;
    height: 400px;
}

.centerHolder
{
    border: 0px;
    border-spacing: 0;
    border-collapse: collapse;
    background-color: White;
    width: 350px;
    height: 400px;
}

.MiscHolder
{
    border: 0px solid gray;
    background-color:White;
    width: 325px;
}

.MiscHolder_NoContent
{
    border: 0px solid gray;
    background-color:White;
    width: 300px;
}

.LowerBlurbTable
{
    /* border: 1px solid gray; */
    background-color: White;
    width: 1024px;
}

.LowerBlurbTable2
{
    border: 1px solid gray;
    background-color: White;
    width: 1024px;
}

.LowerBlurbTable3
{
    border: 0px solid gray;
    background-color: white;
    width: 600px;
}
.LowerBlurbList
{
    border: 1px solid gray;
    padding: 5px 5px 5px 5px;
    background-color: White;
    width: 550px;
}

.LowerBlurbList1
{
    border: 1px solid gray;
    padding: 5px 5px 5px 5px;
    background-color: White;
    width: 550px;
}

.LowerBlurbList2
{
    border: 1px solid gray;
    background-color: White;
    width: 420px;
}

#Product1Image
{
}

#BuyNowPrice
{
    font-weight:bold;
}

#Product1BuyNowButtonLink
{
}

#Product1MoreInfoButtonLink
{
}

.Product2
{
    border: solid "1px" gray;
    width: 300px;
    height: 400px;
}

.highlight
{
   background-color: #fefbd2;
   color: #000080;
}

.highlightcity
{
   background-color: #df2e05;
}

.highlightstate
{
   background-color: #f4c977;
}

.highlightcountry
{
   background-color: #818689;
}

.articlebox
{
   background-color: #fefef0;
   color: #b45d16;
   border: dashed 1px #995117;
   padding: 6px 6px 6px 6px;
   font-size: smaller;
}

.articletitle
{
   font-size: 18px;
   font-weight: bold;
   color: #995117;
   text-decoration: none;
}

.articleabstract
{
   padding-top: 6px;
}

.comment
{
   padding: 4px 0px 4px 0px;
   font-size: smaller;
}

.pollbox
{
   font-size: 11px;
}

.pollcontent
{
   padding: 6px;
}

.pollquestion
{
   font-size: 13px;
   font-weight: bold;
}

.polloptions
{
   padding-top: 10px;
   padding-bottom: 4px;
}

.pollbar
{
   background-color: red;
   font-size: 4px;   
}

.progressbarcontainer
{
   width: 98%;
   height: 15px;
   border: solid 1px black;
   padding: 1px;
}

.progressbar
{
   width: 0px;
   background-color: Red;
   height: 15px;
}

.newsletterbox
{
   font-size: 11px;
}

.newsletterboxcontent
{
   padding: 6px;
}

.postinfo
{
   background-color: #f9eaa6;
   font-weight: bold;
   text-align: center;
}

.posttitle
{
   padding: 3px;
   margin-bottom: 10px;
   background-color: #f09d35;
   color: black;
   font-weight: bold;
}

.postbody
{
   padding: 3px;
}

.shoppingcartbox
{
   font-size: 11px;
}

.shoppingcartboxcontent
{
   padding: 6px;
}

.MyActTitle
{
    font-size:14px;
    color:#000000; 
    font-weight:bold;   
}

.actbody{font-size:14px; text-decoration:none;}
.act{font-size:12px; text-decoration:none;}

.act:Link{text-decoration:none;}
.act:Visited{text-decoration:none;}
.act:Hover{color:#999966;}
.act:Active{}

.TableDeptItemsNormal
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 12px;
    COLOR: #000000;
    FONT-FAMILY: verdana, helvetica, arial, geneva, sans-serif;
    BACKGROUND-COLOR: #ffffff;
    TEXT-DECORATION: none;
    margin-left: 100px;
    height: 200px;
}

.checkouttitle
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: #000000;
    FONT-STYLE: normal;
    FONT-FAMILY: Verdana, helvetica, Arial, geneva, sans-serif;
    TEXT-DECORATION: none
}

.beforeafter
{
   font-family: Verdana, Ariel, Geneva, Sans-Serif;
   font-size: 24px;
   font-weight: bold;
   padding: 0px, 0px, 0px, 0px;
   color: Black;
   vertical-align: top;
   background-color: White;
   text-transform: none;
   text-align: center;        
}

.plistcol 
{
  font-family: Verdana, Arial, Geneva, Sans-Sarif;
  font-size: 22px;
  font-weight: normal;
  text-align: left; 
  margin-left: 25px; 
  margin-right: auto; 
}

.plistcol2 
{
  font-family: Verdana, Arial, Geneva, Sans-Sarif;
  font-size: 22px;
  font-weight: normal;
  text-align: center; 
  margin-left: 40px; 
  margin-right: auto; 
}

.ppricemain 
{
  font-family: Verdana, Arial, Geneva, Sans-Sarif;
  font-size: 24px;  
  margin-left: 10px; 
  margin-right: 10px; 
}

.plistmain 
{
  font-family: Verdana, Arial, Geneva, Sans-Sarif;
  font-size: 12px;
  font-weight: normal;  
  margin-left: 10px; 
  margin-right: 10px; 
}

.urlName 
{
  font-family: Verdana, Arial, Geneva, Sans-Sarif;
  font-size: 32px;  
  font-weight: normal;
  text-align: left;
  vertical-align:top;
  height: 75px; 
}

.admin_urlName 
{
  margin-right:0 auto;
  font-family: Verdana, Arial, Geneva, Sans-Sarif;
  font-size: 48px;  
  font-weight: normal;
  padding-top: 10px;
  color: Gray;
  font-style:italic;
}

.hdrProductName 
{
  font-family: Verdana, Arial, Geneva, Sans-Sarif;
  font-size: 72px;  
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
}

.h5 
{
  font-family: Verdana, Arial, Geneva, Sans-Sarif;
  font-size: 12px;  
  margin-left: 10px; 
  margin-right: 10px; 
}

.h3 
{
  font-family: Verdana, Arial, Geneva, Sans-Sarif;
  font-size: 10px;  
  margin-left: 10px; 
  margin-right: 10px; 
}

.standardtext 
{
  font-family: Verdana, Arial, Geneva, Sans-Sarif;
  font-weight:normal;
  font-size: 12px;
  text-indent: 0;
  text-align: justify; 
  margin-left: 10px; 
  margin-right: 10px; 
}

.columntext 
{
  font-family: Verdana, Arial, Geneva, Sans-Sarif;
  font-weight:normal;
  font-size: 12px;
  line-height: 24px;
  text-indent: 0;
  text-align: center; 
  margin-left: 10px; 
  margin-right: 10px; 
}

.Testimonialtext 
{
  font-family: Verdana, Arial, Geneva, Sans-Sarif;
  font-weight:normal;
  font-size: 12px;
  line-height: 18px;
  text-indent: 0;
  text-align: left; 
  margin-left: 10px; 
  margin-right: 10px; 
}

.DrHansontext 
{
  font-family: Verdana, Arial, Geneva, Sans-Sarif;
  font-weight:normal;
  font-size: 12px;
  line-height: 18px;
  text-indent: 0;
  text-align: left; 
  margin-left: 10px; 
  margin-right: 10px; 
}

.sectiontitle
{
   font-weight: bold;
   font-size: 14px;
   text-align: center;
   color: Black;
   width: 1000px;
   text-transform: uppercase;

}

.sectionsubtitle
{
   font-weight: bold;
   text-align:left;
   font-size: 12px;
   color: Black;
   padding-bottom: 4px;
   text-transform: uppercase;
}

.custservice
{
   font-size: 12px;
   color: Black;
}

.custservice td { border: 1px solid black; padding: 4px; }

.custservice a {font-size: 12px; color: Black;}
.custservice a:Link {font-size: 12px;}
.custservice a:Active {}
.custservice a:Hover {color: Blue;}

.rptHdrRow { font-size: 12px; background-color:black; color: white; }

.rptHdrRow a {font-size:12px; background-color:black; color: white; font-weight:normal; text-align:center;}
.rptHdrRow a:Link {font-size:12px; background-color:black; color: white; font-weight:normal; text-align:center; }
.rptHdrRow a:Visited {font-size:12px; background-color:black; color: white; font-weight:normal; text-align:center; }
.rptHdrRow a:Active {font-size:12px; background-color:black; color: white; font-weight:normal; text-align:center; }

.rptRow { font-size: 12px; background-color:white; color: black; }

.rptRow a {font-size:12px; background-color:white; font-weight:normal; text-align:center; }
.rptRow a:Link {font-size:12px; background-color:white; font-weight:normal; text-align:center; }
.rptRow a:Visited {font-size:12px; background-color:white; font-weight:normal; text-align:center; }
.rptRow a:Active {font-size:12px; background-color:white; font-weight:normal; text-align:center; }

.rptAltRow { font-size: 12px; background-color: #CCCCFF;  color: black; }

.rptAltRow a {font-size:12px; font-weight:normal; text-align:center; }
.rptAltRow a:Link {font-size:12px; font-weight:normal; text-align:center; }
.rptAltRow a:Visited {font-size:12px; font-weight:normal; text-align:center; }
.rptAltRow a:Active {font-size:12px; font-weight:normal; text-align:center; }

.notify { font-size: 12px; background-color:white; color: red; text-align:center}

.notify a {font-size:12px; background-color:white; font-weight:normal; color: Black; text-align:center; }
.notify a:Link {font-size:12px; background-color:white; font-weight:normal; color: Black; text-align:center; }
.notify a:Visited {font-size:12px; background-color:white; font-weight:normal; color: Black;  text-align:center; }
.notify a:Active {font-size:12px; background-color:white; font-weight:normal; color: Black; text-align:center; }

.style5 { color: #FFFFFF;}
.style8 { font-size: 11px;}
.style58 { color: #FFFFFF; font-size: 11px; }
.style36 { font-size: 11px; font-weight: bold;}

/* LOGIN ELEMENTS   
----------------------------------------------------------*/

.login
{
    margin: 1em 0px;
    padding: 0px;
}

.login p 
{
    margin: 2px 12px 0 0;
}

.field {
    margin: 10px 0;
}

input.textEntry, input.passwordEntry
{
    background-color: #fff;
    width: 70%;
    border: 0px solid #fff;
    background: #fff;
}

input.textEntry:focus, input.passwordEntry:focus
{
    background-color: #fff;
    border: 0px solid #fff;
    background: #fff;
    outline: none;
}



div.accountInfo
{
    width: 400px;
    display:block;
}

.boxRound {
    background-color: #fff;
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 0px solid #CCC;
    padding: 5px;
    margin-top: 5px;
    width: 360px;
}

.submitButton
{
    padding: 5px 0;
}

.submitButton input
{
    border: 1px solid #ccc;
    padding: 5px 20px;
    color: #898989;
    font-size: 1.1em;
    font-weight: bold;
    margin-top: 10px;
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #CCC;
}

.submitButton span 
{
    padding-left: 10px;
}

/* GRIDVIEW ELEMENTS   
----------------------------------------------------------*/

.grdResults
{
	border:solid 1px black;
	width:100%;
}

.grdResults tr
{
	/*border: solid 1px black;*/
}

.grdResults td
{
	border: solid 1px black;
	padding-left: 2px;
	padding-right: 2px;
}

.grdResults th
{
	border: solid 1px black;
	background-color:#DDDDDD;
	text-align:center;
	font-weight:bold;
	color:Black;
	padding: 2px;
}

.grdResults th a
{
	font-size: 12px;
	font-weight:bold;
	color:Black;
}

.grdResults a
{
	font-size: 10px;
	color:Black;
}



/* FORM ELEMENTS   
----------------------------------------------------------*/

.groupHTML
{
    /*
    float:left;
    clear:none;
    overflow:hidden;
    */
}

.groupHTML fieldset
{
    margin-bottom: 0px;
}

.groupHTML input[type="text"]
{
    clear:none;
    overflow:hidden;
    display:inline;
    float:left;
    background: #F8F8FF;
    border: 1px solid black
}

.groupHTML submit, select
{
    clear:none;
    overflow:hidden;
    display:inline;
    float:left;
}

.groupHTML input[type="radio"], input.radio, input[type="checkbox"], input.checkbox
{
    clear:none;
    overflow:hidden;
    float:left;
    margin: 2px 2px 0px 2px;
}

.groupHTML input[type="checkbox"], input.checkbox
{
    clear:none;
    display: block;
    overflow:hidden;
    float:left;
    margin: 2px 2px 0px 2px;
}


.groupHTML label
{
    float:left; 
    clear:none; 
    display:block; 
    padding: 2px 1px 0 0;
}

.groupHTML span
{
    float:left; 
    clear:none; 
    display:block; 
    padding: 2px 1px 0 0;
}

.groupHTML a
{
    margin-right:10px;
}


.groupHTML table
{
    display:inline-table;
    float:left;
    vertical-align:middle;
}

.groupHTML ul {
        list-style:none;
        display: inline;
        overflow:hidden;
        margin-left: 2px;
        padding-Left: 2px;
}

.groupHTML ul li {
        display: inline;
        margin-left: 2px;
        padding-Left: 2px;
}

.groupHTML ul.radio li.disabled {
        color: Gray;
}


.formHTML
{
    /*
    float:left;
    clear:none;
    overflow:hidden;
    */
}

.formHTML input[type="text"]
{
    clear:none;
    overflow:hidden;
    display:inline;
    float:left;
    background: #F8F8FF;
    border: 1px solid black
}

.formHTML select
{
    clear:none;
    overflow:hidden;
    display:inline;
    float:left;
    background: white;
    border: 1px solid black
}

.formHTML input[type="text"]:focus
{
    background-image: none;
    background-color: #ffffff;
    border: 1px solid #33677F;
}

.formHTML input[type="submit"]
{   
    margin-left:15%;
}

.formHTML input[type="radio"], input.radio, input[type="checkbox"], input.checkbox
{
    clear:none;
    overflow:hidden;
    float:left;
    clear:none;
    margin-left: 15%;
}

.formHTML label
{
    float:left; 
    clear:none; 
    display:block; 
    width: 40%;
    text-align: right;
    margin-right: 0.5em;
}

.formHTML span
{
    float:left; 
    clear:none; 
    display:block; 
    width: 30%;
    text-align: right;
    margin-right: 0.5em;
}

.formHTML table
{
    display:inline-table;
    float:left;
    vertical-align:middle;
}

.activeField
{
        background-image: none;
        background-color:Green;
        border: solid 1px #33677F;
}

.idle
{
    background-image: none;
    border: solid 1px #85b1de;
    background-color:Yellow;
}

/* CSS used from Stressipedia 
----------------------------------------------------------*/

.overlaypanel {padding:20px 20px 0 20px;}

.fl { margin:0; padding:0; list-style:none; margin: 0 0 20px;}
.fl li { margin:0 0 15px; overflow:hidden;}

label.lbl { display:block; margin:0 0 5px 0;}

/* Buttons */
.btn { color: #696969; border: 1px solid #919191; padding: 3px 9px; font-weight:bold;
    background: #ededed url( "images/gray-btn-bkg.png" ) repeat-x scroll 0 0; cursor: pointer; position:relative;
    font-size: 12px; font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    -moz-border-radius:5px; -webkit-border-radius:5px; -khtml-border-radius: 5px; border-radius:5px;}
.primary { color: #38560f; border: 1px solid #78a938; 
    background: #a5d75f url( "images/orange-btn-bkg.png" ) repeat-x scroll 0 0; }
.btn:active { top:1px;}
.btn:hover { background-position:0 -50px; }
.action_buttons .btn { padding: 5px 15px; margin: 0 5px 0  0; font-size: 13px; min-width:100px;}

.oDescImg { float:left; padding: 5px; }
