body 
{
	font-family: verdana, sans-serif;
	font-size: 12px;
	color: Black;
	padding: 10px 0px 5px 10px;
	background-color: #f6f8ed;
	border: none;
}

.Copy{font-size:10px;}
.CartError{color:red;}

#Bolder{font-size:18px;}

#container
{
	width: 720px;
	margin: 0px auto;
	background-color: #f6f8ed;
	background-image: url(images/bkg_cont-grn2.gif);
	background-repeat: no-repeat;
	background-position:center;
}
.MyActTitle{font-size:14px;color:#000000; font-weight:bold;}

.actbody{font-size:10px; text-decoration:none;}
.act{font-size:10px; text-decoration:none;}

.act:Link{text-decoration:none;}
.act:Visited{text-decoration:none;}
.act:Hover{color:#999966;}
.act:Active{}

.label{ text-align:right;}
.rightlabel{text-align:left;}

.CartDropdown{font-size:10px;}

.faqHead{font-size:12px;font-weight:bold;}


.Catalog{font-size:42px; color:Red;}
#Catalog{font-size:42px; color:Red;}
.aCatalog{font-size:12px; color:#000000;text-align:left;}

.Catalog.P{font-size:42px; color:blue;}


#carttop{font-size:10px; color:#000000;text-decoration:none;}
.carttop{font-size:10px; color:#000000;text-decoration:none;}
#carttop:link{font-size:10px; color:#000000;text-decoration:none;}
.carttop:visited{font-size:10px; color:#000000;text-decoration:none;}
.carttop:active{font-size:10px; color:#000000;text-decoration:none;}

#logoline{font-size:28px;color:#692C91}

.TableTopMenu
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    COLOR: #b1b3c0;
    FONT-FAMILY: verdana, helvetica, arial, geneva, sans-serif;
    BACKGROUND-COLOR:#C5BCD1;
    /* old:#c5bcd1; */
}

A:visited
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 10px;
    COLOR: #000000;
    FONT-STYLE: normal;
    FONT-FAMILY: verdana, helvetica, arial, geneva, sans-serif;
    TEXT-DECORATION: underline
}
A:active
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 10px;
    COLOR: #000000;
    FONT-STYLE: normal;
    FONT-FAMILY: verdana, helvetica, arial, geneva, sans-serif;
    TEXT-DECORATION: underline
}
A:hover
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 10px;
    COLOR: #af1e23;
    FONT-STYLE: normal;
    FONT-FAMILY: verdana, helvetica, arial, geneva, sans-serif;
    TEXT-DECORATION: underline
}
A:link
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 10px;
    COLOR: #000000;
    FONT-STYLE: normal;
    FONT-FAMILY: verdana, helvetica, arial, geneva, sans-serif;
    TEXT-DECORATION: underline
}
.ahome:visited
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 10px;
    COLOR: #000000;
    FONT-STYLE: normal;
    FONT-FAMILY: verdana, helvetica, arial, geneva, sans-serif;
    TEXT-DECORATION: none
}
.ahome:active
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 10px;
    COLOR: #000000;
    FONT-STYLE: normal;
    FONT-FAMILY: verdana, helvetica, arial, geneva, sans-serif;
    TEXT-DECORATION: none
}
.ahome:hover
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 10px;
    COLOR: #af1e23;
    FONT-STYLE: normal;
    FONT-FAMILY: verdana, helvetica, arial, geneva, sans-serif;
    TEXT-DECORATION: none
}
.ahome:link
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 10px;
    COLOR: #000000;
    FONT-STYLE: normal;
    FONT-FAMILY: verdana, helvetica, arial, geneva, sans-serif;
    TEXT-DECORATION: none
}
.afoot:visited
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 10px;
    COLOR: #000000;
    FONT-STYLE: normal;
    FONT-FAMILY: verdana, helvetica, arial, geneva, sans-serif;
    TEXT-DECORATION: none
}
.afoot:active
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 10px;
    COLOR: #000000;
    FONT-STYLE: normal;
    FONT-FAMILY: verdana, helvetica, arial, geneva, sans-serif;
    TEXT-DECORATION: underline
}
.afoot:hover
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 10px;
    COLOR: #000000;
    FONT-STYLE: normal;
    FONT-FAMILY: verdana, helvetica, arial, geneva, sans-serif;
    TEXT-DECORATION: underline
}
.afoot:link
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 10px;
    COLOR: #000000;
    FONT-STYLE: normal;
    FONT-FAMILY: verdana, helvetica, arial, geneva, sans-serif;
    TEXT-DECORATION: none
}


.atoplink:visited
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 10px;
    COLOR: #FFFFFF;
    FONT-STYLE: normal;
    FONT-FAMILY: verdana, helvetica, arial, geneva, sans-serif;
    TEXT-DECORATION: none
}
.atoplink:active
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 10px;
    COLOR: #FFFFFF;
    FONT-STYLE: normal;
    FONT-FAMILY: verdana, helvetica, arial, geneva, sans-serif;
    TEXT-DECORATION: underline
}
.atoplink:hover
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 10px;
    COLOR: #FFFFFF;
    FONT-STYLE: normal;
    FONT-FAMILY: verdana, helvetica, arial, geneva, sans-serif;
    TEXT-DECORATION: underline
}
.atoplink:link
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 10px;
    COLOR: #FFFFFF;
    FONT-STYLE: normal;
    FONT-FAMILY: verdana, helvetica, arial, geneva, sans-serif;
    TEXT-DECORATION: none
}

#normal:link{font-size:12px;color:#936EB0;}
#normal:visited{font-size:12px;color:#936EB0;}
#normal:hover{font-size:12px;color:#936EB0;}
#normal:link{font-size:12px;color:#936EB0;}



.acategory:visited
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 10px;
    COLOR: #000000;
    FONT-STYLE: normal;
    FONT-FAMILY: verdana, helvetica, arial, geneva, sans-serif;
    TEXT-DECORATION: underline
}
.acategory:active
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 10px;
    COLOR: #000000;
    FONT-STYLE: normal;
    FONT-FAMILY: verdana, helvetica, arial, geneva, sans-serif;
    TEXT-DECORATION: underline
}
.acategory:hover
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 10px;
    COLOR: #af1e23;
    FONT-STYLE: normal;
    FONT-FAMILY: verdana, helvetica, arial, geneva, sans-serif;
    TEXT-DECORATION: underline
}
.acategory:link
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 10px;
    COLOR: #000000;
    FONT-STYLE: normal;
    FONT-FAMILY: verdana, helvetica, arial, geneva, sans-serif;
    TEXT-DECORATION: underline
}
.aNav:visited
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    COLOR: #000000;
    FONT-STYLE: normal;
    FONT-FAMILY: verdana, helvetica, arial, geneva, sans-serif;
    TEXT-DECORATION: underline
}
.aNav:active
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    COLOR: #000000;
    FONT-STYLE: normal;
    FONT-FAMILY: verdana, helvetica, arial, geneva, sans-serif;
    TEXT-DECORATION: underline
}
.aNav:hover
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    COLOR: #af1e23;
    FONT-STYLE: normal;
    FONT-FAMILY: verdana, helvetica, arial, geneva, sans-serif;
    TEXT-DECORATION: underline
}
.aNav:link
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    COLOR: #000000;
    FONT-STYLE: normal;
    FONT-FAMILY: verdana, helvetica, arial, geneva, sans-serif;
    TEXT-DECORATION: underline
}

.TableHomeFeatured
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    COLOR: #b20f14;
    FONT-FAMILY: verdana, helvetica, arial, geneva, sans-serif;
    BACKGROUND-COLOR: #ffffff;
}
.TableHomeBar
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8px;
    COLOR: #ffffff;
    FONT-FAMILY: verdana, helvetica, arial, geneva, sans-serif;
    BACKGROUND-COLOR: #939498;
}
.TableTopDepartments
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8px;
    COLOR: #ffffff;
    FONT-FAMILY: verdana, helvetica, arial, geneva, sans-serif;
    BACKGROUND-COLOR: #936EB0;
}
.searchBox
{
    BORDER-RIGHT: 0px solid;
    PADDING-RIGHT: 0px;
    BORDER-TOP: 0px solid;
    PADDING-LEFT: 0px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 10px;
    PADDING-BOTTOM: 0px;
    BORDER-LEFT: 0px solid;
    COLOR: #000000;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: 0px solid;
    FONT-FAMILY: arial, verdana, helvetica, geneva, sans-serif;
    BACKGROUND-COLOR: #ffffff;
    TEXT-DECORATION: none
}
.searchBox2
{
    BORDER-RIGHT: 1px solid;
    PADDING-RIGHT: 0px;
    BORDER-TOP: 1px solid;
    PADDING-LEFT: 0px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 10px;
    PADDING-BOTTOM: 0px;
    BORDER-LEFT: 1px solid;
    COLOR: #000000;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: 1px solid;
    FONT-FAMILY: verdana, arial, helvetica, geneva, sans-serif;
    BACKGROUND-COLOR: #ffffff;
    TEXT-DECORATION: none
}
.footer
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 10px;
    COLOR: #ffffff;
    FONT-STYLE: normal;
    FONT-FAMILY: verdana, helvetica, arial, geneva, sans-serif;
    BACKGROUND-COLOR: #c5bcd1;
    TEXT-DECORATION: none
}
.NavBarBold
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    COLOR: #000000;
    FONT-STYLE: normal;
    FONT-FAMILY: verdana, helvetica, arial, geneva, sans-serif;
    BACKGROUND-COLOR: #ffffff;
    TEXT-DECORATION: none
}
.checkout
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 10px;
    FONT-STYLE: normal;
    FONT-FAMILY: verdana, helvetica, arial, geneva, sans-serif;
    BACKGROUND-COLOR: transparent;
    TEXT-DECORATION: none
}
.searchresult
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: #000000;
    FONT-FAMILY: verdana, helvetica, arial, geneva, sans-serif;
    BACKGROUND-COLOR: #ffffcc;
    TEXT-DECORATION: none
}
.searchresultsmall
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    COLOR: #000000;
    FONT-FAMILY: verdana, helvetica, arial, geneva, sans-serif;
    BACKGROUND-COLOR: #ffffcc;
    TEXT-DECORATION: none
}
.TopNavBkg
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    COLOR: #ffffff;
    FONT-STYLE: normal;
    FONT-FAMILY: verdana, helvetica, arial, geneva, sans-serif;
    BACKGROUND-COLOR: #000000;
    TEXT-DECORATION: none
}
.TopMenu
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    COLOR: #000000;
    FONT-STYLE: normal;
    FONT-FAMILY: verdana, helvetica, arial, geneva, sans-serif;
    BACKGROUND-COLOR: #b00d0e;
    TEXT-DECORATION: none
}
.NavBar
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 10px;
    COLOR: #000000;
    FONT-STYLE: normal;
    FONT-FAMILY: verdana, helvetica, arial, geneva, sans-serif;
    BACKGROUND-COLOR: #ffffff;
    TEXT-DECORATION: underline
}
.checkoutheader
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    COLOR: #000000;
    FONT-STYLE: normal;
    FONT-FAMILY: Verdana, helvetica, Arial, geneva, sans-serif;
    BACKGROUND-COLOR: #cccccc;
    TEXT-DECORATION: none
}
.checkoutsubtotal
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    FONT-STYLE: normal;
    FONT-FAMILY: Verdana, helvetica, Arial, geneva, sans-serif;
    TEXT-DECORATION: none
}
.checkouttitle
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: #000000;
    FONT-STYLE: normal;
    FONT-FAMILY: Verdana, helvetica, Arial, geneva, sans-serif;
    TEXT-DECORATION: none
}
.checkoutbold
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    COLOR: #000000;
    FONT-STYLE: normal;
    FONT-FAMILY: Verdana, helvetica, Arial, geneva, sans-serif;
    TEXT-DECORATION: none
}
.HelpHdr
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: #af1e23;
    FONT-FAMILY: verdana, helvetica, arial, geneva, sans-serif;
    BACKGROUND-COLOR: #ffffff
}
.copyright
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    COLOR: #000000;
    FONT-STYLE: italic;
    FONT-FAMILY: verdana, helvetica, arial, geneva, sans-serif;
    BACKGROUND-COLOR: #ffffff;
    TEXT-DECORATION: none
}
.TableDeptItemsNormal
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 12px;
    COLOR: #000000;
    FONT-FAMILY: verdana, helvetica, arial, geneva, sans-serif;
    BACKGROUND-COLOR: #ffffff;
    TEXT-DECORATION: none
}
.NavBarText
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 10px;
    COLOR: #000000;
    FONT-STYLE: normal;
    FONT-FAMILY: verdana, helvetica, arial, geneva, sans-serif;
    BACKGROUND-COLOR: #ffffff;
    TEXT-DECORATION: none
}
.checkout
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    COLOR: #000000;
    FONT-STYLE: normal;
    FONT-FAMILY: verdana, helvetica, arial, geneva, sans-serif;
    TEXT-DECORATION: none
}
.checkoutred
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 12px;
    COLOR: #b20c10;
    FONT-STYLE: normal;
    FONT-FAMILY: Verdana, helvetica, Arial, geneva, sans-serif;
    BACKGROUND-COLOR: transparent;
    TEXT-DECORATION: none
}
.shopbagborder
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 12px;
    COLOR: #999999;
    FONT-STYLE: normal;
    FONT-FAMILY: Verdana, helvetica, Arial, geneva, sans-serif;
    BACKGROUND-COLOR: #999999;
    TEXT-DECORATION: none
}
.HRtitle
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 14px;
    COLOR: #990033;
    FONT-STYLE: normal;
    FONT-FAMILY: Verdana, helvetica, Arial, geneva, sans-serif;
    TEXT-DECORATION: none
}
.HRnormal
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 10px;
    COLOR: #000000;
    FONT-STYLE: normal;
    FONT-FAMILY: Verdana, helvetica, Arial, geneva, sans-serif;
    TEXT-DECORATION: none
}
.HRcategories
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    COLOR: #990033;
    FONT-STYLE: normal;
    FONT-FAMILY: Verdana, helvetica, Arial, geneva, sans-serif;
    TEXT-DECORATION: none
}
.PackageTrack
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 10px;
    COLOR: #000000;
    FONT-STYLE: normal;
    FONT-FAMILY: Verdana, helvetica, Arial, geneva, sans-serif;
    BACKGROUND-COLOR: #ffffff;
    TEXT-DECORATION: none
}
.PackageTrackAlt
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 10px;
    COLOR: #000000;
    FONT-STYLE: normal;
    FONT-FAMILY: Verdana, helvetica, Arial, geneva, sans-serif;
    BACKGROUND-COLOR: #cccccc;
    TEXT-DECORATION: none
}
.GiftCertificateTitle
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: #000000;
    FONT-STYLE: normal;
    FONT-FAMILY: Verdana, helvetica, Arial, geneva, sans-serif;
    TEXT-DECORATION: none
}
.GiftCertificate
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: #cccc66;
    FONT-STYLE: normal;
    FONT-FAMILY: Verdana, helvetica, Arial, geneva, sans-serif;
    TEXT-DECORATION: none
}
.NormalTwelve
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 12px;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Helvetica, Arial, geneva, sans-serif
}
.afoot2:visited
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    COLOR: #af1e23;
    FONT-STYLE: normal;
    FONT-FAMILY: verdana, helvetica, arial, geneva, sans-serif;
    TEXT-DECORATION: none
}
.afoot2:active
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    COLOR: #af1e23;
    FONT-STYLE: normal;
    FONT-FAMILY: verdana, helvetica, arial, geneva, sans-serif;
    TEXT-DECORATION: none
}
.afoot2:hover
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    COLOR: #939598;
    FONT-STYLE: normal;
    FONT-FAMILY: verdana, helvetica, arial, geneva, sans-serif;
    TEXT-DECORATION: none
}
.afoot2:link
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    COLOR: #af1e23;
    FONT-STYLE: normal;
    FONT-FAMILY: verdana, helvetica, arial, geneva, sans-serif;
    TEXT-DECORATION: none
}
.redirectBKG
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8px;
    COLOR: #ffffff;
    FONT-FAMILY: verdana, helvetica, arial, geneva, sans-serif;
    BACKGROUND-COLOR: #af1e23
}
TABLE
{
    BACKGROUND-COLOR: white
}

TD
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 10px;
}

.copyright2
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 10px;
    COLOR: #000000;
    FONT-STYLE: italic;
    FONT-FAMILY: verdana, helvetica, arial, geneva, sans-serif;
    BACKGROUND-COLOR: #c5bcd1;
    TEXT-DECORATION: none
}
.SaleTable1
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    COLOR: #b20f14;
    FONT-FAMILY: verdana, helvetica, arial, geneva, sans-serif;
    BACKGROUND-COLOR: #eaeaea
}
.SaleTable2
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 10px;
    COLOR: #000000;
    FONT-FAMILY: verdana, helvetica, arial, geneva, sans-serif;
    BACKGROUND-COLOR: #eaeaea
}
FORM
{
    MARGIN-BOTTOM: 0px
}

a.homenounderline
{
	color: purple;
	font-family: Arial;
	font-size: 12px;	
	text-decoration: none;
	FONT-STYLE:normal;
}
