﻿@model IEnumerable<FMWebApp451.Controllers.ClassList>

@{
    ViewBag.Title = "test_ListSize";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>test_ListSize</h2>

@Html.Partial("_AdminNav")

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfItems)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfBytes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ElapsedTime)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (FMWebApp451.Controllers.ClassList item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfItems)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfBytes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ElapsedTime)
                </td>
            </tr>
        }
    </tbody>
</table>
