﻿@model FMWebApp.ViewModels.Stripe.StripeCustomerViewModel

@{
    ViewBag.Title = "Stripe Customer Edit";
}

@Html.Partial("_AdminNav")

<h2>Customer Update - Stripe CustomerID: @Html.Raw(Model.stripeCustomer.Id)</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                @Html.LabelFor(model => model.stripeCustomer.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.stripeCustomer.Description, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.stripeCustomer.Description, "", new { @class = "text-danger" })
                </div>
            </div>

            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.stripeCustomer.Object)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.stripeCustomer.Object)
                </dd>
            </dl>

            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.stripeCustomer.LiveMode)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.stripeCustomer.LiveMode)
                    @Html.HiddenFor(model => model.stripeCustomer.LiveMode)
                </dd>
            </dl>

            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.stripeCustomer.Created)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.stripeCustomer.Created)
                    @Html.HiddenFor(model => model.stripeCustomer.Created)
                </dd>
            </dl>

            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.stripeCustomer.AccountBalance)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.stripeCustomer.AccountBalance)
                    @Html.HiddenFor(model => model.stripeCustomer.AccountBalance)
                </dd>
            </dl>

            <div class="form-group">
                @Html.LabelFor(model => model.stripeCustomer.Currency, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.stripeCustomer.Currency, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.stripeCustomer.Currency, "", new { @class = "text-danger" })
                </div>
            </div>

            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.stripeCustomer.StripeDefaultCardId)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.stripeCustomer.StripeDefaultCardId)
                    @Html.HiddenFor(model => model.stripeCustomer.StripeDefaultCardId)
                </dd>
            </dl>

            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.stripeCustomer.Delinquent)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.stripeCustomer.Delinquent)
                    @Html.HiddenFor(model => model.stripeCustomer.Delinquent)
                </dd>
            </dl>

            <div class="form-group">
                @Html.LabelFor(model => model.stripeCustomer.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.stripeCustomer.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.stripeCustomer.Email, "", new { @class = "text-danger" })
                </div>
            </div>


            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.stripeCustomer.Deleted)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.stripeCustomer.Deleted)
                    @Html.HiddenFor(model => model.stripeCustomer.Deleted)
                </dd>
            </dl>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Submit" class="btn btn-default" />
                </div>
            </div>
        </div>
}

<div>
    @Html.ActionLink("Back to List", "GetCustomerList")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
