﻿@using Stripe;
@model IEnumerable<StripeCharge>

@{
    ViewBag.Title = "GetChargeList";
}

<p>&nbsp;</p>

<h2>Stripe Charge Index</h2>

@Html.Partial("_AdminNav")

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StripeCard.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BalanceTransactionId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Refunded)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Created)
        </th>
        <th></th>
    </tr>

    @foreach (StripeCharge item in Model)
    {
        <tr>
            <td>
                @{ string amount = (item.Amount/100).ToString("C"); }
                <span>@amount</span>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StripeCard.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BalanceTransactionId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Refunded)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
                @Html.ActionLink("Details", "ChargeDetails", new { id = item.Id }) |
            </td>
        </tr>
    }
</table>
