﻿@using Stripe;
@model IEnumerable<StripeCustomer>

@{
    ViewBag.Title = "Stripe Customer Index";
}
@ViewBag.ErrMsg
<p>&nbsp;</p>

<h2>Stripe Customer Index</h2>

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">

        <div id="divSubLookup" class="row">
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                @using (Html.BeginForm("GetCustomerList", "Stripe", FormMethod.Get))
                {
                    <div class="row">
                        <div class="col-xs-8 col-sm-8 col-md-12 col-lg-12">
                            <div id="imaginary_container">
                                <div class="input-group stylish-input-group">
                                    <input id="param" name="param" type="text" class="form-control" placeholder="...customer search">
                                    <span class="input-group-addon">
                                        <button type="submit">
                                            <span class="glyphicon glyphicon-search"></span>
                                        </button>
                                    </span>
                                    <span class="input-group-btn">
                                        <button type="button" data-toggle="modal" data-target="#mySubscriberModal">
                                            <span class="glyphicon glyphicon-info-sign"></span>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                <p>&nbsp;</p>
            </div> <!--end col-->
        </div> <!--end row-->
    </div>
</div>

@Html.Partial("_AdminNav")

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Created)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>

    @foreach (StripeCustomer item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.ActionLink("Details", "CustomerDetails", new { id = item.Id }, new { @class = "btn btn-success btn-sm" })
            </td>
        </tr>
    }
</table>



