﻿@using Stripe;
@model IEnumerable<StripeProduct>

@{
    ViewBag.Title = "Get Stripe Product List";
}

<p>&nbsp;</p>

<h2>Stripe Product Index</h2>

@Html.Partial("_AdminNav")

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

    @foreach (StripeProduct item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.ActionLink("Details", "ProductDetails", new { id = item.Id }) |
            </td>
        </tr>
    }
</table>

