﻿@using Stripe;
@model IEnumerable<StripePlan>

@{
    ViewBag.Title = "Get Stripe Plan List";
}

<p>&nbsp;</p>

<h2>Stripe Plan Index</h2>

@Html.Partial("_AdminNav")

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Interval)
        </th>
        <th></th>
    </tr>

    @foreach (StripePlan item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Interval)
            </td>
            <td>
                @Html.ActionLink("Details", "PlanDetails", new { id = item.Id }) |
            </td>
        </tr>
    }
</table>
