﻿@{
    ViewBag.Title = "Stripe Admin Stuff";
}

<h2>Stripe Admin</h2>

@Html.Partial("_AdminNav")

<p>&nbsp;</p>

<div class="row">
    
    <a href="~/Stripe/GetChargeList/" target=" _blank">
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="dash_icon" style="padding:20px;">
                <img src="/images/admin/metrics.png" style='width:100px'>
                <div class='title'>List all Stripe Charges</div>
            </div>
        </div><!--end column-->
    </a>

    <a href="~/Stripe/GetCustomerList/">
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="dash_icon" style="padding:20px;">
                <img src="~/images/admin/subscribers.png" style='width:100px'>
                <div class='title'>List all Stripe Customers</div>
            </div>
        </div><!--end column-->
    </a>

    <a href="~/Stripe/GetPlanList/">
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="dash_icon" style="padding:20px;">
                <img src="~/images/admin/plans.png" style='width:100px'>
                <div class='title'>List all Stripe Plans</div>
            </div>
        </div><!--end column-->
    </a>
</div>

<div class="row">
    <a href="https://stripe.com" target="_blank">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="dash_icon" style="padding:20px;">
                <img src="/images/admin/plans.png" style='width:100px'>
                <div class='title'>Go to Stripe.com</div>
            </div>
        </div><!--end column-->
    </a>
</div><!--end row-->
