﻿@using Stripe;
@model StripePlan

@{
    ViewBag.Title = "Plan Details";
}

<h2>Stripe Plan Details</h2>

@Html.Partial("_AdminNav")

<hr />
<div id="divPlanDetails" class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div id="frmPlanDetails" class="panel panel-primary">
            <div class="panel-heading">
                <div class="panel-title">
                    <h3>Plan Details</h3>
                </div>
            </div>
            <div class="panel-body">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Id)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Id)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Product.Name)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Product.Name)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Currency)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Currency)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Created)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Created)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Amount)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Amount)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Interval)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Interval)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.IntervalCount)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.IntervalCount)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.LiveMode)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.LiveMode)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.TrialPeriodDays)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.TrialPeriodDays)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Metadata)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Metadata)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Product.StatementDescriptor)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Product.StatementDescriptor)
                    </dd>
                </dl>
            </div> <!--end Panel Body-->
        </div> <!--end Panel-->
    </div> <!--end col-->
</div> <!--end row-->
