﻿
 

 

#quote {
	/* font-family: Georgia, "Times New Roman", Times, serif; */
    font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 24px;
	color: #444444;
	background-color: #f9f7ea;
	padding: 15px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-top-width: 2px;
	border-bottom-width: 2px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #ffd0ec;
	border-bottom-color: #ffd0ec;
}
div.sidebar h3 {
	font-size: 18px;
	color: #222;
	margin-top: 0;
}
div.sidebarBlue h3 {
	font-size: 20px;
	color: #511758;
	margin-top: 10px;
	text-align: left;
}
div.sidebarBlue {
	background: #fbf3ed;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border: 1px solid #f0d9c5;
	padding: 15px 20px;
	margin-top: 25px;
}
div.sidebarBlue h3 a {
	color: #53135b;
}
#inset {
	float: left;
	/*
	background-image: url(images/face_master_1110_lp_ktbg.gif);
	background-repeat: repeat-y;
	*/
	margin-top: 20px;
	margin-right: 0;
	margin-bottom: 15px;
	margin-left: 0;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
#inset ol {
	padding-left: 20px;
}
ul li 
{
	/*
	list-style-image: url(images/checkpnk_nobg.gif);
	margin-left: 30px;
	*/
}
 
/* ---------------------------------------------------
	END SIDEBARS AND INSETS
---------------------------------------------------- */
 
/* ---------------------------------------------------
	START UNIVERSAL CLASSES
---------------------------------------------------- */
 
.zeroTopMargin {
	margin-top: 0;
}
.zeroBottomMargin {
	margin-bottom: 0;
}
.contain:after {
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
	clear: both;
}
.check {
	float: left;
	margin: 0 5px 25px 0;
}
.pink {
	color: #b90350;
}
.button {
	margin: 0 auto;
	display: block;
	border: none;
}
.clearBoth {
	clear: both;
}
 
/* ---------------------------------------------------
	END UNIVERSAL CLASSES
---------------------------------------------------- */
 
/* ---------------------------------------------------
	START ORDER SECTION
---------------------------------------------------- */
 
div#orderSection {
	clear: both;
}
table#orderGrid {
	background: #fff;
	width: 800px;
	border: 1px solid #e5d3c6;
	text-align: center;
	margin: 20px auto 0 auto;
}
table#orderGrid td {
	padding: 15px;
	width: 70px;
	vertical-align: top;
}
table#orderGrid tr#labels td {
	font-size: 10px;
	color: #222;
	vertical-align: baseline;
	background-color: #FFE3F4;
	padding-top: 5px;
	padding-right: 1px;
	padding-bottom: 5px;
	padding-left: 1px;
	text-align: center;
}
table#orderGrid td.leftCol {
	text-align: left;
	width: 380px;
	vertical-align: top;
}
table#orderGrid td.leftCol strong {
	font-size: 12px;
}
table#orderGrid  span.smll {
	font-weight: normal;
	font-size: 11px;
}
table#orderGrid span.quantity {
	font-size: 11px;
}
table#orderGrid tr.divideRow td {
	border-top: 1px solid #e5d3c6;
}	
.priceCut  {
	background: url(http://www.facemaster.com/images/adwords/Slash.jpg) no-repeat center;
	vertical-align: top;
}
table#orderGrid td.red {
	color: #990000;
	font-weight: bold;
}

div#orderSection1 {
	clear: both;
}
table#orderGrid1 {
	background: #fff;
	width: 800px;
	border: 1px solid #e5d3c6;
	text-align: center;
	margin: 20px auto 0 auto;
}
table#orderGrid1 td {
	padding: 15px;
	width: 70px;
	vertical-align: top;
}
table#orderGrid1 tr#labels1 td {
	font-size: 10px;
	color: #222;
	vertical-align: baseline;
	background-color: #FFE3F4;
	padding-top: 5px;
	padding-right: 1px;
	padding-bottom: 5px;
	padding-left: 1px;
	text-align: center;
}
table#orderGrid1 td.leftCol {
	text-align: left;
	width: 380px;
	vertical-align: top;
}
table#orderGrid1 td.leftCol strong {
	font-size: 12px;
}
table#orderGrid1  span.smll {
	font-weight: normal;
	font-size: 11px;
}
table#orderGrid1 span.quantity {
	font-size: 11px;
}
table#orderGrid1 tr.divideRow td {
	border-top: 1px solid #e5d3c6;
}	

table#orderGrid td.red {
	color: #990000;
	font-weight: bold;
}
 
/* ---------------------------------------------------
	END ORDER SECTION
---------------------------------------------------- */
 
#guarantee {
	border: 1px solid #FFE0F3;
	clear: both;
	margin: 25px auto;
	padding: 15px;
	width: 625px;
	text-align: center;
	background-color: #F9F7EA;
}
.q {
	/* font-family: Georgia, "Times New Roman", Times, serif; */
    font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 18px;
	line-height: 20px;
	font-weight: normal;
	color: #666666;
	font-style: oblique;
	border-top-width: 1px;
	border-top-style: dotted;
	border-top-color: #CCCCCC;
	margin-top: 20px;
	padding-top: 10px;
	margin-bottom: 0px;
	padding-bottom: 0px;
}
.ans {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 18px;
	font-style: oblique;
	font-weight: bold;
	color: #027BC1;
}
ol li {
	margin-left: 35px;
	padding-bottom: 5px;
}
#guarantee h3 {
	color: #333333;
	font-size: 18px;
	text-transform: uppercase;
	text-align: center;
}
#guarantee p {
	font-size: 12px;
}
div#orderByPhone {
	font-size: 11px;
	color: #787878;
	text-align: center;
	clear: both;
}
 
 
a:link {
	/*color: #0c6ba8; */
	color: #eb0184;
}
a:visited {
	color: #eb0184;
}
a:hover {
	color: #0094DE;
	text-decoration: none;
}
a:active {
	color: #eb0184;
}
 
 
