﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 30px;
}

.navbar-left {
    padding-left: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.dl-horizontal dd {
    margin-bottom: 10px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select {
    max-width: 284px;
}

textarea { height:10em; width:40em; }
textarea { max-width: 600px; }

/**************************************************
*
* Search Box Stuff
*
**************************************************/

.stylish-input-group .input-group-addon{
    background:white !important; 
}
.stylish-input-group .form-control{
	border-right:0; 
	box-shadow:0 0 0; 
	border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}
