﻿
@{
    Layout = null;
}

@{
    ViewBag.Title = "myCrystalift Customer Payment";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container body-content">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
            <a href="http://www.facemaster.com">
                <img src="~/images/Products/facemaster/logo.png" alt="FaceMaster Facial Toning" width="20%" />
            </a>
            <h4>@ViewBag.ThankyouMessage</h4>

            <span>Date: @ViewBag.Date</span><br />
            <span>Email: @ViewBag.Email</span>

            <h4>Shipping address</h4>
            <span>@ViewBag.Name</span><br />
            <span>@ViewBag.Street</span><br />
            <span>@ViewBag.City, @ViewBag.State  @ViewBag.Zip</span><br />
            <span>@ViewBag.Country</span><br />

            <h4>Billing address</h4>
            <span>@ViewBag.Name</span><br />
            <span>@ViewBag.Street</span><br />
            <span>@ViewBag.City, @ViewBag.State  @ViewBag.Zip</span><br />
            <span>@ViewBag.Country</span><br />

            <div class="row">
                <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
                    <a href="http://www.mycrystalift.com">&lt;&nbsp;Return To MyCrystalift.com</a>
                </div>
            </div>


        </div>
        <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5" style="background-color:#FBFBFB; border-left:1px solid silver; height:800px">
            <table width="100%">
                <tr>
                    <td>
                        <img src="~/images/Products/crystalift/crystalift-160.png" width="50%" alt="Crystalift Microdermabrasion System" />
                    </td>
                    <td style="text-align:left">
                        Crystalift Microdermabrasion<br />
                        Complete System + club membership
                    </td>
                    <td style="text-align:right">
                        $99.00
                    </td>
                </tr>
            </table>

            <hr />
            <table width="100%">
                <tr>
                    <td style="text-align:left">
                        Subtotal
                    </td>
                    <td style="text-align:right">
                        $99.00
                    </td>
                </tr>
                <tr>
                    <td style="text-align:left">
                        Shipping
                    </td>
                    <td style="text-align:right">
                        @if (ViewBag.TotalShipping == "$0.00")
                        {
                            <span>FREE</span>
                        }
                        else
                        {
                            <span>@ViewBag.TotalShipping</span>
                        }
                    </td>
                </tr>
                <tr>
                    <td style="text-align:left">
                        Taxes
                    </td>
                    <td style="text-align:right">
                        <span>@ViewBag.TotalTax</span>
                    </td>
                </tr>
            </table>
            <hr />
            <table width="100%">
                <tr>
                    <td style="text-align:left">
                        Total
                    </td>
                    <td style="text-align:right">
                        USD <span style="font-size:x-large; font-weight:100">@ViewBag.Total</span>
                    </td>
                </tr>

            </table>

        </div>

        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - @AdminCart.Config.BizName()</p>
        </footer>

        @section Scripts {
            @Scripts.Render("~/bundles/jquery")
            @Scripts.Render("~/bundles/bootstrap")
            @Scripts.Render("~/bundles/jqueryval")
            @Scripts.Render("~/Scripts/_regHelper.js")
            @Scripts.Render("~/Scripts/imageMapResizer.min.js")
            @RenderSection("scripts", required: false)
        }
    </div>

    <!-- Facebook Conversion Code for Crystalift Checkout Purchase -->
    <script>
        (function () {
            var _fbq = window._fbq || (window._fbq = []);
            if (!_fbq.loaded) {
                var fbds = document.createElement('script');
                fbds.async = true;
                fbds.src = '//connect.facebook.net/en_US/fbds.js';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(fbds, s);
                _fbq.loaded = true;
            }
        })();
        window._fbq = window._fbq || [];
        window._fbq.push(['track', '6030845550391', { 'value': '0.00', 'currency': 'USD' }]);
    </script>
    <noscript>
        <img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6030845550391&amp;cd[value]=0.00&amp;cd[currency]=USD&amp;noscript=1" />
    </noscript>

</body>
</html>