﻿
@{
    Layout = null;
}

@model AdminCart.Transaction

@{
    ViewBag.Title = "myFaceMaster Customer Payment";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container body-content">
        <a href="http://www.facemaster.com">
            <img src="~/images/Products/facemaster/logo.png" alt="FaceMaster Facial Toning System" width="20%" />
        </a>
        <p>
            <strong>Payment method</strong>
        </p>
        <div class="row">
            <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <span style="color:red">@ViewBag.ErrorMsg</span>
                    @Html.Partial("_RegisterCPPartial")
                }
            </div>
            <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5" style="background-color:#FBFBFB; border-left:1px solid silver; height:800px">
                <table width="100%">
                    <tr>
                        <td>
                            <img src="~/images/Products/facemaster/facemaster-160.png" alt="FaceMaster Facial Toning System" width="50%" />
                        </td>
                        <td style="text-align:left">
                            Crystalift Microdermabrasion<br />
                            Complete System + club membership
                        </td>
                        <td style="text-align:right">
                            $99.00
                        </td>
                    </tr>
                </table>

                <hr />
                <table width="100%">
                    <tr>
                        <td style="text-align:left">
                            Subtotal
                        </td>
                        <td style="text-align:right">
                            $99.00
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:left">
                            Shipping
                        </td>
                        <td style="text-align:right">
                            @if (ViewBag.TotalShipping == "$0.00")
                            {
                                <span>FREE</span>
                            }
                            else
                            {
                                <span>@ViewBag.TotalShipping</span>
                            }
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:left">
                            Taxes
                        </td>
                        <td style="text-align:right">
                            <span>@ViewBag.TotalTax</span>
                        </td>
                    </tr>
                </table>
                <hr />
                <table width="100%">
                    <tr>
                        <td style="text-align:left">
                            Total
                        </td>
                        <td style="text-align:right">
                            USD <span style="font-size:x-large; font-weight:100">@ViewBag.Total</span>
                        </td>
                    </tr>

                </table>
            </div>
        </div><!-- end row-->

        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - @AdminCart.Config.BizName()</p>
            <!-- GeoTrust QuickSSL [tm] Smart  Icon tag. Do not edit. -->
            <script language="javascript" type="text/javascript" src="//smarticon.geotrust.com/si.js"></script>
            <!-- end  GeoTrust Smart Icon tag -->
        </footer>
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/jqueryval")
        @RenderSection("scripts", required: false)
    }

    <script src="@Url.Content("~/Scripts/jquery/jquery-1.8.3.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")" type="text/javascript"></script>

    <script type="text/javascript">
    //EMAIL
    $(function () { //Document ready shorthand
        orig_val = '';
        cardNum_val = $('#txtCardNum').val(); //Get the original value to test against. We use .val() to grab value="Search"
        cardName_val = $('#txtCardName').val();
        expDate_val = $('#txtExpDate').val();
        cvc_val = $('#txtCVC').val();
        $('input:text').focus(function () { //When the user tabs/clicks the search box.
            orig_val = $(this).val();
            switch ($(this).val()) {
                case cardNum_val:
                case cardName_val:
                case expDate_val:
                case cvc_val:
                    $(this).val('');
                    break;

            }
        })
        .blur(function () {//When the user tabs/clicks out of the input
            if ($(this).val() === '') {//If the value is blank (such as the user clicking in it and clicking out)...
                $(this).val(orig_val); //... set back to the original value
            }
        });
    });

    </script>



</body>
</html>
