﻿@{
    Layout = null;
}

@model FM2015.ViewModels.CustomerViewModel

@{
    ViewBag.Title = "myCrystalift Customer Shipping";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container body-content">
        <a href="http://www.mycrystalift.com">
            <img src="~/images/Products/crystalift/logo.png" alt="Crystalift Microdermabrasion System" width="20%" />
        </a>
        <p>
            cart&nbsp;>&nbsp;<a href="CustomerInfo">Customer Information</a>&nbsp;>&nbsp;<strong>Shipping method</strong>&nbsp;>&nbsp;Payment method
        </p>

    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
            <h3>Shipping Address</h3>
            @Html.DisplayFor(model => model.Customer.FirstName)&nbsp;@Html.DisplayFor(model => model.Customer.LastName)<br />
            @Html.DisplayFor(model => model.ShipAddress.Street)<br />
            @if (!string.IsNullOrEmpty(Model.ShipAddress.Street2))
            {
                @Html.DisplayFor(model => model.ShipAddress.Street2)<br />
            }
            @Html.DisplayFor(model => model.ShipAddress.City),&nbsp;
            @Html.DisplayFor(model => model.ShipAddress.State)&nbsp;
            @Html.DisplayFor(model => model.ShipAddress.Zip)<br />
            @Html.DisplayFor(model => model.ShipAddress.Country)<br />

            @Html.DisplayFor(model => model.Customer.Phone)<br />
            <a href="CustomerInfo">Edit Shipping Address</a>
            <hr />
            <h3>Shipping Method</h3>
            <table width="100%">
                <tr>
                    <td style="text-align:left">
                        @ViewBag.ShippingMethod
                    </td>
                    <td style="text-align:right">
                        @if (ViewBag.TotalShipping == "$0.00")
                        {
                            <span>FREE</span>
                        }
                        else
                        {
                            @ViewBag.TotalShipping
                        }
                    </td>
                </tr>
            </table>

            <hr />
            <div class="row">
                <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
                    <a href="/mycrystalift/customerinfo">&lt;&nbsp;Return To customer information</a>
                </div>
                <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
                    <a href="/mycrystalift/customerpayment"><span class="btn btn-primary" style="text-align:right">Continue to payment method</span></a>
                </div>
            </div>

        </div> <!--end column-->
        <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5" style="background-color:#FBFBFB; border-left:1px solid silver; height:800px">
            <table width="100%">
                <tr>
                    <td>
                        <img src="~/images/Products/crystalift/crystalift-160.png" width="50%" alt="Crystalift Microdermabrasion System" />
                    </td>
                    <td style="text-align:left">
                        Crystalift Microdermabrasion<br />
                        Complete System + club membership
                    </td>
                    <td style="text-align:right">
                        $99.00
                    </td>
                </tr>
            </table>

            <hr />
            <table width="100%">
                <tr>
                    <td style="text-align:left">
                        Subtotal
                    </td>
                    <td style="text-align:right">
                        $99.00
                    </td>
                </tr>
                <tr>
                    <td style="text-align:left">
                        Shipping
                    </td>
                    <td style="text-align:right">
                        @if (ViewBag.TotalShipping == "$0.00")
                        {
                            <span>FREE</span>
                        }
                        else
                        {
                            <span>@ViewBag.TotalShipping</span>
                        }
                    </td>
                </tr>
                <tr>
                    <td style="text-align:left">
                        Taxes
                    </td>
                    <td style="text-align:right">
                        <span>@ViewBag.TotalTax</span>
                    </td>
                </tr>
            </table>
            <hr />
            <table width="100%">
                <tr>
                    <td style="text-align:left">
                        Total
                    </td>
                    <td style="text-align:right">
                        USD <span style="font-size:x-large; font-weight:100">@ViewBag.Total</span>
                    </td>
                </tr>

            </table>

        </div>
    </div> <!-- end row-->
    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year - @AdminCart.Config.BizName()</p>
    </footer>

    @section Scripts {
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/jqueryval")
        @RenderSection("scripts", required: false)
    }

    <script src="@Url.Content("~/Scripts/jquery/jquery-1.8.3.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")" type="text/javascript"></script>

</div>
</body>
</html>
