﻿
@{
    Layout = null;
}

@model FM2015.ViewModels.CustomerViewModel

@{
    ViewBag.Title = "myCrystalift Customer Info";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="container body-content">
        <a href="http://www.mycrystalift.com">
            <img src="~/images/Products/crystalift/logo.png" alt="Crystalift Microdermabrasion System" width="20%" />
        </a>
        <p>
            <a href="index">cart</a>&nbsp;>&nbsp;<strong>Customer Information</strong>&nbsp;>&nbsp;Shipping method&nbsp;>&nbsp;Payment method
        </p>

        <div class="row">
            <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
                @using (Html.BeginForm("CustomerInfo", "myCrystalift", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.Hidden("hdnShipState", null, new { @id = "hdnShipState", @name = "hdnShipState", @Value = "hdnTest" })
                    @Html.Hidden("hdnBillState", null, new { @id = "hdnBillState" })
                    <span style="color:red">@ViewBag.ErrorMsg</span>
                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <h3>Customer information</h3>
                        <div class="row">
                            <div class=" col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    @Html.EditorFor(model => model.Customer.Email, new { htmlAttributes = new { @id = "txtEmail", @class = "form-control", @Style = "width:100%" } })
                                    @Html.ValidationMessageFor(model => model.Customer.Email, "", new { @class = "text-danger" })
                                </div>
                            </div><!--end col-->

                            <div class=" col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    @Html.EditorFor(model => model.Customer.Phone, new { htmlAttributes = new { @id = "txtPhone", @class = "form-control", @Style = "width:100%" } })
                                    @Html.ValidationMessageFor(model => model.Customer.Phone, "", new { @class = "text-danger" })
                                </div>
                            </div><!--end col-->
                        </div>


                        <h3>Shipping address</h3>
                        <div class="row">
                            <div class=" col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    @Html.EditorFor(model => model.Customer.FirstName, new { htmlAttributes = new { @id = "txtFirst", @class = "form-control", @Style = "width:100%" } })
                                    @Html.ValidationMessageFor(model => model.Customer.FirstName, "", new { @class = "text-danger" })
                                </div><!--end form group-->
                            </div><!--end col-->

                            <div class=" col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    @Html.EditorFor(model => model.Customer.LastName, new { htmlAttributes = new { @id = "txtLast", @class = "form-control", @Style = "width:100%" } })
                                    @Html.ValidationMessageFor(model => model.Customer.LastName, "", new { @class = "text-danger" })
                                </div><!--end form group-->
                            </div><!--end col-->
                        </div><!--end row-->

                        <div class="row">
                            <div class=" col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group">
                                    @Html.EditorFor(model => model.ShipAddress.Street, new { htmlAttributes = new { @id = "txtStreet", @class = "form-control", @Style = "width:100%" } })
                                    @Html.ValidationMessageFor(model => model.ShipAddress.Street, "", new { @class = "text-danger" })
                                </div>
                            </div><!--end col-->
                        </div><!--end row-->

                        <div class="row">
                            <div class=" col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group">
                                    @Html.EditorFor(model => model.ShipAddress.Street2, new { htmlAttributes = new { @id = "txtStreet2", @class = "form-control", @Style = "width:100%" } })
                                    @Html.ValidationMessageFor(model => model.ShipAddress.Street2, "", new { @class = "text-danger" })
                                </div>
                            </div><!--end col-->
                        </div><!--end row-->

                        <div class="row">
                            <div class=" col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    @Html.EditorFor(model => model.ShipAddress.City, new { htmlAttributes = new {  @id = "txtCity", @class = "form-control", @Style = "width:100%" } })
                                    @Html.ValidationMessageFor(model => model.ShipAddress.City, "", new { @class = "text-danger" })
                                </div>
                            </div><!--end col-->

                            <div class=" col-xs-12 col-sm-2 col-md-2 col-lg-2">
                                <div class="form-group">
                                    @Html.EditorFor(model => model.ShipAddress.State, new { htmlAttributes = new { @id = "txtShipState", @Name = "txtState", @class = "form-control", @style = "display:none" } })
                                    @Html.DropDownListFor(m => m.SelectShipStateCode, new SelectList(Model.ShipStateSelectList,
                    "Value", "Text", "CA"), "", new { @id = "ddlShipState", @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.ShipAddress.State, "", new { @class = "text-danger" })
                                </div>
                            </div><!--end col-->

                            <div class=" col-xs-12 col-sm-3 col-md-3 col-lg-3 col-md-offset-1">
                                <div class="form-group">
                                    @Html.EditorFor(model => model.ShipAddress.Zip, new { htmlAttributes = new { @id = "txtZip", @class = "form-control", @Style = "width:75%" } })
                                    @Html.ValidationMessageFor(model => model.ShipAddress.Zip, "", new { @class = "text-danger" })
                                </div>
                            </div><!--end col-->
                        </div><!--end row-->

                        <div class="row">
                            <div class=" col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group">
                                    @Html.DropDownListFor(m => m.SelectShipCountryCode, new SelectList(Model.ShipCountrySelectList,
                 "Value", "Text", "US"), "Please select a country", new { @id = "ddlShipCountry", @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.ShipAddress.Country, "", new { @class = "text-danger" })
                                </div>
                            </div><!--end col-->
                        </div><!--end row-->



                        <hr />
                        <div class="row">
                            <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
                                <a href="http://www.mycrystalift.com/collections/all">&lt;&nbsp;Continue Shopping</a>
                            </div>
                            <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
                                <input type="submit" value="Continue To Shipping Method" class="btn btn-primary" onclick='SetStateVals();' />
                            </div>
                        </div>
                    </div>
                }
            </div>

            <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5" style="background-color:#FBFBFB; border-left:1px solid silver; height:800px">
                <table width="100%">
                    <tr>
                        <td>
                            <img src="~/images/Products/crystalift/crystalift-160.png" width="50%" alt="Crystalift Microdermabrasion System" />
                        </td>
                        <td style="text-align:left">
                            Crystalift Microdermabrasion<br />
                            Complete System + club membership
                        </td>
                        <td style="text-align:right">
                            $99.00
                        </td>
                    </tr>
                </table>

                <hr />
                <table width="100%">
                    <tr>
                        <td style="text-align:left">
                            Subtotal
                        </td>
                        <td style="text-align:right">
                            $99.00
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:left">
                            Shipping
                        </td>
                        <td style="text-align:right">
                            -----
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:left">
                            Taxes
                        </td>
                        <td style="text-align:right">
                            -----
                        </td>
                    </tr>
                </table>
                <hr />
                <table width="100%">
                    <tr>
                        <td style="text-align:left">
                            Total
                        </td>
                        <td style="text-align:right">
                            USD <span style="font-size:x-large; font-weight:100">$99.00</span>
                        </td>
                    </tr>

                </table>

            </div>
        </div>

        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - @AdminCart.Config.BizName()</p>
            <!-- GeoTrust QuickSSL [tm] Smart  Icon tag. Do not edit. -->
            <script language="javascript" type="text/javascript" src="//smarticon.geotrust.com/si.js"></script>
            <!-- end  GeoTrust Smart Icon tag -->
        </footer>
    </div>

@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("scripts", required: false)
}

    <script src="@Url.Content("~/Scripts/jquery/jquery-1.8.3.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/_regHelper.js")" type="text/javascript"></script>

    <script type="text/javascript">
        //EMAIL
        $(function () { //Document ready shorthand
            orig_val = '';
            email_val = $('#txtEmail').val(); //Get the original value to test against. We use .val() to grab value="Search"
            phone_val = $('#txtPhone').val();
            first_val = $('#txtFirst').val();
            last_val = $('#txtLast').val();
            street_val = $('#txtStreet').val();
            street2_val = $('#txtStreet2').val();
            city_val = $('#txtCity').val();
            shipState_val = $('#txtShipState').val();
            zip_val = $('#txtZip').val();
            $('input:text').focus(function () { //When the user tabs/clicks the search box.
                orig_val = $(this).val();
                switch ($(this).val()) {
                    case email_val:
                    case phone_val:
                    case first_val:
                    case last_val:
                    case street_val:
                    case street2_val:
                    case city_val:
                    case shipState_val:
                    case zip_val:
                        $(this).val('');
                        break;

                }
            })
            .blur(function () {//When the user tabs/clicks out of the input
                if ($(this).val() === '') {//If the value is blank (such as the user clicking in it and clicking out)...
                    $(this).val(orig_val); //... set back to the original value
                }
            });
        });

    </script>

</body>
</html>
