﻿
@{
    Layout = null;
}

@model FM2015.ViewModels.CustomerViewModel

@{
    ViewBag.Title = "myCrystalift Customer Info";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="container body-content">
        <a href="http://www.mycrustalift.com">
            <img src="~/images/Products/crystalift/logo.png" alt="Crystalift Microdermabrasion System" width="20%" />
        </a>
        <p>
        <a href="index" >cart</a>&nbsp;>&nbsp;<strong>Customer Information</strong>&nbsp;>&nbsp;Shipping method&nbsp;>&nbsp;Payment method
        </p>  
              
        <div class="row">
            <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
                @using (Html.BeginForm("CustomerInfo", "myCrystalift", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.Hidden("hdnShipState", null, new { @id = "hdnShipState", @name = "hdnShipState", @Value = "hdnTest" })
                    @Html.Hidden("hdnBillState", null, new { @id = "hdnBillState" })
                    <span style="color:red">@ViewBag.ErrorMsg</span>
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <h3>Customer information</h3>
        <div class="form-group">
            @Html.LabelFor(model => model.Customer.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Customer.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Customer.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <h3>Shipping address</h3>
        <div class="form-group">
            @Html.LabelFor(model => model.Customer.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.Customer.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Customer.FirstName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Customer.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.Customer.LastName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Customer.LastName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ShipAddress.Street, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ShipAddress.Street, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ShipAddress.Street, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ShipAddress.Street2, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ShipAddress.Street2, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ShipAddress.Street2, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ShipAddress.City, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ShipAddress.City, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ShipAddress.City, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ShipAddress.Country, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.DropDownListFor(m => m.SelectShipCountryCode, new SelectList(Model.ShipCountrySelectList,
                 "Value", "Text", "US"), "Please select a country", new { @id = "ddlShipCountry", @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ShipAddress.Country, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ShipAddress.State, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ShipAddress.State, new { htmlAttributes = new { @ID = "txtShipState", @Name = "txtState", @class = "form-control", @style = "display:none" } })
                @Html.DropDownListFor(m => m.SelectShipStateCode, new SelectList(Model.ShipStateSelectList,
                    "Value", "Text", "CA"), "", new { @id = "ddlShipState", @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ShipAddress.State, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ShipAddress.Zip, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ShipAddress.Zip, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ShipAddress.Zip, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Customer.Phone, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Customer.Phone, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Customer.Phone, "", new { @class = "text-danger" })
            </div>
        </div>



        <hr />
        <div class="row">
            <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
                <a href="http://www.mycrystalift.com/collections/all">&lt;&nbsp;Continue Shopping</a>
            </div>
            <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
                <input type="submit" value="Continue To Shipping Method" class="btn btn-primary" onclick='SetStateVals();' />
            </div>
        </div>
    </div>
                }
            </div>

            <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5" style="background-color:#FBFBFB; border-left:1px solid silver; height:800px">
                <table width="100%">
                    <tr>
                        <td>
                            <img src="~/images/Products/crystalift/crystalift-160.png" width="50%" alt="Crystalift Microdermabrasion System" />
                        </td>
                        <td style="text-align:left">
                            Crystalift Microdermabrasion<br />
                            Complete System + club membership
                        </td>
                        <td style="text-align:right">
                            $99.00
                        </td>
                    </tr>
                </table>

                <hr />
                <table width="100%">
                    <tr>
                        <td style="text-align:left">
                            Subtotal
                        </td>
                        <td style="text-align:right">
                            $99.00
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:left">
                            Shipping
                        </td>
                        <td style="text-align:right">
                            -----
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:left">
                            Taxes
                        </td>
                        <td style="text-align:right">
                            -----
                        </td>
                    </tr>
                </table>
                <hr />
                <table width="100%">
                    <tr>
                        <td style="text-align:left">
                            Total
                        </td>
                        <td style="text-align:right">
                            USD <span style="font-size:x-large; font-weight:100">$99.00</span>
                        </td>
                    </tr>

                </table>

                </div>
            </div>

        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - @AdminCart.Config.BizName()</p>
        </footer>

        @section Scripts {
            @Scripts.Render("~/bundles/jquery")
            @Scripts.Render("~/bundles/bootstrap")
            @Scripts.Render("~/bundles/jqueryval")
            @RenderSection("scripts", required: false)
        }

        <script src="@Url.Content("~/Scripts/jquery/jquery-1.8.3.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/bootstrap.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/_regHelper.js")" type="text/javascript"></script>
    </div>

</body>
</html>
