﻿
@{
    Layout = null;
}
@{
    ViewBag.Title = "MyCrystalift $99 Club Checkout";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container body-content">
        <div class="row">
            <img name="shopMap" class="img-responsive" src="@Url.Content("~/images/Products/crystalift/crystalift_cartpage.jpg")" usemap="#cartMap" border="0" width="95%" />
            <map name="cartMap">
                <area shape="rect" href="/mycrystalift/CustomerInfo" coords="670,270,950,310" alt="checkout" />
                <area shape="rect" href="http://www.mycrystalift.com" coords="320,350,380,360" alt="remove" />
            </map>
        </div>

        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - @AdminCart.Config.BizName()</p>
        </footer>
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/Scripts/_regHelper.js")
        @Scripts.Render("~/Scripts/imageMapResizer.min.js")
        @RenderSection("scripts", required: false)
    }

    <script src="@Url.Content("~/Scripts/jquery/jquery-1.8.3.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/imageMapResizer.min.js")" type="text/javascript"></script>

    <script type="text/javascript">
        //alert("I am an alert box!");
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            //alert("I am an alert box!");
            $('map').imageMapResize();
        });
    </script>



</body>
</html>
