﻿
@{
    ViewBag.Title = "MyCrystalift $99 Club Checkout";
}

<img src="@Url.Content("~/images/Products/crystalift/crystalift_cartpage.jpg")" usemap="cartMap" />
<map name="cartMap">
    <area shape="rect" href="" coords="670,270,950,310" alt="checkout"/>
    <area shape="rect" href="" coords="320,350,380,360" alt="remove"/>
</map>

