<%@ Page Language="C#" MasterPageFile="~/MasterPage3_Cart.master" Theme="Platinum" AutoEventWireup="true" Inherits="Page" Title="Untitled Page" Codebehind="Page.aspx.cs" %>

<asp:Content ID="Content3" ContentPlaceHolderID="MainContent" Runat="Server">

    <table width="650px">
    <tr>
        <td width="150px">
            <br />
            <asp:Literal ID="LeftHTML" runat="server" />
        </td>
        <td>
            <br />
            <asp:Literal ID="BodyText" runat="server" />
        </td>
    </tr>
    </table>

</asp:Content>

