<%@ Page Language="C#" MasterPageFile="~/MasterPage3_Cart.master" Theme="Platinum" AutoEventWireup="true" Inherits="SearchResult" Title="FaceMaster - Search Results" Codebehind="SearchResult.aspx.cs" %>

<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" Runat="Server">
<p class="standardtext">
<br /><br />
<strong>Search Results for: </strong> &nbsp;<asp:Label ID="lblsrch" runat="server" Text="Label"></asp:Label>
    
<br /><br />
<asp:Literal ID="bodytext" runat="server" />
</p>
</asp:Content>

