﻿<%@ Page Title="" Language="C#" MasterPageFile="~/admin/MasterPage3_Blank.master" AutoEventWireup="true" CodeBehind="Test.aspx.cs" Inherits="FMWebApp451.Test" %>
<%@ Register TagPrefix="uc1" TagName="ccForm" Src="controls/ccForm.ascx" %>

<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">

    <uc1:ccForm ID="ucCCForm" runat="server"></uc1:ccForm>

</asp:Content>
