﻿@using FM2015.Models

@{
    ViewBag.Title = "My Account";
}

<h2>MyAccount: Profile</h2>

@Html.Partial("_MyAccountNav")

@if (ViewBag.ErrorMessage != null)
{
    <h4>@Html.Label("ErrorMessage", (string)ViewBag.ErrorMessage, new { @style = "color: red;" })</h4>
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.Partial("_RegisterPartial")
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/_regHelper.js")
}

<script type="text/javascript">
window.onload=function () {
    $('#myaccount').addClass('active');
};
</script>

