﻿@model FM2015.Models.Cart

@{
    ViewBag.Title = "MyOrderDetail";
}

<h2>MyOrderDetail</h2>

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div id="frmShipBillAddress" class="panel panel-primary">
            <div class="panel-heading">
                <div class="panel-title">
                    <h3>Billing Address</h3>
                </div>
            </div>
            <div class="panel-body">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.SiteCustomer.FirstName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.SiteCustomer.FirstName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.SiteCustomer.LastName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.SiteCustomer.LastName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.BillAddress.Street)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.BillAddress.Street)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.BillAddress.Street2)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.BillAddress.Street2)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.BillAddress.City)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.BillAddress.City)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.BillAddress.State)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.BillAddress.State)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.BillAddress.Zip)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.BillAddress.Zip)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.BillAddress.Country)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.BillAddress.Country)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.SiteCustomer.Email)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.SiteCustomer.Email)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.SiteCustomer.Phone)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.SiteCustomer.Phone)
                    </dd>
                </dl>
            </div> <!--end Panel Body-->
        </div> <!--end Panel-->
    </div> <!--end col-->

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="row">
            <div id="frmShipAddress" class="panel panel-primary">
                <div class="panel-heading">
                    <div class="panel-title">
                        <h3>Shipping Address</h3>
                    </div>
                </div>
                <div class="panel-body">
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.SiteCustomer.FirstName)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.SiteCustomer.FirstName)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.SiteCustomer.LastName)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.SiteCustomer.LastName)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.ShipAddress.Street)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.ShipAddress.Street)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.ShipAddress.Street2)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.ShipAddress.Street2)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.ShipAddress.City)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.ShipAddress.City)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.ShipAddress.State)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.ShipAddress.State)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.ShipAddress.Zip)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.ShipAddress.Zip)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.ShipAddress.Country)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.ShipAddress.Country)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.SiteCustomer.Email)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.SiteCustomer.Email)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.SiteCustomer.Phone)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.SiteCustomer.Phone)
                        </dd>
                    </dl>
                </div> <!--end of Shipping Panel Body-->
            </div> <!--end of Shipping Panel-->
        </div> <!--end of Col-->
    </div> <!--end of ROW-->
</div> <!--end of ROW-->

    <table class="table table-responsive">
        <thead>
            <tr>
                <td>Image </td>
                <td>Description</td>
                <td>Unit Price</td>
                <td>Quantity</td>
                <td>Discount</td>
                <td>Price</td>
            </tr>
        </thead>
        <tbody>
            @foreach (FM2015.Models.OrderDetail item in Model.SiteOrder.details)
            {
                <tr>
                    <td>
                        <img src="@Url.Content("~/images/products/" + item.LineItemProduct.ThumbnailImage)" alt="@item.LineItemProduct.ShortDescription" />
                    </td>
                    <td>
                        @Html.DisplayFor(i => item.LineItemProduct.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(i => item.LineItemProduct.SalePrice)
                    </td>
                    <td>
                        @Html.DisplayFor(i => item.Quantity)
                    </td>
                    <td>
                        @Html.DisplayFor(i => item.Discount)
                    </td>
                    <td>
                        @Html.DisplayFor(i => item.LineItemTotal)
                    </td>
                </tr>
            }
        </tbody>

    </table>

    <div class="row">
        <div class="form-group ">
            <div class="col-md-offset-10 col-md-1">
                @Html.DisplayNameFor(i => Model.SiteOrder.SubTotal)
            </div>
            <div class="col-md-offset-12 col-md-1">
                @Html.DisplayFor(i => Model.SiteOrder.SubTotal)
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-10 col-md-1">
            @Html.DisplayNameFor(i => Model.SiteOrder.TotalTax)
        </div>
        <div class="col-md-offset-12 col-md-1">
            @Html.DisplayFor(i => Model.SiteOrder.TotalTax)
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-10 col-md-1">
            @Html.DisplayNameFor(i => Model.SiteOrder.TotalShipping)
        </div>
        <div class="col-md-offset-12 col-md-1">
            @Html.DisplayFor(i => Model.SiteOrder.TotalShipping)
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-10 col-md-1">
            &nbsp;
        </div>
        <div class="col-md-offset-12 col-md-1">
            &nbsp;
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-10 col-md-1">
            @Html.DisplayNameFor(i => Model.SiteOrder.Total)
        </div>
        <div class="col-md-offset-12 col-md-1">
            @Html.DisplayFor(i => Model.SiteOrder.Total)
        </div>
    </div>

    <div>
        @Html.ActionLink("Back to Order List", "MyOrders")
    </div>
