﻿@model IEnumerable<FM2015.Models.Order>

@{
    ViewBag.Title = "MyOrders";
}

<h2>MyAccount: Orders</h2>

@Html.Partial("_MyAccountNav")

<p>&nbsp;</p>

<table class="table table-responsive">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrderID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.upsShipments.TrackingNumber)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.OrderID.ToString(), "MyOrderDetail", new { orderID = item.OrderID })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.upsShipments.TrackingNumber)
            </td>

        </tr>
    }

</table>

<script type="text/javascript">
window.onload=function () {
    $('#myorders').addClass('active');
};
</script>



