﻿@using Stripe

@model FMWebApp.ViewModels.Stripe.StripeCustomerViewModel

@{
    ViewBag.Title = "Change Subscription Plan";
}

@Html.Partial("_AdminNav")

<h2>Change Subscription Plan</h2>

<p>Subsciber Name: @Model.customer.FirstName&nbsp;@Model.customer.LastName</p>
<p>Subsciber Customer ID: @Model.stripeCustomer.Id</p>
<p>Subsciber Plan: @Model.currSubscription.StripePlanID</p>
<hr />

<h4><span style="color:red">@ViewBag.ErrMsg</span></h4>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <div class="form-group">
            @Html.Label("New Plan", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.currStripePlanId, new SelectList(Model.stripeCustomerPlanList,
                    "Id", "Id", ""), "Select a new plan", new { @id = "ddlStripePlan", @Name = "ddlStripePlan", @class = "form-control" })
                @Html.ValidationMessageFor(model => model.currStripePlanId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("New Start Date", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.trialPeriodEndDate, new { htmlAttributes = new { @ID = "txtTrialEndDate", @Name = "txtTrialEndDate", @class = "form-control"} })
                @Html.ValidationMessageFor(model => model.currStripePlanId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Promo Code", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.newPromoCode, new SelectList(Model.stripeCustomerCouponList,
                    "Id", "Id", ""), "Select a PromoCode (or not!)", new { @id = "ddlStripePromo", @Name = "ddlStripePromo", @class = "form-control" })
                @Html.ValidationMessageFor(model => model.newPromoCode, "", new { @class = "text-danger" })
            </div>
        </div>

        <hr />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submit" class="btn btn-primary" OnClick="javascript:return confirm('A Subscription Plan is about to be changed. Proceed?')" />
            </div>
        </div>
    </div>
}


