﻿@model AdminCart.Transaction

@{
    ViewBag.Title = "Customer Payment";
}

@Html.Partial("_AdminNav")

<h2>Customer Credit Card Update and Possible Payment</h2>
<h3>Subscription Plan: @ViewBag.Plan</h3>
<h3>Amount Due: @ViewBag.Total</h3>

<div class="row">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <span style="color:red">@ViewBag.ErrorMsg</span>

            <div class="form-group">
                @Html.Label("Credit Card Number", htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.CardNo, new { htmlAttributes = new { @id = "txtCardNum", @class = "form-control", @Value = "**** **** **** 1234" } })
                    @Html.ValidationMessageFor(model => model.CardNo, "", new { @class = "text-danger" })
                </div>
            </div>
            <p>&nbsp;</p>
            <div class="form-group">
                @Html.Label("Name on Card", htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.CardHolder, new { htmlAttributes = new { @id = "txtCardName", @class = "form-control", @Value = "joe smith" } })
                    @Html.ValidationMessageFor(model => model.CardHolder, "", new { @class = "text-danger" })
                </div>
            </div>
            <p>&nbsp;</p>
            <div class="form-group">
                @Html.Label("Expiration Date", htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.ExpDate, new { htmlAttributes = new { @id = "txtExpDate", @class = "form-control", @Value = "MM/YY" } })
                    @Html.ValidationMessageFor(model => model.ExpDate, "", new { @class = "text-danger" })
                </div>
            </div>
            <p>&nbsp;</p>
            <div class="form-group">
                @Html.Label("CVC Code", htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.CvsCode, new { htmlAttributes = new { @id = "txtCVC", @class = "form-control", @Value = "123" } })
                    @Html.ValidationMessageFor(model => model.CvsCode, "", new { @class = "text-danger" })
                </div>
            </div>
            <p>&nbsp;</p>
            <hr />
            <div class="row">
                <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
                    <input type="submit" value="Complete Update/Payment" class="btn btn-primary" />
                </div>
            </div>
        }
    </div>
</div><!-- end row-->


    <script type="text/javascript">
        //EMAIL
        $(function () { //Document ready shorthand
            orig_val = '';
            cardNum_val = $('#txtCardNum').val(); //Get the original value to test against. We use .val() to grab value="Search"
            cardName_val = $('#txtCardName').val();
            expDate_val = $('#txtExpDate').val();
            cvc_val = $('#txtCVC').val();
            $('input:text').focus(function () { //When the user tabs/clicks the search box.
                orig_val = $(this).val();
                switch ($(this).val()) {
                    case cardNum_val:
                    case cardName_val:
                    case expDate_val:
                    case cvc_val:
                        $(this).val('');
                        break;

                }
            })
            .blur(function () {//When the user tabs/clicks out of the input
                if ($(this).val() === '') {//If the value is blank (such as the user clicking in it and clicking out)...
                    $(this).val(orig_val); //... set back to the original value
                }
            });
        });
    </script>
