﻿
@{
    ViewBag.Title = "Customer ThankYou";
}

@if (ViewBag.Total == "$0.00")
{
    <h2>Customer Credit Card update Completed</h2>
}
else
{
    <h2>Customer Credit Card update &amp; Payment Completed</h2>
}


@Html.Partial("_AdminNav")

<div class="container body-content">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
       <h4>Thank You! Your transaction has been completed!</h4>

        <span>Date: @ViewBag.Date</span><br />
        <span>Email: @ViewBag.Email</span><br />
        <span>Amount: @ViewBag.Total</span><br />
        <span>Authorizaton Code: @ViewBag.AuthCode</span>

        <h4>Billing address</h4>
        <span>@ViewBag.Name</span><br />
        <span>@ViewBag.Street</span><br />
        <span>@ViewBag.City, @ViewBag.State  @ViewBag.Zip</span><br />
        <span>@ViewBag.Country</span><br />

    </div>
</div>