﻿@using Stripe

@model IEnumerable<StripeSubscription>

@{
    ViewBag.Title = "Customer Subscription List";
}

@Html.Partial("_AdminNav")

<h2>Customer Subscription List</h2>

<p>Subsciber Name: @ViewBag.Name</p>
<p>Subsciber Customer ID: @ViewBag.cusID</p>

<h4>@ViewBag.ErrMsg</h4>

@if (Model.Count() == 0)
{
    <h4>This customer has no subscriptions to process (they have all been deleted?)</h4>
}
else
{
    <table class="table table-responsive table-striped">
        <tr>
            <th>
                <span>Stripe ID</span>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Start)
            </th>
            <th>
                <span>Plan</span>
            </th>
            <th>
                <span>Qty</span>
            </th>
            <th>
                <span>PromoCode</span>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrentPeriodEnd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrialStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrialEnd)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Start)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StripePlan.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @if (item.StripeDiscount == null)
                    {
                        <span>n/a</span>
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.StripeDiscount.StripeCoupon.Id)
                    }
                </td>
                <td>
                    @if (item.CurrentPeriodEnd == null)
                    {
                        <span>n/a</span>
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.CurrentPeriodEnd)
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @if (item.TrialStart == null)
                    {
                        <span>n/a</span>
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.TrialStart)
                    }
                </td>
                <td>
                    @if (item.TrialEnd == null)
                    {
                        <span>n/a</span>
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.TrialEnd)
                    }
                </td>
                <td>
                    <p>@Html.ActionLink("Pay Invoice / Update Card", "CustomerPayment", new { id = ViewBag.cusID, subId = item.Id }, new { @class = "btn btn-primary" }) </p>
                    <p> @Html.ActionLink("Cancel", "Delete", new { id = ViewBag.cusID, subId = item.Id }, new { @class = "btn btn-danger", OnClick = "javascript:return confirm('A Subscription Plan is about to be DELETED. Proceed?')" }) </p>
                </td>
            </tr>
        }
    </table>
}



