﻿@model FM2015.ViewModels.CERViewModel
@using FM2015.Models;
@using FM2015.Models.mvcCER;
@using FM2015.Helpers

@{
    ViewBag.Title = "CER Details";
}
@Html.Partial("_AdminNav")

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
        <h2>
            @Html.DisplayFor(model => model.cer.CERYear)-@Html.DisplayFor(model => model.cer.CERIdentifier), @Html.DisplayFor(model => model.cer.LastName),
            <strong>
                @if (Model.cer.StatusQa.ToString().ToUpper() == "UNOPENED")
                {
                    <span style="color:red">@Html.DisplayFor(model => model.cer.StatusQa)</span>
                }
                else
                {
                    @Html.DisplayFor(model => model.cer.StatusQa)
                }
            </strong>
        </h2>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
        @if ((FM2015.Models.User.IsAuthenticated()) && (FM2015.Models.User.HasRole("admin")))
        {
            <div class="well well-sm">
                @Html.ActionLink("LegacyView", "RedirectToLegacy", "mvcCER", new { cerNumber = Model.cer.CERNumber }, new { @class = "btn btn-success btn-sm" })
                @Html.ActionLink("Close:NC", "CloseNonComplaint", "mvcCER", new { cerNumber = Model.cer.CERNumber }, new { @class = "btn btn-success btn-sm" })
                @Html.ActionLink("Close:NTF", "CloseNTF", "mvcCER", new { cerNumber = Model.cer.CERNumber }, new { @class = "btn btn-success btn-sm", @target = "_blank" })
                @Html.ActionLink("Close:DNR", "CloseDNR", "mvcCER", new { cerNumber = Model.cer.CERNumber }, new { @class = "btn btn-success btn-sm", @target = "_blank" })
                @Html.ActionLink("Open:C", "OpenComplaint", "mvcCER", new { cerNumber = Model.cer.CERNumber }, new { @class = "btn btn-danger btn-sm", @target = "_blank" })
                @Html.ActionLink("Open:MedC", "OpenMedComplaint", "mvcCER", new { cerNumber = Model.cer.CERNumber }, new { @class = "btn btn-danger btn-sm", @target = "_blank" })
            </div>
        }
    </div>
</div>

@Html.ActionLink("Print CER", "Print", "CER", new { id = Model.cer.CERNumber }, null)

<table id="tblHeader" class="table table-responsive table-striped">
    <thead>
        <tr>
            <th><strong>Complaint?</strong></th>
            <th><strong>Date Received</strong></th>
            <th><strong>Received By</strong></th>
            <th><strong>Determined By</strong></th>
            <th><strong>PofP</strong></th>
            <th><strong>Order#</strong></th>
            <th><strong>Ser#</strong></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @if (Model.cer.StatusQa == "Unopened")
                {
                    <span>(TBD)</span>
                }
                else if (Model.cer.CERType == "C")
                {
                    if (Model.cer.StatusMed == "Does Not Apply")
                    {
                        <span>Yes</span>
                    }
                    else
                    {
                        <span>Yes (MED)</span>
                    }
                }
                else
                { <span>No</span> }
            </td>
            <td> @Html.DisplayFor(model => model.cer.DateReportReceived) </td>
            <td> @Html.DisplayFor(model => model.cer.ReceivedBy) </td>
            <td>
                @if (Model.cer.StatusQa == "Unopened")
                {
                    <span>(TBD)</span>
                }
                else
                {
                    @Html.DisplayFor(model => model.cer.ComplaintDeterminationBy)
                }
            </td>

            <td>
                @{
                    string pop = adminCER.CER_PointOfPurchase.ConvertPoPValueToName(Model.cer.PointOfPurchase);
                    <span>@pop</span>
                }
            </td>
            <td>
                @{
                    int orderId = 0;
                    if (!string.IsNullOrEmpty(Model.cer.OrderNumber))
                    {
                        Int32.TryParse(Model.cer.OrderNumber, out orderId);
                    }
                    if (orderId > 0)
                    {
                        @Html.ActionLink(Model.cer.OrderNumber, "Details", "Orders", new { id = Model.cer.OrderNumber }, new { target = "_blank" })
                    }
                    else
                    {
                        <span><a data-toggle="modal" href="#OrderNum-modal">N/A</a></span>
                    }
                }
            </td>
            <td>
                @if ((FM2015.Models.User.IsAuthenticated()) && (FM2015.Models.User.HasRole("admin")))
                {
                    if (!string.IsNullOrEmpty(Model.cer.SerialNumber))
                    {
                        <span><a data-toggle="modal" href="#CERSerNum-modal">@Model.cer.SerialNumber</a></span>
                    }
                    else
                    {
                        <span><a data-toggle="modal" href="#CERSerNum-modal">N/A</a></span>
                    }
                }
                else
                {
                    if (!string.IsNullOrEmpty(Model.cer.SerialNumber))
                    {
                        <span>@Model.cer.SerialNumber</span>
                    }
                    else
                    {
                        <span>N/A</span>
                    }
                }
            </td>
        </tr>
    </tbody>
</table>

<div id="divEventDescription" class="row">
    <div class="col-xs-12">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.cer.EventDescription)
            </dt>

            <dd>
                <!--
                @Html.DisplayFor(model => model.cer.EventDescription)
                -->
                @Html.Raw(Model.cer.EventDescription)
            </dd>
        </dl>
    </div> <!--end Col-->
</div> <!--end Row; EventDescription-->

<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#tabContactInfo">Contact Info</a></li>
    <li><a data-toggle="tab" href="#tabNotes">Messages/Notes</a></li>
    <li><a data-toggle="tab" href="#tabRelatedCERs">RelatedCERs</a></li>
    <li><a data-toggle="tab" href="#tabHistory">History</a></li>
    <li><a data-toggle="tab" href="#tabDefectAnalysis">Defect Analysis</a></li>
    <li><a data-toggle="tab" href="#tabReturnAnalysis">Return Info</a></li>
    @if ((FM2015.Models.User.IsAuthenticated()) && (FM2015.Models.User.HasRole("admin")))
    {
        <li><a data-toggle="tab" href="#tabDisposition">Disposition</a></li>
    }
</ul>

<div class="tab-content">

    <div class="tab-pane" id="tabNotes">
        <div id="divNotes" class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div id="frmNotes" class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <h3>
                                CER Messages
                                <span class="well-sm">
                                    <a data-toggle="modal" href="#CERMessages-modal" class="btn btn-success btn-sm">Add Message</a>
                                </span>
                            </h3>

                        </div>
                    </div>
                    <div class="panel-body">
                        <table id="tblHeader" class="table table-responsive table-striped">
                            <thead>
                                <tr>
                                    <th><strong>Date</strong></th>
                                    <th><strong>By</strong></th>
                                    <th><strong>Message</strong></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (CERMessages item in Model.cerMessageList)
                                {
                                    <tr>
                                        <td>@item.Dated</td>
                                        <td>@item.AddBy</td>
                                        <td>@item.Message</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div> <!--end Panel Body-->
                </div> <!--end Panel-->
            </div> <!--end col-->

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="row">
                    <div id="frmOrderNotes" class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <h3>Order Notes</h3>
                            </div>
                        </div>
                        <div class="panel-body">
                            <table id="tblHeader" class="table table-responsive table-striped">
                                <thead>
                                    <tr>
                                        <th><strong>Date</strong></th>
                                        <th><strong>By</strong></th>
                                        <th><strong>Order Note</strong></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (OrderNote item in Model.orderNoteList)
                                    {
                                        <tr>
                                            <td>@item.OrderNoteDate</td>
                                            <td>@item.OrderNoteBy</td>
                                            <td>@item.OrderNoteText</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div> <!--end of Related CER Panel Body-->
                    </div> <!--end of Related CER Panel-->
                </div> <!--end of Col-->
            </div> <!--end of ROW-->
        </div> <!--end Row; CER Messages, incudes Order Notes-->
    </div> <!--end tab-pane-->

    <div class="tab-pane active" id="tabContactInfo">
        <div id="divContactInfo" class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div id="frmContactInfo" class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <h3>Reporting Party Contact Info</h3>
                        </div>
                    </div>
                    <div class="panel-body">
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.cer.CustomerID)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.cer.CustomerID)
                            </dd>
                            <dt>
                                Contact Details
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.cer.FirstName)&nbsp;@Html.DisplayFor(model => model.cer.LastName) <br />
                                @Html.DisplayFor(model => model.cer.Street) <br />
                                @Html.DisplayFor(model => model.cer.City),&nbsp;@Html.DisplayFor(model => model.cer.State)&nbsp;@Html.DisplayFor(model => model.cer.Zip),&nbsp;
                                @{
                                    string country = DBUtil.GetCountry(Model.cer.Country);
                                    <span>@Html.Raw(country)</span><br />
                                }
                                @Html.DisplayFor(model => model.cer.Email) <br />
                                @Html.DisplayFor(model => model.cer.Phone)
                            </dd>
                        </dl>
                    </div> <!--end Panel Body-->
                </div> <!--end Panel-->
            </div> <!--end col-->
        </div> <!--end row-->
    </div> <!--end tab-pane-->

    <div class="tab-pane" id="tabRelatedCERs">
        <div id="divRelatedCERs" class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div id="frmRelatedCERs" class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <h3>
                                Related CERs
                            </h3>
                            @if ((FM2015.Models.User.IsAuthenticated()) && (FM2015.Models.User.HasRole("admin")))
                            {
                                <p><a data-toggle="modal" href="#relatedCER-modal" class="btn btn-success btn-sm">Add Related CERs</a></p>
                            }
                        </div>
                    </div>
                    <div class="panel-body">
                        <table id="tblRelatedCER" class="table table-responsive table-striped">
                            <thead>
                                <tr>
                                    <th><strong>CER#</strong></th>
                                    <th><strong>Date</strong></th>
                                    <th><strong>Status</strong></th>
                                    <th><strong>Description</strong></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (adminCER.CER item in Model.relatedCERList)
                                {
                                    <tr>
                                        <td>@Html.ActionLink(item.CERNumber, "Details", "mvcCER", new { CERNumber = item.CERNumber }, null)</td>
                                        <td>@Html.DisplayFor(i => item.DateReportReceived)</td>
                                        <td>
                                            @if (item.StatusQa == "Unopened")
                                            {
                                                <span>undetermined</span>
                                            }
                                            else if (item.CERType == "C")
                                            {
                                                if (item.StatusMed == "Does Not Apply")
                                                {
                                                    <span>Yes</span>
                                                }
                                                else
                                                {
                                                    <span>Yes (MED)</span>
                                                }
                                            }
                                            else
                                            { <span>No</span> }
                                        </td>
                                        <td style="width:50%">
                                            @item.EventDescription
                                        </td>
                                        <td style="width:20%">
                                            @if ((FM2015.Models.User.IsAuthenticated()) && (FM2015.Models.User.HasRole("admin")))
                                            {
                                                @Html.ActionLink("Remove", "RemoveRelated", "mvcCER", new { CERNumber = Model.cer.CERNumber, remCERNumber = item.CERNumber }, new { @class = "btn btn-danger btn-sm" })
                                            }
                                            else
                                            {
                                                <span></span>
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div> <!--end of Related CER Panel Body-->
                </div> <!--end of Related CER Panel-->
            </div> <!--end of col-->
        </div> <!--end row-->
    </div> <!--end tab-pane-->

    <div class="tab-pane" id="tabHistory">
        <div id="divHistory" class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div id="frmHistory" class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <h3>History List</h3>
                        </div>
                    </div>
                    <div class="panel-body">
                        <table id="tblHistory" class="table table-responsive table-striped">
                            <thead>
                                <tr>
                                    <th><strong>Date</strong></th>
                                    <th><strong>By</strong></th>
                                    <th><strong>Reason for Update</strong></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (CERHistory item in Model.cerHistoryList)
                                {
                                    <tr>
                                        <td>@item.InsertDate</td>
                                        <td>@item.InsertBy</td>
                                        <td>@item.ActionExplaination</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div> <!--end of CER History Panel Body-->
                </div> <!--end of CER History Panel-->
            </div> <!--end of col-->
        </div> <!--end row-->
    </div> <!--end tab-pane-->

    <div class="tab-pane" id="tabDefectAnalysis">
        <div id="divDefectAnalysis" class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div id="frmDefectAnalysis" class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <h3>
                                Defect Analaysis
                                <span class="well-sm">
                                    @if ((FM2015.Models.User.IsAuthenticated()) && (FM2015.Models.User.HasRole("admin")))
                                    {
                                        <a data-toggle="modal" href="#DefectAnalysis-modal" class="btn btn-success btn-sm">Enter Defect Analysis</a>
                                    }
                                </span>
                            </h3>
                        </div>
                    </div>
                    <div class="panel-body">
                        <dl class="dl-horizontal">
                            <dt><span>Analysis Date</span></dt>
                            <dd>@Html.DisplayFor(model => model.defectAnalysis.Date)</dd>

                            <dt><span>Symptom</span></dt>
                            <dd>
                                @if (!Model.defectAnalysis.IsMedical)
                                {
                                    <span>N/A</span>
                                }
                                else
                                {
                                    <span>@CER.Defect.ConvertSymptomValToStr(Model.defectAnalysis.SymptomVal)</span>
                                }
                            </dd>

                            <dt><span>Defect</span></dt>
                            <dd>
                                <span>@CER.Defect.ConvertDefectValToStr(Model.defectAnalysis.DefectVal)</span>
                            </dd>

                            <dt><span>Defect Description</span></dt>
                            <dd>
                                <span>@CER.Defect.ConvertDefectDescValToStr(Model.defectAnalysis.DescriptionVal)</span>
                            </dd>

                            <dt><span>Storage Location</span></dt>
                            <dd>
                                <span>@Html.DisplayFor(model => model.defectAnalysis.StorageLocation)</span>
                            </dd>

                        </dl>

                    </div> <!--end of CER History Panel Body-->
                </div> <!--end of CER History Panel-->
            </div> <!--end of col-->
        </div> <!--end row-->
    </div> <!--end tab-pane-->

    <div class="tab-pane" id="tabReturnAnalysis">
        <div id="divReturnAnalysis" class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div id="frmReturnAnalysis" class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <h3>
                                Return Analaysis
                                <span class="well-sm">
                                    @Html.ActionLink("Update Analysis", "UpdateReturnAnalysis", "mvcCER",
                                        new { cerNumber = Model.cer.CERNumber },
                                        new { @class = "btn btn-success btn-sm" })
                                </span>
                            </h3>
                        </div>
                    </div>
                    <div class="panel-body">
                        <dl class="dl-horizontal">
                            <dt><span>RMA Date</span></dt>
                            <dd>@Html.DisplayFor(model => model.returnAnalysis.Date)</dd>

                            <dt><span>Delivered Date</span></dt>
                            <dd>@Html.DisplayFor(model => model.returnAnalysis.DateReceived)</dd>

                            <dt><span>Reason for Return</span></dt>
                            <dd>
                                <span>@CER.Returns.ConvertReasonValToStr(Model.returnAnalysis.ReasonVal)</span>
                            </dd>

                            <dt><span>Reason Description</span></dt>
                            <dd>
                                <span>@CER.Returns.ConvertReasonVal2ToStr(Model.returnAnalysis.Reason2Val)</span>
                            </dd>
                        </dl>

                    </div> <!--end of CER History Panel Body-->
                </div> <!--end of CER History Panel-->
            </div> <!--end of col-->
        </div> <!--end row-->
    </div> <!--end tab-pane-->

    <div class="tab-pane" id="tabDisposition">
        <div id="divDisposition" class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div id="frmDisposition" class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <h3>
                                Return Analaysis
                                <span class="well-sm">
                                    @Html.ActionLink("Update Disposition", "UpdateDisposition", "mvcCER",
                                        new { cerNumber = Model.cer.CERNumber },
                                        new { @class = "btn btn-success btn-sm" })
                                </span>
                            </h3>
                        </div>
                    </div>
                    <div class="panel-body">
                        <dl class="dl-horizontal">
                            <dt><span>RMA Date</span></dt>
                            <dd>@Html.DisplayFor(model => model.returnAnalysis.Date)</dd>

                            <dt><span>Delivered Date</span></dt>
                            <dd>@Html.DisplayFor(model => model.returnAnalysis.DateReceived)</dd>

                            <dt><span>Reason for Return</span></dt>
                            <dd>
                                <span>@CER.Returns.ConvertReasonValToStr(Model.returnAnalysis.ReasonVal)</span>
                            </dd>

                            <dt><span>Reason Description</span></dt>
                            <dd>
                                <span>@CER.Returns.ConvertReasonVal2ToStr(Model.returnAnalysis.Reason2Val)</span>
                            </dd>
                        </dl>

                    </div> <!--end of CER History Panel Body-->
                </div> <!--end of CER History Panel-->
            </div> <!--end of col-->
        </div> <!--end row-->
    </div> <!--end tab-pane-->

</div> <!--end Tab Content-->
<!-- javascript modal HTML stuff -->
<!-- Customer Modal -->
<!-- http://www.krizna.com/demo/jquery-ajax-form-submit-using-twitter-bootstrap-modal/ -->

<div id="relatedCER-modal" class="modal fade">

    @Html.AntiForgeryToken()

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">×</a>
            <h3>Enter Related CER Number</h3>
        </div>


        <form id="form-cerRelated" class="form-horizontal well" action="../api/apiCER/RelatedCER/" method="post">
            <fieldset>
                <div class="modal-body">
                    <div>
                        @Html.Hidden("CERNumber", Model.cer.CERNumber, new { @id = "frmHdnCERNumber" })
                        <ul class="nav nav-list">
                            <li class="nav-header">Year</li>
                            <li><input class="input-xlarge" value="2018" type="text" name="Year"></li>
                            <li class="nav-header">ID</li>
                            <li><input class="input-xlarge" placeholder="cer Number" type="text" name="Id"></li>
                        </ul>
                    </div>
                </div>
            </fieldset>

            <div class="modal-footer">
                <button class="btn btn-success" id="submit">Submit Related CER</button>
                <a href="#" class="btn" data-dismiss="modal">Close</a>
            </div>
        </form>
    </div> <!--end col-->

</div>

<div id="CERMessages-modal" class="modal fade">

    @Html.AntiForgeryToken()

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">×</a>
            <h3>Enter New CER Message</h3>
        </div>


        <form id="form-cerMessage" class="form-horizontal well" action="../api/apiCER/CERMessage/" method="post">
            <fieldset>
                <div class="modal-body">
                    <div>
                        @Html.Hidden("CERNumber", Model.cer.CERNumber, new { @id = "frmHdnCERNumber" })
                        <ul class="nav nav-list">
                            <li class="nav-header">Message</li>
                            <li><textarea id="Message" class="form-control" rows="8" style="min-width: 100%" placeholder="...add message" name="Message"></textarea></li>
                        </ul>
                    </div>
                </div>
            </fieldset>

            <div class="modal-footer">
                <button class="btn btn-success" id="submit">Submit Message</button>
                <a href="#" class="btn" data-dismiss="modal">Close</a>
            </div>
        </form>
    </div> <!--end col-->

</div>

<div id="DefectAnalysis-modal" class="modal fade">

    @Html.AntiForgeryToken()

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">×</a>
            <h3>Enter Defect Analysis</h3>
        </div>


        <form id="form-cerDefectAnalysis" class="form-horizontal well" action="../api/apiCER/DefectAnalysis/" method="post">
            <fieldset>
                <div class="modal-body">
                    <div>
                        @Html.Hidden("CERNumber", Model.cer.CERNumber, new { @id = "frmHdnCERNumber" })
                        <dl class="dl-horizontal">
                            @if ((Model.cer.StatusMed.ToUpper() == "ASSIGNED") || (Model.cer.StatusMed.ToUpper() == "CLOSED"))
                            {
                                <dt>Symptom</dt>
                                <dd>@Html.DropDownList("DefectSymptom", Model.ddlSymptomOptions, null, new { name = "selDASymptom" })</dd>
                            }
                            <dt>Defect</dt>
                            <dd>@Html.DropDownList("DefectVal", Model.ddlDefectOptions, null, new { name = "selDADefect" })</dd>
                            <dt>Description</dt>
                            <dd>@Html.DropDownList("DefectDescription", Model.ddlDefectCatOptions, null, new { name = "selDADefectCat" })</dd>
                            <dt>Location(Uxx)</dt>
                            <dd><input class="input-xlarge" placeholder="UXX" type="text" name="DefectLocation"></dd>
                        </dl>
                    </div>
                </div>
            </fieldset>

            <div class="modal-footer">
                <button class="btn btn-success" id="submit">Submit Defect Analysis</button>
                <a href="#" class="btn" data-dismiss="modal">Close</a>
            </div>
        </form>
    </div> <!--end col-->

</div>

<div id="CERSerNum-modal" class="modal fade">

    @Html.AntiForgeryToken()

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">×</a>
            <h3>Update Serial Number</h3>
        </div>

        <form id="form-cerSerialNumber" class="form-horizontal well" action="../api/apiCER/UpdateSerialNumber/" method="post">
            <fieldset>
                <div class="modal-body">
                    <div>
                        @Html.Hidden("CERNumber", Model.cer.CERNumber, new { @id = "frmHdnCERNumber" })
                        <ul class="nav nav-list">
                            <li class="nav-header">Serial#</li>
                            <li><input class="input-xlarge" value="" type="text" name="SerialNumber" placeholder="ex. 61601123456"></li>
                        </ul>
                    </div>
                </div>
            </fieldset>

            <div class="modal-footer">
                <button class="btn btn-success" id="submit">Update Serial Number</button>
                <a href="#" class="btn" data-dismiss="modal">Close</a>
            </div>
        </form>                
    </div> <!--end col-->
</div>

<div id="OrderNum-modal" class="modal fade">

    @Html.AntiForgeryToken()

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">×</a>
            <h3>Update Order Number</h3>
        </div>

        <form id="form-cerOrderNumber" class="form-horizontal well" action="../api/apiCER/UpdateOrderNumber/" method="post">
            <fieldset>
                <div class="modal-body">
                    <div>
                        @Html.Hidden("CERNumber", Model.cer.CERNumber, new { @id = "frmHdnCERNumber" })
                        <ul class="nav nav-list">
                            <li class="nav-header">Order#</li>
                            <li><input class="input-xlarge" value="" type="text" name="OrderNumber" placeholder="ex. 94123"></li>
                        </ul>
                    </div>
                </div>
            </fieldset>

            <div class="modal-footer">
                <button class="btn btn-success" id="submit">Update Order Number</button>
                <a href="#" class="btn" data-dismiss="modal">Close</a>
            </div>
        </form>

    </div> <!--end col-->
</div>

<div id="ReturnAnalysis-modal" class="modal fade">

    @Html.AntiForgeryToken()

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">×</a>
            <h3>Enter Return Info</h3>
        </div>

        <form id="form-cerReturnAnalysis" class="form-horizontal well" action="../api/apiCER/ReturnAnalysis/" method="post">
            <fieldset>
                <div class="modal-body">
                    <div>
                        @Html.Hidden("CERNumber", Model.cer.CERNumber, new { @id = "frmHdnCERNumber" })
                        <dl class="dl-horizontal">
                            @if ((Model.cer.StatusMed.ToUpper() == "ASSIGNED") || (Model.cer.StatusMed.ToUpper() == "CLOSED"))
                            {
                                <dt>Symptom</dt>
                                <dd>@Html.DropDownList("DefectSymptom", Model.ddlSymptomOptions, null, new { name = "selDASymptom" })</dd>
                            }
                            <dt>Defect</dt>
                            <dd>@Html.DropDownList("DefectVal", Model.ddlDefectOptions, null, new { name = "selDADefect" })</dd>
                            <dt>Description</dt>
                            <dd>@Html.DropDownList("DefectDescription", Model.ddlDefectCatOptions, null, new { name = "selDADefectCat" })</dd>
                            <dt>Location(Uxx)</dt>
                            <dd><input class="input-xlarge" placeholder="UXX" type="text" name="DefectLocation"></dd>
                        </dl>
                    </div>
                </div>
            </fieldset>

            <div class="modal-footer">
                <button class="btn btn-success" id="submit">Submit Defect Analysis</button>
                <a href="#" class="btn" data-dismiss="modal">Close</a>
            </div>
        </form>
    </div> <!--end col-->
</div>

<div id="Disposition-modal" class="modal fade">

    @Html.AntiForgeryToken()

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">×</a>
            <h3>CER Disposition</h3>
        </div>

        <form id="form-cerDisposition" class="form-horizontal well" action="../api/apiCER/Disposition/" method="post">
            <fieldset>
                <div class="modal-body">
                    <div>
                        @Html.Hidden("CERNumber", Model.cer.CERNumber, new { @id = "frmHdnCERNumber" })
                        <dl class="dl-horizontal">
                            @if ((Model.cer.StatusMed.ToUpper() == "ASSIGNED") || (Model.cer.StatusMed.ToUpper() == "CLOSED"))
                            {
                                <dt>Symptom</dt>
                                <dd>@Html.DropDownList("DefectSymptom", Model.ddlSymptomOptions, null, new { name = "selDASymptom" })</dd>
                            }
                            <dt>Defect</dt>
                            <dd>@Html.DropDownList("DefectVal", Model.ddlDefectOptions, null, new { name = "selDADefect" })</dd>
                            <dt>Description</dt>
                            <dd>@Html.DropDownList("DefectDescription", Model.ddlDefectCatOptions, null, new { name = "selDADefectCat" })</dd>
                            <dt>Location(Uxx)</dt>
                            <dd><input class="input-xlarge" placeholder="UXX" type="text" name="DefectLocation"></dd>
                        </dl>
                    </div>
                </div>
            </fieldset>

            <div class="modal-footer">
                <button class="btn btn-success" id="submit">Submit Defect Analysis</button>
                <a href="#" class="btn" data-dismiss="modal">Close</a>
            </div>
        </form>
    </div> <!--end col-->
</div>


<script src="@Url.Content("~/Scripts/jquery/jquery-1.8.3.min.js")" type="text/javascript"></script>

<script>
    $(document).ready($(function () {
        //twitter bootstrap script
        $('form').on('submit', function (event) {
            event.preventDefault()
            var $form = $(this);
            var cerNumber = $('#frmHdnCERNumber').val();
            //var $target = $($form.attr('data-target'));
            var csrfToken = $("input[name='__RequestVerificationToken']").val();
            var theData = JSON.stringify($form.serializeArray()); //
            //alert('CERNumber: ' + cerNumber + '\n\r' + 'Serialized data: ' + theData + '\n\r' + 'type: ' + $form.attr('method') + '\n\r' + 'url: ' + $form.attr('action'));

            $.ajax({
                headers: { '__RequestVerificationToken': csrfToken, 'X-XSRF-Token': csrfToken },
                type: $form.attr('method'),
                url: $form.attr('action'),
                dataType: "json",
                contentType: 'application/json; charset=utf-8',  // 'application/x-www-form-urlencoded',
                data: theData,
                success: function (data, status) {
                    //alert("Success!");
                    window.location.href = "../mvcCER/details?" + "CERNumber=" + cerNumber;
                },
                error: function () {
                    //alert("failure");
                }
            });
        });
    }));
</script>
