﻿@model IEnumerable<adminCER.CER>

@{
    ViewBag.Title = "FM Admin: CER Look-up";
}

<h3>AdMinCER: Find CER Entries</h3>

@Html.Partial("_AdminNav")

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
        <div class="well well-sm">
            @Html.ActionLink("Find All UnOpened", "AllUnOpens", "mvcCER", null, new { @class = "btn btn-success btn-sm" })
            @Html.ActionLink("Find All Opens", "AllOpens", "mvcCER", null, new { @class = "btn btn-success btn-sm" })
            @Html.ActionLink("Find All >30days Open", "All30Opens", "mvcCER", null, new { @class = "btn btn-success btn-sm" })
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
        <div class="well well-sm">
            @if ((FM2015.Models.User.IsAuthenticated()) && (FM2015.Models.User.HasRole("admin")))
            {
                string cerLookUpURL = "~/CER/CERLookup.aspx";
                <a href="@Url.Content(cerLookUpURL)" class="btn btn-success btn-sm">Legacy Lookup</a>
            }
        </div>
    </div>
</div>

<ul class="nav nav-tabs">
    <li><a data-toggle="tab" href="#tabSearchParams">Search Parameters</a></li>
    <li class="active"><a data-toggle="tab" href="#tabResults">Search Results</a></li>
</ul>

<div class="tab-content">
    <div class="tab-pane" id="tabSearchParams">
        <div class="row">
            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <h4>Find CER</h4>
                        </div>
                    </div>
                    <div class="panel-body">
                        <span style="color:red;">@ViewBag.ErrMsg</span>
                        @using (Html.BeginForm("index", "mvcCER", FormMethod.Get))
                        {
                            <dl class="dl-horizontal">
                                <dt>CER Number</dt>
                                <dd style="margin-bottom:10px">
                                    @Html.TextBox("cerYear", null, new { @placeholder = "2016", @class = "form-control", @style = "display:inline;" })
                                    &nbsp;
                                    @Html.TextBox("cerNum", "", new { @placeholder = "125", @class = "form-control", @style = "display:inline;" })
                                </dd>
                                <dt>Name/ID</dt>
                                <dd>
                                    <span>
                                        @Html.TextBox("lastName", null, new { @placeholder = "lastName", @class = "form-control", @style = "display:inline;" })
                                        &nbsp;
                                        @Html.TextBox("firstName", null, new { @placeholder = "firstName", @class = "form-control", @style = "display:inline;" })
                                        &nbsp;
                                        @Html.TextBox("customerID", null, new { @placeholder = "customerID", @class = "form-control", @style = "display:inline;" })
                                    </span>
                                </dd>

                                <dt>Search EV</dt>
                                <dd>@Html.TextBox("searchEV", null, new { @placeholder = "event description", @class = "form-control" })</dd>

                                <dt>Search Serial#</dt>
                                <dd>@Html.TextBox("searchSerial", null, new { @placeholder = "serial number", @class = "form-control" })</dd>

                                <dt>Complaint?</dt>
                                <dd>
                                    @Html.DropDownList("ddlComplaint", new List<SelectListItem>
                                         {
                                            new SelectListItem{ Text="Don't Care", Value = "0", Selected = true },
                                            new SelectListItem{ Text="No", Value = "1" },
                                            new SelectListItem{ Text="All Complaints", Value = "2" },
                                            new SelectListItem{ Text="Injuries", Value = "3" },
                                            new SelectListItem{ Text="non-Injury", Value = "4" }
                                         })
                                </dd>

                                <dt>Opened or Closed?</dt>
                                <dd>
                                    @Html.DropDownList("ddlOpenClose", new List<SelectListItem>
                                         {
                                            new SelectListItem{ Text="Don't Care", Value = "0", Selected = true },
                                            new SelectListItem{ Text="Opened", Value = "1" },
                                            new SelectListItem{ Text="Closed", Value = "2" }
                                         })
                                </dd>

                                <dt>Date Range</dt>
                                <dd>
                                    @Html.DropDownList("ddlDateRange", new List<SelectListItem>
                                         {
                                            new SelectListItem{ Text="Don't Care", Value = "0", Selected = true },
                                            new SelectListItem{ Text="6mos", Value = "1" },
                                            new SelectListItem{ Text="12mos", Value = "2" },
                                            new SelectListItem{ Text="24mos", Value = "3" }
                                         })
                                </dd>
                                <dt>Point Of Purchase</dt>
                                <dd>
                                    @Html.DropDownList("ddlPop", new List<SelectListItem>
                                         {
                                            new SelectListItem{ Text="Don't Care", Value = "0", Selected = true },
                                            new SelectListItem{ Text="FM", Value = "01" },
                                            new SelectListItem{ Text="Evine", Value = "06" },
                                            new SelectListItem{ Text="LEI", Value = "07" },
                                            new SelectListItem{ Text="HDI", Value = "08" },
                                            new SelectListItem{ Text="HSN", Value = "02" },
                                            new SelectListItem{ Text="TSC", Value = "05" },
                                            new SelectListItem{ Text="Youngevity", Value = "09" },
                                            new SelectListItem{ Text="Clarks", Value = "10" },
                                            new SelectListItem{ Text="Zanco", Value = "03" }
                                         })
                                </dd>

                            </dl>

                            <input type="submit" value="Search CER Database" class="btn btn-Success" />
                        }
                    </div> <!--end Panel Body-->
                </div> <!--end Panel-->
            </div> <!--end col-->
        </div> <!--end row-->
    </div> <!--end tab-->

    <div class="tab-pane active" id="tabResults">
        <div class="row">
            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <h4>CER Search Results</h4>
                        </div>
                    </div>
                    <div class="panel-body">
                        <span>@ViewBag.RecordCount</span> CER result(s) found

                        @if (ViewBag.IsSearchEV)
                        {
                            <table class="table table-responsive table-striped">
                                <tr>
                                    <th>
                                        <span>Year</span>
                                    </th>
                                    <th>
                                        <span>CER#</span>
                                    </th>
                                    <th>
                                        <span>Description</span>
                                    </th>
                                    <th></th>
                                </tr>

                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CERYear)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CERIdentifier)
                                        </td>
                                        <td>
                                            @Html.Raw(item.EventDescription)
                                        </td>
                                        <td>
                                            @Html.ActionLink("Details", "Details", "mvcCER", new { CERNumber = item.CERNumber }, new { @class = "btn btn-success btn-sm" })
                                        </td>

                                    </tr>
                                }
                            </table>
                        }
                        else
                        {
                            <table class="table table-striped">
                                <!--table-responsive -->
                                <tr>
                                    <th>
                                        <span>Year</span>
                                    </th>
                                    <th>
                                        <span>CER#</span>
                                    </th>
                                    <th>
                                        <span>Date</span>
                                    </th>
                                    <th>
                                        <span>Type</span>
                                    </th>
                                    <th>
                                        <span>First</span>
                                    </th>
                                    <th>
                                        <span>Last</span>
                                    </th>
                                    <th width="20%">
                                        @Html.DisplayNameFor(model => model.Email)
                                    </th>
                                    <th>
                                        <span>Status</span>
                                    </th>
                                    <th>
                                        <span>Description</span>
                                    </th>
                                    <th></th>
                                </tr>

                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td width="25px">
                                            @Html.DisplayFor(modelItem => item.CERYear)
                                        </td>
                                        <td width="25px">
                                            @Html.DisplayFor(modelItem => item.CERIdentifier)
                                        </td>
                                        <td width="50px">
                                            <span>@item.DateReportReceived.ToShortDateString()</span>
                                        </td>
                                        <td width="25px">
                                            @Html.DisplayFor(modelItem => item.CERType)
                                        </td>
                                        <td width="50px">
                                            @Html.DisplayFor(modelItem => item.FirstName)
                                        </td>
                                        <td width="50px">
                                            @Html.DisplayFor(modelItem => item.LastName)
                                        </td>
                                        <td width="100px">
                                            @Html.DisplayFor(modelItem => item.Email)
                                        </td>
                                        <td width="25px">
                                            @Html.DisplayFor(modelItem => item.StatusQa)
                                        </td>
                                        <td width="200px">
                                            @if (item.EventDescription.Length > 255)
                                            {
                                                @Html.Raw(item.EventDescription.Substring(0, 255) + "...")
                                            }
                                            else
                                            {
                                                @Html.Raw(item.EventDescription)
                                            }
                                        </td>
                                        <td width="25px">
                                            <p>@Html.ActionLink("Details", "Details", "mvcCER", new { CERNumber = item.CERNumber }, new { @class = "btn btn-success btn-sm" })</p>
                                            @if ((FM2015.Models.User.IsAuthenticated()) && (FM2015.Models.User.HasRole("admin")))
                                            {
                                                {
                                                    string cerEditURL = "~/CER/EditCER.aspx?CERNumber=" + item.CERNumber + "& pageaction=lookup";
                                                    <p><a href="@Url.Content(cerEditURL)" class="btn btn-success btn-sm">Legacy Details</a></p>
                                                }

                                                <p>@Html.ActionLink("Related", "Related", "mvcCER", new { CERNumber = item.CERNumber }, new { @class = "btn btn-success btn-sm" })</p>

                                                if (item.StatusQa != "Closed" || item.StatusCs != "Closed" || item.StatusMed == "Assigned")
                                                {
                                                    <p>@Html.ActionLink("Close:NC", "CloseNonComplaint", "mvcCER", new { cerNumber = item.CERNumber }, new { @class = "btn btn-danger btn-sm" })</p>
                                                }

                                            }
                                        </td>
                                    </tr>
                                }

                            </table>
                        }

                    </div> <!--end Panel Body-->
                </div> <!--end Panel-->
            </div> <!--end col-->
        </div> <!--end row-->
    </div> <!--end tab-->
</div> <!--end tab Content-->

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script type="text/javascript">
    window.onload = function () {
        $('#cer').addClass('active');
    };
</script>
