﻿@model IEnumerable<adminCER.CER>

@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Search CERs</h2>

@Html.Partial("_AdminNav")
<p>&nbsp;</p>

<table class="table table-responsive table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CERYear)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CERIdentifier)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventDescription)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CERYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CERIdentifier)
            </td>
            <td>
                @Html.Raw(item.EventDescription)
            </td>
        </tr>
    }

</table>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script type="text/javascript">
        window.onload = function () {
            $('#cer').addClass('active');
        };
</script>

