﻿@model FM2015.ViewModels.CustomerViewModel

@{
    ViewBag.Title = "Register";
}

<h2>@Html.Raw(AdminCart.Config.appName) New Account Registation</h2>

@if (ViewBag.ErrorMessage != null)
{
    <h4>@Html.Label("ErrorMessage", (string)ViewBag.ErrorMessage, new { @style = "color: red;" })</h4>
}


@using (Html.BeginForm("Register", "FMAccount", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.Partial("_RegisterPartial")
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/_regHelper.js")
}
