﻿@model FM2015.ViewModels.CustomerViewModel

@{
    ViewBag.Title = "Admin Account SignIn";
}

<h2>Admin/CER Account Sign-In</h2>
<p>&nbsp;</p>

<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm("SignIn", "FMAccount", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Customer.Email, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Customer.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Customer.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Customer.Password, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Customer.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Customer.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Sign in" class="btn btn-default" />
                    </div>
                </div>
                <p>
                    <!--
                    @Html.ActionLink("Register as a new user", "Register")
                    -->
                </p>
                
                <p>
                    <!--
                    @Html.ActionLink("Forgot your password?", "ForgotPassword")
                    -->
                </p>
            }
        </section>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

