﻿@model IEnumerable<AdminCart.Order>

@{
    ViewBag.Title = "GrossMisMatchDisplay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Display Gross Revenue Mismatch List</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrderID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Total)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubTotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalShipping)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalTax)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalCoupon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Adjust)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.OrderID.ToString(), "Details", "Orders", new { id = item.OrderID }, null)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Total)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubTotal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalShipping)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalTax)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalCoupon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Adjust)
        </td>
    </tr>
}

</table>
