﻿@model FM2015.ViewModels.SalesViewModel

@{
    ViewBag.Title = "Daily Sales Report (DSR)";
}

<h2>Sales Report (DSR)</h2>

@Html.Partial("_AdminNav")

@if (!string.IsNullOrEmpty(@ViewBag.ErrMsg))
{
    <p style="color:red; font-size:larger"><strong>@ViewBag.ErrMsg</strong></p>
}

<!--
<div>
    @Html.ActionLink("View Original DSR Report", "Index", "Report", null, new { target = "_blank" } )
</div>
-->

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        @using (Html.BeginForm("Index", "DSR", FormMethod.Get))
        {
            <div class="row">
                <div class="col-xs-4 col-sm-4 col-md-10 col-lg-8">
                    <div id="imaginary_container">
                        <div class="input-group stylish-input-group">
                            <input id="param" name="param" type="text" class="form-control" placeholder="... date range">
                            <span class="input-group-addon">
                                <button type="submit">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </span>
                            <button type="button" data-toggle="modal" data-target="#myModal">
                                <span class="glyphicon glyphicon-info-sign"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div> <!--col-->
</div> <!--row-->

<dl class="dl-horizontal">
    <dt>@Html.DisplayNameFor(model => model.SalesPrimary.StartDate)</dt>
    <dd>@Html.DisplayFor(model => model.SalesPrimary.StartDate)</dd>

    <dt>@Html.DisplayNameFor(model => model.SalesPrimary.EndDate)</dt>
    <dd>@Html.DisplayFor(model => model.SalesPrimary.EndDate)</dd>
</dl>

<div id="divIncomeStatement" class="row">

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div id="divIncomeStatement" class="panel panel-primary">
            <div class="panel-heading">
                <div class="panel-title">
                    <h3>Sales & Cash Report</h3>
                </div>
            </div>
            <div class="panel-body">
                <h4>Sales & Cash</h4>

                <dl class="dl-horizontal">
                    <dt>@Html.DisplayNameFor(model => model.SalesPrimary.TotalOrders)</dt>
                    <dd>@Html.DisplayFor(model => model.SalesPrimary.TotalOrders)</dd>

                    <dt>Total Items Sold</dt>
                    <dd>@Html.DisplayFor(model => model.SalesPrimary.TotalUnits)</dd>

                    @if (AdminCart.Config.appName.ToUpper() == "CRYSTALIFT")
                    {
                        <dt>@Html.DisplayNameFor(model => model.SalesPrimary.TotalRefills)</dt>
                        <dd>@Html.DisplayFor(model => model.SalesPrimary.TotalRefills)</dd>
                    }

                    <dt>@Html.DisplayNameFor(model => model.SalesPrimary.TotalDevices)</dt>
                    <dd>@Html.DisplayFor(model => model.SalesPrimary.TotalDevices)</dd>

                    <dt>MP Devices</dt>
                    <dd>@Html.DisplayFor(model => model.SalesPrimary.TotalMPDevices)</dd>
                </dl>

                <dl class="dl-horizontal">
                    <dt>@Html.DisplayNameFor(model => model.SalesPrimary.TotalSinglePayGrossRevenue)</dt>
                    <dd>@Html.DisplayFor(model => model.SalesPrimary.TotalSinglePayGrossRevenue)</dd>

                    <dt>-MP gross revenue</dt>
                    <dd>@Html.DisplayFor(model => model.SalesPrimary.Mp1PayRevenue)</dd>

                    <dt>-MP Disc (1st pmnt)</dt>
                    <dd>@Html.DisplayFor(model => model.SalesPrimary.MpCashDiscounts)</dd>

                    <dt>+MP coll (1st pmnt)</dt>
                    <dd>@Html.DisplayFor(model => model.SalesPrimary.MpRevenue)</dd>

                    <dt>-Gift Card $$</dt>
                    <dd>@Html.DisplayFor(model => model.SalesPrimary.TotalGiftCardRevenue)</dd>

                    <dt>=@Html.DisplayNameFor(model => model.SalesPrimary.TotalGrossCash)</dt>
                    <dd>@Html.DisplayFor(model => model.SalesPrimary.TotalGrossCash)</dd>

                </dl>

                <dl class="dl-horizontal">
                    <dt><span>+other CS charges</span></dt>
                    <dd>@Html.DisplayFor(model => model.SalesPrimary.TotalOtherCS)</dd>

                    <dt>@Html.DisplayNameFor(model => model.SalesPrimary.TotalLineItemDiscounts)</dt>
                    <dd>@Html.DisplayFor(model => model.SalesPrimary.TotalLineItemDiscounts)</dd>

                    <dt><span>-Order Discounts</span></dt>
                    <dd>@Html.DisplayFor(model => model.SalesPrimary.TotalDiscounts)</dd>

                    <dt>=@Html.DisplayNameFor(model => model.SalesPrimary.TotalNetCash)</dt>
                    <dd>@Html.DisplayFor(model => model.SalesPrimary.TotalNetCash)</dd>
                </dl>

                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.SalesPrimary.TotalCost)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.SalesPrimary.TotalCost)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.SalesPrimary.TotalMargin)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.SalesPrimary.TotalMargin)
                    </dd>
                </dl>

                <dl class="dl-horizontal">
                    <dt>
                        +@Html.DisplayNameFor(model => model.SalesPrimary.TotalSalesTax)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.SalesPrimary.TotalSalesTax)
                    </dd>

                    <dt>
                        +@Html.DisplayNameFor(model => model.SalesPrimary.TotalShipping)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.SalesPrimary.TotalShipping)
                    </dd>

                    <dt>
                        -@Html.DisplayNameFor(model => model.SalesPrimary.TotalRefunds)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.SalesPrimary.TotalRefunds)
                    </dd>

                    <dt>
                        -@Html.DisplayNameFor(model => model.SalesPrimary.TotalVoids)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.SalesPrimary.TotalVoids)
                    </dd>

                    <dt>+Gift Card $$</dt>
                    <dd>@Html.DisplayFor(model => model.SalesPrimary.TotalGiftCardRevenue)</dd>

                    <dt>
                        =@Html.DisplayNameFor(model => model.SalesPrimary.TotalCollectedWebSite)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.SalesPrimary.TotalCollectedWebSite)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.SalesPrimary.TotalCollectedCC)
                    </dt>

                    @if (ViewBag.NumberOfMonths > 1)
                    {
                        <dd>Not available for time periods greater than 1 month</dd>
                    }
                    else
                    {
                        <dd>
                            @Html.DisplayFor(model => model.SalesPrimary.TotalCollectedCC)
                        </dd>
                    }
                </dl>

                <hr />

                <h4>A/R: Multi-Pay Collections from prior months' Orders</h4>

                @{
                    double NumberOfMonths = Model.SalesPrimary.EndDate.Subtract(Model.SalesPrimary.StartDate).Days / (365.25 / 12);
                    if (NumberOfMonths > 1)
                    {
                        <h4>Not available for time periods greater than 1 month</h4>
                    }
                    else
                    {
                        for (int i = 0; i < Model.SalesPrimary.TransAmountsFromPriorMonths.Length; i++)
                        {
                            <dl class="dl-horizontal">
                                <dt>
                                    <span>Orders from: @Utilities.FMHelpers.MonthLookUp(Model.SalesPrimary.EndDate.AddMonths(-(i + 1)).Month)</span>
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.SalesPrimary.TransAmountsFromPriorMonths[i])
                                </dd>
                            </dl>
                        }
                    }
                }

                <hr />
                <h4>Reconcilation Section</h4>
                <dl class="dl-horizontal">
                    <dt>
                        Gross Revenue
                    </dt>
                    <dd>
                        @if (Model.SalesPrimary.GrossReconcile == 0)
                        {
                            <span>$0.00</span>
                        }
                        else
                        {
                            <span style="color:red;">@Html.DisplayFor(model => model.SalesPrimary.GrossReconcile)</span> <span>GrossRevenue - (MpOnePayRev - MpColRev + adGrossRev)</span>
                            <div>
                                @Html.ActionLink("View List", "GrossMisMatchDisplay", "DSR", new { startStr = Model.SalesPrimary.StartDate.ToString(), endStr = Model.SalesPrimary.EndDate.ToString() },
                                                new { target = "_blank" })
                            </div>
                        }
                    </dd>
                    <dt>
                        adjGross Revenue
                    </dt>
                    <dd>
                        @if (Model.SalesPrimary.adjGrossRevRevenueReconcile == 0)
                        {
                            <span>$0.00</span>
                        }
                        else
                        {
                            <span style="color:red;">@Html.DisplayFor(model => model.SalesPrimary.adjGrossRevRevenueReconcile)</span> <span>Order.SubTotal - OrderDetail.(price-discount)*QTY</span>
                        }
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.SalesPrimary.LineItemDiscountReconcile)
                    </dt>
                    <dd>
                        @if (Model.SalesPrimary.LineItemDiscountReconcile == 0)
                        {
                            <span>$0.00</span>
                        }
                        else
                        {
                            <span style="color:red;">@Html.DisplayFor(model => model.SalesPrimary.LineItemDiscountReconcile)</span> <span>Linq.LIDiscounts - SQL.LIDiscounts</span>
                            <div>
                                @Html.ActionLink("View List", "LineItemDiscountDisplay", "DSR", new { startStr = Model.SalesPrimary.StartDate.ToString(), endStr = Model.SalesPrimary.EndDate.ToString() },
                                                new { target = "_blank" })
                            </div>
                        }
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.SalesPrimary.CollectedReconcile)
                    </dt>
                    <dd>
                        @if (ViewBag.NumberOfMonths > 1)
                        {
                            <span>Not valid for time periods greater than 1 month</span>
                        }
                        else
                        {
                            if (Model.SalesPrimary.CollectedReconcile == 0)
                            {
                                <span>$0.00</span>
                            }
                            else
                            {
                                <span style="color:red;">@Html.DisplayFor(model => model.SalesPrimary.CollectedReconcile)</span> <span>Collected(cc) - [Collected(web) + other months MP payments]</span>
                            }
                        }
                    </dd>
                </dl>
            </div> <!--end Panel Body-->
        </div> <!--end Panel-->
    </div> <!--end col-->

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="row">
            <div id="divRevenue" class="panel panel-primary">
                <div class="panel-heading">
                    <div class="panel-title">
                        <h3>Revenue Report</h3>
                    </div>
                </div>
                <div class="panel-body">
                    <h4>Revenue</h4>

                    <dl class="dl-horizontal">
                        <dt>@Html.DisplayNameFor(model => model.SalesPrimary.TotalSinglePayGrossRevenue)</dt>
                        <dd>@Html.DisplayFor(model => model.SalesPrimary.TotalSinglePayGrossRevenue)</dd>

                        <dt><span>-Canc'ld MP Pmnts</span></dt>
                        <dd><span>@Html.DisplayFor(model => model.SalesPrimary.MpCancelled)</span></dd>

                        <dt> <span>+other CS charges</span></dt>
                        <dd>@Html.DisplayFor(model => model.SalesPrimary.TotalOtherCS)</dd>

                        <dt><span>-MP Order Discounts</span></dt>
                        <dd><span>@Html.DisplayFor(model => model.SalesPrimary.MpDiscounts)</span></dd>

                        <dt><span>-SP Order Discounts</span></dt>
                        <dd>@Html.DisplayFor(model => model.SalesPrimary.TotalDiscounts)</dd>

                        <dt><span>-LI Discounts</span></dt>
                        <dd>@Html.DisplayFor(model => model.SalesPrimary.TotalLineItemDiscounts)</dd>

                        <dt>-Gift Card $$</dt>
                        <dd>@Html.DisplayFor(model => model.SalesPrimary.TotalGiftCardRevenue)</dd>

                        <dt>=@Html.DisplayNameFor(model => model.SalesPrimary.TotalNetRevenue)</dt>
                        <dd>@Html.DisplayFor(model => model.SalesPrimary.TotalNetRevenue)</dd>

                    </dl>

                    <h4>Comparison: Cash Received</h4>

                    <dl class="dl-horizontal">
                        <dt>@Html.DisplayNameFor(model => model.SalesPrimary.TotalNetCash)</dt>
                        <dd>@Html.DisplayFor(model => model.SalesPrimary.TotalNetCash)</dd>

                        <dt>@Html.DisplayNameFor(model => model.SalesPrimary.TotalCollectedWebSite)</dt>
                        <dd>@Html.DisplayFor(model => model.SalesPrimary.TotalCollectedWebSite)</dd>
                    </dl>

                </div> <!--end of Revenue Panel Body-->
            </div> <!--end of Revenue Panel-->
        </div> <!--end of row-->

        <div class="row">
            <div id="divAccountsReceivable" class="panel panel-primary">
                <div class="panel-heading">
                    <div class="panel-title">
                        <h3>Multi-Pay A/R Report</h3>
                    </div>
                </div>
                <div class="panel-body">
                    <h4>Collection Report for Multi-Pay Orders in the Period</h4>

                    <dl class="dl-horizontal">
                        <dt><span>MP Gross Revenue</span></dt>
                        <dd><span>@Html.DisplayFor(model => model.SalesPrimary.Mp1PayRevenue)</span></dd>

                        <dt><span>-MP Discounts</span></dt>
                        <dd><span>@Html.DisplayFor(model => model.SalesPrimary.MpDiscounts)</span></dd>

                        <dt><span>=MP Net Revenue</span></dt>
                        <dd><span>@Html.DisplayFor(model => model.SalesPrimary.MpNetRevenue)</span></dd>
                    </dl>

                    <hr />

                    <dl class="dl-horizontal">
                        <dt><span>-Collected</span></dt>
                        <dd><span>@Html.DisplayFor(model => model.SalesPrimary.MpCollected)</span></dd>

                        <dt><span>-Cancelled</span></dt>
                        <dd><span>@Html.DisplayFor(model => model.SalesPrimary.MpCancelled)</span></dd>

                        <dt><span>-Written Off</span></dt>
                        <dd><span>@Html.DisplayFor(model => model.SalesPrimary.MpWrittenOff)</span></dd>

                        <dt><span>=To Be Collected</span></dt>
                        <dd><span>@Html.DisplayFor(model => model.SalesPrimary.MpToBeCollected)</span></dd>
                    </dl>

                    <hr />

                    <h4>Report: Late Payment Total</h4>

                    <dl class="dl-horizontal">
                        <dt><span>Past Due or Unpaid</span></dt>
                        <dd><span>@Html.DisplayFor(model => model.SalesPrimary.MpUnCollectable)</span></dd>
                    </dl>
                </div> <!--end of A/R Panel Body-->
            </div> <!--end of A/R Panel-->
        </div> <!--end of row-->
    </div> <!--end of col-->


</div> <!--end Row-->

<hr />
<div id="divSalesDetails" class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div id="pnlSAlesDetails" class="panel panel-primary">
            <div class="panel-heading">
                <div class="panel-title">
                    <h3>Sales Details</h3>
                </div>
            </div>
            <div class="panel-body">
                <table class="table table-responsive table-striped">
                    <thead>
                        <tr>
                            <th><strong>SKU</strong></th>
                            <th><strong>Id</strong></th>
                            <th><strong>Description</strong></th>

                            <th><strong>Unit Cost</strong></th>

                            <th><strong>Units</strong></th>
                            <th><strong>Gross(cash)</strong></th>
                            <th><strong>Discount</strong></th>

                            <th><strong>Cost</strong></th>

                            <!--
                            <td><strong>phUnits</strong></td>
                            <td><strong>phGross</strong></td>
                            <td><strong>phDiscount</strong></td>
                            -->
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.SalesPrimary.SalesDetailsList)
                        {
                            <tr>
                                <td>@Html.DisplayFor(i => item.SKU)</td>
                                <td>@Html.DisplayFor(i => item.ProductID)</td>
                                <td>@Html.DisplayFor(i => item.Description)</td>
                                <td>@Html.DisplayFor(i => item.UnitCost)</td>
                                <td>@Html.DisplayFor(i => item.TotalUnits)</td>
                                <td>@Html.DisplayFor(i => item.TotalGrossRevenue)</td>
                                <td>@Html.DisplayFor(i => item.TotalDiscount)</td>
                                <td>@Html.DisplayFor(i => item.TotalCost)</td>
                                <!--
                                <td>@Html.DisplayFor(i => item.PhoneUnits)</td>
                                <td>@Html.DisplayFor(i => item.PhoneGrossRevenue)</td>
                                <td>@Html.DisplayFor(i => item.PhoneDiscount)</td>
                                -->
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td>SUMMARY</td><!--sku-->
                            <td></td><!--productId-->
                            <td></td><!--description-->
                            <td></td><!--unit cost-->
                            <td>@Html.DisplayFor(model => model.SalesPrimary.TotalUnits)</td><!--total units-->
                            <td></td><!--gross revenue-->
                            <td></td><!--total discount-->
                            <td>@Html.DisplayFor(model => model.SalesPrimary.TotalCost)</td><!--total cost-->
                        </tr>
                    </tfoot>
                </table>
            </div><!--end Panel body-->
        </div><!--Panel-->
    </div><!--Column-->
</div><!--end Row-->
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Search Tips</h4>
            </div>
            <div class="modal-body">
                <h4>Search For:</h4>
                <ul>
                    <li><strong>Date Range</strong>: type: Date; start Date to start Date + 1 Day (ex. use single date, like 1/1/2015 to get orders from then to 1/1/2015 59:59:59)</li>
                    <li><strong>Date Range</strong>: type: Date; start Date to end Date (ex. 1/1/2015 6/30/2015 to get orders between the dates)</li>
                    <li><strong>ShortCut: Yesterday</strong>: type: "y" or "Y" (same as date range Date(yesterday) )</li>
                    <li><strong>ShortCut: Week</strong>: type: "w" or "W" (same as date range Date(7 days ago) to Date(now) )</li>
                    <li><strong>ShortCut: Month</strong>: type: "m" or "M" (same as date range Date(beginning of the current month) to Date(now) )</li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">close</button>
                <!--
                <button type="button" class="btn btn-primary">Save changes</button>
                -->
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script src="@Url.Content("~/Scripts/jquery/jquery-1.8.3.min.js")" type="text/javascript"></script>

<script type="text/javascript">
    $(function () { //Document ready shorthand
        orig_val = '';
        start_val = $('#start').val(); //Get the original value to test against. We use .val() to grab value="Search"
        end_val = $('#end').val(); //Get the original value to test against. We use .val() to grab value="Search"
        $('input:text').focus(function () { //When the user tabs/clicks the search box.
            orig_val = $(this).val();
            switch ($(this).val()) {
                case start_val:
                case end_val:
                    $(this).val('');
                    break;

            }
        })
            .blur(function () {//When the user tabs/clicks out of the input
                if ($(this).val() === '') {//If the value is blank (such as the user clicking in it and clicking out)...
                    $(this).val(orig_val); //... set back to the original value
                }
            });
    });

</script>

