﻿@model FM2015.Models.Subscriptions

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Subscriptions</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OrderID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StripeSubID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StripeSubID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StripeCusID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StripeCusID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StripePlanID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StripePlanID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StripeSubDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StripeSubDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StripeStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StripeStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StripePromoCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StripePromoCode)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
