﻿@model IEnumerable<FM2015.Models.Subscriptions>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Get All Subscribers</h2>

@Html.Partial("_AdminNav")

<div class="panel panel-primary">
    <div class="panel-heading">
        <div class="panel-title">
            <h4>Find Subscriber</h4>
        </div>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm("Index", "Subscribers", FormMethod.Get))
        {
            <div class="form-group col-xs-12 col-sm-6 col-md-3">
                @Html.Label("Subscriber: ", htmlAttributes: new { @class = "control-label col-xs-4" })
                <div class="col-xs-8">
                    @Html.TextBox("param", null, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <p>&nbsp;</p>
            <div class="form-group">
                <div class="col-md-offset-1 col-md-10">
                    <input type="submit" value="Search" class="btn btn-Success" />
                </div>
            </div>
        }
    </div> <!--end Panel Body-->
</div> <!--end Panel-->

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrderID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StripeSubID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StripeCusID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StripePlanID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StripeSubDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StripeStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StripePromoCode)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StripeSubID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StripeCusID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StripePlanID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StripeSubDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StripeStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StripePromoCode)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
            </td>
        </tr>
    }

</table>
