﻿@model FMWebApp.ViewModels.Stripe.StripeCustomerViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Stripe Integration Test: Index</h2>

@Html.Partial("_AdminNav")

<hr />
<h3>@ViewBag.errMsg</h3>

<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#tabSubscriptions">Subscriptions</a></li>
    <li><a data-toggle="tab" href="#tabCustomerDetails">Details</a></li>
    <li><a data-toggle="tab" href="#tabCards">Cards</a></li>
    <li><a data-toggle="tab" href="#tabCharges">Charges</a></li>
    <li><a data-toggle="tab" href="#tabInvoices">Invoices</a></li>
    <li><a data-toggle="tab" href="#tabPlans">Plans</a></li>
</ul>

<div class="tab-content">

    <div class="tab-pane active" id="tabSubscriptions">
        <div id="divSubscriptions" class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div id="pnlSubscriptions" class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <h3>Customer Subscriptions</h3>
                        </div>
                    </div>
                    <div class="panel-body">
                        <table class="table table-responsive table-striped">
                            <thead>
                                <tr>
                                    <td><strong>id</strong></td>
                                    <td><strong>plan</strong></td>
                                    <td><strong>start</strong></td>
                                    <td><strong>qty</strong></td>
                                    <td><strong>periodStart</strong></td>
                                    <td><strong>periodEnd</strong></td>
                                    <td><strong>cancelPerEnd</strong></td>
                                    <td><strong>status</strong></td>
                                    <td><strong>tax%</strong></td>

                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.stripeCustomerSubscriptionList.Count() == 0)
                                {
                                    <tr>
                                        <td>
                                            <span>No Subscriptions available for this customer</span>
                                        </td>
                                    </tr>
                                }
                                else
                                {
                                    foreach (var item in Model.stripeCustomerSubscriptionList)
                                    {
                                        <tr>
                                            <td>@Html.DisplayFor(i => item.Id)</td>
                                            <td>@Html.DisplayFor(i => item.StripePlan.Product.Name)</td>
                                            <td>@Html.DisplayFor(i => item.Start)</td>
                                            <td>@Html.DisplayFor(i => item.Quantity)</td>
                                            <td>@Html.DisplayFor(i => item.CurrentPeriodStart)</td>
                                            <td>@Html.DisplayFor(i => item.CurrentPeriodEnd)</td>
                                            <td>@Html.DisplayFor(i => item.CancelAtPeriodEnd)</td>
                                            <td>@Html.DisplayFor(i => item.Status)</td>
                                            <td>@Html.DisplayFor(i => item.TaxPercent)</td>
                                        </tr>
                                    }
                                }

                            </tbody>
                        </table>
                    </div><!--end Panel body-->
                </div><!--Panel-->
            </div><!--Column-->
        </div><!--end Row-->
    </div><!--end Tab-->

    <div class="tab-pane" id="tabCustomerDetails">
        <div id="divCustomerDetails" class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div id="frmCustomerDetails" class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <h3>Customer Details</h3>
                        </div>
                    </div>
                    <div class="panel-body">
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.stripeCustomer.Id)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.stripeCustomer.Id)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.stripeCustomer.LiveMode)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.stripeCustomer.LiveMode)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.stripeCustomer.Description)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.stripeCustomer.Description)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.stripeCustomer.Created)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.stripeCustomer.Created)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.stripeCustomer.AccountBalance)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.stripeCustomer.AccountBalance)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.stripeCustomer.Currency)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.stripeCustomer.Currency)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.stripeCustomer.Delinquent)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.stripeCustomer.Delinquent)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.stripeCustomer.Email)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.stripeCustomer.Email)
                            </dd>
                        </dl>
                        <hr />
                        <h4>Admin Customer Details</h4>
                        <h3>Customer: @Html.DisplayFor(model => model.customer.FirstName)&nbsp;@Html.DisplayFor(model => model.customer.LastName); ID= @Html.DisplayFor(model => model.customer.CustomerID)</h3>
                        <div id="pnlDetails" class="panel panel-info">
                            <div class="panel-heading">
                                <div class="panel-title">
                                    <h3>Customer Details: Name, Email, Phone</h3>
                                </div>
                            </div>
                            <div class="panel-body">
                                <dl class="dl-horizontal">
                                    <dt>
                                        <span>Name</span>
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.customer.FirstName)&nbsp;@Html.DisplayFor(model => model.customer.LastName)
                                    </dd>
                                    <dt>
                                        @Html.DisplayNameFor(model => model.customer.Email)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.customer.Email)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.customer.Password)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.customer.Password)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.customer.Phone)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.customer.Phone)
                                    </dd>

                                    <dt>
                                        <span>Accepts Marketing?</span>
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.customer.FaceMasterNewsletter)
                                    </dd>
                                </dl>

                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>
                                                <span>Created</span>
                                            </th>
                                            <th>
                                                <span>Updated</span>
                                            </th>
                                            <th>
                                                <span>Last Sign-in</span>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>@Html.DisplayFor(model => model.customer.CreateDate)</td>
                                            <td>@Html.DisplayFor(model => model.customer.LastUpdateDate)</td>
                                            <td>@Html.DisplayFor(model => model.customer.LastLoginDate)</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div> <!--end Panel Body-->
                        </div> <!--end Panel-->

                    </div> <!--end Panel-->
                </div>
            </div> <!--end col-->
        </div> <!--end row-->
    </div><!--end tab-->

    <div class="tab-pane" id="tabCards">
        <div id="divCards" class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div id="pnlCards" class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <h3>Customer Cards</h3>
                        </div>
                    </div>
                    <div class="panel-body">
                        <table class="table table-responsive table-striped">
                            <thead>
                                <tr>
                                    <td><strong>id</strong></td>
                                    <td><strong>name</strong></td>
                                    <td><strong>Type</strong></td>
                                    <td><strong>Last4</strong></td>
                                    <td><strong>exp</strong></td>
                                    <td><strong>cvc</strong></td>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.stripeCustomerCardList)
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(i => item.Id)</td>
                                        <td>@Html.DisplayFor(i => item.Name)</td>
                                        <td>@Html.DisplayFor(i => item.Brand)</td>
                                        <td>@Html.DisplayFor(i => item.Last4)</td>
                                        <td>@Html.Raw(item.ExpirationMonth + "/" + item.ExpirationYear)</td>
                                        <td>@Html.DisplayFor(i => item.CvcCheck)</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div><!--end Panel body-->
                </div><!--Panel-->
            </div><!--Column-->
        </div><!--end Row-->
    </div><!--end tab-->


    <div class="tab-pane" id="tabCharges">
        <div id="divCharges" class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div id="pnlCharges" class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <h3>Customer Charges</h3>
                        </div>
                    </div>
                    <div class="panel-body">
                        <table class="table table-responsive table-striped">
                            <thead>
                                <tr>
                                    <td><strong>id</strong></td>
                                    <td><strong>date</strong></td>
                                    <td><strong>amount</strong></td>
                                    <td><strong>fail-code</strong></td>
                                    <td><strong>fail-message</strong></td>
                                    <td><strong>invoiceId</strong></td>
                                    <td><strong>isLive</strong></td>

                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.stripeCustomerChargeList.Count() == 0)
                                {
                                    <tr>
                                        <td>
                                            <span>No Charges available for this customer</span>
                                        </td>
                                    </tr>
                                }
                                else
                                {
                                    foreach (var item in Model.stripeCustomerChargeList)
                                    {
                                        <tr>
                                            <td>@Html.DisplayFor(i => item.Id)</td>
                                            <td>@Html.DisplayFor(i => item.Created)</td>
                                            <td>@Html.DisplayFor(i => item.Amount)</td>
                                            <td>@Html.DisplayFor(i => item.FailureCode)</td>
                                            <td>@Html.DisplayFor(i => item.FailureMessage)</td>
                                            <td>@Html.DisplayFor(i => item.InvoiceId)</td>
                                            <td>@Html.DisplayFor(i => item.LiveMode)</td>
                                        </tr>
                                    }
                                }

                            </tbody>
                        </table>
                    </div><!--end Panel body-->
                </div><!--Panel-->
            </div><!--Column-->
        </div><!--end Row-->
    </div><!--end tab-->

    <div class="tab-pane" id="tabInvoices">
        <div id="divInvoices" class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div id="pnlInvoices" class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <h3>Customer Invoices</h3>
                        </div>
                    </div>
                    <div class="panel-body">
                        <table class="table table-responsive table-striped">
                            <thead>
                                <tr>
                                    <th>id</th>
                                    <th>sub id</th>
                                    <th>date</th>
                                    <th>total</th>
                                    <th>paid</th>
                                    <th>closed</th>
                                    <th>amount due</th>
                                    <th>attempt#</th>
                                    <th>Next Attempt</th>
                                    <th></th>

                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.stripeCustomerInvoiceList.Count() == 0)
                                {
                                    <tr>
                                        <td>
                                            <span>No Invoices available for this customer</span>
                                        </td>
                                    </tr>
                                }
                                else
                                {
                                    foreach (var item in Model.stripeCustomerInvoiceList)
                                    {
                                        <tr>
                                            <td>@Html.DisplayFor(i => item.Id)</td>
                                            <td>@Html.DisplayFor(i => item.SubscriptionId)</td>
                                            <td>@Html.DisplayFor(i => item.Date)</td>
                                            <td>@Html.DisplayFor(i => item.Total)</td>
                                            <td>@Html.DisplayFor(i => item.Paid)</td>
                                            <td>@Html.DisplayFor(i => item.Closed)</td>
                                            <td>@Html.DisplayFor(i => item.AmountDue)</td>
                                            <td>@Html.DisplayFor(i => item.AttemptCount)</td>
                                            <td>@Html.DisplayFor(i => item.NextPaymentAttempt)</td>
                                            <td>
                                                @if ((FM2015.Models.User.IsAuthenticated()) && (FM2015.Models.User.HasRole("admin")) && (!item.Paid) && (item.Closed != null))
                                                {
                                                    if (item.Closed == false)
                                                    {
                                                        @Html.ActionLink("Manual Payment", "PayInvoice", new { id = item.Id, stripeCustomerID = Model.stripeCustomerId }, new { @class = "btn btn-primary" })
                                                    }
                                                    else
                                                    {
                                                        @Html.ActionLink("Re-open Invoice", "OpenInvoice", new { id = item.Id, stripeCustomerID = Model.stripeCustomerId }, new { @class = "btn btn-primary" })
                                                    }
                                                }
                                                else
                                                {
                                                    <span></span>
                                                }
                                            </td>
                                        </tr>
                                    }
                                }

                            </tbody>
                        </table>
                    </div><!--end Panel body-->
                </div><!--Panel-->
            </div><!--Column-->
        </div><!--end Row-->
    </div><!--end tab-->

    <div class="tab-pane" id="tabPlans">
        <div id="divPlans" class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div id="pnlPlans" class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <h3>Plans List</h3>
                        </div>
                    </div>
                    <div class="panel-body">
                        <table class="table table-responsive table-striped">
                            <thead>
                                <tr>
                                    <th>id</th>
                                    <th>name</th>
                                    <th>date created</th>
                                    <th>active</th>
                                    <th>amount</th>
                                    <th>interval</th>
                                    <th>live mode</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.stripeCustomerPlanList.Count() == 0)
                                {
                                    <tr>
                                        <td>
                                            <span>No Plans available</span>
                                        </td>
                                    </tr>
                                }
                                else
                                {
                                    foreach (var item in Model.stripeCustomerPlanList)
                                    {
                                        <tr>
                                            <td>@Html.DisplayFor(i => item.Id)</td>
                                            <td>@Html.DisplayFor(i => item.Product.Name)</td>
                                            <td>@Html.DisplayFor(i => item.Created)</td>
                                            <td>@Html.DisplayFor(i => item.Active)</td>
                                            <td>@Html.DisplayFor(i => item.Amount)</td>
                                            <td>@Html.DisplayFor(i => item.Interval)</td>
                                            <td>@Html.DisplayFor(i => item.LiveMode)</td>
                                        </tr>
                                    }
                                }

                            </tbody>
                        </table>
                    </div><!--end Panel body-->
                </div><!--Panel-->
            </div><!--Column-->
        </div><!--end Row-->
    </div><!--end tab-->

</div> <!--end tab content-->
<p>
    @Html.ActionLink("Back to Index", "Index")
</p>
