﻿@model FM2015.Models.BulkReturnsIBNU

@{
    ViewBag.Title = "Add New Return Device";
}

<h2>Add New Return Device</h2>

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
        @Html.Partial("_AdminNav")
    </div>
</div>

@Html.ActionLink("Review List", "Index", "BulkReturnsIBNU", null, new { @class = "btn btn-success" })


<h4 style="color:red"><strong>@ViewBag.ErrMsg</strong></h4>
<h4 style="color:green"><strong>@ViewBag.OKMsg</strong></h4>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>BulkReturnsIBNU</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.AddDate)
        @Html.HiddenFor(model => model.AddBy)
        @Html.HiddenFor(model => model.AddByID)
        @Html.HiddenFor(model => model.Test)

        <div class="form-group">
            @Html.LabelFor(model => model.Serial, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Serial, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Serial, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Add Returned Device" class="btn btn-default" />
            </div>
        </div>
    </div>
}


