﻿@model IEnumerable<FM2015.Models.BulkReturnsIBNU>

@{
    ViewBag.Title = "Bulk Returns IBNU: Report";
}

<h2>Bulk Returns IBNU: Report</h2>

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
        @Html.Partial("_AdminNav")
    </div>
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-md-offset-2 col-lg-offset-2">
        <div class="well well-sm">
            @Html.ActionLink("Add New Return", "Create", "BulkReturnsIBNU", null, new { @class = "btn btn-success" })
        </div>
    </div>
</div>

@if (!string.IsNullOrEmpty(@ViewBag.ErrMsg))
{
    <p>@ViewBag.ErrMsg</p>
}

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        @using (Html.BeginForm("index", "BulkReturnsIBNU", FormMethod.Get))
        {
            <div class="row">
                <div class="col-xs-4 col-sm-4 col-md-10 col-lg-8">
                    <div id="imaginary_container">
                        <div class="input-group stylish-input-group">
                            <input id="paramOrder" name="param" type="text" class="form-control" placeholder="...Date Range or serNum">
                            <span class="input-group-addon">
                                <button type="submit">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </span>
                            <button type="button" data-toggle="modal" data-target="#myModal">
                                <span class="glyphicon glyphicon-info-sign"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div> <!--col-->
</div> <!--row-->

<p>&nbsp;</p>

<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#tabLive">Live</a></li>
    <li><a data-toggle="tab" href="#tabTest">Test</a></li>
</ul>

<div class="tab-content">
    <div class="tab-pane active" id="tabLive">
        <table class="table table-responsive table-striped">
            <tr>
                <th>
                    row#
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AddDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AddBy)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AddByID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Serial)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Test)
                </th>
            </tr>

            @{ int i = 0; }

            @foreach (var item in Model)
            {
                if (!item.Test)
                {
                    i++;
                    <tr>
                        <td>
                            <span>@i.ToString()</span>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AddDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AddBy)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AddByID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Serial)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Test)
                        </td>
                    </tr>
                }
            }

        </table>
    </div>

    <div class="tab-pane" id="tabTest">
        <table class="table table-responsive table-striped">
            <tr>
                <th>
                    row#
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AddDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AddBy)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AddByID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Serial)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Test)
                </th>
            </tr>

            @{ i = 0; }

            @foreach (var item in Model)
            {
                if (item.Test)
                {
                    i++;
                    <tr>
                        <td>
                            <span>@i.ToString()</span>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AddDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AddBy)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AddByID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Serial)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Test)
                        </td>
                    </tr>
                }
            }

        </table>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Search Tips</h4>
            </div>
            <div class="modal-body">
                @Html.Raw(AdminCart.Config.SerNumSearchTip)
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">close</button>
                <!--
                <button type="button" class="btn btn-primary">Save changes</button>
                -->
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script src="@Url.Content("~/Scripts/jquery/jquery-1.8.3.min.js")" type="text/javascript"></script>


