﻿@model FM2015.Models.Cart
@using FM2015.Models


@{
    ViewBag.Title = "FaceMaster Shopping Cart: View";
}

<h2>Your FaceMaster Shopping Cart Contents</h2>
<p>&nbsp;</p>
@if (Model.Items.ItemCount() == 0)
{
    <h3>Your FaceMaster Shopping Cart Is Empty</h3>
}
else
{
    using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <table class="table table-responsive">
            <thead>
                <tr>
                    <td>Remove</td>
                    <td> Image </td>
                    <td>Description</td>
                    <td>Unit Price</td>
                    <td>Quantity</td>
                    <td>Price</td>
                </tr>
            </thead>
            <tbody>
                @foreach (Item item in Model.Items)
                {
                    <tr>
                        <td>
                            @Html.CheckBox("chkBox-" + item.LineItemProduct.ProductID.ToString(), false, new { onchange = "UpdateCart(" + item.LineItemProduct.ProductID.ToString() + ", false);" })
                        </td>
                        <td>
                            <img src="@Url.Content("~/images/products/" + item.LineItemProduct.ThumbnailImage)" alt="@item.LineItemProduct.ShortDescription" />
                        </td>
                        <td>
                            @Html.DisplayFor(i => item.LineItemProduct.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(i => item.LineItemProduct.SalePrice)
                        </td>
                        <td>
                            @Html.EditorFor(i => item.Quantity, new { htmlAttributes = new { @id = "txtQuantity-" + item.LineItemProduct.ProductID.ToString(), @class = "form-control", @style = "width:30%;", @onchange = "UpdateCart(" + item.LineItemProduct.ProductID.ToString() + ", true);" } })
                            @Html.ValidationMessageFor(i => item.Quantity, "", new { @class = "text-danger" })
                        </td>
                        <td>
                            @Html.DisplayFor(i => item.LineItemTotal)
                        </td>
                    </tr>
                }
            </tbody>

        </table>

        <hr />
        <div class="row">
            <div class="col-md-2">
                <input type="submit" id="btnShop" value="Continue Shopping" class="btn btn-primary" onclick="ContinueShopping(); return false;"/>
            </div>

            <div class="col-md-2">
                <input type="submit" id="btnCheckOut" value="Check Out" class="btn btn-primary" onclick="CheckOut(); return false;" />
            </div>
        </div>

        <div class="row">
            <div class="form-group ">
                <div class="col-md-offset-10 col-md-1">
                    @Html.DisplayNameFor(i => Model.TotalProduct)
                </div>
                <div class="col-md-offset-12 col-md-1">
                    @Html.DisplayFor(i => Model.TotalProduct)
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-10 col-md-1">
                @Html.DisplayNameFor(i => Model.TotalTax)
            </div>
            <div class="col-md-offset-12 col-md-1">
                @Html.DisplayFor(i => Model.TotalTax)
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-10 col-md-1">
                @Html.DisplayNameFor(i => Model.TotalDiscounts)
            </div>
            <div class="col-md-offset-12 col-md-1">
                @Html.DisplayFor(i => Model.TotalDiscounts)
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-10 col-md-1">
                @Html.DisplayNameFor(i => Model.TotalShipping)
            </div>
            <div class="col-md-offset-12 col-md-1">
                @Html.DisplayFor(i => Model.TotalShipping)
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-10 col-md-1">
                &nbsp;
            </div>
            <div class="col-md-offset-12 col-md-1">
                &nbsp;
            </div>
        </div>
    <div class="row">
        <div class="col-md-offset-10 col-md-1">
            @Html.DisplayNameFor(i => Model.Total)
        </div>
        <div class="col-md-offset-12 col-md-1">
            @Html.DisplayFor(i => Model.Total)
        </div>
    </div>
    }
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/jscript">
        $(document).ready(function () {
            $(this).change(function (event) {
                //alert("Change Event Occured. ID of element: " + event.target.id);
                //if ($(this).is(':checked')) alert("checked; ID of element: " + event.target.id);
            });
        });

        function ContinueShopping() {
            window.location.href = "/products/index";
        };

        function CheckOut() {
            window.location.href = "/cart/checkout_cart";
        };

        function UpdateCart(productID, upDate) {
            //alert('Quantity has been changed! ProductId = ' + productID + ' ElementID = ' + event.target.id + ' ElementValue = ' + event.target.value);
            //if ($(this).is(':checked')) {
            if (!upDate) {
                //alert("checked; ID of element: " + event.target.id);
                $.ajax({
                    cache: false,
                    url: '/cart/DeleteProductFrom_cart/' + productID,
                    type: 'post',
                    datatype: 'json',
                    success: function (result) {
                        window.location.href = '/cart/view';
                    }
                });
            }
            else {
                $.ajax({
                    cache: false,
                    url: '/cart/UpdateproductQuantity_cart/' + productID,
                    type: 'post',
                    datatype: 'json',
                    data: { quantity: event.target.value },
                    success: function (result) {
                        window.location.href = '/cart/view';
                    }
                });
            }
        };

        function CheckOut() {

        };

        $(function () {
            $('#txtQuantity' > '*').change(function () {
                alert('* Quantity has been changed!');
            });
        });

        $(function () {
            $('#txtQuantity' > '*').change(function () {
                alert('* Quantity has been changed!');
            });
        });
    </script>
}




