﻿@model FM2015.ViewModels.CustomerViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Add New Customer</h2>

@Html.Partial("_AdminNav")

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.Partial("_RegisterPartial")
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<!--
     Scripts.Render("~/Scripts/_regHelper.js")
-->

<script src="@Url.Content("~/Scripts/jquery/jquery-1.8.3.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/bootstrap.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/_regHelper.js")" type="text/javascript"></script>

<script type="text/javascript">
        //EMAIL
        $(function () { //Document ready shorthand
            orig_val = '';
            street_val = $('#shipStreet').val();
            street2_val = $('#shipStreet2').val();
            city_val = $('#shipCity').val();
            shipState_val = $('#shipShipState').val();
            zip_val = $('#shipZip').val();
            $('input:text').focus(function () { //When the user tabs/clicks the search box.
                orig_val = $(this).val();
                switch ($(this).val()) {
                    case email_val:
                    case phone_val:
                    case first_val:
                    case last_val:
                    case street_val:
                    case street2_val:
                    case city_val:
                    case shipState_val:
                    case zip_val:
                        $(this).val('');
                        break;

                }
            })
            .blur(function () {//When the user tabs/clicks out of the input
                if ($(this).val() === '') {//If the value is blank (such as the user clicking in it and clicking out)...
                    $(this).val(orig_val); //... set back to the original value
                }
            });
        });

</script>