﻿
@{
    ViewBag.Title = "CreateFromPayWhirl";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CreateFromPayWhirl</h2>

<h3>@ViewBag.ErrMsg</h3>
<hr />

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                <h3>AdminCER: Create Customer via PayWhirl Account</h3> @Html.Partial("_AdminNav")
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                @using (Html.BeginForm("CreateFromPayWhirl", "Customers", FormMethod.Get))
                {
                    <div class="row">
                        <div class="col-xs-4 col-sm-10 col-md-10 col-lg-8">
                            <div id="imaginary_container">
                                <div class="input-group stylish-input-group">
                                    <input id="paramCustomer" name="paramCustomer" type="text" class="form-control" placeholder="...customer email">
                                    <span class="input-group-addon">
                                        <button type="submit">
                                            <span class="glyphicon glyphicon-search"></span>
                                        </button>
                                    </span>
                                    <button type="button" data-toggle="modal" data-target="#myCustomerModal">
                                        <span class="glyphicon glyphicon-info-sign"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div> <!--end col-->
        </div> <!--end row-->
    </div> <!--end col-->
</div> <!--end row-->
