﻿@model FM2015.ViewModels.CustomerViewModel
@using FM2015.Helpers

@{
    ViewBag.Title = "Customer Details";
}

<p>&nbsp;</p>

<div class="row">
        @Html.Partial("_AdminNav")
</div>


    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
            <h3>Customer: @Html.DisplayFor(model => model.Customer.FirstName)&nbsp;@Html.DisplayFor(model => model.Customer.LastName); ID= @Html.DisplayFor(model => model.Customer.CustomerID)</h3>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        @{
                            string url = "~/Admin/manageusers.aspx?PageAction=Order&CustomerID=" + Model.Customer.CustomerID.ToString();
                            <span><a href=@Url.Content(url) class="btn btn-success btn-sm">New Order</a></span>

                            url = "~/Admin/manageusers.aspx?PageAction=OrderSub&CustomerID=" + Model.Customer.CustomerID.ToString();
                            <span><a href=@Url.Content(url) class="btn btn-success btn-sm">New Subscription</a></span>

                            @Html.ActionLink("New CER", "Create", "mvcCER", new { customerID = Model.Customer.CustomerID }, new { @class = "btn btn-success btn-sm", @target = "_blank" })
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

@if (ViewBag.deadBeat)
{
    <div class="alert alert-danger">
        <strong>Customer Is Past Due: @ViewBag.AmountDue</strong>
        <p>Go To Subscription Section to Pay Invoice Now!</p>
    </div>
}

    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#tabAddresses">Addresses</a></li>
        <li><a data-toggle="tab" href="#tabSubscriptions">Subscriptions</a></li>
        <li><a data-toggle="tab" href="#tabCards">Subscriptions: Credit Cards </a></li>
        <li><a data-toggle="tab" href="#tabDeferredSubs">Subscriptions: Deferred</a></li>
        <li><a data-toggle="tab" href="#tabOrderHistory">Order History</a></li>
        <li><a data-toggle="tab" href="#tabCERs">Related CERs</a></li>
        @if ((FM2015.Models.User.IsAuthenticated()) && (FM2015.Models.User.HasRole("admin")))
        {
            <li><a data-toggle="tab" href="#tabRoles">Roles</a></li>
        }
    </ul>

    <div class="tab-content">

        <div class="tab-pane active" id="tabAddresses">
            <div id="divDetails" class="row">
                <p>&nbsp;</p>
                <p>
                    @Html.ActionLink("Update Custmomer Details", "Edit", new { id = Model.Customer.CustomerID }, new { @class = "btn btn-primary" })
                    @if ((FM2015.Models.User.IsAuthenticated()) && (FM2015.Models.User.HasRole("admin")))
                    {
                        @Html.ActionLink("Admin: (manual) new order", "CreateOrder", new { id = Model.Customer.CustomerID }, new { @class = "btn btn-primary" })
                    }
                </p>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div id="pnlDetails" class="panel panel-info">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <h3>Customer Details: Name, Email, Phone</h3>
                            </div>
                        </div>
                        <div class="panel-body">
                            <dl class="dl-horizontal">
                                <dt>
                                    <span>Name</span>
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Customer.FirstName)&nbsp;@Html.DisplayFor(model => model.Customer.LastName)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.Customer.Email)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Customer.Email)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Customer.Password)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Customer.Password)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Customer.Phone)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Customer.Phone)
                                </dd>

                                <dt>
                                    <span>Accepts Marketing?</span>
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Customer.FaceMasterNewsletter)
                                </dd>
                            </dl>

                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>
                                            <span>Created</span>
                                        </th>
                                        <th>
                                            <span>Updated</span>
                                        </th>
                                        <th>
                                            <span>Last Sign-in</span>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>@Html.DisplayFor(model => model.Customer.CreateDate)</td>
                                        <td>@Html.DisplayFor(model => model.Customer.LastUpdateDate)</td>
                                        <td>@Html.DisplayFor(model => model.Customer.LastLoginDate)</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div> <!--panel body-->
                    </div> <!--panel-->
                </div> <!--column-->

                <div id="divBillAdr">
                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                        <div id="pnlBillAdr" class="panel panel-info">
                            <div class="panel-heading">
                                <div class="panel-title">
                                    <h3>Customer Details: Billing Address</h3>
                                </div>
                            </div>
                            <div class="panel-body">
                                <p>
                                    @Html.DisplayFor(model => model.Customer.FirstName)&nbsp;@Html.DisplayFor(model => model.Customer.LastName)<br />
                                    @Html.DisplayFor(model => model.BillAddress.Street)<br />
                                    @if ((!string.IsNullOrEmpty(Model.BillAddress.Street2)) && (Model.BillAddress.Street2 != " "))
                                    {
                                        @Html.DisplayFor(model => model.BillAddress.Street2)<br />
                                    }
                                    @Html.DisplayFor(model => model.BillAddress.City), @Html.DisplayFor(model => model.BillAddress.State) @Html.DisplayFor(model => model.BillAddress.Zip)<br />
                                    @{
                                        string country = DBUtil.GetCountry(Model.BillAddress.Country);
                                        <span>@Html.Raw(country)</span><br />
                                    }
                                </p>
                            </div><!--end Panel body-->
                        </div><!--Panel-->
                    </div><!--Column-->
                </div>

                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                    <div id="pnlShipAdr" class="panel panel-info">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <h3>Customer Details: Shipping Address</h3>
                            </div>
                        </div>
                        <div class="panel-body">
                            <p>
                                @Html.DisplayFor(model => model.Customer.FirstName)&nbsp;@Html.DisplayFor(model => model.Customer.LastName)<br />
                                @Html.DisplayFor(model => model.ShipAddress.Street)<br />
                                @if ((!string.IsNullOrEmpty(Model.ShipAddress.Street2)) && (Model.ShipAddress.Street2 != " "))
                                {
                                    @Html.DisplayFor(model => model.ShipAddress.Street2)<br />
                                }
                                @Html.DisplayFor(model => model.ShipAddress.City), @Html.DisplayFor(model => model.ShipAddress.State) @Html.DisplayFor(model => model.ShipAddress.Zip)<br />
                                @{
                                    country = DBUtil.GetCountry(Model.ShipAddress.Country);
                                    <span>@Html.Raw(country)</span><br />
                                }
                            </p>
                        </div><!--end Panel body-->
                    </div><!--Panel-->
                </div><!--Column-->
            </div><!--end Row-->
        </div><!--tab-->

        <div class="tab-pane" id="tabSubscriptions">
            <div id="divSubscriptions" class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div id="pnlSubscriptions" class="panel panel-info">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <h3>
                                Customer Subscriptions: StripeID = 
                                    @if (!string.IsNullOrEmpty(Model.payWhirlCustomer.Stripe_id))
                                    {
                                        if ((FM2015.Models.User.IsAuthenticated()) && (FM2015.Models.User.HasRole("admin")))
                                        {
                                            @Html.ActionLink(Model.payWhirlCustomer.Stripe_id, "CustomerDetails", "Stripe", new { id = Model.payWhirlCustomer.Stripe_id }, new { @target = "_blank" } )
                                        }
                                        else
                                        {
                                            <span>@Model.payWhirlCustomer.Stripe_id</span>
                                        }
                                    }
                                    else
                                    {
                                        <span>N/A</span>
                                    }

                                </h3>
                            </div>
                        </div>
                        <div class="panel-body">
                            @if ((Model.CustomerSubscriptionList == null) || (Model.CustomerSubscriptionList.Count == 0))
                            {
                                <span>No Subscription/Club or Multi-Pay Programs associated with this customer</span>
                            }
                            else
                            {
                                <table class="table table-responsive table-striped">
                                    <thead>
                                        <tr>
                                            <th>Stripe Sub Id</th>
                                            <th>OrderId</th>
                                            <th>Start</th>
                                            <th>Plan</th>
                                            <th>Promo Code</th>
                                            <th>Status</th>
                                            <td></td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.CustomerSubscriptionList)
                                        {
                                            <tr>
                                                <td>@Html.DisplayFor(i => item.StripeSubID)</td>
                                                <td>@Html.DisplayFor(i => item.OrderID)</td>
                                                <td>@Html.DisplayFor(i => item.StripeSubDate)</td>
                                                <td>@Html.DisplayFor(i => item.StripePlanID)</td>
                                                <td>@Html.DisplayFor(i => item.StripePromoCode)</td>
                                                <td>@Html.DisplayFor(i => item.StripeStatus)</td>
                                                <td>
                                                    @if (item.StripeStatus == "canceled")
                                                    {
                                                        <p>&nbsp;</p>
                                                    }
                                                    else
                                                    {
                                                        <p>@Html.ActionLink("Pay Invoice / Update Card", "CustomerPayment", "Subscriptions", new { id = Model.Customer.CustomerID, stripeCustomerID = item.StripeCusID, stripeSubscriptionID = item.StripeSubID }, new { @class = "btn btn-primary" }) </p>

                                                        if (!item.StripePlanID.Contains("pay"))
                                                        {
                                                            <p>
                                                                @Html.ActionLink("Change Plan", "ChangePlan", "Subscriptions", new { id = Model.Customer.CustomerID, stripeCustomerID = item.StripeCusID, stripeSubscriptionID = item.StripeSubID }, new { @class = "btn btn-warning" })
                                                            </p>
                                                        }
                                                        <p>@Html.ActionLink("Delete Plan", "UnSubscribe", new { id = Model.Customer.CustomerID, stripeCustomerID = item.StripeCusID, stripeSubscriptionID = item.StripeSubID }, new { @class = "btn btn-danger", OnClick = "javascript:return confirm('A Subscription Plan is about to be DELETED. Proceed?')" }) </p>
                                                    }
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            }

                        </div><!--end Panel body-->
                    </div><!--Panel-->
                </div><!--Column-->
            </div><!--end Row-->
        </div><!--tab-->

        <div class="tab-pane" id="tabDeferredSubs">
            <div id="divDelayedSubscriptions" class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div id="pnlDelayedSubscriptions" class="panel panel-info">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <h3>Customer Subscriptions:Deferred</h3>
                            </div>
                        </div>
                        <div class="panel-body">
                            @if (Model.stripeCustomerDelayedSubscriptionList.Count() == 0)
                            {
                                <span>No deferred subscriptions accociated with this customer</span>
                            }
                            else
                            {
                                <table class="table table-responsive table-striped">
                                    <thead>
                                        <tr>
                                            <th><strong>Old Plan</strong></th>
                                            <th><strong>New Plan</strong></th>
                                            <th><strong>Start Date</strong></th>
                                            <th><strong>Promo Code</strong></th>
                                            <th><strong>Added By</strong></th>
                                            <th><strong>Added Date</strong></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model.stripeCustomerDelayedSubscriptionList == null)
                                        {
                                            Html.Raw("No Delayed Subscriptions Available");
                                        }
                                        else
                                        {
                                            foreach (var item in Model.stripeCustomerDelayedSubscriptionList)
                                            {
                                                <tr>
                                                    <td>@Html.DisplayFor(i => item.OldStripePlanID)</td>
                                                    <td>@Html.DisplayFor(i => item.NewStripePlanID)</td>
                                                    <td>@Html.DisplayFor(i => item.StartDate)</td>
                                                    <td>
                                                        @if (item.PromoCode == null)
                                                        {
                                                            <span>n/a</span>
                                                        }
                                                        else
                                                        {
                                                            @Html.DisplayFor(modelItem => item.PromoCode)
                                                        }
                                                    </td>
                                                    <td>@Html.DisplayFor(i => item.AddedBy)</td>
                                                    <td>@Html.DisplayFor(i => item.AddedDate)</td>
                                                    <td>
                                                        <p>@Html.ActionLink("Activate Now!", "ActivateDeferred", "Subscriptions", new { id = item.ID, isTest = false }, new { @class = "btn btn-primary" })</p>
                                                        <p>@Html.ActionLink("Delete", "DeleteDeferred", "Subscriptions", new { id = item.ID, isTest = false }, new { @class = "btn btn-danger", OnClick = "javascript:return confirm('A Subscription Plan is about to be DELETED. Proceed?')" })</p>
                                                    </td>
                                                </tr>
                                            }
                                        }

                                    </tbody>
                                </table>
                            }
                        </div><!--end Panel body-->
                    </div><!--Panel-->
                </div><!--Column-->
            </div><!--end Row-->
        </div><!--tab-->

        <div class="tab-pane" id="tabOrderHistory">
            <div id="divOrders" class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div id="pnlOrders" class="panel panel-info">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <h3>Customer Order History</h3>
                            </div>
                        </div>
                        <div class="panel-body">
                            @if (Model.OrderList.Count() == 0)
                            {
                                <span>Customer has no order history</span>
                            }
                            else
                            {
                                <table class="table table-responsive table-striped">
                                    <thead>
                                        <tr>
                                            <td><strong>ID</strong></td>
                                            <td><strong>Patner ID</strong></td>
                                            <td><strong>Date</strong></td>
                                            <td><strong>CS?</strong></td>
                                            <td><strong>Total</strong></td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model.OrderList == null)
                                        {
                                            Html.Raw("No Orders Available");
                                        }
                                        else
                                        {
                                            foreach (var item in Model.OrderList)
                                            {
                                                <tr>
                                                    <td>@Html.ActionLink(item.OrderID.ToString(), "Details", "Orders", new { id = item.OrderID }, null)</td>
                                                    <td>@Html.ActionLink(item.SSOrderID.ToString(), "Details", "Orders", new { id = item.OrderID }, null)</td>
                                                    <td>@Html.DisplayFor(i => item.OrderDate)</td>
                                                    <td>@Html.DisplayFor(i => item.ByPhone)</td>
                                                    <td>@Html.DisplayFor(i => item.Total)</td>
                                                </tr>
                                            }
                                        }

                                    </tbody>
                                </table>
                            }
                        </div><!--end Panel body-->
                    </div><!--Panel-->
                </div><!--Column-->
            </div><!--end Row-->
        </div><!--tab-->

        <div class="tab-pane" id="tabCERs">
            <div id="divCERs" class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div id="pnlCERS" class="panel panel-info">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <h3>Related CERs</h3>
                            </div>
                        </div>
                        <div class="panel-body">
                            @if (Model.cerList.Count() == 0)
                            {
                                <span>No related CERs associated with this order</span>
                            }
                            else
                            {
                                <table class="table table-responsive table-striped">
                                    <thead>
                                        <tr>
                                            <th><strong>CER#</strong></th>
                                            <th><strong>Date</strong></th>
                                            <th><strong>Type</strong></th>
                                            <th><strong>Description</strong></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (adminCER.CER cer in Model.cerList)
                                        {
                                            <tr>
                                                <td>@Html.ActionLink(cer.CERNumber, "Details", "mvcCER", new { CERNumber = cer.CERNumber }, null)</td>
                                                <td>@Html.DisplayFor(i => cer.DateReportReceived)</td>
                                                <td>@Html.DisplayFor(i => cer.CERType)</td>
                                                <td>@Html.DisplayFor(i => cer.EventDescription)</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            }

                        </div><!--end Panel body-->
                    </div><!--Panel-->
                </div><!--Column-->
            </div><!--end Row-->
        </div><!--end tab-->

        <div class="tab-pane" id="tabRoles">
            <div id="divRoles" class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div id="pnlRoles" class="panel panel-info">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <h3>Roles</h3>
                            </div>
                        </div>
                        <div class="panel-body">
                            @if (Model.roleList.Count() == 0)
                            {
                                <span>No related Roles associated with this Customer</span>
                            }
                            else
                            {
                                <table class="table table-responsive table-striped">
                                    <thead>
                                        <tr>
                                            <th><strong>Role</strong></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (string role in Model.roleList)
                                        {
                                            <tr>
                                                <td><span>@Html.Raw(role)</span></td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            }
                        </div><!--end Panel body-->
                    </div><!--Panel-->
                </div><!--Column-->
            </div><!--end Row-->
        </div><!--end tab-->

        <div class="tab-pane" id="tabCards">
            <div id="divCards" class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div id="pnlCards" class="panel panel-info">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <h3>Subscriptions: Credit Card List</h3>
                            </div>
                        </div>
                        <div class="panel-body">
                            @if (Model.stripeCustomerCardList == null)
                            {
                                <span>No Credit Cards associated with this Customer</span>
                            }
                            else
                            {
                                <table class="table table-responsive table-striped">
                                    <thead>
                                        <tr>
                                            <th><strong>Name</strong></th>
                                            <th><strong>Type</strong></th>
                                            <th><strong>Card#</strong></th>
                                            <th><strong>Expires</strong></th>
                                            <th><strong>Country</strong></th>
                                            <th><strong>Passes CVC?</strong></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (Stripe.StripeCard card in Model.stripeCustomerCardList)
                                        {
                                            <tr>
                                                <td>@Html.DisplayFor(i => card.Name)</td>
                                                <td>@Html.DisplayFor(i => card.Brand)</td>
                                                <td><span>****&nbsp;****&nbsp;****&nbsp;</span>@Html.DisplayFor(i => card.Last4)</td>
                                                <td>@Html.DisplayFor(i => card.ExpirationMonth)/@Html.DisplayFor(i => card.ExpirationYear)</td>
                                                <td>@Html.DisplayFor(i => card.Country)</td>
                                                <td>@Html.DisplayFor(i => card.CvcCheck)</td>
                                                <td>
                                                    <p>@Html.ActionLink("Add Card", "AddCard", new { stripeCustomerID = card.CustomerId, customerID = Model.Customer.CustomerID }, new { @class = "btn btn-primary" })</p>
                                                    <!--
                                                    <p>@Html.ActionLink("Delete Card", "DeleteCard", new { id = card.Id, stripeCustomerID = card.CustomerId, customerID = Model.Customer.CustomerID }, new { @class = "btn btn-danger", OnClick = "javascript:return confirm('A Credit Card is about to be DELETED. Proceed?')" }) </p>
                                                    -->
                                                </td>
                                            </tr>
                                        }
                                    </tbody>

                                </table>
                            }
                        </div><!--end Panel body-->
                    </div><!--Panel-->
                </div><!--Column-->
            </div><!--end Row-->
        </div><!--end tab-->

    </div> <!--tab content-->

