﻿@model FM2015.ViewModels.CustomerViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit Customer Details</h2>

@Html.Partial("_AdminNav")

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.Partial("_RegisterPartial")
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/_regHelper.js")
}