﻿@model IEnumerable<FM2015.ViewModels.CustomerViewModel>

@{
    ViewBag.Title = "AdminCER: Find Customers";
}

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                <h3>AdminCER: Find Customers</h3> @Html.Partial("_AdminNav")
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                @using (Html.BeginForm("index", "Customers", FormMethod.Get))
                {
                    <div class="row">
                        <div class="col-xs-4 col-sm-10 col-md-10 col-lg-8">
                            <div id="imaginary_container">
                                <div class="input-group stylish-input-group">
                                    <input id="paramCustomer" name="paramCustomer" type="text" class="form-control" placeholder="...customer search">
                                    <span class="input-group-addon">
                                        <button type="submit">
                                            <span class="glyphicon glyphicon-search"></span>
                                        </button>
                                    </span>
                                    <button type="button" data-toggle="modal" data-target="#myCustomerModal">
                                        <span class="glyphicon glyphicon-info-sign"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div> <!--end col-->
            <div class="col-xs-6 col-sm-6 col-md-4 col-md-offset-2 col-lg-4 col-lg-offset-2 ">
                <div class="well well-sm">
                    @Html.ActionLink("Create New Customer", "Create", "Customers", null, new { @class = "btn btn-success" })
                    @if ((FM2015.Models.User.IsAuthenticated()) && (FM2015.Models.User.HasRole("admin")))
                    {
                        @Html.ActionLink("Use PayWhirl", "CreateFromPayWhirl", "Customers", null, null)
                    }
                </div>
            </div>
        </div> <!--end row-->
    </div> <!--end col-->
</div> <!--end row-->

<table class="table table-responsive">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Customer.CustomerID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BillAddress.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BillAddress.State)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BillAddress.Country)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer.Email)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Customer.CustomerID.ToString(), "Details", new { id = item.CustomerViewModelKey }, null)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BillAddress.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BillAddress.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BillAddress.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.Email)
            </td>
        </tr>
    }

</table>

<!-- Customer Modal -->
<div class="modal fade" id="myCustomerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Search Tips</h4>
            </div>
            <div class="modal-body">
                @Html.Raw(AdminCart.Config.CustomerSearchTip)
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">close</button>
                <!--
                <button type="button" class="btn btn-primary">Save changes</button>
                -->
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script src="@Url.Content("~/Scripts/jquery/jquery-1.8.3.min.js")" type="text/javascript"></script>

<script type="text/javascript">
        $(function () { //Document ready shorthand
            orig_val = '';
            customer_val = $('#paramCustomer').val(); //Get the original value to test against. We use .val() to grab value="Search"
            $('input:text').focus(function () { //When the user tabs/clicks the search box.
                orig_val = $(this).val();
                switch ($(this).val()) {
                    case customer_val:
                        $(this).val('');
                        break;

                }
            })
            .blur(function () {//When the user tabs/clicks out of the input
                if ($(this).val() === '') {//If the value is blank (such as the user clicking in it and clicking out)...
                    $(this).val(orig_val); //... set back to the original value
                }
            });
        });

</script>
