﻿@model FMWebApp.ViewModels.Stripe.StripeCustomerViewModel

@{
    ViewBag.Title = "Customer UnSubscribe";
}

<h2>Customer UnSubscribe</h2>

@Html.Partial("_AdminNav")

<h3>Customer: @Model.customer.FirstName&nbsp;@Model.customer.LastName</h3>
<h4>@ViewBag.ErrMsg</h4>
<p>&nbsp;</p>
<div id="divSubscriptions" class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div id="pnlSubscriptions" class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">
                    <h3>Delete Customer Subscription</h3>
                </div>
            </div>
            <div class="panel-body">
            @if (Model.stripeCustomerSubscriptionList.Count() == 0)
            {
                <span>No Subscription/Club or Multi-Pay Programs associated with this customer</span>
            }
            else
            {
                <table class="table table-responsive table-striped">
                    <thead>
                        <tr>
                            <th><strong>Stripe ID</strong></th>
                            <th><strong>Start</strong></th>
                            <th><strong>plan</strong></th>
                            <th><strong>QTY</strong></th>
                            <th><strong>Promo Code</strong></th>
                            <th><strong>PeriodEnd</strong></th>
                            <th><strong>Status</strong></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.stripeCustomerSubscriptionList == null)
                        {
                            <tr>
                                <td>
                                    <span>No Subscription/Club or Multi-Pay Programs associated with this customer</span>
                                </td>
                            </tr>
                        }
                        else
                        {
                            <tr>
                                <td>@Html.DisplayFor(i => Model.currStripeSubscription.Id)</td>
                                <td>@Html.DisplayFor(i => Model.currStripeSubscription.Start)</td>
                                <td>@Html.DisplayFor(i => Model.currStripeSubscription.StripePlan.Product.Name)</td>
                                <td>@Html.DisplayFor(i => Model.currStripeSubscription.Quantity)</td>
                                <td>
                                    @if (Model.currStripeSubscription.StripeDiscount == null)
                                    {
                                        <span>n/a</span>
                                    }
                                    else
                                    {
                                        @Html.DisplayFor(i => Model.currStripeSubscription.StripeDiscount.StripeCoupon.Id)
                                    }
                                </td>
                                <td>
                                    @if (Model.currStripeSubscription.CurrentPeriodEnd == null)
                                    {
                                        <span>n/a</span>
                                    }
                                    else
                                    {
                                        @Html.DisplayFor(i => Model.currStripeSubscription.CurrentPeriodEnd)
                                    }
                                </td>
                                <td>@Html.DisplayFor(i => Model.currStripeSubscription.Status)</td>

                                <td>
                                    <p>@Html.ActionLink("Delete Plan", "UnSubscribe", new { id = Model.customerId, stripeCustomerID = Model.stripeCustomerId, stripesubscriptionID = Model.currStripeSubscriptionId }, new { @class = "btn btn-danger", OnClick = "javascript:return confirm('A Subscription Plan is about to be DELETED. Proceed?')" }) </p>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            }
            </div><!--end Panel body-->
        </div><!--Panel-->
    </div><!--Column-->
</div><!--end Row-->
<p>&nbsp;</p>
@Html.ActionLink("Return to Customer View", "Details", new { id = Model.customerId }, new { @class = "btn btn-success" })
