<%@ Control Language="C#" AutoEventWireup="true" Inherits="MB.TheBeerHouse.UI.Controls.AvailabilityDisplay" Codebehind="AvailabilityDisplay.ascx.cs" %>
<asp:Image runat="server" ID="imgAvailability" />