<%@ Control Language="c#" AutoEventWireup="false" Src="BottomLinks.ascx.cs" Inherits="FaceMaster.BottomLinks" TargetSchema="http://schemas.microsoft.com/intellisense/ie5"%>
<asp:Literal id="Literal1" runat="server"></asp:Literal>
