<%@ Control Language="c#" AutoEventWireup="false" Src="CartTop.ascx.cs" Inherits="FaceMaster.CartTop" TargetSchema="http://schemas.microsoft.com/intellisense/ie5"%>
<asp:Literal ID="CartTopLit" Runat="server" />
