<%@ Control Language="C#" AutoEventWireup="true" Inherits="Controls_Header" Codebehind="Header.ascx.cs" %>

            <table id="Table2" class="header" border="0" cellpadding="0" cellspacing="0">
	        <tr>
		        <td>
                    <asp:HyperLink ID="HeaderPic1" runat="server" ImageUrl="../Images/SliceStuff/HeaderPic.jpg" NavigateUrl="../default.aspx">FaceMaster.com Home - Suzanne Somers #1 skin care beauty secret for an ageless, more youthful look</asp:HyperLink>
                </td>
		        <td>
                    <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                    <td class="headermenulink" colspan="2">
                        <br /><br />
                        &nbsp &nbsp
                        <asp:HyperLink ID="lnkDefault" runat="server" Text="My Account" NavigateUrl="../MyAccountHome.aspx" >My Account</asp:HyperLink>
                        &nbsp
                        <asp:HyperLink ID="lnkViewCart" runat="server" Text="View Cart" NavigateUrl="../ViewCart.aspx" >View Cart</asp:HyperLink>
                        &nbsp
                        <asp:HyperLink ID="lnkContactUs" runat="server" Text="Contact Us" NavigateUrl="../ContactUs.aspx" >Contact Us</asp:HyperLink>
                        &nbsp
                        <asp:HyperLink ID="lnkLogin" runat="server" Text="Sign In" NavigateUrl="../Login.aspx" ></asp:HyperLink>
                        &nbsp
                     </td>
                     </tr>
                     <tr>
                        <td align="right" width="297px">
                            <asp:TextBox ID="SearchBox1" text="Search..." runat="server"></asp:TextBox>
                        </td>
                        <td align="left" width="54px">
                            <asp:ImageButton ID="SearchButton1" ImageUrl="../images/Search4.jpg" AlternateText="Search" runat="server" OnClick="SearchButton1_Click" />
                        </td>                                    
                    </tr>
                    <tr>
                        <td>
                        <asp:HyperLink ID="lnkAdmin" runat="server" Text="Admin" NavigateUrl="../Admin/default.aspx" ></asp:HyperLink>
                        </td>
                    </tr>
                    </table>			    
                </td>
	        </tr>
	        <tr>
		        <td colspan="2" align="center">
                    <asp:ImageMap ID="ImageMap4" ImageUrl="../images/SliceStuff/TopNavBar(8).jpg" HotSpotMode=Navigate  runat="server" AlternateText="">
                    <asp:RectangleHotSpot Top="0" Bottom="25" Left="175" Right="240" AlternateText="Buy Now!" NavigateURL="../products.aspx" />
                    <asp:RectangleHotSpot Top="0" Bottom="25" Left="270" Right="400" AlternateText="User Reviews" NavigateURL="../UserReviews.aspx" />
                    <asp:RectangleHotSpot Top="0" Bottom="25" Left="435" Right="600" AlternateText="Why FaceMaster?" NavigateURL="../WhyFM.aspx" />
                    <asp:RectangleHotSpot Top="0" Bottom="25" Left="640" Right="825" AlternateText="Inside FaceMaster" NavigateURL="../InsideFM.aspx" />
                    <asp:RectangleHotSpot Top="0" Bottom="25" Left="850" Right="900" AlternateText="Home" NavigateURL="../default.aspx" />
                    </asp:ImageMap>
		            <!--
                    &nbsp &nbsp &nbsp &nbsp
                    &nbsp &nbsp &nbsp &nbsp
                    &nbsp &nbsp &nbsp &nbsp
                    <asp:HyperLink ID="HyperLink2" runat="server"  Text="buy now" NavigateUrl="../Products.aspx" font-bold=true />
                    &nbsp &nbsp &nbsp &nbsp
                    <asp:HyperLink ID="HyperLink3" runat="server" Text="user reviews" NavigateUrl="../Testimonials.aspx" />
                    &nbsp &nbsp &nbsp &nbsp
                    <asp:HyperLink ID="HyperLink4" runat="server" Text="why facemaster?" NavigateUrl="../Benefits.aspx" />
                    &nbsp &nbsp &nbsp &nbsp
                    <asp:HyperLink ID="HyperLink5" runat="server" Text="inside facemaster" NavigateUrl="../Benefits.aspx" />
                    &nbsp &nbsp &nbsp &nbsp
                    <asp:HyperLink ID="HyperLink6" runat="server" Text="home" NavigateUrl="../default.aspx" />
                    &nbsp &nbsp &nbsp &nbsp
			        -->
               </td>
	        </tr>
            <!--
            <tr style="height:75px; font-size:24px">
		        <td colspan="2" align="center">
                    SITE-WIDE SPECIAL SALE!<br />SAVE 15% ON ALL ORDERS TODAY!
                </td>
            </tr>
            -->
            </table>

 