<%@ Control Language="C#" AutoEventWireup="true" Inherits="Controls_MstrMenu1" Codebehind="MstrMenu1.ascx.cs" %>

<table cellpadding="0" cellspacing="0">
<tr>
    <td class="contentmenulinkupper" >
        &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
        &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
        &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
        <asp:HyperLink ID="lnkShopNow" runat="server" Text="Buy Now" NavigateUrl="../Products.aspx" />
        &nbsp &nbsp &nbsp &nbsp
        <asp:HyperLink ID="lnkTestimonials" runat="server" Text="User Reviews" NavigateUrl="../Testimonials.aspx" />
        &nbsp &nbsp &nbsp &nbsp
        <asp:HyperLink ID="lnkBenefits" runat="server" Text="Why FaceMaster?" NavigateUrl="../Benefits.aspx" />
        &nbsp &nbsp &nbsp &nbsp
        <asp:HyperLink ID="HyperLink1" runat="server" Text="Inside FaceMaster" NavigateUrl="../Benefits.aspx" />
        &nbsp &nbsp &nbsp &nbsp
        <asp:HyperLink ID="lnkHome" runat="server" Text="Home" NavigateUrl="../Default.aspx" />
    </td>
</tr>
</table>


