<%@ Control Language="C#" AutoEventWireup="true" Inherits="Controls_MstrMenu2" Codebehind="MstrMenu2.ascx.cs" %>

<table>
<tr>
<td class="headermenulink">
    &nbsp &nbsp
    <asp:HyperLink ID="HyperLink1" runat="server" Text="Home" NavigateUrl="../default.aspx" />
    &nbsp
    <asp:HyperLink ID="lnkViewCart" runat="server" Text="view cart" NavigateUrl="../ViewCart.aspx" />
    &nbsp
    <asp:HyperLink ID="lnkContactUs" runat="server" Text="contact us" NavigateUrl="../ContactUs.aspx" />
    &nbsp
    <asp:HyperLink ID="lnkLogin" runat="server" Text="sign in" NavigateUrl="../Login.aspx" />
</td>
</tr>
</table>