<%@ Control Language="C#" AutoEventWireup="true" Inherits="MstrLeftCol" Codebehind="MstrLeftCol.ascx.cs" %>


<!--           
<table>
<tr><td colspan="2" class="beforeafter">
With A Single Treatment...
<asp:Image ID="Image1" runat="server" ImageUrl="../Images/Before_After_4.jpg" Width="255px" BorderStyle= Solid BorderWidth="5px" BorderColor="Black"/>
</td>
</tr>
<tr>
<td class="beforeafter">before</td>
<td class="beforeafter">after</td>
</tr>

<tr>
<td colspan="2" class="plistcol">
Join Over 250,000 FaceMaster Customers With Smoother And Firmer Faces!
</td>
</tr>
-->

<table>

<tr>
<td class="plistcol2">
<br />
<strong>FaceMaster Benefits</strong>
<br />
</td>
</tr>

<tr>
<td colspan="2">
<br />
<ul class ="plistcol">
<li>smoothes forehead</li>
<li>improves browline</li>
<li>diminishes crow's feet</li>
<li>tones cheek muscles</li>
<li>enhances natural smile</li>
<li>plumps lips</li>
<li>tightens chin area</li>
<li>tones jaw muscles</li>
</ul>
</td>
</tr>
<tr>
<td>
                            <br />
                            <strong>WATCH SUZANNE GIVE EXPERT ADVICE: EYES</strong>
                            <br /><br />

                            <div id=Flash_Container4>
                            <object 
                                codeBase="fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,0,0" 
                                width="304" 
                                height="240" 
                                classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000">
                                <PARAM NAME="allowFullScreen" VALUE="false">
                                <PARAM NAME="Movie" VALUE="../videos/AnyFLV/onlyphoto.swf?xml_path=videos/AnyFLV/P_Eyes_Home.xml">
                                <PARAM NAME="AllowScriptAccess" VALUE="always">
                                <embed src="../videos/AnyFLV/onlyphoto.swf?xml_path=videos/AnyFLV/P_Eyes_Home.xml" 
                                    width="304" 
                                    height="240"
                                    pluginspage="http://www.macromedia.com/go/getflashplayer"  >
                                </embed>
                            </object>
                            </div>
 
                            <br />
                            For more expert advice from Suzanne click
                           <asp:HyperLink ID="HyperLink15" runat="server" NavigateUrl="../VideoTips.aspx">Here!</asp:HyperLink>
                            <br /><br />

</td>
</tr>
</table>