<%@ Control Language="c#" AutoEventWireup="false" Src="SearchBar.ascx.cs" Inherits="FaceMasterWebForm.ctlSearchBar" %>

<table>
<tr>
<td Width="134" Height="23" >
<asp:TextBox ID="SearchBox" text="Search..." runat="server"></asp:TextBox>
</td>
</tr>
</table>


