<%@ Control Language="C#" AutoEventWireup="true" Inherits="StatePicker" Codebehind="StatePicker.ascx.cs" %>
<asp:dropdownlist id="dropDownList" runat="server" onselectedindexchanged="dropDownList_SelectedIndexChanged" cssclass="TextBoxBlue">
	<asp:listitem value=""></asp:listitem>
	<asp:listitem value="AB">AB</asp:listitem>
	<asp:listitem value="AK">AK</asp:listitem>
	<asp:listitem value="AL">AL</asp:listitem>
	<asp:listitem value="AR">AR</asp:listitem>
	<asp:listitem value="AZ">AZ</asp:listitem>
	<asp:listitem value="BC">BC</asp:listitem>
	<asp:listitem value="CA">CA</asp:listitem>
	<asp:listitem value="CO">CO</asp:listitem>
	<asp:listitem value="CT">CT</asp:listitem>
	<asp:listitem value="DC">DC</asp:listitem>
	<asp:listitem value="DE">DE</asp:listitem>
	<asp:listitem value="FL">FL</asp:listitem>
	<asp:listitem value="GA">GA</asp:listitem>
	<asp:listitem value="HI">HI</asp:listitem>
	<asp:listitem value="IA">IA</asp:listitem>
	<asp:listitem value="ID">ID</asp:listitem>
	<asp:listitem value="IL">IL</asp:listitem>
	<asp:listitem value="IN">IN</asp:listitem>
	<asp:listitem value="KA">KA</asp:listitem>
	<asp:listitem value="KS">KS</asp:listitem>
	<asp:listitem value="KY">KY</asp:listitem>
	<asp:listitem value="LA">LA</asp:listitem>
	<asp:listitem value="MA">MA</asp:listitem>
	<asp:listitem value="MB">MB</asp:listitem>
	<asp:listitem value="MD">MD</asp:listitem>
	<asp:listitem value="ME">ME</asp:listitem>
	<asp:listitem value="MI">MI</asp:listitem>
	<asp:listitem value="MN">MN</asp:listitem>
	<asp:listitem value="MO">MO</asp:listitem>
	<asp:listitem value="MS">MS</asp:listitem>
	<asp:listitem value="MT">MT</asp:listitem>
	<asp:listitem value="NB">NB</asp:listitem>
	<asp:listitem value="NC">NC</asp:listitem>
	<asp:listitem value="ND">ND</asp:listitem>
	<asp:listitem value="NE">NE</asp:listitem>
	<asp:listitem value="NF">NF</asp:listitem>
	<asp:listitem value="NH">NH</asp:listitem>
	<asp:listitem value="NJ">NJ</asp:listitem>
	<asp:listitem value="NL">NL</asp:listitem>
	<asp:listitem value="NM">NM</asp:listitem>
	<asp:listitem value="NS">NS</asp:listitem>
	<asp:listitem value="NT">NT</asp:listitem>
	<asp:listitem value="NU">NU</asp:listitem>
	<asp:listitem value="NV">NV</asp:listitem>
	<asp:listitem value="NY">NY</asp:listitem>
	<asp:listitem value="OH">OH</asp:listitem>
	<asp:listitem value="OK">OK</asp:listitem>
	<asp:listitem value="ON">ON</asp:listitem>
	<asp:listitem value="OR">OR</asp:listitem>
	<asp:listitem value="PA">PA</asp:listitem>
	<asp:listitem value="PE">PE</asp:listitem>
	<asp:listitem value="PR">PR</asp:listitem>
	<asp:listitem value="QC">QC</asp:listitem>
	<asp:listitem value="RI">RI</asp:listitem>
	<asp:listitem value="SC">SC</asp:listitem>
	<asp:listitem value="SD">SD</asp:listitem>
	<asp:listitem value="SK">SK</asp:listitem>
	<asp:listitem value="TE">TE</asp:listitem>
	<asp:listitem value="TN">TN</asp:listitem>
	<asp:listitem value="TX">TX</asp:listitem>
	<asp:listitem value="UK">UK</asp:listitem>
	<asp:listitem value="UT">UT</asp:listitem>
	<asp:listitem value="VA">VA</asp:listitem>
	<asp:listitem value="VC">VC</asp:listitem>
	<asp:listitem value="VT">VT</asp:listitem>
	<asp:listitem value="WA">WA</asp:listitem>
	<asp:listitem value="WI">WI</asp:listitem>
	<asp:listitem value="WV">WV</asp:listitem>
	<asp:listitem value="WY">WY</asp:listitem>
	<asp:listitem value="YT">YT</asp:listitem>
</asp:dropdownlist>