<%@ Control Language="c#" AutoEventWireup="false" Src="TopLinks.ascx.cs" Inherits="FaceMaster.TopLinks" TargetSchema="http://schemas.microsoft.com/intellisense/ie5"%>
<asp:Literal id="Literal1" runat="server"></asp:Literal>
