﻿@{
    ViewBag.Title = "Home Page";
}


<!-- Carousel
================================================== -->
<div class="row">
    <div class="hidden-xs col-md-12">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <div><img src="/images/SliceStuff/FMgrid(8)_body_03_3.jpg" alt="First slide" style="display: block; width:80%; margin-left: auto; margin-right: auto; margin-top:20px"></div>
                </div>
                <div class="item">
                    <div><img src="/images/SliceStuff/FingerWand-700x.jpg" alt="Second slide" style="display: block; width:80%; margin-left: auto; margin-right: auto; margin-top:20px"></div>
                </div>
                <div class="item">
                    <div><img src="/images/SliceStuff/FingerWand-2-700x.jpg" alt="Third slide" style="display: block; width:80%; margin-left: auto; margin-right: auto; margin-top:20px"></div>
                </div>
            </div>
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div><!-- /.carousel -->
    </div>
</div><!--end of row-->

<div class="row">
    <div class="col-md-12">
        <p>&nbsp;</p>
    </div>
</div>

<div class="row">
    <div class="hidden-xs hidden-sm col-md-4">
        <img src="~/images/SliceStuff/FMgrid(8)_body_02_3.jpg" alt="" />
    </div>
    <div class="col-md-8">
        <div class="row">
            <div class="col-xs-12 col-xm-12 hidden-md hidden-lg">
                <img src="~/images/Products/Platinum.jpg" style="width:100%;" alt="" />
            </div>
            <div class="col-xs-12 col-xm-12 hidden-md hidden-lg">
                <div style="margin:20px; color:#808080; width:100%;">
                    <h2>introducing</h2>
                    <h1><strong>FaceMaster Platinum</strong></h1>
                    <ul style="font-size:120%; line-height:150%">
                        <li>brand new and improved "wave" technology</li>
                        <li>tone and tightens all 22 facial muscles</li>
                        <li>all new Finger Wands enable one-handed results</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="hidden-xs hidden-sm col-md-12">
                <div class="embed-responsive">
                    <embed class="embed-responsive-item" src="/Flash/MiddleSloganBar.swf"
                           width="650" height="72" align="middle" />
                </div><!--embed-responsive closes here-->
            </div><!--col-md-12 closes here-->
        </div><!--row closes here-->
        <div class="row">
            <div class="col-xs-12 col-xm-12 col-md-12">
                <h2 align="center">Typically, you (and everyone that looks at you!) can see a difference in just the first week!</h2>

                <img src="~/images/adwords/beforeafter.jpg" style="width:100%" alt="" />
                <hr />
                <div id="quote">
                    <p>
                        &#8220;I would never recommend going &#8216;under the knife&#8217; for a more youthful appearance&#8230;all
                        surgery carries great risks, and oftentimes looks unnatural. But looking youthful and beautiful is a critical part of
                        your overall health. When you look good, you feel good and you&#8217;re far more likely to take
                        good care of yourself.
                    </p>

                    <p>
                        I recommend the <em><strong><a href="#order">FaceMaster&#8212;it&#8217;s safe, effective,</a></strong></em>
                        and the science behind it stands up to the closest scrutiny. It&#8217;s a trustworthy product that&#8217;s going to
                        deliver results you&#8217;ll see and love.&#8221;
                        <br /><br />
                        Peter G. Hanson, MD
                        <br />Best Selling Author of "The Joy of Stress"
                        &nbsp;
                    </p>

                </div>

            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-sm-12 hidden-md hidden-lg">
        <img src="~/images/SliceStuff/FMgrid(8)_body_02_3.jpg" alt="" />
    </div>
</div>