﻿@model IEnumerable<FM2015.Models.Faq>

@{
    ViewBag.Title = "FaceMaster FAQs";
    Layout = "~/Views/Shared/_LayoutPublic.cshtml";
}

<h2>FaceMaster Frequently Asked Questions</h2>

<div class="row">
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
        @using (Html.BeginForm("Index", "Faq", FormMethod.Get))
        {
            <div class="row">
                <div class="col-xs-8 col-sm-8 col-md-6 col-lg-6">
                    <div id="imaginary_container">
                        <div class="input-group stylish-input-group">
                            <input id="paramFAQ" name="paramFAQ" type="text" class="form-control" placeholder="...FAQ search">
                            <span class="input-group-addon">
                                <button type="submit">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </span>
                            <span class="input-group-btn">
                                <button type="button" data-toggle="modal" data-target="#myFAQModal">
                                    <span class="glyphicon glyphicon-info-sign"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        }
        <p>&nbsp;</p>
    </div> <!--end col-->
</div> <!--end row-->

<div class="col-lg-12">
    <div class="table">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th width="10%">
                        @Html.DisplayNameFor(model => model.Category)
                    </th>
                    <th width="20%">
                        @Html.DisplayNameFor(model => model.Question)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Answer)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.Raw(item.Category)
                        </td>
                        <td>
                            @Html.Raw(item.Question)
                        </td>
                        <td>
                            @Html.Raw(item.Answer)
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
</div>

<!-- FAQ Modal -->
<div class="modal fade" id="myFAQModal" tabindex="-1" role="dialog" aria-labelledby="myFAQLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">FAQ Search Tips</h4>
            </div>
            <div class="modal-body">
                @Html.Raw(AdminCart.Config.FAQSearchTip)
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" modal">close</button>
                <!--
                <button type="button" class="btn btn-primary">Save changes</button>
                -->
            </div>
        </div>
    </div>
</div>
