﻿@model IEnumerable<FMWebApp451.ViewModels.ClubRevenueByOrder>

@{
    ViewBag.Title = "ClubRevenueByOrder";
}

@Html.Partial("_AdminNav")

<h2>Club Revenue Report</h2>

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        @using (Html.BeginForm("ClubRevenueByOrder", "Report", FormMethod.Get))
        {
            <div class="row">
                <div class="col-xs-4 col-sm-4 col-md-10 col-lg-8">
                    <div id="imaginary_container">
                        <div class="input-group stylish-input-group">
                            <input id="paramSearch" name="paramSearch" type="text" class="form-control" placeholder="...date range">
                            <span class="input-group-addon">
                                <button type="submit">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </span>
                            <button type="button" data-toggle="modal" data-target="#myModal">
                                <span class="glyphicon glyphicon-info-sign"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div> <!--end col-->
</div><!--end row-->

<p>&nbsp;</p>

<div id="divSummary" class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div id="pnlSummary" class="panel panel-primary">
            <div class="panel-heading">
                <div class="panel-title">
                    <h3>Club Revenue Summary</h3>
                    <h4>@ViewBag.StartDate - @ViewBag.EndDate</h4>
                </div>
            </div>
            <div class="panel-body">
                <dl class="dl-horizontal">
                    <dt><span>Gross Revenue</span></dt>
                    <dd><span>@ViewBag.GrossRevenue</span></dd>

                    <dt><span>PromoCode Discount</span></dt>
                    <dd><span>@ViewBag.Discount &nbsp; (@ViewBag.Percent)</span></dd>

                    <dt><span>Revenue</span></dt>
                    <dd><span>@ViewBag.Revenue</span></dd>

                </dl>
            </div>
        </div> <!--end panel-->
    </div> <!--end col-->

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div id="pnlStats" class="panel panel-primary">
            <div class="panel-heading">
                <div class="panel-title">
                    <h3>Club Statistics</h3>
                    <h4>@ViewBag.StartDate - @ViewBag.EndDate</h4>
                </div>
            </div>
            <div class="panel-body">
                <dl class="dl-horizontal">
                    <dt><span>Total Club Orders</span></dt>
                    <dd><span>@ViewBag.TotalOrders</span></dd>

                    <dt><span>Average Selling Price</span></dt>
                    <dd><span>@ViewBag.ASP</span></dd>

                    <dt><span>Average Time (mos)</span></dt>
                    <dd><span>@ViewBag.ATime</span></dd>

                    <dt><span>Active</span></dt>
                    <dd><span>@ViewBag.Active (@ViewBag.ActivePercent)</span></dd>

                    <dt><span>Cancelled</span></dt>
                    <dd><span>@ViewBag.Cancelled (@ViewBag.CancelledPercent)</span></dd>

                    <dt><span>Deferred</span></dt>
                    <dd><span>@ViewBag.Deferred (@ViewBag.DeferredPercent)</span></dd>

                    <dt><span>Total Past Due/Unpaid</span></dt>
                    <dd><span>@ViewBag.TotalPastDue (@ViewBag.PastDuePercent)</span></dd>

                </dl>
            </div>
        </div> <!--end panel-->
    </div> <!--end col-->
</div> <!--end row-->

<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#tabUnPaid">Unpaid</a></li>
    <li><a data-toggle="tab" href="#tabPastDue">Past Due</a></li>
    <li><a data-toggle="tab" href="#tabActive">Active</a></li>
    <li><a data-toggle="tab" href="#tabCancelled">Canceled</a></li>
    <li><a data-toggle="tab" href="#tabCompleted">Completed</a></li>
    <li><a data-toggle="tab" href="#tabAll">ALL</a></li>
</ul>

<div class="tab-content">
    <div class="tab-pane active" id="tabUnPaid">
        <table class="table table-responsive table-striped">
            <thead>
                <tr>
                    <th>
                        <span>row#</span>
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OrderId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OrderDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.GrossRevenue)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PromoCodePercent)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PromoCodeDiscount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PromoCode)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Revenue)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Payment)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ttlPaymentCount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PaymentsMade)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Collected)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ToBeCollected)
                    </th>
                    <th>
                        <span>Past Due</span>
                    </th>
                </tr>
            </thead>

            <tbody>
                @{
                    int i = 1;
                    foreach (var item in Model)
                    {
                        if (item.Status == "unpaid")
                        {
                            <tr>
                                <td>
                                    <span>@i.ToString()</span>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Status)
                                </td>
                                <td>
                                    @Html.ActionLink(item.OrderId.ToString(), "Details", "Orders", new { id = item.OrderId }, null)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.OrderDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.GrossRevenue)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PromoCodePercent)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PromoCodeDiscount)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PromoCode)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Revenue)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Payment)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ttlPaymentCount)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PaymentsMade)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Collected)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ToBeCollected)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UnCollectable)
                                </td>
                            </tr>
                            i++;
                        }
                    }
                }
            </tbody>
        </table>
    </div><!--end tab tabUnPaid-->

    <div class="tab-pane" id="tabPastDue">
        <table class="table table-responsive table-striped">
            <thead>
                <tr>
                    <th>
                        <span>row#</span>
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OrderId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OrderDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.GrossRevenue)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PromoCodePercent)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PromoCodeDiscount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PromoCode)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Revenue)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Payment)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ttlPaymentCount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PaymentsMade)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Collected)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ToBeCollected)
                    </th>
                    <th>
                        <span>Past Due</span>
                    </th>
                </tr>
            </thead>

            <tbody>
                @{
                    i = 1;
                    foreach (var item in Model)
                    {
                        if (item.Status == "past_due")
                        {
                            <tr>
                                <td>
                                    <span>@i.ToString()</span>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Status)
                                </td>
                                <td>
                                    @Html.ActionLink(item.OrderId.ToString(), "Details", "Orders", new { id = item.OrderId }, null)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.OrderDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.GrossRevenue)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PromoCodePercent)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PromoCodeDiscount)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PromoCode)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Revenue)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Payment)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ttlPaymentCount)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PaymentsMade)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Collected)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ToBeCollected)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UnCollectable)
                                </td>
                            </tr>
                            i++;
                        }
                    }
                }
            </tbody>
        </table>
    </div><!--end tab tabPastDue-->

    <div class="tab-pane" id="tabActive">
        <table class="table table-responsive table-striped">
            <thead>
                <tr>
                    <th>
                        <span>row#</span>
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OrderId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OrderDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.GrossRevenue)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PromoCodePercent)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PromoCodeDiscount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PromoCode)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Revenue)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Payment)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ttlPaymentCount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PaymentsMade)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Collected)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ToBeCollected)
                    </th>
                    <th>
                        <span>Past Due</span>
                    </th>
                </tr>
            </thead>

            <tbody>
                @{
                    i = 1;
                    foreach (var item in Model)
                    {
                        if (item.Status == "active")
                        {
                            <tr>
                                <td>
                                    <span>@i.ToString()</span>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Status)
                                </td>
                                <td>
                                    @Html.ActionLink(item.OrderId.ToString(), "Details", "Orders", new { id = item.OrderId }, null)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.OrderDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.GrossRevenue)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PromoCodePercent)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PromoCodeDiscount)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PromoCode)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Revenue)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Payment)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ttlPaymentCount)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PaymentsMade)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Collected)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ToBeCollected)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UnCollectable)
                                </td>
                            </tr>
                            i++;
                        }
                    }
                }
            </tbody>
        </table>
    </div><!--end tab tabActive-->

    <div class="tab-pane" id="tabCancelled">
        <table class="table table-responsive table-striped">
            <thead>
                <tr>
                    <th>
                        <span>row#</span>
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OrderId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OrderDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.GrossRevenue)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PromoCodePercent)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PromoCodeDiscount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PromoCode)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Revenue)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Payment)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ttlPaymentCount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PaymentsMade)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Collected)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ToBeCollected)
                    </th>
                    <th>
                        <span>Past Due</span>
                    </th>
                </tr>
            </thead>

            <tbody>
                @{
                    i = 1;
                    foreach (var item in Model)
                    {
                        if (item.Status == "canceled")
                        {
                            <tr>
                                <td>
                                    <span>@i.ToString()</span>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Status)
                                </td>
                                <td>
                                    @Html.ActionLink(item.OrderId.ToString(), "Details", "Orders", new { id = item.OrderId }, null)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.OrderDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.GrossRevenue)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PromoCodePercent)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PromoCodeDiscount)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PromoCode)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Revenue)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Payment)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ttlPaymentCount)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PaymentsMade)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Collected)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ToBeCollected)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UnCollectable)
                                </td>
                            </tr>
                            i++;
                        }
                    }
                }
            </tbody>
        </table>
    </div><!--end tab tabCancelled-->

    <div class="tab-pane" id="tabCompleted">
        <table class="table table-responsive table-striped">
            <thead>
                <tr>
                    <th>
                        <span>row#</span>
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OrderId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OrderDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.GrossRevenue)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PromoCodePercent)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PromoCodeDiscount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PromoCode)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Revenue)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Payment)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ttlPaymentCount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PaymentsMade)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Collected)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ToBeCollected)
                    </th>
                    <th>
                        <span>Past Due</span>
                    </th>
                </tr>
            </thead>

            <tbody>
                @{
                    i = 1;
                    foreach (var item in Model)
                    {
                        if (item.Status == "completed")
                        {
                            <tr>
                                <td>
                                    <span>@i.ToString()</span>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Status)
                                </td>
                                <td>
                                    @Html.ActionLink(item.OrderId.ToString(), "Details", "Orders", new { id = item.OrderId }, null)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.OrderDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.GrossRevenue)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PromoCodePercent)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PromoCodeDiscount)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PromoCode)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Revenue)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Payment)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ttlPaymentCount)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PaymentsMade)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Collected)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ToBeCollected)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UnCollectable)
                                </td>
                            </tr>
                            i++;
                        }
                    }
                }
            </tbody>
        </table>
    </div><!--end tab tabCompleted-->

    <div class="tab-pane" id="tabAll">
        <table class="table table-responsive table-striped">
            <thead>
                <tr>
                    <th>
                        <span>row#</span>
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OrderId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OrderDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.GrossRevenue)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PromoCodePercent)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PromoCodeDiscount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PromoCode)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Revenue)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Payment)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ttlPaymentCount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PaymentsMade)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Collected)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ToBeCollected)
                    </th>
                    <th>
                        <span>Past Due</span>
                    </th>
                </tr>
            </thead>

            <tbody>
                @{
                    i = 1;
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <span>@i.ToString()</span>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Status)
                            </td>
                            <td>
                                @Html.ActionLink(item.OrderId.ToString(), "Details", "Orders", new { id = item.OrderId }, null)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.OrderDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.GrossRevenue)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PromoCodePercent)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PromoCodeDiscount)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PromoCode)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Revenue)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Payment)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ttlPaymentCount)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PaymentsMade)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Collected)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ToBeCollected)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UnCollectable)
                            </td>
                        </tr>
                        i++;
                    }
                }
            </tbody>
        </table>
    </div><!--end tab All-->


</div> 


        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Search Tips</h4>
                    </div>
                    <div class="modal-body">
                        @Html.Raw(AdminCart.Config.MPSearchTip)
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">close</button>
                        <!--
                        <button type="button" class="btn btn-primary">Save changes</button>
                        -->
                    </div>
                </div>
            </div>
        </div>



