﻿@model FM2015.ViewModels.DailySalesByPerson
@using FM2015.Models

@{
    ViewBag.Title = "Net Cash (by-day-of-month)";
}

<h2>Daily Sales</h2>

@Html.Partial("_AdminNav")

<div class="panel panel-primary">
    <div class="panel-heading">
        <div class="panel-title">
            <h4>Month/Year Report Period</h4>
        </div>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm("DailySales", "Report", FormMethod.Get))
        {
            <div class="form form-inline">
                <div class="form-group col-xs-12 col-sm-6 col-md-4">
                    @Html.Label("Report Month: ", htmlAttributes: new { @class = "control-label col-xs-5" })
                    <div class="col-xs-7">
                        @Html.DropDownListFor(m => m.SelectMonth, new SelectList(Model.MonthSelectList,
                            "Value", "Text", DateTime.Now.Month), "Please select a Month", new { @id = "ddlMonth", @class = "form-control" })
                    </div>
                </div>

                <div class="form-group col-xs-12 col-sm-6 col-md-4">
                    @Html.Label("Report Year: ", htmlAttributes: new { @class = "control-label col-xs-5" })
                    <div class="col-xs-7">
                        @Html.DropDownListFor(m => m.SelectYear, new SelectList(Model.YearSelectList,
                            "Value", "Text", DateTime.Now.Year), "Please select a Year", new { @id = "ddlYear", @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <input type="submit" value="Submit" class="btn btn-primary" />
                    </div>
                </div>
            </div>



        }
    </div> <!--end Panel Body-->
</div> <!--end Panel-->

<p>&nbsp;</p>


<hr />
<div id="divSalesDetails" class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div id="pnlSAlesDetails" class="panel panel-primary">
            <div class="panel-heading">
                <div class="panel-title">
                    <h3>Net Cash (by day)</h3>
                </div>
            </div>
            <div class="panel-body">
                <table class="table table-responsive table-striped">
                    <thead>
                        <tr>
                            <th><strong>Date</strong></th>
                            <th><strong>Net Cash</strong></th>
                            <th><strong>Web Cash</strong></th>
                            <th><strong>Phone Cash</strong></th>
                            @foreach (SalesMan item in ViewBag.theTeam)
                            {
                                <th>@Html.DisplayFor(x => item.user.FirstName)</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td><strong>@Html.DisplayFor(model => model.TotalGrossRevenue)</strong></td>
                            <td><strong>@Html.DisplayFor(model => model.TotalWebRevenue)</strong></td>
                            <td><strong>@Html.DisplayFor(model => model.TotalPhoneRevenue)</strong></td>
                            @foreach (SalesMan item in ViewBag.theTeam)
                            {
                                <td><strong>@Html.DisplayFor(x => item.Sales)</strong></td>
                            }
                        </tr>
                        @foreach (DayOfWeekSales SalesItem in Model.sales)
                        {
                            <tr>
                                <td>@Html.DisplayFor(i => SalesItem.Date)</td>
                                <td>@Html.DisplayFor(i => SalesItem.TotalRevenue)</td>
                                <td>@Html.DisplayFor(i => SalesItem.WebRevenue)</td>
                                <td>@Html.DisplayFor(i => SalesItem.PhoneRevenue)</td>
                                @if (SalesItem.SalesTeamList.Count() != 0)
                                {
                                    foreach (SalesMan item in ViewBag.theTeam)
                                    {
                                        if (SalesItem.SalesTeamList.Exists(x => x.user.UserID == item.user.UserID))
                                        {
                                            int index = SalesItem.SalesTeamList.FindIndex(x => x.user.UserID == item.user.UserID);
                                            SalesMan s = SalesItem.SalesTeamList[index];
                                            <td>@Html.DisplayFor(x => s.Sales)</td>
                                        }
                                        else
                                        {
                                            <td>--</td>
                                        }
                                    }
                                }
                                else
                                {
                                    foreach (SalesMan item in ViewBag.theTeam)
                                    {
                                        <td>--</td>
                                    }
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div><!--end Panel body-->
        </div><!--Panel-->
    </div><!--Column-->
</div><!--end Row-->
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
