﻿@model IEnumerable<FM2015.Models.DelayedPlanChanges>

@{
    ViewBag.Title = "DelayedPlanChanges";
}

@Html.Partial("_AdminNav")

<h2>Delayed Subscription Plan Changes</h2>

<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm())
        {
            <div class="form-group">
                <div class="row">
                    <div class="col-md-2">
                        @Html.TextBox("startDate", "start date", "{0:MM/dd/yyyy}", new { htmlAttributes = new { @class = "form-control" } })
                        @ViewBag.ErrMsgForStart
                    </div>
                    <div class="col-md-2">
                        @Html.TextBox("endDate", "end date", "{0:MM/dd/yyyy}", new { htmlAttributes = new { @class = "form-control" } })
                        @ViewBag.ErrMsgForEnd
                    </div>
                    <div class="col-md-2">
                        <input type="submit" value="Get Report" class="btn btn-Success" />
                    </div>
                </div><!--end row-->
            </div> <!--end form group-->
        }
    </div> <!--end col-->
</div><!--end row-->

<p>&nbsp;</p>

<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#tabDeferred">Deferred</a></li>
    <li><a data-toggle="tab" href="#tabActivated">Activated</a></li>
    <li><a data-toggle="tab" href="#tabDeleted">Deleted</a></li>
</ul>

<div class="tab-content">
    <div class="tab-pane active" id="tabDeferred">
        <table class="table table-responsive table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th><strong>ID</strong></th>
                    <th><strong>LastName</strong></th>
                    <th><strong>CustomerID</strong></th>
                    <th><strong>StripeCustomerID</strong></th>
                    <th><strong>Old Plan</strong></th>
                    <th><strong>New Plan</strong></th>
                    <th><strong>Start Date</strong></th>
                    <th><strong>Promo Code</strong></th>
                    <th><strong>Activated?</strong></th>

                </tr>
            </thead>
            <tbody>
                @if (Model.Count() == 0)
                {
                    <tr>
                        <td>
                            <span>No Delayed Subscriptions or plan changes are available</span>
                        </td>
                    </tr>
                }
                else
                {
                    foreach (var item in Model)
                    {
                        if (!item.Activated && !item.Deleted)
                        {
                            <tr>
                                <td>
                                    @Html.ActionLink("Activate Now!", "ActivateDeferred", "Subscriptions", new { id = item.ID, isTest = false }, new { @class = "btn btn-primary" })
                                </td>
                                <td>
                                    @Html.ActionLink("Delete", "DeleteDeferred", "Subscriptions", new { id = item.ID, isTest = false }, new { @class = "btn btn-danger", OnClick = "javascript:return confirm('A Subscription Plan is about to be DELETED. Proceed?')" })
                                </td>
                                <td>@Html.DisplayFor(i => item.ID)</td>
                                <td>@Html.DisplayFor(i => item.LastName)</td>
                                <td>@Html.ActionLink(item.CustomerID.ToString(), "Details", "Customers", new { id = item.CustomerID }, null)</td>
                                <td>@Html.DisplayFor(i => item.StripeCustomerID)</td>
                                <td>@Html.DisplayFor(i => item.OldStripePlanID)</td>
                                <td>@Html.DisplayFor(i => item.NewStripePlanID)</td>
                                <td>@Html.DisplayFor(i => item.StartDate)</td>
                                <td>@Html.DisplayFor(i => item.PromoCode)</td>
                                <td>@Html.DisplayFor(i => item.Activated)</td>
                            </tr>
                        }

                    }
                }
            </tbody>
        </table>
    </div>

    <div class="tab-pane" id="tabActivated">
        <table class="table table-responsive table-striped">
            <thead>
                <tr>
                    <th><strong>ID</strong></th>
                    <th><strong>LastName</strong></th>
                    <th><strong>CustomerID</strong></th>
                    <th><strong>StripeCustomerID</strong></th>
                    <th><strong>Old Plan</strong></th>
                    <th><strong>New Plan</strong></th>
                    <th><strong>Start Date</strong></th>
                    <th><strong>Promo Code</strong></th>
                    <th><strong>Activated?</strong></th>

                </tr>
            </thead>
            <tbody>
                @if (Model.Count() == 0)
                {
                    <tr>
                        <td>
                            <span>No Delayed Subscriptions or plan changes are available</span>
                        </td>
                    </tr>
                }
                else
                {
                    foreach (var item in Model)
                    {
                        if (item.Activated && !item.Deleted)
                        {
                            <tr>
                                <td>@Html.DisplayFor(i => item.ID)</td>
                                <td>@Html.DisplayFor(i => item.LastName)</td>
                                <td>@Html.ActionLink(item.CustomerID.ToString(), "Details", "Customers", new { id = item.CustomerID }, null)</td>
                                <td>@Html.DisplayFor(i => item.StripeCustomerID)</td>
                                <td>@Html.DisplayFor(i => item.OldStripePlanID)</td>
                                <td>@Html.DisplayFor(i => item.NewStripePlanID)</td>
                                <td>@Html.DisplayFor(i => item.StartDate)</td>
                                <td>@Html.DisplayFor(i => item.PromoCode)</td>
                                <td>@Html.DisplayFor(i => item.Activated)</td>
                            </tr>
                        }

                    }
                }
            </tbody>
        </table>
    </div>

    <div class="tab-pane" id="tabDeleted">
        <table class="table table-responsive table-striped">
            <thead>
                <tr>
                    <th><strong>ID</strong></th>
                    <th><strong>LastName</strong></th>
                    <th><strong>CustomerID</strong></th>
                    <th><strong>StripeCustomerID</strong></th>
                    <th><strong>Old Plan</strong></th>
                    <th><strong>New Plan</strong></th>
                    <th><strong>Start Date</strong></th>
                    <th><strong>Promo Code</strong></th>
                    <th><strong>Activated?</strong></th>

                </tr>
            </thead>
            <tbody>
                @if (Model.Count() == 0)
                {
                    <tr>
                        <td>
                            <span>No Deleted Delayed Subscriptions or plan changes are available</span>
                        </td>
                    </tr>
                }
                else
                {
                    foreach (var item in Model)
                    {
                        if (item.Deleted)
                        {
                            <tr>
                                <td>@Html.DisplayFor(i => item.ID)</td>
                                <td>@Html.DisplayFor(i => item.LastName)</td>
                                <td>@Html.ActionLink(item.CustomerID.ToString(), "Details", "Customers", new { id = item.CustomerID }, null)</td>
                                <td>@Html.DisplayFor(i => item.StripeCustomerID)</td>
                                <td>@Html.DisplayFor(i => item.OldStripePlanID)</td>
                                <td>@Html.DisplayFor(i => item.NewStripePlanID)</td>
                                <td>@Html.DisplayFor(i => item.StartDate)</td>
                                <td>@Html.DisplayFor(i => item.PromoCode)</td>
                                <td>@Html.DisplayFor(i => item.Activated)</td>
                            </tr>
                        }

                    }
                }
            </tbody>
        </table>
    </div>
</div>




