﻿@model IEnumerable<Stripe.StripeCoupon>

@{
    ViewBag.Title = "PromoCode List";
}

@Html.Partial("_AdminNav")

<h2>Promo Code List</h2>

<table class="table table-responsive table-striped">
    <thead>
        <tr>
            <th></th>
            <th><strong>ID</strong></th>
            <th><strong>Created</strong></th>
            <th><strong>Duration</strong></th>
            <th><strong>DurationInMonths</strong></th>
            <th><strong>MaxRedemptions</strong></th>
            <th><strong>PercentOff</strong></th>
            <th><strong>AmountOff</strong></th>
            <th><strong>Valid?</strong></th>

        </tr>
    </thead>
    <tbody>
        @if (Model.Count() == 0)
        {
            <tr>
                <td>
                    <span>No Promotional Codes are available</span>
                </td>
            </tr>
        }
        else
        {
            int c = 0;
            foreach (var item in Model)
            {
                <tr>
                    <td><span>@Html.Raw(c.ToString())</span></td>
                    <td>@Html.DisplayFor(i => item.Id)</td>
                    <td>@Html.DisplayFor(i => item.Created)</td>
                    <td>@Html.DisplayFor(i => item.Duration)</td>
                    <td>@Html.DisplayFor(i => item.DurationInMonths)</td>
                    <td>@Html.DisplayFor(i => item.MaxRedemptions)</td>
                    <td>@Html.DisplayFor(i => item.PercentOff)</td>
                    <td>@Html.DisplayFor(i => item.AmountOff)</td>
                    <td>@Html.DisplayFor(i => item.Valid)</td>
                </tr>

                c++;
            }
        }
    </tbody>
</table>



