﻿@model IEnumerable<FM2015.ViewModels.StaleCustomerViewModel>

@{
    ViewBag.Title = "DisplayStaleCustomers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DisplayStaleCustomers</h2>

<table class="table table-responsive table-striped">
    <thead>
        <tr>
            <th>row#</th>
            <th>customerId</th>
            <th>OrderDate</th>
            <th>First</th>
            <th>Last</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
    @{
        int i = 1;
        foreach (var item in Model)
        {
            <tr>
                <td>
                    <span>@i.ToString()</span>
                </td>
                <td>
                    @Html.ActionLink(item.customerId.ToString(), "Details", "Customers", new { id = item.customerId }, null)
                </td>
                <td>
                    @Html.ActionLink(item.OrderDate.ToString(), "Details", "Orders", new { id = item.OrderId }, null)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.firstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.lastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.email)
                </td>
            </tr> 
            i++;
        }
    }
    </tbody>
</table>
