﻿@model IEnumerable<FMWebApp451.ViewModels.MultiPayStatus>

@{
    ViewBag.Title = "Subscriber Status Report";
}

@Html.Partial("_AdminNav")

<h2>Subscriber Status</h2>

<table class="table table-responsive table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StripePlan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StripePromoCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Payments_Total)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Payments_Made)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastPaymentDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StripeStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsDeadBeat)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.ActionLink(item.OrderId.ToString(), "Details", "Orders", new { id = item.OrderId }, null)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StripePlan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StripePromoCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Payments_Total)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Payments_Made)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastPaymentDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StripeStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDeadBeat)
            </td>
        </tr>
    }
</table>
