﻿@model IEnumerable<FMWebApp451.ViewModels.MultiPayRevenueByOrder>
@using System.Collections.Generic

@{
    ViewBag.Title = "Multi-Pay Report";
}

@Html.Partial("_AdminNav")

<h2>Multi-Pay Report</h2>

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        @using (Html.BeginForm("MultiPayRevenueByOrder", "Report", FormMethod.Get))
        {
            <div class="row">
                <div class="col-xs-4 col-sm-4 col-md-10 col-lg-8">
                    <div id="imaginary_container">
                        <div class="input-group stylish-input-group">
                            <input id="paramSearch" name="paramSearch" type="text" class="form-control" placeholder="...date range">
                            <span class="input-group-addon">
                                <button type="submit">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </span>
                            <button type="button" data-toggle="modal" data-target="#myModal">
                                <span class="glyphicon glyphicon-info-sign"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div> <!--col-->
</div> <!--row-->

<p>&nbsp;</p>

    <div id="divSummary" class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div id="pnlSummary" class="panel panel-primary">
                <div class="panel-heading">
                    <div class="panel-title">
                        <h3>Multi-Pay Revenue Summary</h3>
                        <h4>@ViewBag.StartDate - @ViewBag.EndDate</h4>
                    </div>
                </div>
                <div class="panel-body">
                    <dl class="dl-horizontal">
                        <dt><span>Gross Revenue</span></dt>
                        <dd><span>@ViewBag.GrossRevenue</span></dd>

                        <dt><span>PromoCode Discount</span></dt>
                        <dd><span>@ViewBag.Discount &nbsp; (@ViewBag.Percent)</span></dd>

                        <dt><span>Revenue</span></dt>
                        <dd><span>@ViewBag.Revenue</span></dd>

                        <dt><span>Collected</span></dt>
                        <dd><span>@ViewBag.Collected &nbsp; (@ViewBag.CollectedPercent)</span></dd>

                        <dt><span>Cancelled</span></dt>
                        <dd><span>@ViewBag.CancelledPmnts &nbsp; (@ViewBag.CancelledPmntsPercent)</span></dd>
                       
                        <dt><span>Written Off</span></dt>
                        <dd><span>@ViewBag.WrittenOff &nbsp; (@ViewBag.WrittenoffPercent)</span></dd>

                        <dt><span>To Be Collected</span></dt>
                        <dd><span>@ViewBag.ToBeCollected &nbsp; (@ViewBag.ToBeCollectedPercent)</span></dd> 

                        <dt></dt><dd>&nbsp;</dd>
                        
                        <dt><span>Past Due or Unpaid</span></dt>
                        <dd><span>@ViewBag.UnCollectable &nbsp; (@ViewBag.UnCollectablePercent)</span></dd>
                        

                    </dl>
                    <hr />
                    <span>For Monthly AR Reporting</span>
                    <hr />
                    @if (ViewBag.NumberOfMonths > 1)
                    {
                        <h4>Not available for time periods greater than 1 month</h4>
                    }
                    else
                    {
                        <span>@ViewBag.Month0</span>
                        <dl class="dl-horizontal">
                            <dt><span>Collected:</span></dt>
                            <dd><span>@ViewBag.CollectedMM0</span></dd>
                            <dt><span>Canceled:</span></dt>
                            <dd><span>@ViewBag.CancelledMM0</span></dd>
                            <dt><span>Past Due or Unpaid:</span></dt>
                            <dd><span>@ViewBag.UncollectableMM0</span></dd>
                            <dt><span>Written Off:</span></dt>
                            <dd><span>@ViewBag.WrittenOffMM0</span></dd>


                        </dl>

                        <hr />
                        <span>@ViewBag.Month1</span>
                        <dl class="dl-horizontal">
                            <dt><span>Collected:</span></dt>
                            <dd><span>@ViewBag.CollectedMM1</span></dd>
                            <dt><span>Canceled:</span></dt>
                            <dd><span>@ViewBag.CancelledMM1</span></dd>
                            <dt><span>Past Due or Unpaid:</span></dt>
                            <dd><span>@ViewBag.UncollectableMM1</span></dd>
                            <dt><span>Written Off:</span></dt>
                            <dd><span>@ViewBag.WrittenOffMM1</span></dd>

                        </dl>

                        <hr />
                        <span>@ViewBag.Month2</span>
                        <dl class="dl-horizontal">
                            <dt><span>Collected:</span></dt>
                            <dd><span>@ViewBag.CollectedMM2</span></dd>
                            <dt><span>Canceled:</span></dt>
                            <dd><span>@ViewBag.CancelledMM2</span></dd>
                            <dt><span>Past Due or Unpaid:</span></dt>
                            <dd><span>@ViewBag.UncollectableMM2</span></dd>
                            <dt><span>Written Off:</span></dt>
                            <dd><span>@ViewBag.WrittenOffMM2</span></dd>

                        </dl>

                        <hr />
                        <span>@ViewBag.Month3</span>
                        <dl class="dl-horizontal">
                            <dt><span>Collected:</span></dt>
                            <dd><span>@ViewBag.CollectedMM3</span></dd>
                            <dt><span>Canceled:</span></dt>
                            <dd><span>@ViewBag.CancelledMM3</span></dd>
                            <dt><span>Past Due or Unpaid:</span></dt>
                            <dd><span>@ViewBag.UncollectableMM3</span></dd>
                            <dt><span>Written Off:</span></dt>
                            <dd><span>@ViewBag.WrittenOffMM3</span></dd>

                        </dl>
                    }

                </div>
            </div> <!--end panel-->
        </div> <!--end col-->

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div id="pnlStats" class="panel panel-primary">
                <div class="panel-heading">
                    <div class="panel-title">
                        <h3>Multi-Pay Statistics</h3>
                        <h4>@ViewBag.StartDate - @ViewBag.EndDate</h4>
                    </div>
                </div>
                <div class="panel-body">
                    <dl class="dl-horizontal">
                        <dt><span>Total Devices</span></dt>
                        <dd><span>@ViewBag.SinglePayOrders</span></dd>

                        <dt><span>Total Multi-Pay Orders</span></dt>
                        <dd><span>@ViewBag.TotalOrders (@ViewBag.MPPercent)</span></dd>

                        <dt><span>Average Selling Price</span></dt>
                        <dd><span>@ViewBag.ASP</span></dd>

                        <dt><span>Total 4-Pay Orders</span></dt>
                        <dd><span>@ViewBag.Total4Pay (@ViewBag.FourPayPercent)</span></dd>

                        <dt><span>Total 3-Pay Orders</span></dt>
                        <dd><span>@ViewBag.Total3Pay (@ViewBag.ThreePayPercent)</span></dd>

                        <dt><span>Active</span></dt>
                        <dd><span>@ViewBag.Active (@ViewBag.ActivePercent)</span></dd>

                        <dt><span>Completed</span></dt>
                        <dd><span>@ViewBag.Completed (@ViewBag.CompletedPercent)</span></dd>

                        <dt><span>Cancelled</span></dt>
                        <dd><span>@ViewBag.Cancelled (@ViewBag.CancelledPercent)</span></dd>

                        <dt><span>Past Due/Unpaid</span></dt>
                        <dd><span>@ViewBag.TotalPastDue (@ViewBag.PastDuePercent)</span></dd>

                        <dt><span>Written Off</span></dt>
                        <dd><span>@ViewBag.TotalWrittenOff (@ViewBag.TotalWrittenOffPercent)</span></dd>


                    </dl>
                </div>
            </div> <!--end panel-->
        </div> <!--end col-->
    </div> <!--end row-->

<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#tabUnPaid">Unpaid</a></li>
    <li><a data-toggle="tab" href="#tabPastDue">Past Due</a></li>
    <li ><a data-toggle="tab" href="#tabActive">Active</a></li>
    <li><a data-toggle="tab" href="#tabCancelled">Canceled</a></li>
    <li><a data-toggle="tab" href="#tabCompleted">Completed</a></li>
    <li><a data-toggle="tab" href="#tabWrittenOff">WrittenOff</a></li>
    <li><a data-toggle="tab" href="#tabAll">ALL</a></li>
</ul>

<div class="tab-content">
    <div class="tab-pane active" id="tabUnPaid">
        <table class="table table-responsive table-striped">
            <thead>
                <tr>
                    <th>
                        <span>row#</span>
                    </th>
                    <th></th>
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OrderId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OrderDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.GrossRevenue)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PromoCodePercent)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PromoCodeDiscount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PromoCode)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Revenue)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Payment)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ttlPaymentCount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PaymentsMade)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Collected)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.RefundAmount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ToBeCollected)
                    </th>
                    <th>
                        <span>Past Due</span>
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.WrittenOff)
                    </th>
                </tr>
            </thead>

            <tbody>
                @{
                    int i = 1;
                    foreach (var item in Model)
                    {
                        if (item.Status == "unpaid")
                        {
                            <tr>
                                <td>
                                    <span>@i.ToString()</span>
                                </td>
                                <td>
                                    @if ((item.Status == "unpaid") || (item.Status == "past_due"))
                                    {
                                        @Html.ActionLink("Send FINAL Dunning Letter", "SendFinalDunning", "Report", new { id = item.OrderId, test = false }, new { @class = "btn btn-danger" })
                                    }
                                    else
                                    {
                                        <span>&nbsp;</span>
                                    }
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Status)
                                </td>
                                <td>
                                    @Html.ActionLink(item.OrderId.ToString(), "Details", "Orders", new { id = item.OrderId }, null)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.OrderDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.GrossRevenue)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PromoCodePercent)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PromoCodeDiscount)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PromoCode)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Revenue)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Payment)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ttlPaymentCount)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PaymentsMade)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Collected)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.RefundAmount)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ToBeCollected)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UnCollectable)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.WrittenOff)
                                </td>
                            </tr>
                            i++;
                        }
                    }
                }
            </tbody>

            <tfoot>
                <tr>
                    <td><!--row#--></td>
                    <td><!--DunningButton--></td>
                    <td><span>Summary</span></td>
                    <td><!--orderID--></td>
                    <td><!--orderDate--></td>
                    <td><span>@ViewBag.GrossRevenue_unpaid</span></td>
                    <td><span>@ViewBag.Percent_unpaid</span></td>
                    <td><span>@ViewBag.Discount_unpaid</span></td>
                    <td><!--promoCode--></td>
                    <td><span>@ViewBag.Revenue_unpaid</span></td>
                    <td><!--payment--></td>
                    <td><!--ttlPaymentCount--></td>
                    <td><!--PaymentsMade--></td>
                    <td><span>@ViewBag.Collected_unpaid</span></td>
                    <td><span>N/A</span></td>
                    <td><span>@ViewBag.ToBeCollected_unpaid</span></td>
                    <td><span>@ViewBag.UnCollectable_unpaid</span></td>
                    <td><span>@ViewBag.WrittenOff_unpaid</span></td>
                </tr>
            </tfoot>
        </table>
    </div> <!--end tab tabUnPaid-->

    <div class="tab-pane" id="tabActive">
        <table class="table table-responsive table-striped">
            <thead>
                <tr>
                    <th>
                        <span>row#</span>
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OrderId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OrderDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.GrossRevenue)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PromoCodePercent)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PromoCodeDiscount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PromoCode)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Revenue)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Payment)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ttlPaymentCount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PaymentsMade)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Collected)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.RefundAmount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ToBeCollected)
                    </th>
                    <th>
                        <span>Past Due</span>
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.WrittenOff)
                    </th>
                </tr>
            </thead>

            <tbody>
                @{
                    i = 1;
                    foreach (var item in Model)
                    {
                        if (item.Status == "active")
                        {
                            <tr>
                                <td>
                                    <span>@i.ToString()</span>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Status)
                                </td>
                                <td>
                                    @Html.ActionLink(item.OrderId.ToString(), "Details", "Orders", new { id = item.OrderId }, null)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.OrderDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.GrossRevenue)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PromoCodePercent)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PromoCodeDiscount)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PromoCode)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Revenue)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Payment)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ttlPaymentCount)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PaymentsMade)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Collected)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.RefundAmount)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ToBeCollected)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UnCollectable)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.WrittenOff)
                                </td>
                            </tr>
                            i++;
                        }
                    }
                }
            </tbody>

            <tfoot>
                <tr>
                    <td><!--row#--></td>
                    <td><span>Summary</span></td>
                    <td><!--orderID--></td>
                    <td><!--orderDate--></td>
                    <td><span>@ViewBag.GrossRevenue_active</span></td>
                    <td><span>@ViewBag.Percent_active</span></td>
                    <td><span>@ViewBag.Discount_active</span></td>
                    <td><!--promoCode--></td>
                    <td><span>@ViewBag.Revenue_active</span></td>
                    <td><!--payment--></td>
                    <td><!--ttlPaymentCount--></td>
                    <td><!--PaymentsMade--></td>
                    <td><span>@ViewBag.Collected_active</span></td>
                    <td><span>N/A</span></td>
                    <td><span>@ViewBag.ToBeCollected_active</span></td>
                    <td><span>@ViewBag.UnCollectable_active</span></td>
                    <td><span>@ViewBag.WrittenOff_active</span></td>
                </tr>
            </tfoot>
        </table>
    </div> <!--end tab tabActive-->

    <div class="tab-pane" id="tabCompleted">
        <table class="table table-responsive table-striped">
            <thead>
                <tr>
                    <th>
                        <span>row#</span>
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OrderId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OrderDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.GrossRevenue)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PromoCodePercent)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PromoCodeDiscount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PromoCode)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Revenue)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Payment)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ttlPaymentCount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PaymentsMade)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Collected)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.RefundAmount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ToBeCollected)
                    </th>
                    <th>
                        <span>Past Due</span>
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.WrittenOff)
                    </th>
                </tr>
            </thead>

            <tbody>
                @{
                    i = 1;
                    foreach (var item in Model)
                    {
                        if (item.Status == "completed")
                        {
                            <tr>
                                <td>
                                    <span>@i.ToString()</span>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Status)
                                </td>
                                <td>
                                    @Html.ActionLink(item.OrderId.ToString(), "Details", "Orders", new { id = item.OrderId }, null)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.OrderDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.GrossRevenue)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PromoCodePercent)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PromoCodeDiscount)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PromoCode)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Revenue)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Payment)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ttlPaymentCount)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PaymentsMade)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Collected)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.RefundAmount)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ToBeCollected)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UnCollectable)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.WrittenOff)
                                </td>
                            </tr>
                            i++;
                        }
                    }
                }
            </tbody>

            <tfoot>
                <tr>
                    <td><!--row#--></td>
                    <td><span>Summary</span></td>
                    <td><!--orderID--></td>
                    <td><!--orderDate--></td>
                    <td><span>@ViewBag.GrossRevenue_completed</span></td>
                    <td><span>@ViewBag.Percent_completed</span></td>
                    <td><span>@ViewBag.Discount_completed</span></td>
                    <td><!--promoCode--></td>
                    <td><span>@ViewBag.Revenue_completed</span></td>
                    <td><!--payment--></td>
                    <td><!--ttlPaymentCount--></td>
                    <td><!--PaymentsMade--></td>
                    <td><span>@ViewBag.Collected_completed</span></td>
                    <td><span>N/A</span></td>
                    <td><span>@ViewBag.ToBeCollected_completed</span></td>
                    <td><span>@ViewBag.UnCollectable_completed</span></td>
                    <td><span>@ViewBag.WrittenOff_completed</span></td>
                </tr>
            </tfoot>
        </table>
    </div> <!--end tab tabCompleted-->

    <div class="tab-pane" id="tabPastDue">
        <table class="table table-responsive table-striped">
            <thead>
                <tr>
                    <th>
                        <span>row#</span>
                    </th>
                    <th></th>
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OrderId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OrderDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.GrossRevenue)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PromoCodePercent)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PromoCodeDiscount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PromoCode)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Revenue)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Payment)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ttlPaymentCount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PaymentsMade)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Collected)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.RefundAmount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ToBeCollected)
                    </th>
                    <th>
                        <span>Past Due</span>
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.WrittenOff)
                    </th>
                </tr>
            </thead>

            <tbody>
                @{
                    i = 1;
                    foreach (var item in Model)
                    {
                        if (item.Status == "past_due")
                        {
                            <tr>
                                <td>
                                    <span>@i.ToString()</span>
                                </td>
                                <td>
                                    @if ((item.Status == "unpaid") || (item.Status == "past_due"))
                                    {
                                        @Html.ActionLink("Send Dunning Letter", "SendDunning", "Report", new { id = item.OrderId, test = false }, new { @class = "btn btn-danger" })
                                    }
                                    else
                                    {
                                        <span>&nbsp;</span>
                                    }
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Status)
                                </td>
                                <td>
                                    @Html.ActionLink(item.OrderId.ToString(), "Details", "Orders", new { id = item.OrderId }, null)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.OrderDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.GrossRevenue)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PromoCodePercent)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PromoCodeDiscount)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PromoCode)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Revenue)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Payment)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ttlPaymentCount)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PaymentsMade)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Collected)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.RefundAmount)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ToBeCollected)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UnCollectable)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.WrittenOff)
                                </td>
                            </tr>
                            i++;
                        }
                    }
                }
            </tbody>

            <tfoot>
                <tr>
                    <td><!--row#--></td>
                    <td><!--DunningButton--></td>
                    <td><span>Summary</span></td>
                    <td><!--orderID--></td>
                    <td><!--orderDate--></td>
                    <td><span>@ViewBag.GrossRevenue_past_due</span></td>
                    <td><span>@ViewBag.Percent_past_due</span></td>
                    <td><span>@ViewBag.Discount_past_due</span></td>
                    <td><!--promoCode--></td>
                    <td><span>@ViewBag.Revenue_past_due</span></td>
                    <td><!--payment--></td>
                    <td><!--ttlPaymentCount--></td>
                    <td><!--PaymentsMade--></td>
                    <td><span>@ViewBag.Collected_past_due</span></td>
                    <td><span>N/A</span></td>
                    <td><span>@ViewBag.ToBeCollected_past_due</span></td>
                    <td><span>@ViewBag.UnCollectable_past_due</span></td>
                    <td><span>@ViewBag.WrittenOff_past_due</span></td>
                </tr>
            </tfoot>
        </table>
    </div> <!--end tab tabPastDue-->

    <div class="tab-pane" id="tabCancelled">
        <table class="table table-responsive table-striped">
            <thead>
                <tr>
                    <th>
                        <span>row#</span>
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OrderId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OrderDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.GrossRevenue)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PromoCodePercent)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PromoCodeDiscount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PromoCode)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Revenue)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Payment)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ttlPaymentCount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PaymentsMade)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Collected)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.RefundAmount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ToBeCollected)
                    </th>
                    <th>
                        <span>Past Due</span>
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.WrittenOff)
                    </th>
                </tr>
            </thead>

            <tbody>
                @{
                    i = 1;
                    foreach (var item in Model)
                    {
                        if (item.Status == "canceled")
                        {
                            <tr>
                                <td>
                                    <span>@i.ToString()</span>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Status)
                                </td>
                                <td>
                                    @Html.ActionLink(item.OrderId.ToString(), "Details", "Orders", new { id = item.OrderId }, null)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.OrderDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.GrossRevenue)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PromoCodePercent)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PromoCodeDiscount)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PromoCode)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Revenue)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Payment)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ttlPaymentCount)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PaymentsMade)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Collected)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.RefundAmount)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ToBeCollected)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UnCollectable)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.WrittenOff)
                                </td>
                            </tr>
                            i++;
                        }
                    }
                }
            </tbody>

            <tfoot>
                <tr>
                    <td><!--row#--></td>
                    <td><span>Summary</span></td>
                    <td><!--orderID--></td>
                    <td><!--orderDate--></td>
                    <td><span>@ViewBag.GrossRevenue_cancelled</span></td>
                    <td><span>@ViewBag.Percent_cancelled</span></td>
                    <td><span>@ViewBag.Discount_cancelled</span></td>
                    <td><!--promoCode--></td>
                    <td><span>@ViewBag.Revenue_cancelled</span></td>
                    <td><!--payment--></td>
                    <td><!--ttlPaymentCount--></td>
                    <td><!--PaymentsMade--></td>
                    <td><span>@ViewBag.Collected_cancelled</span></td>
                    <td><span>@ViewBag.Refunded</span></td>
                    <td><span>@ViewBag.ToBeCollected_cancelled</span></td>
                    <td><span>@ViewBag.UnCollectable_cancelled</span></td>
                    <td><span>@ViewBag.WrittenOff_cancelled</span></td>
                </tr>
            </tfoot>
        </table>
    </div> <!--end tab tabUnPaid-->

    <div class="tab-pane" id="tabWrittenOff">
        <table class="table table-responsive table-striped">
            <thead>
                <tr>
                    <th>
                        <span>row#</span>
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OrderId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OrderDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.GrossRevenue)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PromoCodePercent)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PromoCodeDiscount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PromoCode)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Revenue)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Payment)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ttlPaymentCount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PaymentsMade)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Collected)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.RefundAmount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ToBeCollected)
                    </th>
                    <th>
                        <span>Past Due</span>
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.WrittenOff)
                    </th>
                </tr>
            </thead>

            <tbody>
                @{
                    i = 1;
                    foreach (var item in Model)
                    {
                        if (item.Status == "writtenoff")
                        {
                            <tr>
                                <td>
                                    <span>@i.ToString()</span>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Status)
                                </td>
                                <td>
                                    @Html.ActionLink(item.OrderId.ToString(), "Details", "Orders", new { id = item.OrderId }, null)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.OrderDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.GrossRevenue)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PromoCodePercent)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PromoCodeDiscount)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PromoCode)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Revenue)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Payment)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ttlPaymentCount)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PaymentsMade)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Collected)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.RefundAmount)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ToBeCollected)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UnCollectable)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.WrittenOff)
                                </td>
                            </tr>
                            i++;
                        }
                    }
                }
            </tbody>

            <tfoot>
                <tr>
                    <td><!--row#--></td>
                    <td><span>Summary</span></td>
                    <td><!--orderID--></td>
                    <td><!--orderDate--></td>
                    <td><span>@ViewBag.GrossRevenue_writtenoff</span></td>
                    <td><span>@ViewBag.Percent_writtenoff</span></td>
                    <td><span>@ViewBag.Discount_writtenoff</span></td>
                    <td><!--promoCode--></td>
                    <td><span>@ViewBag.Revenue_writtenoff</span></td>
                    <td><!--payment--></td>
                    <td><!--ttlPaymentCount--></td>
                    <td><!--PaymentsMade--></td>
                    <td><span>@ViewBag.Collected_writtenoff</span></td>
                    <td><span>N/A</span></td>
                    <td><span>@ViewBag.ToBeCollected_writtenoff</span></td>
                    <td><span>@ViewBag.UnCollectable_writtenoff</span></td>
                    <td><span>@ViewBag.WrittenOff_writtenoff</span></td>
                </tr>
            </tfoot>
        </table>
    </div> <!--end tab tabUnPaid-->

    <div class="tab-pane" id="tabAll">
        <table class="table table-responsive table-striped">
            <thead>
                <tr>
                    <th>
                        <span>row#</span>
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OrderId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OrderDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.GrossRevenue)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PromoCodePercent)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PromoCodeDiscount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PromoCode)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Revenue)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Payment)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ttlPaymentCount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PaymentsMade)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Collected)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.RefundAmount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ToBeCollected)
                    </th>
                    <th>
                        <span>Past Due</span>
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.WrittenOff)
                    </th>
                </tr>
            </thead>

            <tbody>
                @{
                    i = 1;
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <span>@i.ToString()</span>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Status)
                            </td>
                            <td>
                                @Html.ActionLink(item.OrderId.ToString(), "Details", "Orders", new { id = item.OrderId }, null)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.OrderDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.GrossRevenue)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PromoCodePercent)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PromoCodeDiscount)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PromoCode)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Revenue)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Payment)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ttlPaymentCount)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PaymentsMade)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Collected)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.RefundAmount)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ToBeCollected)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UnCollectable)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.WrittenOff)
                            </td>
                        </tr>
                        i++;
                    }
                }
            </tbody>

            <tfoot>
                <tr>
                    <td><!--row#--></td>
                    <td><span>Summary</span></td>
                    <td><!--orderID--></td>
                    <td><!--orderDate--></td>
                    <td><span>@ViewBag.GrossRevenue</span></td>
                    <td><span>@ViewBag.Percent</span></td>
                    <td><span>@ViewBag.Discount</span></td>
                    <td><!--promoCode--></td>
                    <td><span>@ViewBag.Revenue</span></td>
                    <td><!--payment--></td>
                    <td><!--ttlPaymentCount--></td>
                    <td><!--PaymentsMade--></td>
                    <td><span>@ViewBag.Collected</span></td>
                    <td><span>@ViewBag.Refunded</span></td>
                    <td><span>@ViewBag.ToBeCollected</span></td>
                    <td><span>@ViewBag.UnCollectable</span></td>
                    <td><span>@ViewBag.WrittenOff</span></td>
                </tr>
            </tfoot>
        </table>
    </div> <!--end tab tabAll-->

</div><!--tab content-->

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Search Tips</h4>
            </div>
            <div class="modal-body">
                @Html.Raw(AdminCart.Config.MPSearchTip)
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">close</button>
                <!--
                <button type="button" class="btn btn-primary">Save changes</button>
                -->
            </div>
        </div>
    </div>
</div>