﻿@model ShopifyCustomer

@{
    ViewBag.Title = "Customer Details";
}

@Html.Partial("_AdminNav")

<h2>Customer Details; Shopify CustomerID: @Html.Raw(Model.Id.ToString())</h2>

<div>
    <h4>Shopify Customer Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ShopifyOrderID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShopifyOrderID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Accepts_marketing)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Accepts_marketing)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Created_at)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created_at)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.First_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.First_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Last_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Last_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Last_order_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Last_order_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Multipass_identifier)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Multipass_identifier)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Note)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Orders_count)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Orders_count)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total_spent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total_spent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Updated_at)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Updated_at)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Verified_email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Verified_email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tags)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tags)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Last_order_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Last_order_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image_url)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Image_url)
        </dd>
    </dl>
</div>

<div id="divDefaultAdrress" class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div id="pnlDefaultAdrress" class="panel panel-primary">
            <div class="panel-heading">
                <div class="panel-title">
                    <h3>Default Adrress</h3>
                </div>
            </div>
            <div class="panel-body">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Default_address.First_name)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Default_address.First_name)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Default_address.Last_name)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Default_address.Last_name)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Default_address.Address1)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Default_address.Address1)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Default_address.Address2)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Default_address.Address2)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Default_address.City)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Default_address.City)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Default_address.Province)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Default_address.Province)
                    </dd>
                    <dd>
                        @Html.DisplayFor(model => model.Default_address.City)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Default_address.Country)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Default_address.Country)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Default_address.Zip)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Default_address.Zip)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Email)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Email)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Default_address.Phone)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Default_address.Phone)
                    </dd>
                </dl>
            </div> <!--end Panel Body-->
        </div> <!--end Panel-->
    </div> <!--end col-->
</div> <!--end row-->

<div id="divAltAdrresses" class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div id="pnlAltAdrresses" class="panel panel-primary">
            <div class="panel-heading">
                <div class="panel-title">
                    <h3>Alternative Addresses</h3>
                </div>
            </div>
            <div class="panel-body">
                @if (Model.addresses.Count() == 0)
                {
                    <p>No alternative addresses available</p>
                }
                else
                {
                    for (int i = 0; i < Model.addresses.Count(); i++)
                    {
                        <h3>Alt Address: @i.ToString()</h3>
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.addresses[i].First_name)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.addresses[i].First_name)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.addresses[i].Last_name)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.addresses[i].Last_name)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.addresses[i].Address1)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.addresses[i].Address1)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.addresses[i].Address2)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.addresses[i].Address2)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.addresses[i].City)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.addresses[i].City)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.addresses[i].Province)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.addresses[i].Province)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.addresses[i].Country)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.addresses[i].Country)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.addresses[i].Zip)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.addresses[i].Zip)
                            </dd>
                        </dl>
                    }
                }
            </div> <!--end Panel Body-->
        </div> <!--end Panel-->
    </div> <!--end col-->
</div> <!--end row-->

<p>
    @Html.ActionLink("Edit", "CustomerEdit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
