﻿@model IEnumerable<ShopifyCustomer>

@{
    ViewBag.Title = "Customer List";
}

@Html.Partial("_AdminNav")

<h2>Shopify Customer List</h2>

<p>
    @Html.ActionLink("Create New", "CustomerCreate")
</p>

<div class="panel panel-primary">
    <div class="panel-heading">
        <div class="panel-title">
            <h4>Find Shopify Customer</h4>
        </div>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm("GetCustomers", "Shopify", FormMethod.Get))
        {
            <div class="form-group col-xs-12 col-sm-6 col-md-3">
                @Html.Label("Last Name: ", htmlAttributes: new { @class = "control-label col-xs-4" })
                <div class="col-xs-8">
                    @Html.TextBox("lastName", null, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <p>&nbsp;</p>
            <div class="form-group">
                <div class="col-md-offset-1 col-md-10">
                    <input type="submit" value="Search" class="btn btn-Success" />
                </div>
            </div>
        }
    </div> <!--end Panel Body-->
</div> <!--end Panel-->

<p>&nbsp;</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Last_order_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Last_name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Last_order_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.First_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Last_name)
        </td>
        <td>
            @Html.ActionLink("Edit", "CustomerEdit", new { id=item.Id }) |
            @Html.ActionLink("Details", "CustomerDetails", new { id = item.Id }) |

            <!--
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            -->
        </td>
    </tr>
}

</table>
