﻿@model IEnumerable<ShopifyAgent.ShopifyProduct>

@{
    ViewBag.Title = "GetProducts";
}

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">

        <div id="divSubLookup" class="row">
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                @using (Html.BeginForm("GetProducts", "Shopify", FormMethod.Get))
                {
                    <div class="row">
                        <div class="col-xs-8 col-sm-8 col-md-12 col-lg-12">
                            <div id="imaginary_container">
                                <div class="input-group stylish-input-group">
                                    <input id="param" name="param" type="text" class="form-control" placeholder="...product search">
                                    <span class="input-group-addon">
                                        <button type="submit">
                                            <span class="glyphicon glyphicon-search"></span>
                                        </button>
                                    </span>
                                    <span class="input-group-btn">
                                        <button type="button" data-toggle="modal" data-target="#mySubscriberModal">
                                            <span class="glyphicon glyphicon-info-sign"></span>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                <p>&nbsp;</p>
            </div> <!--end col-->
        </div> <!--end row-->

    </div>
</div>

@Html.Partial("_AdminNav")

<h2>GetProducts</h2>


<hr />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Created_at)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product_type)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created_at)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product_type)
            </td>
            <td>
                @Html.ActionLink("Edit", "ProductEdit", new { id = item.Id }) |
                @Html.ActionLink("Details", "ProductDetails", new { id = item.Id })
            </td>
        </tr>
    }

</table>
