﻿@using AdminCart;

@{
    ViewBag.Title = "Shopify Admin Stuff";
}

<h2>Shopify Admin Stuff</h2>

@Html.Partial("_AdminNav")

<p>&nbsp;</p>

<div class="row">
    <a href="~/Shopify/GetOrders/">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="dash_icon" style="padding:20px;">
                <img src="/images/admin/metrics.png" style='width:100px'>
                <div class='title'>List all Shopify Orders</div>
            </div>
        </div><!--end column-->
    </a>

    <a href="~/Shopify/GetCustomers/">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="dash_icon" style="padding:20px;">
                <img src="~/images/admin/subscribers.png" style='width:100px'>
                <div class='title'>List all Shopify Customers</div>
            </div>
        </div><!--end column-->
    </a>

    <a href="~/Shopify/GetProducts/">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="dash_icon" style="padding:20px;">
                <img src="~/images/admin/plans.png" style='width:100px'>
                <div class='title'>List all Shopify Products</div>
            </div>
        </div><!--end column-->
    </a>
</div>

<div class="row">
    <a href="~/Shopify/ManualShopifyAgent/">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="dash_icon" style="padding:20px;">
                <img src="/images/admin/plans.png" style='width:100px'>
                <div class='title'>Upload New Shopify Orders</div>
            </div>
        </div><!--end column-->
    </a>

    <a href="https://docs.shopify.com/api" target="_blank">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="dash_icon" style="padding:20px;">
                <img src="/images/admin/metrics.png" style='width:100px'>
                <div class='title'>Go to Shopify API Reference</div>
            </div>
        </div><!--end column-->
    </a>

    @{
        switch (Config.appName.ToUpper())
        {
            case "FACEMASTER":
                @Html.Raw(System.Web.HttpUtility.HtmlDecode("<a href='https://facemaster.myshopify.com/admin/' target=' _blank'>"))
                break;

            case "CRYSTALIFT":
                @Html.Raw(System.Web.HttpUtility.HtmlDecode("<a href='https://crystalift.myshopify.com/admin/' target=' _blank'>"))
                break;

            case "SONULASE":
                @Html.Raw(System.Web.HttpUtility.HtmlDecode("<a href='http://sonulase-2.myshopify.com/admin/' target=' _blank'>"))
                break;

            case "RMSHOP":
                @Html.Raw(System.Web.HttpUtility.HtmlDecode("<a href='https://fm-cer.myshopify.com/admin/' target=' _blank'>"))
                break;

            default:
                @Html.Raw(System.Web.HttpUtility.HtmlDecode("<a href='http://www.facemaster.com/' target=' _blank'>"))
                break;
        }
    }

        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="dash_icon" style="padding:20px;">
                <img src="/images/admin/plans.png" style='width:100px'>
                <div class='title'>Go to Shopify Admin</div>
            </div>
        </div><!--end column-->
    </a>
</div><!--end row-->
