﻿@{
    ViewBag.Title = "ManualShopifyAgent";
}

<h2>ManualShopifyAgent</h2>

@Html.Partial("_AdminNav")

<p>
    Total Shopify Orders Uploaded: @Html.ViewBag.oList.Count
</p>

<table class="table">
    <tr>
        <th>
            Shopify OrderID
        </th>
    </tr>

    @foreach (int orderID in ViewBag.oList) {
        <tr>
            <td>@Html.Raw(orderID)</td>            
        </tr>
    }

</table>
