﻿@model ShopifyAgent.ShopifyOrder

@{
    ViewBag.Title = "Order Details";
}

<h2>Order Details</h2>

@Html.Partial("_AdminNav")

<div>
    <h4>Shopify Order Number: @Html.DisplayFor(model => model.Order_number)</h4>
    <hr />

        <div id="divAddresses" class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div id="pnlBillAddress" class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <h3>Billing Address</h3>
                        </div>
                    </div>
                    <div class="panel-body">
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.ShopifyBillingAddress.First_name)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.ShopifyBillingAddress.First_name)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.ShopifyBillingAddress.Last_name)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.ShopifyBillingAddress.Last_name)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.ShopifyBillingAddress.Address1)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.ShopifyBillingAddress.Address1)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.ShopifyBillingAddress.Address2)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.ShopifyBillingAddress.Address2)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.ShopifyBillingAddress.City)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.ShopifyBillingAddress.City)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.ShopifyBillingAddress.Province)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.ShopifyBillingAddress.Province)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.ShopifyBillingAddress.Zip)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.ShopifyBillingAddress.Zip)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.ShopifyBillingAddress.Country)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.ShopifyBillingAddress.Country)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.ShopifyBillingAddress.Phone)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.ShopifyBillingAddress.Phone)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.Email)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Email)
                            </dd>
                        </dl>
                    </div> <!--end Panel Body-->
                </div> <!--end Panel-->
            </div> <!--end col-->

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div id="pnlShipAddress" class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <h3>Shipping Address</h3>
                        </div>
                    </div>
                    <div class="panel-body">
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.ShopifyShippingAddress.First_name)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.ShopifyShippingAddress.First_name)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.ShopifyShippingAddress.Last_name)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.ShopifyShippingAddress.Last_name)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.ShopifyShippingAddress.Address1)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.ShopifyShippingAddress.Address1)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.ShopifyShippingAddress.Address2)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.ShopifyShippingAddress.Address2)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.ShopifyShippingAddress.City)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.ShopifyShippingAddress.City)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.ShopifyShippingAddress.Province)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.ShopifyShippingAddress.Province)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.ShopifyShippingAddress.Zip)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.ShopifyShippingAddress.Zip)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.ShopifyShippingAddress.Country)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.ShopifyShippingAddress.Country)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.ShopifyShippingAddress.Phone)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.ShopifyShippingAddress.Phone)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.Email)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Email)
                            </dd>
                        </dl>
                    </div> <!--end Panel Body-->
                </div> <!--end Panel-->
            </div> <!--end col-->

        </div> <!--end row-->

        <p>&nbsp;</p>

        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Buyer_accepts_marketing)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Buyer_accepts_marketing)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Cancel_reason)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Cancel_reason)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Cancelled_at)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Cancelled_at)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Cart_token)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Cart_token)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Checkout_token)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Checkout_token)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Closed_at)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Closed_at)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Confirmed)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Confirmed)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Created_at)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Created_at)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Currency)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Currency)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Financial_status)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Financial_status)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Fulfillment_status)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Fulfillment_status)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Gateway)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Gateway)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Landing_site)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Landing_site)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Location_id)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Location_id)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Note)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Note)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Number)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Number)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Reference)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Reference)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Referring_site)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Referring_site)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Source)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Source)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Subtotal_price)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Subtotal_price)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Taxes_included)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Taxes_included)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Test)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Test)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Token)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Token)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Total_discounts)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Total_discounts)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Total_line_items_price)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Total_line_items_price)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Total_price)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Total_price)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Total_price_usd)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Total_price_usd)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Total_tax)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Total_tax)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Total_weight)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Total_weight)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Updated_at)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Updated_at)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.User_id)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.User_id)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Browser_ip)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Browser_ip)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Landing_site_ref)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Landing_site_ref)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Order_number)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Order_number)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Processing_method)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Processing_method)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Checkout_id)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Checkout_id)
            </dd>

        </dl>
    </div>

<hr />
<div id="divOrderRisks" class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div id="pnlOrderRisks" class="panel panel-primary">
            <div class="panel-heading">
                <div class="panel-title">
                    <h3>Order Risks</h3>
                </div>
            </div>
            <div class="panel-body">
                @if (ViewBag.RiskList == null)
                {
                    <span>No Risk Items Were Encountered</span>
                }
                else
                {
                    <table class="table table-responsive table-striped">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>OrderId</th>
                                <th>Score</th>
                                <th>Cause_Cancel</th>
                                <th>Display</th>
                                <th>Message</th>
                                <th>Recommendation</th>
                                <th>Source</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (ShopifyAgent.ShopOrderRisk item in ViewBag.RiskList)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(i => item.Id) </td>
                                    <td>@Html.DisplayFor(i => item.Order_id)</td>
                                    <td>@Html.DisplayFor(i => item.Score)</td>
                                    <td>@Html.DisplayFor(i => item.Cause_cancel)</td>
                                    <td>@Html.DisplayFor(i => item.Display)</td>
                                    <td>@Html.DisplayFor(i => item.Message)</td>
                                    <td>@Html.DisplayFor(i => item.Recommendation)</td>
                                    <td>@Html.DisplayFor(i => item.Source)</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
            </div> <!--end Panel Body-->
        </div> <!--end Panel-->
    </div> <!--end col-->
</div> <!--end row-->

<hr />
<div id="divShippingLines" class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div id="pnlShippingLines" class="panel panel-primary">
            <div class="panel-heading">
                <div class="panel-title">
                    <h3>Shipping Lines</h3>
                </div>
            </div>
            <div class="panel-body">
                <table class="table table-responsive table-striped">
                    <thead>
                        <tr>
                            <td><strong>Code</strong></td>
                            <td><strong>Price</strong></td>
                            <td><strong>Source</strong></td>
                            <td><strong>Title</strong></td>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int j = 0; j < Model.ShippingLines.Count(); j++)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(i => Model.ShippingLines[j].Code)
                                </td>
                                <td>
                                    @Html.DisplayFor(i => Model.ShippingLines[j].Price)
                                </td>
                                <td>
                                    @Html.DisplayFor(i => Model.ShippingLines[j].Source)
                                </td>
                                <td>
                                    @Html.DisplayFor(i => Model.ShippingLines[j].Title)
                                </td>
                            </tr>
                        }
                    </tbody>

                </table>
            </div> <!--end Panel Body-->
        </div> <!--end Panel-->
    </div> <!--end col-->
</div> <!--end row-->

<hr />
<div id="divDiscountCodes" class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div id="pnlDiscountCodes" class="panel panel-primary">
            <div class="panel-heading">
                <div class="panel-title">
                    <h3>Discount Codes</h3>
                </div>
            </div>
            <div class="panel-body">
                <table class="table table-responsive table-striped">
                    <thead>
                        <tr>
                            <td><strong>Code</strong></td>
                            <td><strong>Amount</strong></td>
                            <td><strong>Type</strong></td>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int j = 0; j < Model.DiscountCodes.Count(); j++)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(i => Model.DiscountCodes[j].Code)
                                </td>
                                <td>
                                    @Html.DisplayFor(i => Model.DiscountCodes[j].Amount)
                                </td>
                                <td>
                                    @Html.DisplayFor(i => Model.DiscountCodes[j].Type)
                                </td>
                            </tr>
                        }
                    </tbody>

                </table>
            </div> <!--end Panel Body-->
        </div> <!--end Panel-->
    </div> <!--end col-->
</div> <!--end row-->

<hr />
<div id="divNoteAttributes" class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div id="pnlNoteAttributes" class="panel panel-primary">
            <div class="panel-heading">
                <div class="panel-title">
                    <h3>Note Attributes</h3>
                </div>
            </div>
            <div class="panel-body">
                <table class="table table-responsive table-striped">
                    <thead>
                        <tr>
                            <td><strong>Name</strong></td>
                            <td><strong>Value</strong></td>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int j = 0; j < Model.NoteAttributes.Count(); j++)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(i => Model.NoteAttributes[j].name)
                                </td>
                                <td>
                                    @Html.DisplayFor(i => Model.NoteAttributes[j].value)
                                </td>
                            </tr>
                        }
                    </tbody>

                </table>
            </div> <!--end Panel Body-->
        </div> <!--end Panel-->
    </div> <!--end col-->
</div> <!--end row-->

<hr />
<div id="divTaxLines" class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div id="pnlTaxLines" class="panel panel-primary">
            <div class="panel-heading">
                <div class="panel-title">
                    <h3>Tax Lines</h3>
                </div>
            </div>
            <div class="panel-body">
                <table class="table table-responsive table-striped">
                    <thead>
                        <tr>
                            <td><strong>Price</strong></td>
                            <td><strong>Rate</strong></td>
                            <td><strong>Title</strong></td>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int j = 0; j < Model.TaxLines.Count(); j++)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(i => Model.TaxLines[j].Price)
                                </td>
                                <td>
                                    @Html.DisplayFor(i => Model.TaxLines[j].Rate)
                                </td>
                                <td>
                                    @Html.DisplayFor(i => Model.TaxLines[j].Title)
                                </td>
                            </tr>
                        }
                    </tbody>

                </table>
            </div> <!--end Panel Body-->
        </div> <!--end Panel-->
    </div> <!--end col-->
</div> <!--end row-->

<hr />
<div id="divLineItems" class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div id="pnlLineItems" class="panel panel-primary">
            <div class="panel-heading">
                <div class="panel-title">
                    <h3>Line Items</h3>
                </div>
            </div>
            <div class="panel-body">
                @for (int j = 0; j < Model.LineItems.Count(); j++)
                {
                    <h3>Line Item: @j.ToString()</h3>
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.LineItems[j].Product_id)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.LineItems[j].Product_id)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.LineItems[j].Fulfillment_service)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.LineItems[j].Fulfillment_service)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.LineItems[j].Fulfillment_status)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.LineItems[j].Fulfillment_status)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.LineItems[j].Gift_Card)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.LineItems[j].Gift_Card)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.LineItems[j].Grams)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.LineItems[j].Grams)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.LineItems[j].Id)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.LineItems[j].Id)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.LineItems[j].Sku)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.LineItems[j].Sku)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.LineItems[j].Title)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.LineItems[j].Title)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.LineItems[j].Price)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.LineItems[j].Price)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.LineItems[j].Total_discount)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.LineItems[j].Total_discount)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.LineItems[j].Quantity)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.LineItems[j].Quantity)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.LineItems[j].Requires_shipping)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.LineItems[j].Requires_shipping)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.LineItems[j].Taxable)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.LineItems[j].Taxable)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.LineItems[j].Variant_id)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.LineItems[j].Variant_id)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.LineItems[j].Variant_title)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.LineItems[j].Variant_title)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.LineItems[j].Vendor)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.LineItems[j].Vendor)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.LineItems[j].Name)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.LineItems[j].Name)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.LineItems[j].Variant_inventory_management)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.LineItems[j].Variant_inventory_management)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.LineItems[j].Product_exists)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.LineItems[j].Product_exists)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.LineItems[j].Fulfillable_quantity)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.LineItems[j].Fulfillable_quantity)
                        </dd>
                    </dl>
                    <hr />
                    <p>Tax Lines</p>
                    for (int k = 0; k < Model.LineItems[j].Tax_lines.Count(); k++)
                    {
                        <h3>Tax Line: @k.ToString()</h3>
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.LineItems[j].Tax_lines[k].Price)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.LineItems[j].Tax_lines[k].Price)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.LineItems[j].Tax_lines[k].Rate)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.LineItems[j].Tax_lines[k].Rate)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.LineItems[j].Tax_lines[k].Title)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.LineItems[j].Tax_lines[k].Title)
                            </dd>
                        </dl>
                    }
                    <hr />
                    <p>Properties</p>
                    for (int k = 0; k < Model.LineItems[j].Properties.Count(); k++)
                    {
                        <h3>Properties: @k.ToString()</h3>
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.LineItems[j].Properties[k].name)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.LineItems[j].Properties[k].name)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.LineItems[j].Properties[k].value)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.LineItems[j].Properties[k].value)
                            </dd>
                        </dl>
                    }
                    <hr />
                }

            </div> <!--end Panel Body-->
        </div> <!--end Panel-->
    </div> <!--end col-->
</div> <!--end row-->

<hr />
<div id="divPaymentDetails" class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div id="pnlPaymentDetails" class="panel panel-primary">
            <div class="panel-heading">
                <div class="panel-title">
                    <h3>Payment Details</h3>
                </div>
            </div>
            <div class="panel-body">
            @if (Model.payment_details == null)
            {
               <span>No Payment Details Available (probably a PayWhirlStripe transaction)</span>
            }
            else
            {
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.payment_details.Credit_card_company)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.payment_details.Credit_card_company)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.payment_details.Credit_card_number)
                    </dt>
                    <dd>
                        @{
                            string s = (Model.payment_details.Credit_card_number == null) ? "n/a" : Model.payment_details.Credit_card_number;
                            s = s.Substring(s.Length - 4, 4);
                            <span>**** **** **** @s</span>
                        }
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.payment_details.Credit_card_bin)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.payment_details.Credit_card_bin)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.payment_details.Avs_result_code)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.payment_details.Avs_result_code)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.payment_details.Cvv_result_code)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.payment_details.Cvv_result_code)
                    </dd>

                </dl>
            }

            </div> <!--end Panel Body-->
        </div> <!--end Panel-->
    </div> <!--end col-->
</div> <!--end row-->

<hr />
<div id="divTransactions" class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div id="pnlTransactions" class="panel panel-primary">
            <div class="panel-heading">
                <div class="panel-title">
                    <h3>Transactions</h3>
                </div>
            </div>
            <div class="panel-body">
                @if (Model.Transactions != null)
                {
                    <table class="table table-responsive table-striped">
                        <thead>
                            <tr>
                                <td><strong>Date</strong></td>
                                <td><strong>Amount</strong></td>
                                <td><strong>AuthorizationID</strong></td>
                                <td><strong>Type</strong></td>
                                <td><strong>Message</strong></td>
                                <td><strong>Gateway</strong></td>
                                <td><strong>Test</strong></td>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int j = 0; j < Model.Transactions.Count(); j++)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(i => Model.Transactions[j].Created_at)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(i => Model.Transactions[j].Amount)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(i => Model.Transactions[j].Authorization_key)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(i => Model.Transactions[j].Kind)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(i => Model.Transactions[j].Message)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(i => Model.Transactions[j].Gateway)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(i => Model.Transactions[j].Test)
                                    </td>

                                </tr>
                            }
                        </tbody>                   
                    </table>
                }
                else
                {
                    <p>No Transactions are available for this order.</p>
                }
            </div> <!--end Panel Body-->
            </div> <!--end Panel-->
        </div> <!--end col-->
    </div> <!--end row-->

<hr />
<div id="divFulfillments" class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div id="pnlFulfillments" class="panel panel-primary">
            <div class="panel-heading">
                <div class="panel-title">
                    <h3>Fulfillments</h3>
                </div>
            </div>
            <div class="panel-body">
                @if (Model.Fulfillments != null)
                {
                    <table class="table table-responsive table-striped">
                        <thead>
                            <tr>
                                <td><strong>Date</strong></td>
                                <td><strong>ID</strong></td>
                                <td><strong>OrderID</strong></td>
                                <td><strong>Status</strong></td>
                                <td><strong>Tracking#</strong></td>
                                <td><strong>TrackingURL</strong></td>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int j = 0; j < Model.Fulfillments.Count(); j++)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(i => Model.Fulfillments[j].Created_at)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(i => Model.Fulfillments[j].Id)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(i => Model.Fulfillments[j].Order_Id)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(i => Model.Fulfillments[j].Status)
                                    </td>
                                    <td>
                                        @if (Model.Fulfillments[j].Tracking_numbers.Count() > 0)
                                        { @Html.DisplayFor(i => Model.Fulfillments[j].Tracking_numbers[0]) }
                                        else { Html.Raw("No Tracking Numbers Available"); }
                                    </td>
                                    <td>
                                        @if (Model.Fulfillments[j].Tracking_urls.Count() > 0)
                                        { @Html.DisplayFor(i => Model.Fulfillments[j].Tracking_urls[0]) }
                                        else { Html.Raw("No Tracking URLs Available"); }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <p>No Fulfillments are available for this order.</p>
                }
            </div> <!--end Panel Body-->
        </div> <!--end Panel-->
    </div> <!--end col-->
</div> <!--end row-->

<div id="divClientDetails" class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div id="pnlClientDetails" class="panel panel-primary">
            <div class="panel-heading">
                <div class="panel-title">
                    <h3>Client Details</h3>
                </div>
            </div>
            <div class="panel-body">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.ClientDetails.Accept_language)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ClientDetails.Accept_language)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.ClientDetails.Browser_ip)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ClientDetails.Browser_ip)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.ClientDetails.Session_hash)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ClientDetails.Session_hash)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.ClientDetails.User_agent)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ClientDetails.User_agent)
                    </dd>

                </dl>
            </div> <!--end Panel Body-->
        </div> <!--end Panel-->
    </div> <!--end col-->
</div> <!--end row-->

    <p>
        @Html.ActionLink("Back to List", "GetOrders")
    </p>
