﻿@model IEnumerable<ShopifyAgent.ShopifyOrder>

@{
    ViewBag.Title = "GetOrders";
}

<h2>Get All Shopify Orders</h2>

@Html.Partial("_AdminNav")

<div class="panel panel-primary">
    <div class="panel-heading">
        <div class="panel-title">
            <h4>Find Shopify Order</h4>
        </div>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm("GetOrders", "Shopify", FormMethod.Get))
        {
            <div class="form-group col-xs-12 col-sm-6 col-md-3">
                @Html.Label("Shopify OrderID: ", htmlAttributes: new { @class = "control-label col-xs-4" })
                <div class="col-xs-8">
                    @Html.TextBox("shopifyOrderID", null, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <p>&nbsp;</p>
            <div class="form-group">
                <div class="col-md-offset-1 col-md-10">
                    <input type="submit" value="Search" class="btn btn-Success" />
                </div>
            </div>
        }
    </div> <!--end Panel Body-->
</div> <!--end Panel-->

<p>&nbsp;</p>

<table class="table">
    <tr>
        <th width="5%">
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th width="10%">
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th width="10%">
            @Html.DisplayNameFor(model => model.Created_at)
        </th>
        <th width="10%">
            @Html.DisplayNameFor(model => model.ShopifyCustomer.Last_name)
        </th>
        <th width="10%">
            @Html.DisplayNameFor(model => model.Email)
        </th>
        
        <th width="10%">
            @Html.DisplayNameFor(model => model.Note)
        </th>
       
        <th width="10%">
            @Html.DisplayNameFor(model => model.Total_price)
        </th>
        
        <th width="5%">
            @Html.DisplayNameFor(model => model.Test)
        </th>
        <th></th>
    </tr>

@foreach (ShopifyAgent.ShopifyOrder item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Created_at)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShopifyCustomer.Last_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.Note)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.Total_price)
        </td>
        
        <td>
            @Html.DisplayFor(modeItem => item.Test)
        </td>
        <td>
            @Html.ActionLink("Details", "OrderDetails", new { id = item.Id }) | ****&nbsp;

            @if ((FM2015.Models.User.IsAuthenticated()) && (FM2015.Models.User.HasRole()))
            {
                @Html.ActionLink("Cancel", "OrderCancel", new { id = item.Id })                <span>|</span><br />
                @Html.ActionLink("Send to Admin", "SendToFaceMaster", new { id = item.Id })
            }
        </td>
    </tr>
}

</table>
