﻿@model ShopifyAgent.ShopifyProduct

@{
    ViewBag.Title = "ProductDetails";
}

<h2>ProductDetails</h2>

@Html.Partial("_AdminNav")

<div>
    <h4>ShopifyProduct</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Body_html)
        </dt>

        <dd>
            @Html.Raw(Model.Body_html)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Created_at)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created_at)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Handle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Handle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product_type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product_type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Published_at)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Published_at)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Published_scope)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Published_scope)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Template_suffix)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Template_suffix)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Updated_at)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Updated_at)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vendor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vendor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tags)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tags)
        </dd>

    </dl>
</div>

<div id="divVariant" class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div id="pnlVariant" class="panel panel-primary">
            <div class="panel-heading">
                <div class="panel-title">
                    <h3>Variants</h3>
                </div>
            </div>
            <div class="panel-body">
                @if (Model.variants != null)
                {
                    for (int i = 0; i < Model.variants.Length; i++)
                    {
                        <h3>Product Variants: @i.ToString()</h3>
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.variants[i].Barcode)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.variants[i].Barcode)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.variants[i].Compare_at_price)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.variants[i].Compare_at_price)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.variants[i].Created_at)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.variants[i].Created_at)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.variants[i].Fulfillment_service)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.variants[i].Fulfillment_service)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.variants[i].Grams)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.variants[i].Grams)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.variants[i].Id)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.variants[i].Id)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.variants[i].Image_id)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.variants[i].Image_id)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.variants[i].Inventory_management)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.variants[i].Inventory_management)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.variants[i].Inventory_policy)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.variants[i].Inventory_policy)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.variants[i].Inventory_quantity)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.variants[i].Inventory_quantity)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.variants[i].Old_inventory_quantity)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.variants[i].Old_inventory_quantity)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.variants[i].Option1)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.variants[i].Option1)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.variants[i].Option2)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.variants[i].Option2)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.variants[i].Option3)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.variants[i].Option3)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.variants[i].Position)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.variants[i].Position)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.variants[i].Price)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.variants[i].Price)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.variants[i].Product_id)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.variants[i].Product_id)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.variants[i].Requires_shipping)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.variants[i].Requires_shipping)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.variants[i].Sku)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.variants[i].Sku)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.variants[i].Taxable)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.variants[i].Taxable)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.variants[i].Title)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.variants[i].Title)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.variants[i].Updated_at)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.variants[i].Updated_at)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.variants[i].Weight)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.variants[i].Weight)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.variants[i].Weight_unit)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.variants[i].Weight_unit)
                            </dd>
                        </dl>
                    }
                }
                else
                {
                    <p>No Product Variants Available</p>
                }
            </div> <!--end Panel Body-->
        </div> <!--end Panel-->
    </div> <!--end col-->

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div id="pnlOption" class="panel panel-primary">
            <div class="panel-heading">
                <div class="panel-title">
                    <h3>Options</h3>
                </div>
            </div>
            <div class="panel-body">
                @if (Model.options != null)
                {
                    for (int i = 0; i < Model.options.Length; i++)
                    {
                        <h3>Product Option: @i.ToString()</h3>
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.options[i].Id)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.options[i].Id)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.options[i].Name)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.options[i].Name)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.options[i].Position)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.options[i].Position)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.options[i].Product_id)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.options[i].Product_id)
                            </dd>
                        </dl>
                    }
                }
                else
                {
                    <p>No Product Options Available</p>
                }

            </div> <!--end Panel Body-->
        </div> <!--end Panel-->
    </div> <!--end col-->
</div> <!--end row-->

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div id="pnlImage" class="panel panel-primary">
            <div class="panel-heading">
                <div class="panel-title">
                    <h3>Images</h3>
                </div>
            </div>
            <div class="panel-body">
                @if (Model.images != null)
                {
                    for (int i = 0; i < Model.images.Length; i++)
                    {
                        <h3>Product Image: @i.ToString()</h3>
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.images[i].Created_at)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.images[i].Created_at)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.images[i].Id)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.images[i].Id)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.images[i].Position)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.images[i].Position)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.images[i].Product_id)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.images[i].Product_id)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.images[i].Src)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.images[i].Src)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.images[i].Updated_at)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.images[i].Updated_at)
                            </dd>
                        </dl>
                        <p><img src="@Url.Content(Model.images[i].Src)" alt="IMAGE" /></p>
                    }
                }

                else
                {
                    <p>No Product Options Available</p>
                }

            </div> <!--end Panel Body-->
        </div> <!--end Panel-->
    </div> <!--end col-->

</div> <!--end row-->
<p>
    @Html.ActionLink("Edit", "ProductEdit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "GetProducts")
</p>
