﻿@model FM2015.ViewModels.RebuildFMDetailsReport

@{
    ViewBag.Title = "RebuildFMOrderDetailsFromShopifyFM";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>RebuildFMOrderDetailsFromShopifyFM</h2>

<h3>@ViewBag.ErrorMsg</h3>

Orders Updated:
Count = @ViewBag.UpdatedCount
<p>&nbsp;</p>

<table class="table table-responsive table-striped">
    <tr>
        <th>
            Order ID
        </th>
    </tr>

    @foreach (var item in Model.MatchedOrders)
    {
        <tr>
            <td>
                @Html.ActionLink(item.ToString(), "Details", "Orders", new { id = item }, null)
            </td>
        </tr>
    }

</table>

Orders NOT Updated:
Count = @ViewBag.UnUpdatedCount
<p>&nbsp;</p>

@if (Model.UnMatchedOrders.Count == 0)
{
    <span>No unmatched orders</span>
}
else
{
    <table class="table table-responsive table-striped">
        <tr>
            <th>
                Order ID
            </th>
            <th>
                Error Code
            </th>
            <th>
                Error Message
            </th>
        </tr>

        @foreach (var item in Model.UnMatchedOrders)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.OrderId.ToString(), "Details", "Orders", new { id = item.OrderId }, null)
                </td>
                <td>
                    @Html.DisplayFor(i => item.ErrorCode)
                </td>
                <td>
                    @Html.DisplayFor(i => item.ErrorMsg)
                </td>
            </tr>
        }

    </table>
}


