﻿
@{
    ViewBag.Title = "SendTo" + @AdminCart.Config.appName;
}

<h2>Send To @AdminCart.Config.appName</h2>

<h2>Send To @AdminCart.Config.appName Completed for ShopifyOrder</h2>

@Html.Partial("_AdminNav")



