﻿@model FM2015.Models.FM4AppDownload

@{
    ViewBag.Title = "FM4 App Download";
    Layout = "";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - FaceMaster Platinum</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <meta name="description" content="" />

</head>

<body>
    <div class = "container body-content">
        <div>
            <h3>FM4 App Download</h3>
            @Html.DisplayFor(model => model.DownloadMessage)
        </div>

        <div>
            <div>
                @Html.Raw(Model.DownloadLink)
            </div>
            <hr />

            <span>Some Details (for debugging only!)</span>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Browser)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Browser)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.OperatingSystem)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.OperatingSystem)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.IsMobile)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.IsMobile)
                </dd>

            </dl>
        </div>

    </div>

</body>
</html>






