<%@ Page Language="C#" MasterPageFile="MasterPage3_Blank.master" AutoEventWireup="true" Inherits="Admin_BulkCopyXLtoDB" Title="Untitled Page" Codebehind="BulkCopyXLtoDB.aspx.cs" %>

<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" Runat="Server">

    <asp:Label ID="Label1" runat="server" Text="Press To Start Table Copy"></asp:Label>
    <asp:Button ID="Button1" runat="server" Text="Start" OnClick="Button1_Click" />
    <br />
    <asp:Label ID="Label2" runat="server" Visible="false" Text="label not updated yet"></asp:Label>

</asp:Content>

