<%@ Page Language="C#" MasterPageFile="MasterPage3_Blank.master" AutoEventWireup="true" Inherits="site_Admin_CopyDBTables" Title="Untitled Page" Codebehind="CopyDBTables.aspx.cs" %>


<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" Runat="Server">

Copy a table from one DB to a table in the test DB
<br />
    <asp:Button ID="btnCopyDB" onclick="btnCopyDB_Click" runat="server" Text="Start Copy" />
    <br /><br />
    <asp:Label ID="lblDone" runat="server" Visible="false" Text="Copy Is Completed"></asp:Label>
</asp:Content>

