<%@ Page Language="C#" Theme="Admin" MasterPageFile="~/Admin/MasterPage3_Blank.master" AutoEventWireup="true" Inherits="Admin_DailySalesTime" Title="Daily Sales by Day or Hour" Codebehind="DailySalesTime.aspx.cs" %>
<%@ Register TagPrefix="uc1" TagName="RDatePicker" Src="../controls/RDatePicker.ascx" %>

<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" Runat="Server">

<div class="sectiontitle" align="left">FaceMaster Sales: By Day-Of-Week</div>
   <p></p>
    
   <table border="1px solid grey">
   <tr>
       <td align="left" width="600px">
          <div class="sectionsubtitle">Search Daily Sales by Date Range</div>
          <table>
           <tr>
               <td width="175px" align="left">
                    Start: <uc1:RDatePicker id="RDatePicker1" runat=server></uc1:RDatePicker>
               </td>
               <td width="175px" align="right">
                    End: <uc1:RDatePicker id="RDatePicker2" runat=server></uc1:RDatePicker>
               </td>
           </tr>
           <tr>
               <td>
                   <asp:Button ID="btnListByDate" runat="server" Text="Search" OnClick="btnListByDate_Click" ValidationGroup="ListByDate" />
                   &nbsp &nbsp 
                   <asp:LinkButton ID="lnkbtnYesterday" OnClick="lnkbtnYesterday_Click" runat="server">Yesterday</asp:LinkButton>
                   &nbsp &nbsp 
                   <asp:LinkButton ID="lnkbtn7Days" OnClick="lnkbtn7Day_Click" runat="server">Last 7 Days</asp:LinkButton>
               </td>
           </tr>
           </table>
       </td>
   </tr>
   </table>
   <br />
   <hr />
   <p></p>

   <asp:GridView 
    ID="gvwDataList"
    SkinID="Admin"
    runat="server" 
    EmptyDataText="No sales with this criteria in the database!" 
    AutoGenerateColumns="false" 
    Width="100%"
    AllowSorting ="true"
    OnSorting="gridView_Sorting" 
    AllowPaging="false" 
    PageSize="10" 
    PagerSettings-Mode="Numeric"
    AutoGenerateDeleteButton="false"
    AutoGenerateEditButton="false" 
    AutoGenerateSelectButton="false" 
    OnRowEditing="gvwDataList_RowEditing"
    OnPageIndexChanging="gvwDataList_PageIndexChanging" 
    OnPageIndexChanged="gvwDataList_PageIndexChanged" 
    EnableViewState="False">
	<HeaderStyle BackColor="blue" ForeColor="White" Font-Bold="True" HorizontalAlign="Center" Font-Size="12px" />
    <AlternatingRowStyle BackColor="blue" />
	<PagerStyle HorizontalAlign="Center" ForeColor="Blue" BackColor="White" Font-Bold="True" />
	<Columns>
         <asp:BoundField HeaderText="Date" DataField="Date" DataFormatString="{0:ddd MMM dd, yyyy}" HtmlEncode="False" HeaderStyle-HorizontalAlign="Center"/>
         <asp:BoundField HeaderText="NetTotalRevenue" DataField="NetRevenue" DataFormatString="{0:$#,##0.00}" HtmlEncode="False" HeaderStyle-HorizontalAlign="Center"/>
         <asp:BoundField HeaderText="NetWebRevenue" DataField="NetWebRevenue" DataFormatString="{0:$#,##0.00}" HtmlEncode="False" HeaderStyle-HorizontalAlign="Center"/>
         <asp:BoundField HeaderText="NetPhoneRevenue" DataField="NetPhoneRevenue" DataFormatString="{0:$#,##0.00}" HtmlEncode="False" HeaderStyle-HorizontalAlign="Center"/>
         <asp:BoundField HeaderText=" SaulRevenue" DataField="SaulRevenue" DataFormatString="{0:$#,##0.00}" HtmlEncode="False" HeaderStyle-HorizontalAlign="Center"/>
         <asp:BoundField HeaderText="DanRevenue" DataField="DanRevenue" DataFormatString="{0:$#,##0.00}" HtmlEncode="False" HeaderStyle-HorizontalAlign="Center"/>
     </Columns>
   </asp:GridView>
   
   <p></p>
   <p align="left">
   
    <p></p>     
    <br />
    
    <p align="left">
    <asp:Button ID="btnGetCSV" runat="server" Text="Download Spreadsheet" OnClick="btnCSV_Click" ValidationGroup="ListByDate" />
    </p>



</asp:Content>

