<%@ Page Language="C#" AutoEventWireup="true" Inherits="EmailReceipt" Codebehind="EmailReceipt.aspx.cs" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Email Receipt</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
         <asp:Literal ID="litEmailReceipt" runat="server"></asp:Literal>   
    </div>
    </form>
</body>
</html>
