﻿<%@ Page Language="C#" Theme="Admin" Title="FM testimonials" AutoEventWireup="true" Inherits="FMTestimonialDetails" Codebehind="FMTestimonialDetails.aspx.cs" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Untitled Page</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    <asp:Literal ID="Literal1" runat="server" />
    <br />
    <asp:Image ID="imgBefore" AlternateText="No Before Pic Submitted" Width="600px" runat="server" />
    <asp:Image ID="imgAfter" AlternateText="No After Pic Submitted" Width="600px" runat="server" />
    </div>
        
        
    </form>
</body>
</html>
