<%@ Page Language="C#" MasterPageFile="MasterPage3_Blank.master" Theme="Admin" AutoEventWireup="true" Inherits="FM.Admin.Logout" Title="SignOut" Codebehind="Logout.aspx.cs" %>

<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" Runat="Server">


<h5>
<br /><br /><br /><br />
<asp:Literal ID="BodyText" runat="server" />
</h5>


</asp:Content>

