<%@ Page Language="C#" MasterPageFile="MasterPage3_Blank.master" Theme="Admin" ValidateRequest="false" AutoEventWireup="true" Inherits="ManageOrders" Title="Manage Orders" Codebehind="ManageOrders.aspx.cs" %>
<%@ Register TagPrefix="uc1" TagName="RDatePicker" Src="../controls/RDatePicker.ascx" %>

<asp:Content ID="MainContent" ContentPlaceHolderID="MainContent" Runat="Server">

<div class="alpha omega sixteen columns">  
   <div class="sectiontitle">Find, Review, and Manage Orders</div>
   <p></p>
   
<asp:Panel ID="pnlOrders" runat="server" DefaultButton="btnOrderLookup">
   <div style="width:100%; border: solid 1px grey">

    <div class="sectionsubtitle">
    Search for Orders by Date Range and by OrderID, Last Name, Email, Serial#, or CustomerID
    <br />
    </div>

    <div class="simpleClear"></div>
    <div style="float:left; margin-left:10px">
        <div class="groupHTML">
            <asp:DropDownList ID="ddlSearchTypes" runat="server" Width="100px" >
                <asp:ListItem Text="FM/Partner ID#" Value="1" Selected="true" />
                <asp:ListItem Text="LastName" Value="2" />
                <asp:ListItem Text="Serial#" Value="3" />
                <asp:ListItem Text="E-mail" Value="4" />
                <asp:ListItem Text="Phone" Value="5" />
                <asp:ListItem Text="CustomerID" Value="6" />
            </asp:DropDownList> 
            <asp:Label ID="lbl5" runat="server" Text="&nbsp;&nbsp;Contains:&nbsp;&nbsp;"></asp:Label> 
            <asp:TextBox ID="txtOrderID" runat="server" Width="100px"/>
            <asp:Label ID="Label1" runat="server" Text="&nbsp;&nbsp;&nbsp;&nbsp;"></asp:Label> 
            <asp:Button ID="btnOrderLookup" runat="server" Text="Find" Width="60px" OnClick="btnOrderLookup_Click" ValidationGroup="OrderLookup" />
        </div>
    </div>

    <div class="groupHTML">
        <div style="float:left; margin-left:15px; margin-right:15px;">
            <asp:CheckBox ID="chkUseDates" CssClass="groupHTML" Text="Use Dates:&nbsp;" runat="server"></asp:CheckBox>
        </div>

        <div class="groupHTML" style="float:left; width:20%;">
            <asp:Label ID="lbl1" runat="server" Text="Start:&nbsp;"></asp:Label> 
            <uc1:RDatePicker id="RDatePicker1" runat="server"></uc1:RDatePicker>
        </div>
        <div class="groupHTML" style="float:left; width:20%;">
            <asp:Label ID="lbl2" runat="server" Text="&nbsp;&nbsp;End:&nbsp;"></asp:Label>
            <uc1:RDatePicker id="RDatePicker2" runat="server"></uc1:RDatePicker>
        </div>
        <div class="simpleClear">
            <div class="groupHTML" style="float:right; width:30%;">
                <asp:Label ID="lbl6" runat="server" Text="&nbsp &nbsp"></asp:Label> 
                <asp:LinkButton ID="lnkbtnYesterday" OnClick="lnkbtnYesterday_Click" runat="server">24HR</asp:LinkButton>
                <asp:Label ID="lbl7" runat="server" Text="&nbsp &nbsp"></asp:Label> 
                <asp:LinkButton ID="lnkbtn7Days" OnClick="lnkbtn7Day_Click" runat="server">Week</asp:LinkButton>
                <asp:Label ID="lbl8" runat="server" Text="&nbsp &nbsp"></asp:Label> 
                <asp:LinkButton ID="lnkbtn30Days" OnClick="lnkbtn30Day_Click" runat="server">Month</asp:LinkButton>
            </div>
        </div>
    </div>

    <div>
        <br />
        <asp:Label runat="server" ID="lblOrderNotFound" Text="Order not found!" Visible="false" />
    </div>

</div>
</asp:Panel>

   <hr />
</div>

<div class="alpha omega sixteen columns">
   <asp:GridView 
    ID="gvwOrderList"
    CssClass="gridResults"
    runat="server" 
    EmptyDataText="No orders with this criteria in the database!" 
    AutoGenerateColumns="false" 
    Width="100%"
    AllowSorting ="true"
    OnSorting="gridView_Sorting" 
    AllowPaging="false" 
    PageSize="10" 
    PagerSettings-Mode="Numeric"
    AutoGenerateDeleteButton="false"
    AutoGenerateEditButton="false" 
    AutoGenerateSelectButton="false" 
    EnableViewState="False">
	<HeaderStyle />
    <AlternatingRowStyle BackColor="blue" />
	<PagerStyle HorizontalAlign="Center" ForeColor="Blue" BackColor="White" Font-Bold="True" />
	<Columns>
         <asp:HyperLinkField  HeaderText="ID" DataTextField="OrderID" DataNavigateUrlFormatString="ReviewOrder.aspx?OrderID={0}" DataNavigateUrlFields="OrderID" />
         <asp:HyperLinkField  HeaderText="PartnerID" DataTextField="SuzanneSomersOrderID" DataNavigateUrlFormatString="ReviewOrder.aspx?OrderID={0}" DataNavigateUrlFields="OrderID" />
         <asp:BoundField HeaderText="Last" DataField="LastName" SortExpression="LastName" HeaderStyle-HorizontalAlign="Center"/>
         <asp:BoundField HeaderText="First" DataField="FirstName" SortExpression="FirstName" HeaderStyle-HorizontalAlign="Center"/>
         <asp:BoundField HeaderText="Action" DataField="Action" HeaderStyle-HorizontalAlign="Center"/>
         <asp:BoundField HeaderText="Phone" DataField="Phone" SortExpression="ByPhone" HeaderStyle-HorizontalAlign="Center"/>
         <asp:BoundField HeaderText="Total" DataField="Total" SortExpression="Total" DataFormatString="{0:C}" HtmlEncode="False" HeaderStyle-HorizontalAlign="Center"/>
         <asp:BoundField HeaderText="Date" DataField="OrderDate" HeaderStyle-HorizontalAlign="Center"/>
         <asp:BoundField HeaderText="BatchID" DataField="BatchID" HeaderStyle-HorizontalAlign="Center"/>
         <asp:BoundField HeaderText="Shipped" DataField="ShipDate" DataFormatString="{0:MM-dd-yyyy}" HeaderStyle-HorizontalAlign="Center"/>
         <asp:BoundField HeaderText="Trck#" DataField="TrackingNumber" HeaderStyle-HorizontalAlign="Center"/>
         <asp:BoundField HeaderText="City" DataField="City" HeaderStyle-HorizontalAlign="Center"/>
         <asp:BoundField HeaderText="State" DataField="State" HeaderStyle-HorizontalAlign="Center"/>
         <asp:BoundField HeaderText="Ctry" DataField="CountryCode" SortExpression="CountryCode" HeaderStyle-HorizontalAlign="Center"/>
     </Columns>
   </asp:GridView>
   
   <p></p>
    <p>
    <asp:Button ID="btnGetCSV" runat="server" Text="Download Spreadsheet" OnClick="btnCSV_Click" />
    </p>
</div>
       
</asp:Content>

