<%@ Page Language="C#" MasterPageFile="MasterPage3_Blank.master" Theme="Admin" AutoEventWireup="true" Inherits="FaceMaster.Admin.ManageFAQs" ValidateRequest="false" Title="Manage FAQs" Codebehind="ManageFAQs.aspx.cs" %>

<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" Runat="Server">

   <div class="sectiontitle">Manage FAQs</div>
   <p></p>
   
   <div id="AdminNavContainer">
   <ul id="AdminNavlist">
      <li><asp:HyperLink ID="lnkAddEditFAQs" 
             NavigateUrl="AddEditFAQs.aspx?action=add"
             Visible='<%# IsAdmin() %>'
             ToolTip="Edit" Text="Edit" runat="server">Add New FAQ</asp:HyperLink>
      </li>
      <li><asp:HyperLink ID="lnkviewallFAQs" 
             NavigateUrl="ManageFAQs.aspx"
             Visible='<%# IsAdmin() %>'
             ToolTip="View" Text="View" runat="server">View All FAQs</asp:HyperLink>
      </li>
   </ul>
   <p></p>
   </div>


<asp:label id="UpdateMsg" runat="server" />

<div class="groupHTML">
    <asp:label id="Label2" Text="keyword:&nbsp;" runat="server" />
    <asp:TextBox ID="txtKeywords" Runat="server" MaxLength="50" Width="10%" />
    <asp:label id="Label1" Text="&nbsp;&nbsp" runat="server" />
    <asp:Button ID="btnSearch" Text="Search" OnClick="btnSearch_Click" Runat="server" />
</div>

<!-- GridView look&feel controlled by Skin -->
<asp:GridView 
    ID="gridPages"
    SkinID="Admin"
    AllowSorting="true"
    OnSorting="gridPages_Sorting" 
    autogeneratecolumns="false"
    emptydatatext="<strong>There are no Pages to Review or Edit - Select NEW above</strong>" 
    AllowPaging="true"
    OnPageIndexChanged="gridPages_PageIndexChanged" 
    OnPageIndexChanging="gridPages_PageIndexChanging" 
    PageSize="20"
    autogeneratedeletebutton="false"
    autogenerateeditbutton="false"
    autogenerateselectbutton="false"
    datakeynames="FaqID"  
    runat="server">
	<HeaderStyle />
    <RowStyle />
    <AlternatingRowStyle />
	<PagerStyle HorizontalAlign="Center" ForeColor="Blue" BackColor="White" Font-Bold="True" />
    <Columns>
     <asp:BoundField DataField="FaqID" HeaderStyle-CssClass="grdResults" HeaderText="ID" HeaderStyle-HorizontalAlign="Center" HeaderStyle-Width="3%" ItemStyle-HorizontalAlign="Center" SortExpression="FaqID" />
     <asp:BoundField DataField="Category" HeaderStyle-CssClass="grdResults" HeaderText="Category" HeaderStyle-HorizontalAlign="Center"  HeaderStyle-Width="5%" SortExpression="Category" />

     <asp:TemplateField HeaderStyle-CssClass="grdResults" HeaderStyle-HorizontalAlign="Center" ItemStyle-HorizontalAlign="Left" HeaderText="Question" SortExpression="Question">
        <ItemTemplate>
           <asp:Label ID="lblQuestion" runat="server" Text='<%# Eval("Question") %>'></asp:Label>
        </ItemTemplate>
     </asp:TemplateField>	
          
     <asp:TemplateField HeaderStyle-CssClass="grdResults" HeaderStyle-HorizontalAlign="Center" ItemStyle-HorizontalAlign="Left" HeaderText="Answer" SortExpression="Answer">
        <ItemTemplate>
           <asp:Label ID="lblAnswer" runat="server" Text='<%# Eval("Answer") %>'></asp:Label>
        </ItemTemplate>
     </asp:TemplateField>
     								
     <asp:BoundField DataField="SortOrder" HeaderStyle-CssClass="grdResults" HeaderText="SortOrder" HeaderStyle-HorizontalAlign="Center" HeaderStyle-Width="7%" ItemStyle-HorizontalAlign="Center" SortExpression="SortOrder" />
     <asp:BoundField DataField="Enabled" HeaderStyle-CssClass="grdResults" HeaderText="Enabled" HeaderStyle-HorizontalAlign="Center" HeaderStyle-Width="7%" ItemStyle-HorizontalAlign="Center" SortExpression="Enabled" />
	 <asp:TemplateField HeaderStyle-CssClass="grdResults" ItemStyle-HorizontalAlign="Center" HeaderText="Options">
		<ItemTemplate>
		<nobr>
        <asp:HyperLink ID="lnkAddEdit" 
             NavigateUrl='<%# "AddEditFAQs.aspx?action=edit&FaqID=" + DataBinder.Eval(Container, "DataItem.FaqID")%>'
             Visible='<%# IsAdmin() %>'
             ToolTip="Edit" Text="Edit" runat="server">Edit</asp:HyperLink>
        <asp:HyperLink ID="lnkDelete" 
             NavigateUrl='<%# "AddEditFAQs.aspx?action=delete&FaqID=" + DataBinder.Eval(Container, "DataItem.FaqID")%>'
             Visible="false"
             ToolTip="Delete" Text="Delete" runat="server">Delete</asp:HyperLink>
		</nobr>
		</ItemTemplate>
	 </asp:TemplateField>									
    </Columns>   
    <EmptyDataTemplate><strong>No FAQs to Review/Edit</strong></EmptyDataTemplate>   
</asp:GridView>
<asp:label runat="server" id="lblMessage"  Font-Names="Verdana" Font-Italic="False" Font-Size="12px" />


<asp:ObjectDataSource ID="objFAQ" runat="server" >
</asp:ObjectDataSource>
   
</asp:Content>

