<%@ Page Language="C#" MasterPageFile="~/Admin/MasterPage3_Blank.master" Theme="Admin" AutoEventWireup="true" Inherits="Admin_MonthSalesReview3" Title="Single Month Sales Review" Codebehind="MonthSalesReview3.aspx.cs" %>
<%@ Register TagPrefix="uc1" TagName="RDatePicker" Src="../controls/RDatePicker.ascx" %>

<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" Runat="Server">

<div class="sectiontitle" style="text-align:left">FaceMaster Sales: By Day-Of-Week</div>
   <p></p>
    
   <table border="1px solid grey">
   <tr>
       <td align="left">
          <div class="sectionsubtitle">Search Sales by Month, Year</div>
          <table>
           <tr>
               <td style="width:200px; text-align:left">
                   <asp:DropDownList ID="ddlMonth" runat="server">
                 </asp:DropDownList>
                   <br /><br />
                   <asp:Button ID="btnListByDate" runat="server" Text="Search" OnClick="btnListByDate_Click" ValidationGroup="ListByDate" />
               </td>
               <td style="width:200px; text-align:left">
                   <asp:DropDownList ID="ddlYear" runat="server">
                 </asp:DropDownList>
               </td>

           </tr>
           </table>


       </td>
   </tr>
   </table>
   <br />
   <hr />
   <p></p>

   <asp:GridView 
    ID="gvwDataList"
    SkinID="Admin"
    runat="server" 
    EmptyDataText="No sales with this criteria in the database!" 
    AutoGenerateColumns="false" 
    Width="100%"
    AllowSorting ="true"
    OnSorting="gridView_Sorting" 
    AllowPaging="false" 
    PageSize="10" 
    PagerSettings-Mode="Numeric"
    AutoGenerateDeleteButton="false"
    AutoGenerateEditButton="false" 
    AutoGenerateSelectButton="false" 
    OnRowEditing="gvwDataList_RowEditing"
    OnPageIndexChanging="gvwDataList_PageIndexChanging" 
    OnPageIndexChanged="gvwDataList_PageIndexChanged" 
    OnRowCreated="gvwDataList_RowCreated"
    EnableViewState="False">
	<HeaderStyle BackColor="blue" ForeColor="White" Font-Bold="True" HorizontalAlign="Center" Font-Size="12px" />
    <AlternatingRowStyle BackColor="blue" />
	<PagerStyle HorizontalAlign="Center" ForeColor="Blue" BackColor="White" Font-Bold="True" />
	<Columns>
         <asp:BoundField HeaderText="Date" DataField="Date" DataFormatString="{0:ddd MMM dd, yyyy}" HtmlEncode="False" HeaderStyle-HorizontalAlign="Center"/>
         <asp:BoundField HeaderText="NetTotalRevenue" DataField="NetRevenue" DataFormatString="{0:$#,##0.00}" HtmlEncode="False" HeaderStyle-HorizontalAlign="Center"/>
         <asp:BoundField HeaderText="NetWebRevenue" DataField="NetWebRevenue" DataFormatString="{0:$#,##0.00}" HtmlEncode="False" HeaderStyle-HorizontalAlign="Center"/>
         <asp:BoundField HeaderText="NetPhoneRevenue" DataField="NetPhoneRevenue" DataFormatString="{0:$#,##0.00}" HtmlEncode="False" HeaderStyle-HorizontalAlign="Center"/>
         <asp:BoundField HeaderText=" Saul" DataField="SaulRevenue" DataFormatString="{0:$#,##0.00}" HtmlEncode="False" HeaderStyle-HorizontalAlign="Center"/>
         <asp:BoundField HeaderText="Staicey" DataField="StaiceyRevenue" DataFormatString="{0:$#,##0.00}" HtmlEncode="False" HeaderStyle-HorizontalAlign="Center"/>
         <asp:BoundField HeaderText="Nikki" DataField="NikkiRevenue" DataFormatString="{0:$#,##0.00}" HtmlEncode="False" HeaderStyle-HorizontalAlign="Center"/>
         <asp:BoundField HeaderText="HDI" DataField="HDIRevenue" DataFormatString="{0:$#,##0.00}" HtmlEncode="False" HeaderStyle-HorizontalAlign="Center"/>
     </Columns>
   </asp:GridView>
   
   <p></p>
   <p style="text-align: left"/>
   
    <p></p>     
    <br />
    
    <p style="text-align: left">
    <asp:Button ID="btnGetCSV" runat="server" Text="Download Spreadsheet" OnClick="btnCSV_Click" ValidationGroup="ListByDate" />
    </p>


</asp:Content>

