<%@ Page Language="C#" AutoEventWireup="true" Inherits="Admin_PrintReceipt" Title="Print Receipt" Codebehind="PrintReceipt.aspx.cs" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Untitled Page</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:Literal ID="litPrintReceipt" runat="server"></asp:Literal>
    </div>
    </form>
</body>
</html>
