<%@ Page Language="C#" MasterPageFile="MasterPage3_Blank.master" Theme="Admin" AutoEventWireup="true" Inherits="FM.Admin.Processing" Title="Processing Order" Codebehind="Processing.aspx.cs" %>

<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" Runat="Server">
<br /><br /><br />
<asp:Literal ID="ProcessingMessage" runat="server" />

</asp:Content>

