<%@ Page Language="C#" MasterPageFile="MasterPage3_Blank.master" Theme="Admin" AutoEventWireup="true" Inherits="Admin_RptListErrLog" Title="Report: Error Log List" Codebehind="RptListErrLog.aspx.cs" %>

<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" Runat="Server">

   <div class="sectiontitle" align="left">Report - Database Error Log</div>
   <h2>Database Error Log</h2>
        <p>
        <strong>Table:</strong>&nbsp;[ ExceptionLogItems ]<br />
        <strong>Total Rows in Log:</strong>&nbsp;<asp:Label ID="lblRows" runat="server"></asp:Label><br />
        <strong>Total Size of Log(KB):</strong>&nbsp;<asp:Label ID="lblSize" runat="server"></asp:Label>
        </p>

    <p>
      <asp:HyperLink runat="server" ID="lnkRefreshPage" NavigateUrl="RptListErrLog.aspx">Refresh Error Log List</asp:HyperLink>
      <br />
      <asp:LinkButton runat="server" ID="lnkbtnTruncate" OnClick="lnkbtnTruncate_OnClick" OnClientClick="javascript:return confirm('Are you sure you want to empty the log?')" Text="Empty Log File"></asp:LinkButton>
    </p>

    <p>
        <asp:label id="UpdateMsg" runat="server" /><br />
    </p>

<!-- GridView look&feel controlled by Skin -->
<asp:GridView 
    ID="grdRptErrLog"
    SkinID="Admin"
    width="90%"
    cellpadding="5"
    autogeneratecolumns="false"
    emptydatatext="<b>There Error Log Is Empty</b>" 
    allowpaging="true"
    OnPageIndexChanged="gridPages_PageIndexChanged" 
    OnPageIndexChanging="gridPages_PageIndexChanging" 
    PageSize="10" 
    autogeneratedeletebutton="false"
    autogenerateeditbutton="false"
    autogenerateselectbutton="true"
    datakeynames="EventID"  
    DataSourceID="myDBErrLog"
    runat="server">
    <Columns>
     <asp:BoundField HeaderStyle-HorizontalAlign="Left" HeaderStyle-Width="7%" ItemStyle-HorizontalAlign="Center" DataField="EventID" HeaderText="EventID" SortExpression="EventID" />
     <asp:BoundField HeaderStyle-HorizontalAlign="Left" HeaderStyle-Width="18%" DataField="LogDateTime" HeaderText="LogDateTime" SortExpression="LogDateTime" />
     <asp:BoundField HeaderStyle-HorizontalAlign="Left" DataField="Message" HeaderText="Message" SortExpression="Message" />
    </Columns>   
    <EmptyDataTemplate><b>Log Is Empty</b></EmptyDataTemplate>   
</asp:GridView>

<asp:DetailsView 
    ID="dtlRptErrLog"
    DefaultMode="ReadOnly"
    AllowPaging="True"
    datakeynames="EventID"  
    DataSourceID="dtlDBErrLog"
    runat="server">
</asp:DetailsView>

<asp:SqlDataSource 
    ID="myDBErrLog"
    SelectCommand="
    SELECT EventID, LogDateTime, Message 
    FROM ExceptionLogItems
    ORDER BY EventID DESC"
    runat="server">
</asp:SqlDataSource>

<asp:SqlDataSource 
    ID="dtlDBErrLog"
    SelectCommand="
    SELECT * 
    FROM ExceptionLogItems
    WHERE EventID=@ErrLogID"
    runat="server">
    <SelectParameters>
        <asp:ControlParameter Name=ErrLogID ControlID="grdRptErrLog" />
    </SelectParameters>
</asp:SqlDataSource>

</asp:Content>

