<%@ Page Language="C#" MasterPageFile="MasterPage3_Blank.master" Theme="Admin" AutoEventWireup="true" Inherits="Admin_SalesCompare" Title="Report: Sales" Codebehind="SalesCompare.aspx.cs" %>
<%@ Register TagPrefix="uc1" TagName="RDatePicker" Src="../controls/RDatePicker.ascx" %>

<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" Runat="Server">

<div class="sectiontitle" style="text-align:left">Sales Reports</div>
   <p>
   </p>
    
   <table border="1px solid grey">
   <tr>
       <td align="left">
          <div class="sectionsubtitle">Search Sales Growth Data by Date Range</div>
          <table>
           <tr>
               <td width="175px" style="text-align:left">
                    Start: <uc1:RDatePicker id="RDatePicker1" runat="server"></uc1:RDatePicker>
               </td>
               <td width="175px" style="text-align:left">
                    End: <uc1:RDatePicker id="RDatePicker2" runat="server"></uc1:RDatePicker>
               </td>
           </tr>
           </table>

           <br /><br />

           <asp:Button ID="btnListByDate" runat="server" Text="SearchByDate" OnClick="btnListByDate_Click" ValidationGroup="ListByDate" />
           &nbsp &nbsp 
           <asp:LinkButton ID="lnkbtnMTD" OnClick="lnkbtnMOM_Click" runat="server">MOM</asp:LinkButton>
           &nbsp &nbsp 
           <asp:LinkButton ID="lnkbtnYTD" OnClick="lnkbtnYOY_Click" runat="server">YOY</asp:LinkButton>
       </td>
   </tr>
   </table>
   <br />
   <asp:Label runat="server" ID="lblFeedbackOK" Text="Your message has been successfully sent." SkinID="FeedbackOK" Visible="false" />
   <asp:Label runat="server" ID="lblFeedbackKO" Text="Sorry, there was a problem sending your message." SkinID="FeedbackKO" Visible="false" />
   <hr />
   <p></p>

   <asp:GridView 
    ID="gvwDataList"
    SkinID="Admin"
    runat="server" 
    EmptyDataText="No sales with this criteria in the database!" 
    AutoGenerateColumns="false" 
    Width="100%"
    AllowSorting ="true"
    OnSorting="gridView_Sorting" 
    AllowPaging="false" 
    PageSize="10" 
    PagerSettings-Mode="Numeric"
    AutoGenerateDeleteButton="false"
    AutoGenerateEditButton="false" 
    AutoGenerateSelectButton="false" 
    OnRowEditing="gvwDataList_RowEditing"
    OnPageIndexChanging="gvwDataList_PageIndexChanging" 
    OnPageIndexChanged="gvwDataList_PageIndexChanged" 
    EnableViewState="False">
	<HeaderStyle BackColor="blue" ForeColor="White" Font-Bold="True" HorizontalAlign="Center" Font-Size="12px" />
    <AlternatingRowStyle BackColor="blue" />
	<PagerStyle HorizontalAlign="Center" ForeColor="Blue" BackColor="White" Font-Bold="True" />
	<Columns>
         <asp:BoundField HeaderText="Date1" DataField="Date1" SortExpression="Date1" HeaderStyle-HorizontalAlign="Center"/>
         <asp:BoundField HeaderText="Units1" DataField="Units1" SortExpression="Units1" HeaderStyle-HorizontalAlign="Center"/>
         <asp:BoundField HeaderText="Revenue1" DataField="Revenue1" SortExpression="Revenue1" HeaderStyle-HorizontalAlign="Center"/>
         <asp:BoundField HeaderText="Date2" DataField="Date2" SortExpression="Date2" HeaderStyle-HorizontalAlign="Center"/>
         <asp:BoundField HeaderText="Units2" DataField="Units2" SortExpression="Units2" HeaderStyle-HorizontalAlign="Center"/>
         <asp:BoundField HeaderText="Revenue2" DataField="Revenue2" SortExpression="Revenue2" HeaderStyle-HorizontalAlign="Center"/>
         <asp:BoundField HeaderText="UnitGrowth" DataField="UnitGrowth" SortExpression="UnitGrowth" HeaderStyle-HorizontalAlign="Center"/>
         <asp:BoundField HeaderText="RevGrowth" DataField="RevGrowth" SortExpression="RevGrowth" HeaderStyle-HorizontalAlign="Center"/>
     </Columns>
   </asp:GridView>
   
   <p></p>
   <p style="text-align:left">
   </p>     
    <br />
    
    <p align="left">
    <asp:Button ID="btnGetCSV" runat="server" Text="Download Spreadsheet" OnClick="btnCSV_Click" ValidationGroup="ListByDate" />
    &nbsp &nbsp &nbsp &nbsp
    <asp:Button ID="btnSendEmail" runat="server" Text="Send Email" OnClick="btnSendEmail_Click" ValidationGroup="ListByDate" />
    </p>


</asp:Content>
