<%@ Page Language="C#" MasterPageFile="MasterPage3_Blank.master" Theme="Admin" Title="Shipping" AutoEventWireup="true" Inherits="Admin_Shipping" Codebehind="Shipping.aspx.cs" %>

<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" Runat="Server">

    <div>
    
      <asp:GridView ID="gridShip" runat="server" />
      
    </div>
    
</asp:Content>
