<%@ Page Language="C#" MasterPageFile="MasterPage3_Blank.master" Theme="Admin" AutoEventWireup="true" Inherits="Admin_testTrkNum" Title="TestTrkNum Page" Codebehind="testTrkNum.aspx.cs" %>


<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" Runat="Server">  

    <asp:Literal ID="litResponse" runat="server"></asp:Literal>

</asp:Content>

