﻿@if ((FM2015.Models.User.IsAuthenticated()) && (FM2015.Models.User.HasRole()))
{
    <!--
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="well well-sm">
            <a href="~/adminMVC" class="btn btn-success">Admin</a>
            <a href="~/mvcCER/" class="btn btn-success">CER</a>
            <a href="https://east.exch022.serverdata.net/owa/" class="btn btn-success" target="_blank">CS Email</a>
            @{
                string webSite = "";
                string Site1Url = "";
                string Site1Name = "";
                string Site2Url = "";
                string Site2Name = "";
                string Site3Url = "";
                string Site3Name = "";
                switch (AdminCart.Config.appName.ToUpper())
                {
                    case "FACEMASTER":
                        Site1Url = "http://52.25.186.65/adminMVC/index";
                        Site1Name = "CL Admin";
                        Site2Url = "http://admin.mysonulase.com/adminMVC/index";
                        Site2Name = "SU Admin";
                        Site3Url = "http://52.33.125.114/adminMVC/index";
                        Site3Name = "RM Admin";
                        webSite = "http://www.facemaster.com/";
                        break;

                    case "CRYSTALIFT":
                        Site1Url = "https://fmadmin.facemaster.com/adminMVC/index";
                        Site1Name = "FM Admin";
                        Site2Url = "http://admin.mysonulase.com/adminMVC/index";
                        Site2Name = "SU Admin";
                        Site3Url = "http://52.33.125.114/adminMVC/index";
                        Site3Name = "RM Admin";
                        webSite = "http://www.mycrystalift.com/";
                        break;

                    case "SONULASE":
                        Site1Url = "https://fmadmin.facemaster.com/adminMVC/index";
                        Site1Name = "FM Admin";
                        Site2Url = "http://52.25.186.65/adminMVC/index";
                        Site2Name = "CL Admin";
                        Site3Url = "http://52.33.125.114/adminMVC/index";
                        Site3Name = "RM Admin";
                        webSite = "http://www.mysonulase.com/";
                        break;

                    case "RMSHOP":
                        Site1Url = "https://fmadmin.facemaster.com/adminMVC/index";
                        Site1Name = "FM Admin";
                        Site2Url = "http://52.25.186.65/adminMVC/index";
                        Site2Name = "CL Admin";
                        Site3Url = "http://admin.mysonulase.com/adminMVC/index";
                        Site3Name = "SU Admin";
                        webSite = "https://fm-cer.myshopify.com/";
                        break;

                    default:
                        break;
                }
                <a href=@Url.Content(webSite) class="btn btn-success" target="_blank">Web Site</a>
                <a href=@Url.Content(Site1Url) class="btn btn-success">@Html.Raw(Site1Name)</a>
                <a href=@Url.Content(Site2Url) class="btn btn-success">@Html.Raw(Site2Name)</a>
                if (FM2015.Models.User.GetUserName().ToUpper() == "RODGER MOHME")
                {
                    <a href=@Url.Content(Site3Url) class="btn btn-success">@Html.Raw(Site3Name)</a>
                }
            }
        </div>
    </div>
    -->
}
else
{
    Response.Redirect("~/FMAccount/SignIn");
}


