﻿@using AdminCart;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - FaceMaster Platinum</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <meta name="description" content="" />

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @switch (Config.appName.ToUpper())
                {
                    case "FACEMASTER":
                        <span style="width: 50px; height: 50px; ">
                            <a href="https://www.facemaster.com">
                                <img src=@Url.Content(AdminCart.Config.AdminImage()) width=@("50px") height=@("50px") alt="FaceMaster Facial Toning System" />
                            </a>
                        </span>
                        <a class="navbar-brand" href="https://www.facemaster.com">FaceMaster</a>
                        break;

                    case "CRYSTALIFT":
                    case "SONULASE":
                    case "RMSHOP":
                    default:
                        break;
                }
            </div>
            
            <!--
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-left">                   
                    <li><a href=@Url.Content("https://www.facemaster.com/") target="_blank">Web Site</a></li>
                </ul>
            </div>
            -->
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - @AdminCart.Config.BizName()</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
