﻿@using AdminCart;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - FaceMaster Platinum</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <meta name="description" content="" />

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @switch (Config.appName.ToUpper())
                {
                    case "FACEMASTER":
                        <span style="width: 50px; height: 50px; ">
                            <a href="~/adminMVC">
                                <img src=@Url.Content(AdminCart.Config.AdminImage()) width=@("50px") height=@("50px") alt="FaceMaster Facial Toning System" />
                            </a>
                        </span>
                        @Html.ActionLink("FaceMaster", "Index", "AdminMVC", null, new { @class = "navbar-brand" })
                        break;

                    case "CRYSTALIFT":
                        <span style="width: 50px; height: 50px; ">
                            <a href="~/adminMVC">
                                <img src=@Url.Content(AdminCart.Config.AdminImage()) width=@("50px") height=@("50px") alt="Crystalift Microdermabrasion System" />
                            </a>
                        </span>
                        @Html.ActionLink("LI Crystalift", "Index", "AdminMVC", null, new { @class = "navbar-brand" })
                        break;

                    case "SONULASE":
                        <span style="width: 50px; height: 50px; ">
                            <a href="~/adminMVC">
                                <img src=@Url.Content(AdminCart.Config.AdminImage()) width=@("50px") height=@("50px") alt="Sonulase" />
                            </a>
                        </span>
                        @Html.ActionLink("LI Sonulase", "Index", "AdminMVC", null, new { @class = "navbar-brand" })
                        break;

                    case "RMSHOP":
                        <span style="width: 50px; height: 50px; ">
                            <a href="~/adminMVC">
                                <img src=@Url.Content(AdminCart.Config.AdminImage()) width=@("50px") height=@("50px") alt="RM Shop" />
                            </a>
                            @Html.ActionLink("rmShop", "Index", "AdminMVC", null, new { @class = "navbar-brand" })
                        </span>

                        break;

                    default:
                        break;
                }
            </div>
            <div class="navbar-collapse collapse">

                <ul class="nav navbar-nav navbar-left">
                    <li>@Html.ActionLink("Admin", "Index", "adminMVC")</li>
                    <li>@Html.ActionLink("CER", "Index", "mvcCER")</li>
                    <li><a href="https://east.exch022.serverdata.net/owa/" target="_blank">CS Email</a></li>
                    @{
                        string webSite = "";
                        string Site1Url = "";
                        string Site1Name = "";
                        string Site2Url = "";
                        string Site2Name = "";
                        string Site3Url = "";
                        string Site3Name = "";
                        switch (AdminCart.Config.appName.ToUpper())
                        {
                            case "FACEMASTER":
                                Site1Url = "http://52.25.186.65/adminMVC/index";
                                Site1Name = "CL";
                                Site2Url = "http://admin.mysonulase.com/adminMVC/index";
                                Site2Name = "SU";
                                Site3Url = "http://52.33.125.114/adminMVC/index";
                                Site3Name = "RM";
                                webSite = "http://www.facemaster.com/";
                                break;

                            case "CRYSTALIFT":
                                Site1Url = "https://fmadmin.facemaster.com/adminMVC/index";
                                Site1Name = "FM";
                                Site2Url = "http://admin.mysonulase.com/adminMVC/index";
                                Site2Name = "SU";
                                Site3Url = "http://52.33.125.114/adminMVC/index";
                                Site3Name = "RM";
                                webSite = "http://www.mycrystalift.com/";
                                break;

                            case "SONULASE":
                                Site1Url = "https://fmadmin.facemaster.com/adminMVC/index";
                                Site1Name = "FM";
                                Site2Url = "http://52.25.186.65/adminMVC/index";
                                Site2Name = "CL";
                                Site3Url = "http://52.33.125.114/adminMVC/index";
                                Site3Name = "RM";
                                webSite = "http://www.mysonulase.com/";
                                break;

                            case "RMSHOP":
                                Site1Url = "https://fmadmin.facemaster.com/adminMVC/index";
                                Site1Name = "FM";
                                Site2Url = "http://52.25.186.65/adminMVC/index";
                                Site2Name = "CL";
                                Site3Url = "http://admin.mysonulase.com/adminMVC/index";
                                Site3Name = "SU";
                                webSite = "https://fm-cer.myshopify.com/";
                                break;

                            default:
                                break;
                        }
                        <li><a href=@Url.Content(webSite) target="_blank">Web Site</a></li>
                        <!--
                        <li><a href=@Url.Content(Site1Url) >@Html.Raw(Site1Name)</a></li>
                        <li><a href=@Url.Content(Site2Url) >@Html.Raw(Site2Name)</a></li>
                        -->
                        if (FM2015.Models.User.GetUserName().ToUpper() == "RODGER MOHME")
                        {
                            <li><a href=@Url.Content(Site3Url) >@Html.Raw(Site3Name)</a></li>
                        }
                    }

                </ul>

                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - @AdminCart.Config.BizName() - All Rights Reserved - @AdminCart.Config.Version</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
