﻿@using FM2015.Models;


@if (FM2015.Models.User.IsAuthenticated())
{
    using (Html.BeginForm("SignOff", "FMAccount", FormMethod.Post, new { id = "logoutForm" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hello " + FM2015.Models.User.GetUserName() + "!", "Index", "MyAccount", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Sign off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <!--
        <li>@Html.ActionLink("Register", "Register", "FMAccount", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        -->
        <li>@Html.ActionLink("Sign in", "SignIn", "FMAccount", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
