﻿<ul class="nav nav-pills">
    <li id="myaccount" role="presentation"><a href="~/myaccount/">MyProfile</a></li>
    <li id="myorders" role="presentation"><a href="~/myaccount/myorders">MyOrders</a></li>
    @if ((FM2015.Models.User.IsAuthenticated()) && (FM2015.Models.User.HasRole("admin")))
    {
        <li id="admin" role="presentation"><a href="/adminMVC">Admin</a></li>
    }
</ul>
