﻿@model IEnumerable<AdminCart.Product>

@{
    string valuePassedIn = this.ViewData.ContainsKey("category") ? this.ViewData["category"].ToString() : string.Empty;
}

<table class="table table-responsive table-striped">
    <thead>
        <tr>
            <th width="5%">Id</th>
            <th width="2%">Enabled</th>
            <th width="5%">Category</th>
            <th width="5%">Sku</th>
            <th width="20%">Name/Image</th>
            <th width="40%">Description</th>
            <th width="3%">Price</th>
            <th width="20%">actions</th>
        </tr>
    </thead>

    <tbody>

        @foreach (var product in Model)
        {
            if ((product.Category.ToUpper() == valuePassedIn.ToUpper()) || (valuePassedIn.ToUpper() == "ALL") )
            {
                <tr>
                    <td>@Html.DisplayFor(ModelItem => product.ProductID)</td>
                    <td>@Html.DisplayFor(ModelItem => product.Enabled)</td>
                    <td>@Html.DisplayFor(ModelItem => product.Category)</td>
                    <td>@Html.DisplayFor(ModelItem => product.Sku)</td>
                    <td>
                        <img width="40%" src="@Url.Content("~/images/products/" + product.ThumbnailImage)" alt="@product.ShortDescription" />
                        <br />
                        @Html.DisplayFor(ModelItem => product.Name)
                    </td>
                    <td>@Html.Raw(product.ShortDescription)</td>
                    <td>@Html.DisplayFor(ModelItem => product.SalePrice)</td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", "Products", new { id = product.ProductID }, new { @class = "btn btn-success" })

                        <!--
                        @Html.ActionLink("Details", "Details", new { id = product.ProductID }) |
                        @Html.ActionLink("Send To Shopify", "SendProductToShopify", new { id = product.ProductID })
                        -->
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
