﻿@model AdminCart.Transaction

<div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <h3>Payment Method</h3>
    <h4><span style="font-size:smaller">All transactions are secure and encrypted.<br />Credit card information is never stored.</span></h4>
    <div class="form-group">
        @Html.Label("Credit Card Number", htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-8">
            @Html.EditorFor(model => model.CardNo, new { htmlAttributes = new { @id = "txtCardNum", @class = "form-control", @Value = "xxxx xxxx xxxx 1234" } })
            @Html.ValidationMessageFor(model => model.CardNo, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Name on Card", htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-8">
            @Html.EditorFor(model => model.CardHolder, new { htmlAttributes = new { @id = "txtCardName", @class = "form-control", @Value = "joe smith" } })
            @Html.ValidationMessageFor(model => model.CardHolder, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Expiration Date", htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-8">
            @Html.EditorFor(model => model.ExpDate, new { htmlAttributes = new { @id = "txtExpDate", @class = "form-control", @Value = "MM/YY" } })
            @Html.ValidationMessageFor(model => model.ExpDate, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("CVC Code", htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-8">
            @Html.EditorFor(model => model.CvsCode, new { htmlAttributes = new { @id = "txtCVC", @class = "form-control", @Value = "123" } })
            @Html.ValidationMessageFor(model => model.CvsCode, "", new { @class = "text-danger" })
        </div>
    </div>

    <hr />
    <div class="row">
        <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
            <a href="/myCrystalift/CustomerShipping">&lt;&nbsp;Return to shipping method</a>
        </div>
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
            <input type="submit" value="Complete Order (only click once!)" class="btn btn-primary" />
        </div>
    </div>
</div>
