﻿@model FM2015.ViewModels.CustomerViewModel

<div class="form-horizontal">

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">

            <div id="frmBillAddress" class="panel panel-primary">
                <div class="panel-heading">
                    <div class="panel-title">
                        <h3>Billing Address</h3>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        @Html.LabelFor(model => model.BillAddress.Street, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.BillAddress.Street, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.BillAddress.Street, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.BillAddress.Street2, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.BillAddress.Street2, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.BillAddress.Street2, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.BillAddress.City, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.BillAddress.City, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.BillAddress.City, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.BillAddress.Country, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.DropDownListFor(m => m.SelectBillCountryCode, new SelectList(Model.BillCountrySelectList,
                    "Value", "Text", "US"), "Please select a country", new { @id = "ddlBillCountry", @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.BillAddress.Country, "", new { @class = "text-danger" })
                    </div>
                
                    <div class="form-group">
                        @Html.LabelFor(model => model.BillAddress.State, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.BillAddress.State, new { htmlAttributes = new { @ID = "txtBillState", @Name = "txtState", @class = "form-control", @style = "display:none" } })
                            @Html.DropDownListFor(m => m.SelectBillStateCode, new SelectList(Model.BillStateSelectList,
                    "Value", "Text", "CA"), "Please select a state/province", new { @id = "ddlBillState", @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.BillAddress.State, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.BillAddress.Zip, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.BillAddress.Zip, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.BillAddress.Zip, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div> <!--end Panel Body-->
            </div> <!--end Panel-->
        </div> <!--end col-->

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">

            <div id="frmShipAddress" class="panel panel-primary">
                <div class="panel-heading">
                    <div class="panel-title">
                        <h3>Shipping Address</h3>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        @Html.LabelFor(model => model.ShipAddress.Street, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.ShipAddress.Street, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ShipAddress.Street, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ShipAddress.Street2, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.ShipAddress.Street2, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ShipAddress.Street2, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ShipAddress.City, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.ShipAddress.City, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ShipAddress.City, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ShipAddress.Country, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.DropDownListFor(m => m.SelectShipCountryCode, new SelectList(Model.ShipCountrySelectList,
                 "Value", "Text", "US"), "Please select a country", new { @id = "ddlShipCountry", @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ShipAddress.Country, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ShipAddress.State, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.ShipAddress.State, new { htmlAttributes = new { @ID = "txtShipState", @Name = "txtState", @class = "form-control", @style = "display:none" } })
                            @Html.DropDownListFor(m => m.SelectShipStateCode, new SelectList(Model.ShipStateSelectList,
                    "Value", "Text", "CA"), "Please select a state/province", new { @id = "ddlShipState", @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ShipAddress.State, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ShipAddress.Zip, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.ShipAddress.Zip, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ShipAddress.Zip, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div> <!--end of Shipping Panel Body-->
            </div> <!--end of Shipping Panel-->
        </div> <!--end of Col-->
    </div> <!--end of ROW-->

            <hr />
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Submit" class="btn btn-primary" />
                </div>
            </div>
        </div>
