﻿@model FMWebApp451.ViewModels.Stripe.CreditCardViewModel

<div class="form-horizontal">
    @Html.HiddenFor(model => model.CreditCardViewModelKey);
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <hr />
    <h3>Credit or Debit</h3>
    <h4><span style="font-size:smaller">All transactions are secure and encrypted.<br />Credit card information is never stored.</span></h4>
    <h4>Enter your card information:</h4>
    <div class="form-group">
        @Html.Label("Name on Card", htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-8">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @id = "txtCardName", @class = "form-control", @placeholder = "joe smith" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Credit Card Number", htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-8">
            @Html.EditorFor(model => model.CardNumber, new { htmlAttributes = new { @id = "txtCardNum", @class = "form-control", @placeholder = "xxxx xxxx xxxx 1234" } })
            @Html.ValidationMessageFor(model => model.CardNumber, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Exp Month", htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-8">
            @Html.EditorFor(model => model.ExpirationMonth, new { htmlAttributes = new { @class = "form-control", @placeholder = "01" } })
            @Html.ValidationMessageFor(model => model.ExpirationMonth, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Exp Month", htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-8">
            @Html.EditorFor(model => model.ExpirationYear, new { htmlAttributes = new { @class = "form-control", @placeholder = "2016" } })
            @Html.ValidationMessageFor(model => model.ExpirationYear, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("CVC Code", htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-8">
            @Html.EditorFor(model => model.Cvc, new { htmlAttributes = new { @id = "txtCVC", @class = "form-control", @placeholder = "123" } })
            @Html.ValidationMessageFor(model => model.Cvc, "", new { @class = "text-danger" })
        </div>
    </div>

    <hr />
    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
            <input type="submit" value="Add New Card (only click once!)" class="btn btn-primary" />
        </div>
    </div>
</div>
