﻿@model System.Web.Mvc.HandleErrorInfo

@{
    var exception = Model.Exception;

    string errorMsg = "Exception Type: " + exception.GetType().ToString();
    errorMsg += "Controller: " + Model.ControllerName;
    errorMsg += "Action: " + Model.ActionName;
    errorMsg += "Exception Message: " + exception.Message;

}

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@if (Model != null && FM2015.Models.User.HasRole("ADMIN"))
{
    <h3>Error Message: @errorMsg</h3>
    <div style="overflow:scroll">
        <pre>
            @Model.Exception.StackTrace
        </pre>
    </div>

}

