﻿@model IEnumerable<FM2015.Models.Validation>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            row#
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SerialNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pass)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.By)
        </th>        
        <th></th>
    </tr>

@{
    int i = 0;
    foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.Raw(i)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SerialNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pass)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.By)
            </td>           
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ValidationId }) |
                @Html.ActionLink("Details", "Details", new { id = item.ValidationId })
                <!--
                @Html.ActionLink("Delete", "Delete", new { id=item.ValidationId })
                -->
            </td>
        </tr>
        i++;
    }
}

</table>
