﻿
@{
    ViewBag.Title = "Add Serial Number";
}

<h2>Admin: Add Serial Number</h2>

@Html.Partial("_AdminNav")

<h3>@ViewBag.ErrMsg</h3>

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">
                    <h4>Add Device Serial Number</h4>
                </div>
            </div>
            <div class="panel-body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="form form-inline">
                        <div class="form-group col-xs-12 col-sm-6 col-md-5">
                            @Html.TextBox("serNum", "...serNum", new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        <div class="col-md-4">
                            <input type="submit" value="Submit" class="btn btn-Success" />
                        </div>
                    </div>
                }
            </div> <!--end Panel Body-->
        </div> <!--end Panel-->
    </div> <!--col-->
</div> <!--row-->