﻿
@{
    ViewBag.Title = "AddTrackingNumber";
}

<h2>Admin: Add TrackingNumber</h2>

@Html.Partial("_AdminNav")

<h3>@ViewBag.ErrMsg</h3>

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">
                    <h4>Add Fulfillment Tracking Number</h4>
                </div>
            </div>
            <div class="panel-body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form form-inline">
                        <div class="form-group col-xs-12 col-sm-12 col-md-12">
                            @Html.TextBox("weightStr", "...weight", new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                    <p>&nbsp;</p>
                    <div class="form form-inline">
                        <div class="form-group col-xs-12 col-sm-12 col-md-12">
                            @Html.TextBox("chargeStr", "...cost", new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                    <p>&nbsp;</p>
                    <div class="form form-inline">
                        <div class="form-group col-xs-12 col-sm-12 col-md-12">
                            @Html.TextBox("trkNum", "...Tracking Num", new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                    <p>&nbsp;</p>
                    <div class="col-md-4">
                        <input type="submit" value="Submit" class="btn btn-Success" />
                    </div>

                }
            </div> <!--end Panel Body-->
        </div> <!--end Panel-->
    </div> <!--col-->
</div> <!--row-->

