﻿
@{
    ViewBag.Title = "CancelOrder";
}

<h2>Cancel Order</h2>

@Html.Partial("_AdminNav")

<h3>@ViewBag.ErrMsg</h3>

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">
                    <h4>Cancel Order Processing</h4>
                </div>
            </div>
            <div class="panel-body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form form-inline">
                        <div class="form-group col-xs-12 col-sm-12 col-md-12">
                            @Html.TextArea("orderNote", "...order note", 5, 40, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                    <p>&nbsp;</p>
                    <div class="col-md-4">
                        <input type="submit" value="Submit" class="btn btn-Success" OnClick="javascript:return confirm('An Order is about to be canceled. Proceed?')"/>
                    </div>
                }
            </div> <!--end Panel Body-->
        </div> <!--end Panel-->
    </div> <!--col-->
</div> <!--row-->

