﻿@model FM2015.ViewModels.OrderViewModel
@using AdminCart
@using FM2015.Helpers

@{
    ViewBag.Title = "Admin: Order Details";
}

<p>&nbsp;</p>

<div class="row">
    @Html.Partial("_AdminNav")
</div>

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
        <h3>
            Admin: Order Details: @Html.DisplayFor(model => model.cart.SiteOrder.OrderID)
            @Html.ActionLink("back to order list", "Index", "Orders", null, new { @class = "btn btn-success btn-sm" })
            @if ((FM2015.Models.User.IsAuthenticated()) && (FM2015.Models.User.HasRole("admin")))
            {
                @Html.ActionLink("Admin: Modify", "UpdateOrder", new { id = Model.cart.SiteOrder.OrderID }, new { @class = "btn btn-primary" })
                <span>&nbsp;</span>
                @Html.ActionLink("Admin: Nullify", "NullifyOrder", new { id = Model.cart.SiteOrder.OrderID }, new { @class = "btn btn-danger", OnClick = "javascript:return confirm('An Order is about to be NULLified. Proceed?')" })
            }
        </h3>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="well well-sm">
            @{ 
                string URLstr = "~/admin/CEREntry.aspx?FMCustomerID=" + @Model.cart.SiteCustomer.CustomerID + "&OrderID=" + @Model.cart.SiteOrder.OrderID;
             }

            <!--
                <a href=@Url.Content(URLstr) target="_blank" class="btn btn-success btn-sm">New CER</a>
            -->

            @Html.ActionLink("New CER", "Create", "mvcCER", new { customerID = Model.cart.SiteCustomer.CustomerID, orderID = Model.cart.SiteOrder.OrderID }, new { @class = "btn btn-success btn-sm" })

            @Html.ActionLink("Email Reciept", "SendEmailReceipt", "Orders", new { id = Model.cart.SiteOrder.OrderID }, new { @class = "btn btn-success btn-sm" }) 

            @Html.ActionLink("Packing Slip", "PackingSlip", "Orders", new { id = Model.cart.SiteOrder.OrderID }, new { @class = "btn btn-success btn-sm", @target = "_blank" })

            @Html.ActionLink("RMA", "ReturnAuthorization", "Orders", new { id = Model.cart.SiteOrder.OrderID }, new { @class = "btn btn-success btn-sm", @target = "_blank" })

        </div>
    </div>
</div>

@if (ViewBag.deadBeat)
{
    <div class="alert alert-danger">
        <strong>Customer Is Past Due: @ViewBag.AmountDue</strong>
        <p>@Html.ActionLink("Pay Invoice / Update Card", "CustomerPayment", "Subscriptions", new { id = Model.cart.SiteCustomer.CustomerID.ToString(), stripeCustomerID = Model.subscription.StripeCusID, stripeSubscriptionID = Model.subscription.StripeSubID }, new { @class = "btn btn-primary" }) </p>
    </div>
}

@if (Model.HoldingForSubscription)
{
    <div class="alert alert-danger">
        <strong>Order Cancel &amp; Order Refund are DISABLED Pending Subscription Processing by Stripe. Check Back in an Hour-ish...</strong>
    </div>
}

<table id="tblHeader" class="table table-responsive table-striped">
    <thead>
        <tr>
            <th>
                <strong>
                    @{
                        string str = Config.AppCode() + "/Shopify";
                        <span>Order# (@Html.Raw(str))</span>
                    }
                </strong>
            </th>
            <th><strong>Order Date</strong></th>
            <th><strong>Customer ID</strong></th>
            <th><strong>Source ID</strong></th>
            <th><strong>Company ID</strong></th>
            <th><strong>Fulfillment TrkNum</strong></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(model => model.cart.SiteOrder.OrderID) &nbsp;/&nbsp;
                @if (Model.cart.SiteOrder.SSOrderID > 600000)
                {
                    if ((FM2015.Models.User.IsAuthenticated()) && (FM2015.Models.User.HasRole("admin")))
                    {
                        @Html.ActionLink(Model.cart.SiteOrder.SSOrderID.ToString(), "GetOrders", "Shopify", new { shopifyOrderID = Model.cart.SiteOrder.SSOrderID }, new { @target = "_blank" })
                    }
                    else
                    {
                        @Html.DisplayFor(model => model.cart.SiteOrder.SSOrderID);
                    }
                }
                else
                { <span>N/A</span>}
            </td>
            <td>
                @Html.DisplayFor(model => model.cart.SiteOrder.OrderDate)
            </td>
            <td>
                @Html.ActionLink(Model.cart.SiteCustomer.CustomerID.ToString(), "Details", "Customers", new { id = Model.cart.SiteCustomer.CustomerID.ToString() }, null)
            </td>
            <td>
                @Model.SourceID
            </td>
            <td>
                @Model.CompanyID
            </td>
            <td>
                @if (Model.cart.SiteOrder.upsShipments.Count() == 0)
                {
                    <span>n/a</span>
                }
                else
                {
                    string trkNumURL = "n/a";
                    string trkNum = Model.cart.SiteOrder.upsShipments[0].TrackingNumber;
                    string carrierType = trkNum.Substring(0, 1);
                    if (carrierType == "1") //if not "1" then assume USPS
                    {
                        //trkNum = "<a href=" + "'http://wwwapps.ups.com/WebTracking/track?track=yes&trackNums='" + trkNum + ">" + trkNum + "</a>";
                        string url = "http://wwwapps.ups.com/WebTracking/track?track=yes&trackNums=" + trkNum;
                        trkNumURL = String.Format("<a href=\"{0}\" target='_blank'>{1}</a>", url, trkNum);
                    }
                    else
                    {
                        //trkNum = "<a href" + "'https://tools.usps.com/go/TrackConfirmAction_input?qtc_tLabels1='" + trkNum + ">" + trkNum + "</a>";
                        string url = "https://tools.usps.com/go/TrackConfirmAction_input?qtc_tLabels1=" + trkNum;
                        trkNumURL = String.Format("<a href=\"{0}\" target='_blank'>{1}</a>", url, trkNum);
                    }
                    <span>@Html.Raw(trkNumURL)</span>
                }
            </td>

        </tr>
    </tbody>
</table>

<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#tabAddresses">Addresses</a></li>
    <li><a data-toggle="tab" href="#tabOrderRisks">Risk</a></li>
    <li><a data-toggle="tab" href="#tabOrderDetails">Details</a></li>
    <li><a data-toggle="tab" href="#tabSubscriptions">Subscriptions</a></li>
    <li><a data-toggle="tab" href="#tabDeferredSubs">Deferred-Subs</a></li>
    <li><a data-toggle="tab" href="#tabSerNums">SerNums</a></li>
    <li><a data-toggle="tab" href="#tabTracking">Tracking</a></li>
    <li><a data-toggle="tab" href="#tabTransactions">Transactions</a></li>
    <li><a data-toggle="tab" href="#tabOrderNotes">Notes</a></li>
    <li><a data-toggle="tab" href="#tabOrderHistory">History</a></li>
    <li><a data-toggle="tab" href="#tabCERs">CERs</a></li>
</ul>

<div class="tab-content">

    <div class="tab-pane active" id="tabAddresses">
        <div id="divAddresses" class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div id="frmBillAddress" class="panel panel-info">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <h3>Billing Address</h3>
                        </div>
                    </div>
                    <div class="panel-body">
                        <p>
                            @Html.DisplayFor(model => model.cart.SiteCustomer.FirstName)&nbsp;@Html.DisplayFor(model => model.cart.SiteCustomer.LastName)<br />
                            @Html.DisplayFor(model => model.cart.BillAddress.Street)<br />
                            @if ((!string.IsNullOrEmpty(Model.cart.BillAddress.Street2)) && (Model.cart.BillAddress.Street2 != " "))
                            {
                                @Html.DisplayFor(model => model.cart.BillAddress.Street2)<br />
                            }
                            @Html.DisplayFor(model => model.cart.BillAddress.City), @Html.DisplayFor(model => model.cart.BillAddress.State) @Html.DisplayFor(model => model.cart.BillAddress.Zip)<br />
                            @{ 
                                string country = DBUtil.GetCountry(Model.cart.BillAddress.Country);
                                <span>@Html.Raw(country)</span><br />
                            }
                            @Html.DisplayFor(model => model.cart.SiteCustomer.Email)<br />
                            @Html.DisplayFor(model => model.cart.SiteCustomer.Phone)
                        </p>

                        @Html.ActionLink("Update Order Addresses", "UpdateOrderAddresses", "Orders", new { orderID = Model.cart.SiteOrder.OrderID }, new { @class = "btn btn-primary" })

                    </div> <!--end Panel Body-->
                </div> <!--end Panel-->
            </div> <!--end col-->

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="row">
                    <div id="frmShipAddress" class="panel panel-info">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <h3>Shipping Address</h3>
                            </div>
                        </div>
                        <div class="panel-body">
                            <p>
                                @Html.DisplayFor(model => model.cart.SiteCustomer.FirstName)&nbsp;@Html.DisplayFor(model => model.cart.SiteCustomer.LastName)<br />
                                @Html.DisplayFor(model => model.cart.ShipAddress.Street)<br />
                                @if ((!string.IsNullOrEmpty(Model.cart.ShipAddress.Street2)) && (Model.cart.ShipAddress.Street2 != " "))
                                {
                                    @Html.DisplayFor(model => model.cart.ShipAddress.Street2)<br />
                                }
                                @Html.DisplayFor(model => model.cart.ShipAddress.City), @Html.DisplayFor(model => model.cart.ShipAddress.State) @Html.DisplayFor(model => model.cart.ShipAddress.Zip)<br />
                                @{
                                    country = DBUtil.GetCountry(Model.cart.ShipAddress.Country);
                                    <span>@Html.Raw(country)</span><br />
                                }
                                @Html.DisplayFor(model => model.cart.SiteCustomer.Email)<br />
                                @if ((!string.IsNullOrEmpty(Model.cart.SiteCustomer.Phone)) && (Model.cart.SiteCustomer.Phone != " "))
                                {
                                    @Html.DisplayFor(model => model.cart.SiteCustomer.Phone)<br />
                                }
                                else
                                {
                                    <sapn>Phone: n/a</sapn><br />
                                }
                                @if (Model.cart.ShipType == 1) { <span>Shipping: Ground</span> }
                                @if (Model.cart.ShipType == 2) { <span>Shipping: Expedited (2-Day Air)</span> }
                                @if (Model.cart.ShipType == 3) { <span>Shipping: Express (Guarenteed Overnight)</span> }
                            </p>
                        </div> <!--end of Shipping Panel Body-->
                    </div> <!--end of Shipping Panel-->
                </div> <!--end of Col-->
            </div> <!--end of ROW-->
        </div> <!--end Row-->
    </div>


    <div class="tab-pane" id="tabOrderRisks">
        <div id="divOrderRisks" class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div id="pnlOrderRisks" class="panel panel-info">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <h3>Order Risks</h3>
                        </div>
                    </div>
                    <div class="panel-body">
                        @if (Model.RiskList.Count() == 0)
                        {
                            <span>No Risk Items Were Encountered</span>
                        }
                        else
                        {
                            <table class="table table-responsive table-striped">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>OrderId</th>
                                        <th>Score</th>
                                        <th>Cause_Cancel</th>
                                        <th>Display</th>
                                        <th>Message</th>
                                        <th>Recommendation</th>
                                        <th>Source</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (ShopifyAgent.ShopOrderRisk item in Model.RiskList)
                                    {
                                        <tr>
                                            <td>@Html.DisplayFor(i => item.Id) </td>
                                            <td>@Html.DisplayFor(i => item.Order_id)</td>
                                            <td>@Html.DisplayFor(i => item.Score)</td>
                                            <td>@Html.DisplayFor(i => item.Cause_cancel)</td>
                                            <td>@Html.DisplayFor(i => item.Display)</td>
                                            <td>@Html.DisplayFor(i => item.Message)</td>
                                            <td>@Html.DisplayFor(i => item.Recommendation)</td>
                                            <td>@Html.DisplayFor(i => item.Source)</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                    </div><!--end Panel body-->
                </div><!--Panel-->
            </div><!--Column-->
        </div><!--end Row-->
    </div>


    <div class="tab-pane" id="tabOrderDetails">
        <div id="divOrderDetails" class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div id="pnlOrderDetails" class="panel panel-info">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <h3>Order Details</h3>
                        </div>
                    </div>
                    <div class="panel-body">
                        <table class="table table-responsive table-striped">
                            <thead>
                                <tr>
                                    <td></td>
                                    <td><strong>Description</strong></td>
                                    <td><strong>Quantity</strong></td>
                                    <td><strong>Unit Price</strong></td>
                                    <td><strong>Discount</strong></td>
                                    <td><strong>Price</strong></td>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (AdminCart.Item item in Model.cart.Items)
                                {
                                    <tr>
                                        <td>
                                            <img src="@Url.Content("~/images/products/" + item.LineItemProduct.ThumbnailImage)" alt="@item.LineItemProduct.ShortDescription" width="80px" />
                                        </td>
                                        <td>
                                            @Html.DisplayFor(i => item.LineItemProduct.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(i => item.Quantity)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(i => item.LineItemProduct.Price)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(i => item.LineItemDiscount)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(i => item.LineItemTotal)
                                        </td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>
                                        @Html.DisplayNameFor(i => Model.cart.TotalProduct)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(i => Model.cart.TotalProduct)
                                    </td>
                                </tr>
                                <tr>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>
                                        @Html.DisplayNameFor(i => Model.cart.SiteOrder.Adjust)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(i => Model.cart.SiteOrder.Adjust)
                                    </td>
                                </tr>
                                <tr>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>
                                        @Html.DisplayNameFor(i => Model.cart.TotalTax)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(i => Model.cart.TotalTax)
                                    </td>
                                </tr>
                                <tr>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>
                                        @Html.DisplayNameFor(i => Model.cart.TotalShipping)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(i => Model.cart.TotalShipping)
                                    </td>
                                </tr>
                                <tr>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>
                                        @Html.DisplayNameFor(i => Model.cart.Total)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(i => Model.cart.Total)
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div><!--end Panel body-->
                </div><!--end Panel-->
            </div><!--end Column-->
        </div><!--end Row-->
    </div><!--end tab-->


    <div class="tab-pane" id="tabSubscriptions">
        <div id="divSubscriptions" class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div id="pnlSubscriptions" class="panel panel-info">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <h3>Subscription Associated With Order</h3>
                        </div>
                    </div>
                    <div class="panel-body">
                        @if (Model.subscription.ID == 0)
                        {
                            <span>No Subscription/Club or Multi-Pay Program associated with this order</span>
                        }
                        else
                        {
                            <table class="table table-responsive table-striped">
                                <thead>
                                    <tr>
                                        <th><strong>Subscriber ID</strong></th>
                                        <th><strong>Stripe SubscriberID</strong></th>
                                        <th><strong>Stripe CustomerID</strong></th>
                                        <th><strong>Plan</strong></th>
                                        <th><strong>Date</strong></th>
                                        <th><strong>Promo Code</strong></th>
                                        <th><strong>Status</strong></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.subscription == null)
                                    {
                                        <tr>
                                            <td>
                                                <span>No Subscription/Club or Multi-Pay Programs associated with this customer</span>
                                            </td>
                                        </tr>
                                    }
                                    else
                                    {

                                        <tr>
                                            <td>@Html.DisplayFor(i => Model.subscription.ID)</td>
                                            <td>@Html.DisplayFor(i => Model.subscription.StripeSubID)</td>
                                            <td>@Html.DisplayFor(i => Model.subscription.StripeCusID)</td>
                                            <td>@Html.DisplayFor(i => Model.subscription.StripePlanID)</td>
                                            <td>@Html.DisplayFor(i => Model.subscription.StripeSubDate)</td>
                                            <td>@Html.DisplayFor(i => Model.subscription.StripePromoCode)</td>
                                            <td>@Html.DisplayFor(i => Model.subscription.StripeStatus)</td>

                                            <td>
                                                @if (Model.subscription.StripeStatus == "canceled")
                                                {
                                                    <p>&nbsp;</p>
                                                }
                                                else
                                                {
                                                    <p>@Html.ActionLink("Pay Invoice / Update Card", "CustomerPayment", "Subscriptions", new { id = Model.cart.SiteCustomer.CustomerID.ToString(), stripeCustomerID = Model.subscription.StripeCusID, stripeSubscriptionID = Model.subscription.StripeSubID }, new { @class = "btn btn-primary" }) </p>

                                                    {
                                                        bool isMultiPay = false;
                                                        foreach (Item item in Model.cart.Items)
                                                        {
                                                            if (item.LineItemProduct.IsMultiPay)
                                                            {
                                                                isMultiPay = true;
                                                            }
                                                        }
                                                        if (!isMultiPay)
                                                        {
                                                    <p>
                                                        @Html.ActionLink("Change Plan", "ChangePlan", "Subscriptions", new { id = Model.cart.SiteCustomer.CustomerID.ToString(), stripeCustomerID = Model.subscription.StripeCusID, stripeSubscriptionID = Model.subscription.StripeSubID }, new { @class = "btn btn-warning" })
                                                    </p>
                                                        }
                                                    }

                                                    <p> @Html.ActionLink("Delete Plan", "UnSubscribe", "Customers", new { id = Model.cart.SiteCustomer.CustomerID.ToString(), stripeCustomerID = Model.subscription.StripeCusID, stripeSubscriptionID = Model.subscription.StripeSubID }, new { @class = "btn btn-danger", OnClick = "javascript:return confirm('A Subscription Plan is about to be DELETED. Proceed?')" }) </p>
                                                }
                                            </td>
                                        </tr>

                                    }

                                </tbody>
                            </table>
                        }
                    </div><!--end Panel body-->
                </div><!--Panel-->
            </div><!--Column-->
        </div><!--end Row-->
    </div><!--end tab-->

    <div class="tab-pane" id="tabDeferredSubs">
        <div id="divDelayedSubscriptions" class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div id="pnlDelayedSubscriptions" class="panel panel-info">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <h3>Customer Subscriptions: Delayed</h3>
                        </div>
                    </div>
                    <div class="panel-body">
                        @if (Model.delayedSubscriptionList.Count() == 0)
                        {
                            <span>No Deferred Subscriptions associated with this order</span>
                        }
                        else
                        {
                            <table class="table table-responsive table-striped">
                                <thead>
                                    <tr>
                                        <td><strong>Old Plan</strong></td>
                                        <td><strong>New Plan</strong></td>
                                        <td><strong>Start Date</strong></td>
                                        <td><strong>Promo Code</strong></td>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.delayedSubscriptionList)
                                    {
                                        <tr>
                                            <td>@Html.DisplayFor(i => item.OldStripePlanID)</td>
                                            <td>@Html.DisplayFor(i => item.NewStripePlanID)</td>
                                            <td>@Html.DisplayFor(i => item.StartDate)</td>
                                            <td>
                                                @if (item.PromoCode == null)
                                                {
                                                    <span>n/a</span>
                                                }
                                                else
                                                {
                                                    @Html.DisplayFor(modelItem => item.PromoCode)
                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }

                    </div><!--end Panel body-->
                </div><!--Panel-->
            </div><!--Column-->
        </div><!--end Row-->
    </div><!--end tab-->

    <div class="tab-pane" id="tabSerNums">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div id="pnlDeviceSerNums" class="panel panel-info">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <h3>Device Serial Numbers</h3>
                        </div>
                    </div>
                    <div class="panel-body">
                        @if (Model.cart.SiteOrder.scans.Count() == 0)
                        {
                            <p>No Device Serial Numbers have been scanned for this order</p>
                        }
                        else
                        {
                            <table class="table table-responsive table-striped">
                                <thead>
                                    <tr>
                                        <td><strong>Scan Date</strong></td>
                                        <td><strong>Serial Number</strong></td>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.cart.SiteOrder.scans)
                                    {
                                        <tr>
                                            <td>@Html.DisplayFor(i => item.ScanDate)</td>
                                            <td>@Html.DisplayFor(i => item.Serial)</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }

                        @Html.ActionLink("Add Serial Number", "AddSerialNumber", "Orders", new { orderID = Model.cart.SiteOrder.OrderID }, new { @class = "btn btn-primary" })
                    </div><!--end Panel body-->
                </div><!--Panel-->
            </div><!--Column-->
        </div><!--end Row-->
    </div><!--end tab-->

    <div class="tab-pane" id="tabTracking">
        <div id="divTracking" class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div id="pnlTracking" class="panel panel-info">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <h3>Fulfillment Details</h3>
                        </div>
                    </div>
                    <div class="panel-body">
                        @if (Model.cart.SiteOrder.upsShipments.Count() == 0)
                        {
                            <p>No Tracking Info Available</p>
                        }
                        else
                        {
                            <table class="table table-responsive table-striped">
                                <thead>
                                    <tr>
                                        <th>BatchID</th>
                                        <th><strong>Ship Date</strong></th>
                                        <th><strong>Track#</strong></th>
                                        <th><strong>Weight</strong></th>
                                        <th><strong>Amount</strong></th>
                                        <th><strong>By</strong></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.cart.SiteOrder.upsShipments)
                                    {
                                        <tr>
                                            @if (Model.cart.SiteOrder.orderTransfers.BatchID <= 0)
                                            {
                                                <td>
                                                    <span>N/A</span>
                                                </td>
                                            }
                                            else
                                            {
                                                <td>
                                                    @Html.DisplayNameFor(model => model.cart.SiteOrder.orderTransfers.BatchID)
                                                </td>
                                            }

                                            <td>@Html.DisplayFor(i => item.ShipDate)</td>
                                            <td>
                                                @{
                                                    string trkNumURL = "";
                                                    string trkNum = item.TrackingNumber;
                                                    string carrierType = trkNum.Substring(0, 1);
                                                    if (carrierType == "1") //if not "1" then assume USPS
                                                    {
                                                        //trkNum = "<a href=" + "'http://wwwapps.ups.com/WebTracking/track?track=yes&trackNums='" + trkNum + ">" + trkNum + "</a>";
                                                        string url = "http://wwwapps.ups.com/WebTracking/track?track=yes&trackNums=" + trkNum;
                                                        trkNumURL = String.Format("<a href=\"{0}\" target='_blank'>{1}</a>", url, trkNum);
                                                    }
                                                    else
                                                    {
                                                        //trkNum = "<a href" + "'https://tools.usps.com/go/TrackConfirmAction_input?qtc_tLabels1='" + trkNum + ">" + trkNum + "</a>";
                                                        string url = "https://tools.usps.com/go/TrackConfirmAction_input?qtc_tLabels1=" + trkNum;
                                                        trkNumURL = String.Format("<a href=\"{0}\" target='_blank'>{1}</a>", url, trkNum);
                                                    }
                                                    <span>@Html.Raw(trkNumURL)</span>
                                                }
                                            </td>
                                            <td>@Html.DisplayFor(i => item.Weight)</td>
                                            <td>@Html.DisplayFor(i => item.UPSCharge)</td>
                                            <td>@Html.DisplayFor(i => item.UpLoadBy)</td>
                                        </tr>
                                                    }
                                </tbody>
                            </table>
                                                    }
                        @Html.ActionLink("Add Tracking Number", "AddtrackingNumber", "Orders", new { orderID = Model.cart.SiteOrder.OrderID }, new { @class = "btn btn-primary" })
                        @if ((Model.cart.SiteOrder.upsShipments.Count() == 0) && (!Model.HoldingForSubscription))
                        {
                            @Html.ActionLink("Cancel Order", "CancelOrder", "Orders", new { orderID = Model.cart.SiteOrder.OrderID }, new { @class = "btn btn-warning" })
                        }
                    </div><!--end Panel body-->
                </div><!--Panel-->
            </div><!--Column-->
        </div><!--end Row-->
    </div><!--end tab-->

    <div class="tab-pane" id="tabOrderNotes">
        <div id="divOrderNotes" class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div id="pnlOrderNotes" class="panel panel-info">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <h3>Order Notes</h3>
                        </div>
                    </div>
                    <div class="panel-body">
                        @if (Model.cart.SiteOrder.orderNotes.Count == 0)
                        {
                            <p>No Orders are available for this order</p>
                        }
                        else
                        {
                            <table class="table table-responsive table-striped">
                                <thead>
                                    <tr>
                                        <td><strong>Date</strong></td>
                                        <td><strong>Note</strong></td>
                                        <td><strong>By</strong></td>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.cart.SiteOrder.orderNotes)
                                    {
                                        <tr>
                                            <td>@Html.DisplayFor(i => item.OrderNoteDate)</td>
                                            <td>@Html.DisplayFor(i => item.OrderNoteText)</td>
                                            <td>@Html.DisplayFor(i => item.OrderNoteBy)</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                        @Html.ActionLink("Add Order Note", "AddOrderNote", "Orders", new { orderID = Model.cart.SiteOrder.OrderID }, new { @class = "btn btn-primary" })
                    </div><!--end Panel body-->
                </div><!--Panel-->
            </div><!--Column-->
        </div><!--end Row-->
    </div><!--end tab-->

    <div class="tab-pane" id="tabTransactions">
        <div id="divTransactions" class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div id="pnlTransactions" class="panel panel-info">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <h3>Transaction History</h3>
                        </div>
                    </div>
                    <div class="panel-body">
                        <table class="table table-responsive table-striped">
                            <thead>
                                <tr>
                                    <td><strong>ID</strong></td>
                                    <td><strong>Date</strong></td>
                                    <td><strong>Type</strong></td>
                                    <td><strong>CC#</strong></td>
                                    <td><strong>Amount</strong></td>
                                    <td><strong>ResultCode</strong></td>
                                    <td><strong>ResultMsg</strong></td>
                                    <td></td>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.cart.SiteOrder.transactions)
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(i => item.TransactionID)</td>
                                        <td>@Html.DisplayFor(i => item.TransactionDate)</td>
                                        <td>@Html.DisplayFor(i => item.TrxType)</td>
                                        <td>@Html.DisplayFor(i => item.CardNo)</td>
                                        <td>@Html.DisplayFor(i => item.TransactionAmount)</td>
                                        <td>@Html.DisplayFor(i => item.ResultCode)</td>
                                        <td>@Html.DisplayFor(i => item.ResultMsg)</td>
                                        <td>
                                            @if (((item.TrxType == "S") || (item.TrxType == "SA")) && (item.ResultCode == 0) && (item.TransactionAmount > 0) && (!Model.HoldingForSubscription) )
                                            {
                                                @Html.ActionLink("Refund", "Refund", "Orders", new { orderID = Model.cart.SiteOrder.OrderID, chargeID = item.TransactionID }, new { @class = "btn btn-primary" })
                                            }
                                            else
                                            {
                                                if (((item.TrxType == "S") || (item.TrxType == "SA")) && (item.ResultCode == 0) && (item.TransactionAmount > 0) && (item.TransactionID.Contains("n/a:_") && FM2015.Models.User.HasRole("admin")))
                                                {
                                                    @Html.ActionLink("UpdateTrans", "UpdateTransaction", "Orders", new { orderId = item.OrderID, transactionRowId = item.TransactionRowID }, new { @class = "btn btn-danger" })
                                                }

                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        @Html.ActionLink("New Charge", "NewCharge", "Orders", new { orderID = Model.cart.SiteOrder.OrderID }, new { @class = "btn btn-primary" })
                    </div><!--end Panel body-->
                </div><!--Panel-->
            </div><!--Column-->
        </div><!--end Row-->
    </div><!--end tab-->

    <div class="tab-pane" id="tabOrderHistory">
        <div id="divOrderHistory" class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div id="pnlOrderHistory" class="panel panel-info">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <h3>Order History</h3>
                        </div>
                    </div>
                    <div class="panel-body">
                    @if (Model.cart.SiteOrder.orderHistory.Count() == 0)
                    {
                        <span>No additional orders associated with this order</span>
                    }
                    else
                    {
                        <table class="table table-responsive table-striped">
                            <thead>
                                <tr>
                                    <th><strong>OrderID</strong></th>
                                    <th><strong>ShopifyID</strong></th>
                                    <th><strong>Order Date</strong></th>
                                    <th><strong>Order Status</strong></th>
                                    <th><strong>Order Amount</strong></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.cart.SiteOrder.orderHistory)
                                            {
                                    <tr>
                                        <td>@Html.ActionLink(item.OrderID.ToString(), "Details", new { id = item.OrderID }, null)</td>
                                        <td>@Html.ActionLink(item.SSOrderID.ToString(), "Details", new { id = item.SSOrderID }, null)</td>
                                        <td>@Html.DisplayFor(i => item.OrderDate)</td>
                                        <td>@Html.DisplayFor(i => item.Status)</td>
                                        <td>@Html.DisplayFor(i => item.Total)</td>
                                    </tr>
                                            }
                            </tbody>
                        </table>
                    }

                    </div><!--end Panel body-->
                </div><!--Panel-->
            </div><!--Column-->
        </div><!--end Row-->
    </div><!--end tab-->

    <div class="tab-pane" id="tabCERs">
        <div id="divCERs" class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div id="pnlCERS" class="panel panel-info">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <h3>Related CERs</h3>
                        </div>
                    </div>
                    <div class="panel-body">
                        @if (Model.cerList.Count() == 0)
                    {
                            <span>No related CERs associated with this order</span>
                    }
                    else
                    {
                            <table class="table table-responsive table-striped">
                                <thead>
                                    <tr>
                                        <th><strong>CER#</strong></th>
                                        <th><strong>Date</strong></th>
                                        <th><strong>Type</strong></th>
                                        <th><strong>Description</strong></th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (adminCER.CER cer in Model.cerList)
                                    {
                                        <tr>
                                            @{ 
                                                string cerEditURL = "~/CER/EditCER.aspx?CERNumber=" + cer.CERNumber + "&pageaction=lookup";
                                            }
                                            <td><a href=@Url.Content(cerEditURL) target="_blank">@Html.DisplayFor(i => cer.CERNumber)</a></td>
                                            <td>@Html.DisplayFor(i => cer.DateReportReceived)</td>
                                            <td>@Html.DisplayFor(i => cer.CERType)</td>
                                            <td>@Html.DisplayFor(i => cer.EventDescription)</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                    }

                    </div><!--end Panel body-->
                </div><!--Panel-->
            </div><!--Column-->
        </div><!--end Row-->
    </div><!--end tab-->

</div> <!--end tab content-->


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
