﻿@model FM2015.ViewModels.OrderViewModel

@{
    ViewBag.Title = "Find Orders";
}

<h2>Admin: Find and List Orders</h2>

@Html.Partial("_AdminNav")

@if (!string.IsNullOrEmpty(@ViewBag.ErrMsg))
{
    <p>@ViewBag.ErrMsg</p>
}

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        @using (Html.BeginForm("index", "Orders", FormMethod.Get))
        {
            <div class="row">
                <div class="col-xs-4 col-sm-4 col-md-10 col-lg-8">
                    <div id="imaginary_container">
                        <div class="input-group stylish-input-group">
                            <input id="paramOrder" name="paramOrder" type="text" class="form-control" placeholder="...order search">
                            <span class="input-group-addon">
                                <button type="submit">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </span>
                            <button type="button" data-toggle="modal" data-target="#myModal">
                                <span class="glyphicon glyphicon-info-sign"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div> <!--col-->
</div> <!--row-->

<p>&nbsp;</p>

<table class="table table-responsive table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.cart.SiteOrder.OrderID)
        </th>
        <th>
            <span>ShopifyID</span>
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.cart.SiteOrder.CompanyID)*@
            @*@Html.DisplayNameFor(model => model.cart.SiteOrder.SourceID)*@
            Source
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cart.SiteCustomer.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cart.SiteCustomer.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cart.SiteOrder.OrderDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cart.SiteOrder.Total)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cart.SiteOrder.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cart.BillAddress.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cart.BillAddress.State)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cart.BillAddress.Country)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.cartList)
    {
        <tr>
            <td>
                @Html.ActionLink(item.SiteOrder.OrderID.ToString(), "Details", "Orders", new { id = item.SiteOrder.OrderID }, null)
            </td>
            <td>
                @Html.ActionLink(item.SiteOrder.SSOrderID.ToString(), "Details", "Orders", new { id = item.SiteOrder.OrderID }, null)
            </td>
            <td>
                @*<span>@item.SiteOrder.CompanyID (@AdminCart.Config.CompanyIDName(item.SiteOrder.CompanyID))</span>*@
                @Html.DisplayFor(modelItem => item.SiteOrder.SourceID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SiteCustomer.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SiteCustomer.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SiteOrder.OrderDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SiteOrder.Total)
            </td>
            <td>
                @if (string.IsNullOrEmpty(item.SiteOrder.Status))
                {
                    <span>n/a</span>
                }
                else
                {
                    @Html.DisplayFor(modelItem => item.SiteOrder.Status)
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BillAddress.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BillAddress.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BillAddress.Country)
            </td>

            <td>
                @if ((FM2015.Models.User.IsAuthenticated()) && (FM2015.Models.User.HasRole("admin")) && (item.SiteOrder.SSOrderID == 0) && (item.SiteOrder.Total != 0))
                {
                    @Html.ActionLink("Send to Shopify", "SendToShopify", new { id = item.SiteOrder.OrderID })
                }
            </td>


        </tr>
    }

</table>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Order Search Tips</h4>
            </div>
            <div class="modal-body">
                @Html.Raw(AdminCart.Config.OrderSearchTip)
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">close</button>
                <!--
                <button type="button" class="btn btn-primary">Save changes</button>
                -->
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script src="@Url.Content("~/Scripts/jquery/jquery-1.8.3.min.js")" type="text/javascript"></script>

<script type="text/javascript">
        $(function () { //Document ready shorthand
            orig_val = '';
            order_val = $('#paramOrder').val(); //Get the original value to test against. We use .val() to grab value="Search"
            $('input:text').focus(function () { //When the user tabs/clicks the search box.
                orig_val = $(this).val();
                switch ($(this).val()) {
                    case order_val:
                        $(this).val('');
                        break;

                }
            })
            .blur(function () {//When the user tabs/clicks out of the input
                if ($(this).val() === '') {//If the value is blank (such as the user clicking in it and clicking out)...
                    $(this).val(orig_val); //... set back to the original value
                }
            });
        });

</script>
