﻿@model FM2015.ViewModels.OrderViewModel
@{
    Layout = null;
}
@{
    ViewBag.Title = "Packing Slip";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Packing Slip</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container body-content">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <table witdh="100%">
                    <tr>
                        <td colspan="2">
                            <h4>
                                Packing List: OrderID#
                                @if (Model.cart.SiteOrder.SSOrderID != 0)
                                {
                                    @Model.cart.SiteOrder.SSOrderID.ToString()
                                }
                                else
                                {
                                    @Model.cart.SiteOrder.OrderID.ToString()
                                }
                            </h4>
                        </td>
                    </tr>
                    <tr>
                        <td width="70%">
                                <span>@AdminCart.Config.BizName()</span><br />
                                <span>@AdminCart.Config.ReturnStreet1</span><br />
                                <span>@AdminCart.Config.ReturnStreet2</span><br />
                                <span>@AdminCart.Config.ReturnCity</span><br />
                                <span>@AdminCart.Config.AppPhoneNumber()</span><br />
                                <span>@AdminCart.Config.CustomerServiceEmail()</span><br />
                        </td>

                        <td>
                                <span><strong>Ship To:</strong></span> <br />
                                @Model.cart.SiteCustomer.FirstName &nbsp; @Model.cart.SiteCustomer.LastName <br />
                                @Model.cart.ShipAddress.Street <br />
                                @if ((!string.IsNullOrEmpty(Model.cart.BillAddress.Street2)) && (Model.cart.BillAddress.Street2 != " "))
                                {
                                    @Model.cart.BillAddress.Street2 <br />
                                }
                                @Model.cart.BillAddress.City, @Model.cart.BillAddress.State @Model.cart.BillAddress.Zip <br />
                                @{
                                    string country = FM2015.Helpers.DBUtil.GetCountry(Model.cart.BillAddress.Country);
                                    <span>@country</span><br />
                                }
                                @Model.cart.SiteCustomer.Email <br /><br />
                                Shipping Method: Ground<br />
                                Shipping Date: @DateTime.Now.ToShortDateString() <br />
                        </td>
                    </tr>
                </table>

            </div>
        </div>


        <div class="row">
            <div class="col-sm-12 col-md-6">
                <span><strong>Contents</strong></span>
                <hr />
                <table width="100%">
                    <thead>
                        <tr>
                            <th width="30%"><strong>Product#</strong></th>
                            <th width="50%"><strong>Description</strong></th>
                            <th><strong>Quantity</strong></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (AdminCart.Item item in Model.cart.Items)
                        {
                            <tr>
                                <td>
                                    @item.LineItemProduct.Sku
                                </td>
                                <td>
                                    @item.LineItemProduct.Name
                                </td>
                                <td>
                                    @item.Quantity
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 col-md-6">
                <p style="height:50px">&nbsp;</p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 col-md-6">
                @switch (AdminCart.Config.appName.ToUpper())
                {
                    case "FACEMASTER":
                        <span><img src=@Url.Content(AdminCart.Config.AdminImage()) width="20%" alt="FaceMaster Facial Toning System" /></span>
                        break;

                    case "CRYSTALIFT":
                        <span><img src=@Url.Content(AdminCart.Config.AdminImage()) width="20%" alt="Crystalift Microdermabrasion System" /></span>
                        break;

                    case "SONULASE":
                        <span><img src=@Url.Content(AdminCart.Config.AdminImage()) width="20%" alt="Sonulase" /></span>
                        break;

                    case "RMSHOP":
                        <span><img src=@Url.Content(AdminCart.Config.AdminImage()) width="40%" alt="RM Shop" /></span>
                        break;

                    default:
                        break;
                }
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-12">
                <table width="100%">
                    <tr>
                        <td width="40%">
                            <p>
                                <span>@AdminCart.Config.BizName()</span><br />
                                <span>@AdminCart.Config.ReturnStreet1</span><br />
                                <span>@AdminCart.Config.ReturnStreet2</span><br />
                                <span>@AdminCart.Config.ReturnCity</span><br />
                                <span>@AdminCart.Config.AppPhoneNumber()</span><br />
                                <span>@AdminCart.Config.CustomerServiceEmail()</span><br />
                                Order#:
                                @if (Model.cart.SiteOrder.SSOrderID != 0)
                                {
                                    @Model.cart.SiteOrder.SSOrderID.ToString()
                                }
                                else
                                {
                                    @Model.cart.SiteOrder.OrderID.ToString()
                                }                           
                            </p>
                        </td>
                        <td>
                            <p>
                                <span><strong>Ship To:</strong></span> <br />
                                @Model.cart.SiteCustomer.FirstName &nbsp; @Model.cart.SiteCustomer.LastName <br />
                                @Model.cart.ShipAddress.Street <br />
                                @if ((!string.IsNullOrEmpty(Model.cart.BillAddress.Street2)) && (Model.cart.BillAddress.Street2 != " "))
                                {
                                    @Model.cart.BillAddress.Street2 <br />
                                }
                                @Model.cart.BillAddress.City, @Model.cart.BillAddress.State @Model.cart.BillAddress.Zip <br />
                                @{
                                    country = FM2015.Helpers.DBUtil.GetCountry(Model.cart.BillAddress.Country);
                                    <span>@country</span><br />
                                }
                                @Model.cart.SiteCustomer.Email<br />
                            </p>
                        </td>
                    </tr>
                </table>

            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 col-md-4">
                <p>
                    <strong>Return/Exchange Policy: </strong>@AdminCart.Config.ReturnExchangePolicy.Replace("**WEBSITE**", AdminCart.Config.StatementDescriptor());
                </p>
            </div>
        </div>
    </div>

@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("scripts", required: false)
}

<script src="@Url.Content("~/Scripts/jquery/jquery-1.8.3.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/bootstrap.min.js")" type="text/javascript"></script>

</body>
</html>
