﻿@model AdminCart.Transaction

@{
    ViewBag.Title = "Refund";
}

<h2>Order Refund</h2>

@Html.Partial("_AdminNav")

<h3>@ViewBag.ErrMsg</h3>

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">
                    <h4>Original Charge Transaction</h4>
                </div>
            </div>
            <div class="panel-body">
                <table id="tblHeader" class="table table-responsive table-striped">
                    <thead>
                        <tr>
                            <th><strong>OrderID</strong></th>
                            <th><strong>ChargeID</strong></th>
                            <th><strong>Order Date</strong></th>
                            <th><strong>Amount</strong></th>
                            <th><strong>CardHolder</strong></th>
                            <th><strong>Card#</strong></th>
                            <th><strong>ResultMsg</strong></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                @Html.DisplayFor(model => model.OrderID)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.TransactionID)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.TransactionDate)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.TransactionAmount)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.CardHolder)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.CardNo)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.ResultMsg)
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div> <!--end Panel Body-->
        </div> <!--end Panel-->
    </div> <!--col-->
</div> <!--row-->

@if (ViewBag.ShowForm)
{
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">
                        <h4>Order Refund Processing</h4>
                    </div>
                </div>
                <div class="panel-body">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form form-inline">
                            <div class="form-group col-xs-12 col-sm-12 col-md-12">
                                @Html.TextBox("amountStr", "", new { @class = "form-control", placeholder = "...Amount" } )
                            </div>
                        </div>
                        <p>&nbsp;</p>
                        <div class="form form-inline">
                            <div class="form-group col-xs-12 col-sm-12 col-md-12">
                                @Html.TextArea("orderNote", "", 5, 40, new { @class = "form-control", placeholder = "...Reason" } )
                            </div>
                        </div>
                        <p>&nbsp;</p>
                        <div class="col-md-4">
                            <input type="submit" value="Submit" class="btn btn-Success" />
                        </div>
                    }
                </div> <!--end Panel Body-->
            </div> <!--end Panel-->
        </div> <!--col-->
    </div> <!--row-->
}
else
{
    @Html.ActionLink("Back to Order Detail", "Details", "Orders", new {id = Model.OrderID }, new { @class = "btn btn-primary" })
}



