﻿@model FM2015.ViewModels.RMAViewModel

@{
    ViewBag.Title = "ReturnAuthorization";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Return Merchandise Authorization</h2>

@Html.Raw(ViewBag.ErrMsg)
<h4>Customer Name: @Model.Name</h4>
<h4>Customer Email: @Model.EMail</h4>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.OrderId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OrderId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.OrderId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RMABody, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <!--@Html.EditorFor(model => model.RMABody, new { htmlAttributes = new { @class = "form-control" } })-->
                
                @Html.TextAreaFor(model => model.RMABody, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RMABody, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ActionBody, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <!--@Html.EditorFor(model => model.ActionBody, new { htmlAttributes = new { @class = "form-control" } })-->
                
                @Html.TextAreaFor(model => model.ActionBody, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ActionBody, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Send Email" class="btn btn-Success" />
            </div>
        </div>
    </div>
}

