﻿@model FM2015.ViewModels.CustomerViewModel

@{
    ViewBag.Title = "UpdateOrderAddresses";
}

<h2>Update Order Addresses</h2>

@Html.Partial("_AdminNav")
<h3>@ViewBag.ErrMsg</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.Partial("_RegisterOrderAdrPartial")
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/_regHelper.js")
}

