﻿@model IEnumerable<ShopifyAgent.ShopifyTransaction>

@{
    ViewBag.Title = "UpdateTransaction";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Update Order Transaction</h2>
<p>
    Order ID: @ViewBag.OrderId; TransactionRowId: @ViewBag.TransactionRowId
</p>

<table class="table table-responsive table-striped">
    <tr>
        <th>
            ShopOrderId
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            CardType
        </th>
        <th>
            Last4
        </th>
        <th>
            Auth_Key
        </th>
        <th>
            Date
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gateway)
        </th>
        <th>
            TrxType
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Message)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            ErrCode
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.Order_id.ToString(), "SelectUpdateTransaction", "Orders", new { orderId = ViewBag.OrderId, transactionRowId = ViewBag.TransactionRowId, shopOrderId = item.Order_id, shopTranId = item.Id }, new { @class = "btn btn-primary" })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(model => item.Payment_Details.Credit_card_company)
        </td>
        <td>
            @{ 
                string cStr = item.Payment_Details.Credit_card_number.Substring(item.Payment_Details.Credit_card_number.Length - 4, 4);
                @Html.Raw(cStr)
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Authorization_key)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Created_at)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gateway)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kind)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Message)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Error_code)
        </td>
    </tr>
}

</table>
