﻿@model FM2015.ViewModels.AdminUpdateOrderViewModel

@{
    ViewBag.Title = "UpdateOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>UpdateOrder</h2>
Customer Name: @ViewBag.Name
OrderId: @ViewBag.OrderId

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>AdminCreateOrderViewModel</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @Html.HiddenFor(model => Model.OrderId, htmlAttributes: new { @class = "control-label col-md-2" })
    @Html.HiddenFor(model => Model.CustomerId, htmlAttributes: new { @class = "control-label col-md-2" })

    <div class="form-group">
        @Html.LabelFor(model => model.OrderDate, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.OrderDate, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.OrderDate, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Total, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Total, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Total, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Adjust, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Adjust, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Adjust, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Coupon, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Coupon, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Coupon, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.TotalTax, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.TotalTax, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.TotalTax, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.TotalShipping, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.TotalShipping, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.TotalShipping, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </div>
</div>
}

<hr />

<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#tabOrderDetails">Details</a></li>
    <li><a data-toggle="tab" href="#tabOrderActions">Actions</a></li>
    <li><a data-toggle="tab" href="#tabOrderTransactions">Transactions</a></li>
</ul>

<div class="tab-content">
    <div class="tab-pane active" id="tabOrderDetails">
        <div id="divOrderDetails" class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div id="pnlOrderDetails" class="panel panel-info">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <h3>Order Details</h3>
                        </div>
                    </div>
                    <div class="panel-body">
                        <table class="table table-responsive table-striped">
                            <thead>
                                <tr>
                                    <td><strong>Description</strong></td>
                                    <td><strong>Quantity</strong></td>
                                    <td><strong>Unit Price</strong></td>
                                    <td><strong>Discount</strong></td>
                                    <td><strong>Price</strong></td>
                                    <td></td>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (AdminCart.OrderDetail item in Model.odList)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(i => item.LineItemProduct.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(i => item.Quantity)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(i => item.UnitPrice)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(i => item.Discount)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(i => item.LineItemTotal)
                                        </td>
                                        <td>
                                            @Html.ActionLink("edit", "UpdateDetail", new { id = item.OrderDetailID }, new { @class = "btn btn-primary" }) -  
                                            @Html.ActionLink("delete", "DeleteDetail", new { id = item.OrderDetailID }, new { @class = "btn btn-danger", OnClick = "javascript:return confirm('An Order is about to be NULLified. Proceed?')" })
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        @Html.ActionLink("new", "CreateDetail", new { FMOrderID = Model.OrderId })
                    </div><!--end Panel body-->
                </div><!--end Panel-->
            </div><!--end Column-->
        </div><!--end Row-->
    </div><!--end tab-->

    <div class="tab-pane" id="tabOrderActions">
        <div id="divOrderActions" class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div id="pnlOrderActions" class="panel panel-info">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <h3>Order Actions</h3>
                        </div>
                    </div>
                    <div class="panel-body">
                        <table class="table table-responsive table-striped">
                            <thead>
                                <tr>
                                    <td><strong>ID</strong></td>
                                    <td><strong>Type</strong></td>
                                    <td><strong>Date</strong></td>
                                    <td><strong>Reason</strong></td>
                                    <td></td>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (AdminCart.OrderAction item in Model.oaList)
                                {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(i => item.OrderActionID)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(i => item.OrderActionType)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(i => item.OrderActionDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(i => item.OrderActionReason)
                                    </td>
                                    <td>
                                        @Html.ActionLink("edit", "UpdateAction", new { id = item.OrderActionID })
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div><!--end Panel body-->
                </div><!--end Panel-->
            </div><!--end Column-->
        </div><!--end Row-->
    </div><!--end tab-->

    <div class="tab-pane" id="tabOrderTransactions">
        <div id="divOrderTransactions" class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div id="pnlOrderTransactions" class="panel panel-info">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <h3>Order Transactions</h3>
                        </div>
                    </div>
                    <div class="panel-body">
                        <table class="table table-responsive table-striped">
                            <thead>
                                <tr>
                                    <td><strong>ID</strong></td>
                                    <td><strong>Type</strong></td>
                                    <td><strong>Date</strong></td>
                                    <td><strong>Amount</strong></td>
                                    <td><strong>CardType</strong></td>
                                    <td><strong>Card#</strong></td>
                                    <td><strong>ResultCode</strong></td>
                                    <td><strong>ResultMsg</strong></td>
                                    <td></td>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (AdminCart.Transaction item in Model.tranList)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(i => item.TransactionID)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(i => item.TrxType)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(i => item.TransactionDate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(i => item.TransactionAmount)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(i => item.CardType)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(i => item.CardNo)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(i => item.ResultCode)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(i => item.ResultMsg)
                                        </td>
                                        <td>
                                            @Html.ActionLink("edit", "UpdateOrderTransaction", new { FMOrderID = item.OrderID, transactionRowID = item.TransactionRowID })
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        @Html.ActionLink("new", "CreateTransaction", new { FMOrderID = Model.OrderId })
                    </div><!--end Panel body-->
                </div><!--end Panel-->
            </div><!--end Column-->
        </div><!--end Row-->
    </div><!--end tab-->
</div><!-- Tab Content -->

<div>
    @Html.ActionLink("Back to OrderDetail", "Details", new { id = Model.OrderId })
</div>
