﻿@model IEnumerable<adminCER.CER>

@{
    ViewBag.Title = "ViewCERsToAnalyze";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>View CERs-To-Analyze</h2>

@Html.Partial("_AdminNav")

<p>&nbsp;</p>

<table class="table">
    <tr>
        <th>
            <span>row#</span>
        </th>
        <th>
            <span>CER#</span>
        </th>
        <th>
            <span>Date</span>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CERType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            <span>Serial#</span>
        </th>
    </tr>

@{ 
    int i = 0;
}
@foreach (var item in Model) {
    <tr>
        <td>
            <span>@i.ToString()</span>
        </td>
        <td>
            @{ 
                string cnum = item.CERYear.ToString() + "-" + item.CERIdentifier.ToString();
            }
            @Html.ActionLink(cnum,"Details","mvcCER", new { CERNumber = item.CERNumber }, null)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateReportReceived)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CERType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SerialNumber)
        </td>
    </tr>
    i++;
}

</table>
