﻿@model IEnumerable<FM2015.FMmetrics.UnProcessedOrders>

@{
    ViewBag.Title = "View NoTrack Orders";
}

<h2>Orders w/o Tracking Numbers</h2>

@Html.Partial("_AdminNav")

@if(Model.Count() == 0)
{
    <h4>All orders have tracking numbers</h4>
}
else
{
    <table class="table table-responsive">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Row)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DaysDelayed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
        </tr>

        @foreach (FM2015.FMmetrics.UnProcessedOrders order in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => order.Row)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => order.DaysDelayed)
                </td>
                <td>
                    @Html.ActionLink(order.OrderId.ToString(), "Details", new { id = order.OrderId }, null)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => order.OrderDate)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => order.State)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => order.Country)
                </td>
            </tr>
        }
    </table>
}



