﻿@model PayWhirl.PayWhirlUser
    
@{
    ViewBag.Title = "CurrentUser Details";
}

@Html.Partial("_AdminNav")

<h2>User Details - PayWhirl UserID: @Html.Raw(Model.Id.ToString())</h2>

<div>
    <h4>Shopify Customer Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.First_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.First_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Last_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Last_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Api_key)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Api_key)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date_created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date_created)
        </dd>
    </dl>
</div>