﻿@{
    ViewBag.Title = "PayWhirl Admin Stuff";
}

<h2>Index</h2>

@Html.Partial("_AdminNav")

<p>&nbsp;</p>

<div class="row">
    
    <a href="~/PayWhirl/CurrentUser/">
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="dash_icon" style="padding:20px;">
                <img src="/images/admin/plans.png" style='width:100px'>
                <div class='title'>Info on Authorized User</div>
            </div>
        </div><!--end column-->
    </a>

    <a href="~/PayWhirl/SubscriberList/">
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="dash_icon" style="padding:20px;">
                <img src="~/images/admin/subscribers.png" style='width:100px'>
                <div class='title'>Subscriber List</div>
            </div>
        </div><!--end column-->
    </a>

    <a href="~/PayWhirl/PlanList/">
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="dash_icon" style="padding:20px;">
                <img src="~/images/admin/plans.png" style='width:100px'>
                <div class='title'>Subscription Plan List</div>
            </div>
        </div><!--end column-->
    </a>


</div>

<div class="row">

    <a href="https://www.paywhirl.com/dashboard" target="_blank">
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="dash_icon" style="padding:20px;">
                <img src="~/images/admin/plans.png" style='width:100px'>
                <div class='title'>PayWhirl Dashboard</div>
            </div>
        </div><!--end column-->
    </a>

</div> <!--end row-->
