﻿@model PayWhirl.PayWhirlPlan

@{
    ViewBag.Title = "Plan Details";
}

@Html.Partial("_AdminNav")

<h2>Subscriber Details - PayWhirl PlanID: @Html.Raw(Model.Id.ToString())</h2>

<div>
    <h4>PayWhirl Plan Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sku)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sku)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Shipping)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Shipping)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Enabled)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Enabled)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Image)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Setup_fee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Setup_fee)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Shopify_product_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Shopify_product_id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Shopify_variant_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Shopify_variant_id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Shopify_fulfillment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Shopify_fulfillment)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ordering)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ordering)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Installments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Installments)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Billing_cycle_anchor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Billing_cycle_anchor)
        </dd>
    </dl>
</div>

<div>
    @Html.ActionLink("Back to List", "PlanList")
</div>