﻿@model PayWhirl.PayWhirlSubscriber

@{
    ViewBag.Title = "SubscriberCreate";
}

@Html.Partial("_AdminNav")

<h2>Subscriber Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>PayWhirlSubscriber</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.User_id)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.User_id)
            @Html.ValidationMessageFor(model => model.User_id)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Password)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.First_name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.First_name)
            @Html.ValidationMessageFor(model => model.First_name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Last_name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Last_name)
            @Html.ValidationMessageFor(model => model.Last_name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Phone)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Phone)
            @Html.ValidationMessageFor(model => model.Phone)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Address_1)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Address_1)
            @Html.ValidationMessageFor(model => model.Address_1)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Address_2)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Address_2)
            @Html.ValidationMessageFor(model => model.Address_2)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.City)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.City)
            @Html.ValidationMessageFor(model => model.City)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.State)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.State)
            @Html.ValidationMessageFor(model => model.State)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Country)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Country)
            @Html.ValidationMessageFor(model => model.Country)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Zip)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Zip)
            @Html.ValidationMessageFor(model => model.Zip)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Stripe_id)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Stripe_id)
            @Html.ValidationMessageFor(model => model.Stripe_id)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Admin)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Admin)
            @Html.ValidationMessageFor(model => model.Admin)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Date_created)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Date_created)
            @Html.ValidationMessageFor(model => model.Date_created)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
