﻿@model FMWebApp.ViewModels.PayWhirl.PayWhirlCustomerViewModel

@{
    ViewBag.Title = "Subscriber Details";
}

@Html.Partial("_AdminNav")

<h2>Subscriber Details - PayWhirl SubscriberID: @Html.Raw(Model.payWhirlCustomer.Id.ToString())</h2>

<div>
    <h4>PayWhirl Subscriber Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.payWhirlCustomer.User_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.payWhirlCustomer.User_id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.payWhirlCustomer.First_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.payWhirlCustomer.First_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.payWhirlCustomer.Last_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.payWhirlCustomer.Last_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.payWhirlCustomer.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.payWhirlCustomer.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.payWhirlCustomer.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.payWhirlCustomer.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.payWhirlCustomer.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.payWhirlCustomer.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.payWhirlCustomer.Address_1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.payWhirlCustomer.Address_1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.payWhirlCustomer.Address_2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.payWhirlCustomer.Address_2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.payWhirlCustomer.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.payWhirlCustomer.City)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.payWhirlCustomer.State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.payWhirlCustomer.State)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.payWhirlCustomer.Country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.payWhirlCustomer.Country)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.payWhirlCustomer.Zip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.payWhirlCustomer.Zip)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.payWhirlCustomer.Stripe_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.payWhirlCustomer.Stripe_id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.payWhirlCustomer.Admin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.payWhirlCustomer.Admin)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.payWhirlCustomer.Date_created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.payWhirlCustomer.Date_created)
        </dd>
    </dl>
</div>

<hr />
<div id="divSubscriptions" class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div id="pnlSubscriptions" class="panel panel-primary">
            <div class="panel-heading">
                <div class="panel-title">
                    <h3>PayWhirl Customer Subscriptions</h3>
                </div>
            </div>
            <div class="panel-body">
                <table class="table table-responsive table-striped">
                    <thead>
                        <tr>
                            <td><strong>id</strong></td>
                            <td><strong>plan</strong></td>
                            <td><strong>start</strong></td>
                            <td><strong>qty</strong></td>
                            <td><strong>periodStart</strong></td>
                            <td><strong>periodEnd</strong></td>
                            <td><strong>cancelPerEnd</strong></td>
                            <td><strong>status</strong></td>
                            <td><strong>tax%</strong></td>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.stripeCustomerSubscriptionList)
                        {
                            <tr>
                                <td>@Html.DisplayFor(i => item.Id)</td>
                                <td>@Html.DisplayFor(i => item.StripePlan.Product.Name)</td>
                                <td>@Html.DisplayFor(i => item.Start)</td>
                                <td>@Html.DisplayFor(i => item.Quantity)</td>
                                <td>@Html.DisplayFor(i => item.CurrentPeriodStart)</td>
                                <td>@Html.DisplayFor(i => item.CurrentPeriodEnd)</td>
                                <td>@Html.DisplayFor(i => item.CancelAtPeriodEnd)</td>
                                <td>@Html.DisplayFor(i => item.Status)</td>
                                <td>@Html.DisplayFor(i => item.TaxPercent)</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div><!--end Panel body-->
        </div><!--Panel-->
    </div><!--Column-->
</div><!--end Row-->

<div>
    @Html.ActionLink("Back to List", "SubscriberList")
</div>
