﻿@model IEnumerable<AdminCart.Product>

@{
    ViewBag.Title = "AdminIndex";
}

<h2>FaceMaster Products</h2>

@Html.Partial("_AdminNav")


<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="well well-sm">
            @Html.ActionLink("Create New Product", "Create", "Products", null, new { @class = "btn btn-success", @style = "margin-left: 5em" })
        </div>
    </div>
</div>


<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#tabDevices">Devices</a></li>
    <li><a data-toggle="tab" href="#tabMultiPay">MultiPay</a></li>
    <li><a data-toggle="tab" href="#tabClubs">Clubs</a></li>
    <li><a data-toggle="tab" href="#tabAccessories">Accessories</a></li>
    <li><a data-toggle="tab" href="#tabAll">All</a></li>
</ul>

<div class="tab-content">

    <div class="tab-pane active" id="tabDevices">
        <div id="divDevices" class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div id="pnlDevices" class="panel panel-info">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <h3>FaceMaster Devices</h3>
                        </div><!--end panel-title-->
                    </div><!--end panel-heading-->
                    <div class="panel-body">
                        @if (Model.Count() == 0)
                        {
                            <span>No devices are available</span>
                        }
                        else
                        {
                            @Html.Partial("_PartialTblProductList", Model, new ViewDataDictionary { { "category", "device" } })
                        }
                    </div><!--end panel-body-->
                </div><!--end panel-->
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end tab-pane-->

    <div class="tab-pane" id="tabMultiPay">
        <div id="divMultiPay" class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div id="pnlMultiPay" class="panel panel-info">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <h3>FaceMaster MultiPay Devices</h3>
                        </div><!--end panel-title-->
                    </div><!--end panel-heading-->
                    <div class="panel-body">
                        @if (Model.Count() == 0)
                        {
                            <span>No multipay devices are available</span>
                        }
                        else
                        {
                            @Html.Partial("_PartialTblProductList", Model, new ViewDataDictionary { { "category", "multipay" } })
                        }
                    </div><!--end panel-body-->
                </div><!--end panel-->
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end tab-pane-->

    <div class="tab-pane" id="tabClubs">
        <div id="divClubs" class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div id="pnlClubs" class="panel panel-info">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <h3>FaceMaster Clubs (subscription products)</h3>
                        </div><!--end panel-title-->
                    </div><!--end panel-heading-->
                    <div class="panel-body">
                        @if (Model.Count() == 0)
                        {
                            <span>No club offers are available</span>
                        }
                        else
                        {
                            @Html.Partial("_PartialTblProductList", Model, new ViewDataDictionary { { "category", "club" } })
                        }
                    </div><!--end panel-body-->
                </div><!--end panel-->
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end tab-pane-->

    <div class="tab-pane" id="tabAccessories">
        <div id="divAccessories" class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div id="pnlAccessories" class="panel panel-info">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <h3>FaceMaster Accessories</h3>
                        </div><!--end panel-title-->
                    </div><!--end panel-heading-->
                    <div class="panel-body">
                        @if (Model.Count() == 0)
                        {
                            <span>No Accessories are available</span>
                        }
                        else
                        {
                            @Html.Partial("_PartialTblProductList", Model, new ViewDataDictionary { { "category", "accessory" } })
                        }
                    </div><!--end panel-body-->
                </div><!--end panel-->
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end tab-pane-->

    <div class="tab-pane" id="tabAll">
        <div id="divAll" class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div id="pnlAll" class="panel panel-info">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <h3>FaceMaster Products (All)</h3>
                        </div><!--end panel-title-->
                    </div><!--end panel-heading-->
                    <div class="panel-body">
                        @if (Model.Count() == 0)
                        {
                            <span>No products are available</span>
                        }
                        else
                        {
                            @Html.Partial("_PartialTblProductList", Model, new ViewDataDictionary { { "category", "all" } })
                        }
                    </div><!--end panel-body-->
                </div><!--end panel-->
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end tab-pane-->

</div><!--end tab-content-->

    
        




