﻿@model FM2015.ViewModels.ProductViewModel
@{
    ViewBag.Title = "FaceMaster Product: Create";
}

<h2>FaceMaster Product: Create</h2>



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.Partial("_PartialEditProduct")

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "AdminIndex")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}