﻿@model AdminCart.Product

@{
    ViewBag.Title = "FaceMaster Product Details";
}

<h2>FaceMaster Product Details</h2>

<div>
    <h4>
    ProductID: @Html.DisplayFor(model => model.ProductID) (@Html.DisplayFor(model => model.Name))<br />
    Sku: @Html.DisplayFor(model => model.Sku)<br />
    Category: @Html.DisplayFor(model => model.Category)<br />
    Enabled: @Html.DisplayFor(model => model.Enabled)
    </h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ShortDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShortDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Taxable)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Taxable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsShippable)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsShippable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsMultiPay)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsMultiPay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsSubscription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsSubscription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CSOnly)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CSOnly)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsFMSystem)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsFMSystem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsRefurbished)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsRefurbished)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsBundle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsBundle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsGiftCard)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsGiftCard)
        </dd>

       
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubscriptionPlan)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SubscriptionPlan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BundleString)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BundleString)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SalePrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SalePrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OnePayPrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OnePayPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cost)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Weight)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Weight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PerUnitShipping)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PerUnitShipping)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CartImage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CartImage)
            <img width="10%" src="@Url.Content("~/images/products/" + Model.CartImage)" alt="" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThumbnailImage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ThumbnailImage)
            <img width="10%" src="@Url.Content("~/images/products/" + Model.ThumbnailImage)" alt="" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IconImage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IconImage)
            <img width="10%" src="@Url.Content("~/images/products/" + Model.IconImage)" alt="" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DetailsImage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DetailsImage)
            <img width="10%" src="@Url.Content("~/images/products/" + Model.DetailsImage)" alt="" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ZoomImage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ZoomImage)
            <img width="10%" src="@Url.Content("~/images/products/" + Model.ZoomImage)" alt="" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OriginalImage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OriginalImage)
            <img width="10%" src="@Url.Content("~/images/products/" + Model.OriginalImage)" alt="" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stock)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Stock)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sort)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sort)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InStock)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InStock)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OutOfStockMessage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OutOfStockMessage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CountryOfOrigin)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CountryOfOrigin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PartnerID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PartnerID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PartnerImageURLs)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PartnerImageURLs)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PartnerDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PartnerDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PartnerProductType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PartnerProductType)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProductID }) |
    @Html.ActionLink("Back to List", "AdminIndex")
</p>