﻿@model FM2015.ViewModels.ProductViewModel

@{
    ViewBag.Title = "FaceMaster Product: Edit";
}

<h2>Edit</h2>

<h2>FaceMaster Product: Edit (ProductID = @Model.Product.ProductID)</h2>
<div>
    @Html.ActionLink("Clone Product", "Clone", "Products", new { id = @Model.Product.ProductID }, new { @class = "btn btn-success" })
</div>

<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.Partial("_PartialEditProduct")

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submit" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "AdminIndex", "Products", null, new { @class = "btn btn-success" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}