﻿@model IEnumerable<AdminCart.Product>

@{
    ViewBag.Title = "FaceMaster Product List";
}

<h2>FaceMaster Products</h2>

@foreach (var product in Model)
{
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
            <img src="@Url.Content("~/images/products/" + product.ThumbnailImage)" alt="@product.ShortDescription" />
        </div>
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
            @Html.Raw(product.Name)
        </div>
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
            @Html.Raw(product.ShortDescription)
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            @Html.DisplayFor(ModelItem => product.SalePrice)
        </div>
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
            <input type="button" value="Add To Cart" class="btn btn-Success" onclick="AjaxCart.addproducttocart('/cart/AddProductTo_cart/' + @product.ProductID.ToString()); return false;" />
        </div>
    </div>
    <hr />
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/jscript">
        var AjaxCart = {
            //add a product to the cart/wishlist from the catalog pages
            addproducttocart: function (urladd) {
                $.ajax({
                    cache: false,
                    url: urladd,
                    type: 'post',
                    datatype: 'json',
                    success: this.success_process,
                    //complete: this.success_process,
                    error: this.ajaxFailure
                });
            },

            success_process: function (data) {
                //window.location.href = '/cart/view';
                //success alert
                //debug
                //alert('Success_Process: cart controller returned OK ' + 'data: ' + JSON.stringify(data) );
                if (data.isRedirect) {
                    window.location.href = data.redirectUrl;
                }
                else {
                    //error
                    alert('Success_Process Error: Failed to Redirect after product update to cart. data: ' + JSON.stringify(data));
                }
                    return false;
            },

            ajaxFailure: function (data) {
                alert('ajaxFailre: Failed to add the product to the cart. Please refresh the page and try one more time. data: ' + JSON.stringify(data));
            }
        };
    </script>
}



