﻿@model PayWhirlV2.pwCustomerV2

@{
    ViewBag.Title = "GetCustomer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>GetCustomer</h2>

@Html.Partial("_AdminNav")

<div>
    <h4>pwCustomerV2</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.First_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.First_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Last_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Last_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Zip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Zip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Country)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Created_at)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created_at)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Updated_at)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Updated_at)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gateway_reference)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gateway_reference)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Default_card)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Default_card)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gateway_type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gateway_type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gateway_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gateway_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Currency)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Currency)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Deleted_at)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Deleted_at)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Utm_source)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Utm_source)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Utm_medium)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Utm_medium)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Utm_term)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Utm_term)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Utm_content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Utm_content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Utm_campaign)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Utm_campaign)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Utm_group)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Utm_group)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "UpdateCustomer", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "GetCustomerList")
</p>
