﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index - Paywhirl API V2</h2>

@Html.Partial("_AdminNav")

<p>&nbsp;</p>

<div class="row">

    <a href="~/PayWhirlV2/CurrentUser/">
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="dash_icon" style="padding:20px;">
                <img src="/images/admin/plans.png" style='width:100px'>
                <div class='title'>Info on Authorized User</div>
            </div>
        </div><!--end column-->
    </a>

    <a href="~/PayWhirlV2/GetCustomerList/">
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="dash_icon" style="padding:20px;">
                <img src="~/images/admin/subscribers.png" style='width:100px'>
                <div class='title'>Customer List</div>
            </div>
        </div><!--end column-->
    </a>

    <a href="~/PayWhirlV2/GetPlanList/">
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="dash_icon" style="padding:20px;">
                <img src="~/images/admin/plans.png" style='width:100px'>
                <div class='title'>Subscription Plan List</div>
            </div>
        </div><!--end column-->
    </a>

    <a href="~/PayWhirlV2/GetEmailTemplate/1">
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="dash_icon" style="padding:20px;">
                <img src="~/images/admin/plans.png" style='width:100px'>
                <div class='title'>Get Email Template</div>
            </div>
        </div><!--end column-->
    </a>


</div>

<div class="row">

    <a href="https://app.paywhirl.com/dashboard" target="_blank">
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="dash_icon" style="padding:20px;">
                <img src="~/images/admin/plans.png" style='width:100px'>
                <div class='title'>PayWhirlV2 Dashboard</div>
            </div>
        </div><!--end column-->
    </a>

</div> <!--end row-->
