﻿
@{
    ViewBag.Title = "Handy Utilities";
}

<h2>Handy Utilities</h2>

@Html.Partial("_AdminNav")

<hr />
<div class="row">

    <a href="~/UnitTest/StripeTestWebHooks/">
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="dash_icon" style="padding:20px;">
                <img src="/images/admin/plans.png" style='width:100px'>
                <div class='title'>Test API StripeTestWebhooks</div>
            </div>
        </div><!--end column-->
    </a>

    <a href="~/AdminMVC/TestWebApi">
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
            <div class="dash_icon" style="padding:20px;">
                <img src="/images/admin/metrics.png" style='width:100px'>
                <div class='title'>Test Shopify Api GetPing</div>
            </div>
        </div><!--end column-->
    </a>

    <a href="~/UnitTest/TestWebApi_ActivateDeferredSubscriptions">
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
            <div class="dash_icon" style="padding:20px;">
                <img src="/images/admin/metrics.png" style='width:100px'>
                <div class='title'>Test Subscriptions Api: CheckDeferredSubscriptions</div>
            </div>
        </div><!--end column-->
    </a>

    <a href="~/Shopify/SendTestEmail">
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
            <div class="dash_icon" style="padding:20px;">
                <img src="/images/admin/emails.png" style='width:100px'>
                <div class='title'>Send Test Email</div>
            </div>
        </div><!--end column-->
    </a>
</div><!--end row-->

<div class="row">

    <a href="~/UnitTest/test_Cart_UpdateOrder/">
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="dash_icon" style="padding:20px;">
                <img src="/images/admin/plans.png" style='width:100px'>
                <div class='title'>Test Cart.UpdateOrder</div>
            </div>
        </div><!--end column-->
    </a>

    <a href="~/UnitTest/test_Customer_FindCustomerByEmail/">
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="dash_icon" style="padding:20px;">
                <img src="/images/admin/plans.png" style='width:100px'>
                <div class='title'>Test Customer.FindCustomerByEmail</div>
            </div>
        </div><!--end column-->
    </a>

    <a href="~/UnitTest/test_Subscriptions_Subscribers/">
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="dash_icon" style="padding:20px;">
                <img src="/images/admin/plans.png" style='width:100px'>
                <div class='title'>Test Subscribers Table</div>
            </div>
        </div><!--end column-->
    </a>

    <a href="~/UnitTest/test_SendDunningLetter/">
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="dash_icon" style="padding:20px;">
                <img src="/images/admin/plans.png" style='width:100px'>
                <div class='title'>Test Send Dunning Letter</div>
            </div>
        </div><!--end column-->
    </a>
</div><!--end row-->

<div class="row">

    <a href="~/UnitTest/test_GetShopifyOrderRisk/">
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="dash_icon" style="padding:20px;">
                <img src="/images/admin/plans.png" style='width:100px'>
                <div class='title'>Test GetShopifyOrderRisk</div>
            </div>
        </div><!--end column-->
    </a>

    <a href="~/UnitTest/test_Shopify_UpDateInventory/">
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="dash_icon" style="padding:20px;">
                <img src="/images/admin/plans.png" style='width:100px'>
                <div class='title'>Test Shopify_UpDateInventory</div>
            </div>
        </div><!--end column-->
    </a>

    <a href="~/UnitTest/test_ShopifyProductTransform/">
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="dash_icon" style="padding:20px;">
                <img src="/images/admin/plans.png" style='width:100px'>
                <div class='title'>Test ShopifyProductTransform</div>
            </div>
        </div><!--end column-->
    </a>

    <a href="~/UnitTest/test_SendFinalDunningLetter/">
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="dash_icon" style="padding:20px;">
                <img src="/images/admin/plans.png" style='width:100px'>
                <div class='title'>Test Send FINAL Dunning Letter</div>
            </div>
        </div><!--end column-->
    </a>
</div><!--end row-->

<div class="row">

    <a href="~/UnitTest/test_Stripe_GetSet_AccountBalance/">
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="dash_icon" style="padding:20px;">
                <img src="/images/admin/plans.png" style='width:100px'>
                <div class='title'>Test Stripe Account Balance functionality</div>
            </div>
        </div><!--end column-->
    </a>

    <a href="~/UnitTest/test_Send2DeclineEmail/">
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="dash_icon" style="padding:20px;">
                <img src="/images/admin/plans.png" style='width:100px'>
                <div class='title'>Send Test Email: 2nd Payment Charge Failed</div>
            </div>
        </div><!--end column-->
    </a>

    <a href="~/UnitTest/test_PayWhirl_FindCustomerByEmail/">
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="dash_icon" style="padding:20px;">
                <img src="/images/admin/plans.png" style='width:100px'>
                <div class='title'>Test PayWhirl Fimd-Customer-By-Email</div>
            </div>
        </div><!--end column-->
    </a>

    <a href="~/Utilities/PopulateLocations/">
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
            <div class="dash_icon" style="padding:20px;">
                <img src="/images/admin/plans.png" style='width:100px'>
                <div class='title'>Initialize Locations Table</div>
            </div>
        </div><!--end column-->
    </a>

</div><!--end row-->

<div class="row">

    <a href="~/UnitTest/test_GetInstallments/">
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="dash_icon" style="padding:20px;">
                <img src="/images/admin/plans.png" style='width:100px'>
                <div class='title'>Test PayWhirl GetInstallment routine</div>
            </div>
        </div><!--end column-->
    </a>

    <a href="~/UnitTest/test_GETStripeSubscriberFromPW/">
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="dash_icon" style="padding:20px;">
                <img src="/images/admin/plans.png" style='width:100px'>
                <div class='title'>Test StripeBiz.GETStripeSubscriberFromPW routine</div>
            </div>
        </div><!--end column-->
    </a>
    <a href="~/UnitTest/test_GetStripeInvoiceList/">
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="dash_icon" style="padding:20px;">
                <img src="/images/admin/plans.png" style='width:100px'>
                <div class='title'>Test StripeBiz.GetStripeInvoiceList routine</div>
            </div>
        </div><!--end column-->
    </a>

    <a href="~/UnitTest/test_GetLoadCart/">
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="dash_icon" style="padding:20px;">
                <img src="/images/admin/plans.png" style='width:100px'>
                <div class='title'>Test LoadCart routine</div>
            </div>
        </div><!--end column-->
    </a>
</div><!--end row-->

<div class="row">

    <a href="~/UnitTest/test_ResetCache/">
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="dash_icon" style="padding:20px;">
                <img src="/images/admin/plans.png" style='width:100px'>
                <div class='title'>Test ResetCache routine</div>
            </div>
        </div><!--end column-->
    </a>

    <a href="~/UnitTest/test_IsEmailUnique/">
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="dash_icon" style="padding:20px;">
                <img src="/images/admin/plans.png" style='width:100px'>
                <div class='title'>Test IsEmailUnique</div>
            </div>
        </div><!--end column-->
    </a>

    <a href="~/StripeTest/">
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="dash_icon" style="padding:20px;">
                <img src="/images/admin/plans.png" style='width:100px'>
                <div class='title'>Initial Stripe Test (test mode, get test Customer)</div>
            </div>
        </div><!--end column-->
    </a>

    <a href="~/StripeTest/TestReport">
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="dash_icon" style="padding:20px;">
                <img src="/images/admin/plans.png" style='width:100px'>
                <div class='title'>ReadOnly Stripe Test Report (lists of plans, charges, cards, etc.)</div>
            </div>
        </div><!--end column-->
    </a>

</div><!--end row-->

<div class="row">

    <a href="~/Admin/classmaker.aspx">
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="dash_icon" style="padding:20px;">
                <img src="/images/admin/plans.png" style='width:100px'>
                <div class='title'>Launch ClassMaker (.NET version)</div>
            </div>
        </div><!--end column-->
    </a>

</div><!--end row-->
