﻿@using FM2015.Models;
@model IEnumerable<Location>

@{
    ViewBag.Title = "PopulateLocations";
}

<h2>PopulateLocations</h2>

@Html.Partial("_AdminNav")

<hr />

@if (Model.Count() == 0)
{
<p>Location Table is Empty!</p>
}
else
{
    <p>Locations Count = @Html.Raw(Model.Count())</p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypeID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Parent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Code)
            </th>
        </tr>

        @foreach (Location l in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => l.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => l.TypeID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => l.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => l.Parent)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => l.Code)
                </td>
            </tr>
        }
    </table>
}
