﻿@model IEnumerable<ShopifyAgent.ShopifyShippingZone>

@{
    ViewBag.Title = "GetShippingZones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Display Shipping Policy</h2>

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
        @Html.Partial("_AdminNav")
    </div>
</div>

<table class="table">
    <tr>
        <th width="100px">
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th width="200px">
            States/Provinces
        </th>
        <th width="400px">
            Shipping Policy
        </th>
    </tr>
    @foreach(ShopifyAgent.ShopifyShippingZone item in Model)
    {
        <tr>
            <td>
                @Html.Raw(item.Name)
            </td>
            <td>
                @for (int j = 0; j < item.countries[0].provinces.Length; j++)
                {
                    @Html.Raw(item.countries[0].provinces[j].Name)@Html.Raw(", ")
                }
            </td>
            <td>
                <table>
                    <tr>
                        
                        <th>
                            Min Order Amount
                        </th>
                        <th>
                            Max Order Amount
                        </th>
                        <th>
                            Shipping Amount
                        </th>
                    </tr>

                    @for (int i = 0; i < item.price_based_shipping_rates.Length; i++)
                    {
                        <tr>
                            <td>
                                @Html.Raw(item.price_based_shipping_rates[i].Min_Order_Subtotal)
                            </td>
                            <td>
                                @Html.Raw(item.price_based_shipping_rates[i].Max_Order_Subtotal)
                            </td>
                            <td>
                                @Html.Raw(item.price_based_shipping_rates[i].Price)
                            </td>
                        </tr>                       
                    }
                </table>
            </td>
        </tr>
    }

</table>
