﻿@using AdminCart;

@{
    ViewBag.Title = "AdminCER: Main Page";
}

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                <h3>AdminCER: Home</h3> @Html.Partial("_AdminNav")
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <!--
                <div class="well well-sm">
                    @Html.ActionLink("Create New Customer", "Create", "Customers", null, new { @class = "btn btn-success", @style = "margin-left: 5em" })
                </div>
                -->
            </div>
        </div>

        <div class="row">
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                @using (Html.BeginForm("FindOrders", "AdminMVC", FormMethod.Get))
                {
                    <div class="row">
                        <div class="col-xs-8 col-sm-8 col-md-12 col-lg-12">
                            <div id="imaginary_container">
                                <div class="input-group stylish-input-group">
                                    <input id="paramOrder" name="paramOrder" type="text" class="form-control" placeholder="...order search">
                                    <span class="input-group-addon">
                                        <button type="submit">
                                            <span class="glyphicon glyphicon-search"></span>
                                        </button>
                                    </span>
                                    <span class="input-group-btn">
                                        <button type="button" data-toggle="modal" data-target="#myOrderModal">
                                            <span class="glyphicon glyphicon-info-sign"></span>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                <p>&nbsp;</p>
            </div> <!--end col-->
        </div> <!--end row-->

        <div id="divLookup" class="row">
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                @using (Html.BeginForm("FindCustomers", "AdminMVC", FormMethod.Get))
                {
                    <div class="row">
                        <div class="col-xs-8 col-sm-8 col-md-12 col-lg-12">
                            <div id="imaginary_container">
                                <div class="input-group stylish-input-group">
                                    <input id="paramCustomer" name="paramCustomer" type="text" class="form-control" placeholder="...customer search">
                                    <span class="input-group-addon">
                                        <button type="submit">
                                            <span class="glyphicon glyphicon-search"></span>
                                        </button>
                                    </span>
                                    <span class="input-group-btn">
                                        <button type="button" data-toggle="modal" data-target="#myCustomerModal">
                                            <span class="glyphicon glyphicon-info-sign"></span>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                <p>&nbsp;</p>
            </div> <!--end col-->
        </div> <!--end row-->

        @if ((FM2015.Models.User.IsAuthenticated()) && (FM2015.Models.User.HasRole("admin")))
        {
            <div id="divSubLookup" class="row">
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                    @using (Html.BeginForm("FindSubscribers", "AdminMVC", FormMethod.Get))
                    {
                        <div class="row">
                            <div class="col-xs-8 col-sm-8 col-md-12 col-lg-12">
                                <div id="imaginary_container">
                                    <div class="input-group stylish-input-group">
                                        <input id="param" name="param" type="text" class="form-control" placeholder="...subscriber search">
                                        <span class="input-group-addon">
                                            <button type="submit">
                                                <span class="glyphicon glyphicon-search"></span>
                                            </button>
                                        </span>
                                        <span class="input-group-btn">
                                            <button type="button" data-toggle="modal" data-target="#mySubscriberModal">
                                                <span class="glyphicon glyphicon-info-sign"></span>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    <p>&nbsp;</p>
                </div> <!--end col-->
            </div> <!--end row-->
        }

    </div> <!--end col-->

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">
                    <h4>Quick Reports</h4>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        @if ((@ViewBag.NoTrackingCount == "0"))
                        {
                            <span>Fulfillment (by tracking #s):</span> <span style="color:green; font-weight:bold">Completed!</span>
                        }
                        else
                        {
                            <p>
                                <span style="color:red; font-weight:bold">@ViewBag.NoTrackingCount &nbsp;Orders w/o Tracking#</span> <br />
                                <span>(@ViewBag.NoTrackingDelay</span> <span>Days = Longest Order Delay)</span>
                                @Html.ActionLink("View", "ViewNoTrackOrders", "Orders", null, new { @class = "btn btn-danger btn-sm" })
                            </p>
                        }
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        @if ((@ViewBag.NoSerialCount == "0"))
                        {
                            <span>Fulfillment (by serial #s):</span> <span style="color:green; font-weight:bold">Completed!</span>
                        }
                        else
                        {
                            <p>
                                <span style="color:red; font-weight:bold">@ViewBag.NoSerialCount &nbsp;Devices w/o Serial#</span>
                                @Html.ActionLink("View", "ViewNoSerialOrders", "Orders", null, new { @class = "btn btn-danger btn-sm" })
                            </p>
                        }
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        @if ((@ViewBag.cerAgingCount == "0"))
                        {
                            <span>Aging CERs:</span> <span style="color:green; font-weight:bold">Completed!</span>
                        }
                        else
                        {
                            <p>
                                <span style="color:red; font-weight:bold">@ViewBag.cerAgingCount &nbsp;Aging CERs (+30 days)</span>
                                @Html.ActionLink("View", "ViewAgingCERs", "Orders", null, new { @class = "btn btn-danger btn-sm" })
                            </p>
                        }
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        @if ((@ViewBag.cerAnalyzeCount == "0"))
                        {
                            <span>CER Devices to Analyze:</span> <span style="color:green; font-weight:bold">Completed!</span>
                        }
                        else
                        {
                            <p>
                                <span style="color:red; font-weight:bold">
                                    @ViewBag.cerAnalyzeCount (?) Devices to Analyze
                                    @Html.ActionLink("View", "ViewCERsToAnalyze", "Orders", null, new { @class = "btn btn-danger btn-sm" })
                                </span>
                            </p>
                        }
                    </div>
                </div>
            </div> <!--end Panel Body-->
        </div> <!--end Panel-->
    </div> <!--end col-->
</div> <!--end row-->

<div id="divReports" class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div id="pnlReports" class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">
                    <h3>Reports Section</h3>
                </div>
            </div>
            <div class="panel-body">

                <div class="row">
                    <a href="~/dsr/">
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <div class="dash_icon" style="padding:20px;">
                                <img src="/images/admin/metrics.png" style='width:100px'>
                                <div class='title'>DSR: Daily-Sales-Report</div>
                            </div>
                        </div><!--end column-->
                    </a>

                    <a href="~/Report/MultiPayRevenueByOrder">
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <div class="dash_icon" style="padding:20px;">
                                <img src="/images/admin/reports.png" style='width:100px'>
                                <div class='title'>Revenue & Stat list of Multi-Pay orders</div>
                            </div>
                        </div><!--end column-->
                    </a>

                    <a href="~/Report/ClubRevenueByOrder">
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <div class="dash_icon" style="padding:20px;">
                                <img src="/images/admin/reports.png" style='width:100px'>
                                <div class='title'>Revenue & Stat list of Club orders</div>
                            </div>
                        </div><!--end column-->
                    </a>

                    <a href="~/Report/MultiPayStatus">
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <div class="dash_icon" style="padding:20px;">
                                <img src="/images/admin/metrics.png" style='width:100px'>
                                <div class='title'>Multi-Pay Subscriber Status</div>
                            </div>
                        </div><!--end column-->
                    </a>
                </div><!--end row-->

                <div class="row">
                    <a href="~/Report/DailySales">
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <div class="dash_icon" style="padding:20px;">
                                <img src="/images/admin/metrics.png" style='width:100px'>
                                <div class='title'>Net Cash (by Month, day, employee)</div>
                            </div>
                        </div><!--end column-->
                    </a>

                    <a href="~/Report/DelayedPlanChanges">
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <div class="dash_icon" style="padding:20px;">
                                <img src="/images/admin/plans.png" style='width:100px'>
                                <div class='title'>Delayed or Changed Subscriptions</div>
                            </div>
                        </div><!--end column-->
                    </a>

                    <a href="~/Report/DisplayPromoCodes">
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <div class="dash_icon" style="padding:20px;">
                                <img src="/images/admin/reports.png" style='width:100px'>
                                <div class='title'>Displays All Available Promo Codes</div>
                            </div>
                        </div><!--end column-->
                    </a>

                    <a href="~/Report/genPackingLists" target="_blank">
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <div class="dash_icon" style="padding:20px;">
                                <img src="/images/admin/plans.png" style='width:100px'>
                                <div class='title'>Generates PDF of All Unfulfilled Orders</div>
                            </div>
                        </div><!--end column-->
                    </a>
                </div> <!--end row-->
                <div class="row">
                    <a href="~/BulkReturnsIBNU/">
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <div class="dash_icon" style="padding:20px;">
                                <img src="/images/admin/reports.png" style='width:100px'>
                                <div class='title'>Report/AddTo Returned-Devices-to-Inventory</div>
                            </div>
                        </div><!--end column-->
                    </a>

                    <a href="~/AdminMVC/GetShippingZones/">
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <div class="dash_icon" style="padding:20px;">
                                <img src="/images/admin/reports.png" style='width:100px'>
                                <div class='title'>Display Shipping Policy</div>
                            </div>
                        </div><!--end column-->
                    </a>

                    <a href="~/Report/DisplayStaleCustomers" target="_blank">
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <div class="dash_icon" style="padding:20px;">
                                <img src="/images/admin/reports.png" style='width:100px'>
                                <div class='title'>FM customers w/o purchases in last 6 mos</div>
                            </div>
                        </div><!--end column-->
                    </a>

                    <a href="~/admin/partnumbers.aspx" target="_blank">
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <div class="dash_icon" style="padding:20px;">
                                <img src="/images/admin/plans.png" style='width:100px'>
                                <div class='title'>FM Part Numbers</div>
                            </div>
                        </div><!--end column-->
                    </a>

                </div> <!--end row-->
            </div> <!--end panel body-->
        </div> <!--end panel -->
    </div> <!--end col -->
</div> <!--end row -->

@if ((FM2015.Models.User.IsAuthenticated()) && (FM2015.Models.User.HasRole("admin")))
{
    <div id="divAdminStuff" class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div id="pnlAdminStuff" class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">
                        <h3>AdminStuff Section</h3>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#tabUtilities">Utilities</a></li>
                            <li><a data-toggle="tab" href="#tabShopify">Partners</a></li>
                            <li><a data-toggle="tab" href="#tabManage">Manage Stuff</a></li>
                            <li><a data-toggle="tab" href="#tabResources">Useful Resources</a></li>
                        </ul>
                    </div>

                    <div class="tab-content">

                        <div class="tab-pane active" id="tabUtilities">
                            <div class="row">

                                <!--Charts-->
                                <a href="~/CER/Charts.aspx">
                                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                        <div class="dash_icon" style="padding:20px;">
                                            <img src="/images/admin/metrics.png" style='width:100px'>
                                            <div class='title'>Charts</div>
                                        </div>
                                    </div><!--end column-->
                                </a>

                                <!--Database errors-->
                                <a href="~/Admin/RptListErrLog.aspx">
                                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                        <div class="dash_icon" style="padding:20px;">
                                            <img src="/images/admin/reports.png" style='width:100px'>
                                            <div class='title'>Error Log</div>
                                        </div>
                                    </div><!--end column-->
                                </a>

                                <a href="~/Utilities/Index">
                                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                        <div class="dash_icon" style="padding:20px;">
                                            <img src="/images/admin/plans.png" style='width:100px'>
                                            <div class='title'>Handy Utilities</div>
                                        </div>
                                    </div><!--end column-->
                                </a>

                                <a href="~/Report/PromoCodeMismatches">
                                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                        <div class="dash_icon" style="padding:20px;">
                                            <img src="/images/admin/reports.png" style='width:100px'>
                                            <div class='title'>Check for Orders that don't report Promo Codes</div>
                                        </div>
                                    </div><!--end column-->
                                </a>

                            </div> <!--end row-->
                        </div><!--tab-->

                        <div class="tab-pane" id="tabShopify">
                            <div class="row">
                                <a href="~/Shopify/">
                                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                        <div class="dash_icon" style="padding:20px;">
                                            <img src="/images/admin/reports.png" style='width:100px'>
                                            <div class='title'>Shopify</div>
                                        </div>
                                    </div><!--end column-->
                                </a>

                                <a href="~/Stripe/">
                                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                        <div class="dash_icon" style="padding:20px;">
                                            <img src="/images/admin/reports.png" style='width:100px'>
                                            <div class='title'>Stripe</div>
                                        </div>
                                    </div><!--end column-->
                                </a>

                                <a href="~/PayWhirl/">
                                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                        <div class="dash_icon" style="padding:20px;">
                                            <img src="/images/admin/reports.png" style='width:100px'>
                                            <div class='title'>PayWhirl</div>
                                        </div>
                                    </div><!--end column-->
                                </a>

                                @if (Config.appName.ToUpper() == "RMSHOP")
                                {
                                    <a href="~/PayWhirlV2/">
                                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                            <div class="dash_icon" style="padding:20px;">
                                                <img src="/images/admin/reports.png" style='width:100px'>
                                                <div class='title'>PayWhirlV2</div>
                                            </div>
                                        </div><!--end column-->
                                    </a>
                                }


                            </div> <!--end row-->
                        </div><!--tab-->

                        <div class="tab-pane" id="tabManage">
                            <div class="row">

                                <a href="~/Products/AdminIndex">
                                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                        <div class="dash_icon" style="padding:20px;">
                                            <img src="/images/admin/plans.png" style='width:100px'>
                                            <div class='title'>Products (nuAdmin)</div>
                                        </div>
                                    </div><!--end column-->
                                </a>

                                <a href="~/Admin/ManageProducts.aspx">
                                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                        <div class="dash_icon" style="padding:20px;">
                                            <img src="/images/admin/plans.png" style='width:100px'>
                                            <div class='title'>Products (legacyAdmin)</div>
                                        </div>
                                    </div><!--end column-->
                                </a>

                                <a href="~/Admin/ManageFMPOSales.aspx">
                                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                        <div class="dash_icon" style="padding:20px;">
                                            <img src="/images/admin/plans.png" style='width:100px'>
                                            <div class='title'>PO Sales (legacyAdmin)</div>
                                        </div>
                                    </div><!--end column-->
                                </a>

                                <a href="~/validation">
                                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                        <div class="dash_icon" style="padding:20px;">
                                            <img src="/images/admin/plans.png" style='width:100px'>
                                            <div class='title'>Manage Validation Data</div>
                                        </div>
                                    </div><!--end column-->
                                </a>

                            </div><!--end row-->


                        </div><!--tab-->

                        <div class="tab-pane" id="tabResources">
                            <div class="row">

                                <a href="https://www.google.com/analytics/web/#report/visitors-overview/a1560367w2739879p2793529/" target="_blank">
                                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                        <div class="dash_icon" style="padding:20px;">
                                            <img src="/images/admin/plans.png" style='width:100px'>
                                            <div class='title'>Google Analytics</div>
                                        </div>
                                    </div><!--end column-->
                                </a>

                                <a href="https://adwords.google.com/cm/CampaignMgmt?__u=5619506748&__c=2230475508&stylePrefOverride=2" target="_blank">
                                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                        <div class="dash_icon" style="padding:20px;">
                                            <img src="/images/admin/plans.png" style='width:100px'>
                                            <div class='title'>Google AdWords</div>
                                        </div>
                                    </div><!--end column-->
                                </a>

                                <a href="https://console.aws.amazon.com/console/home" target="_blank">
                                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                        <div class="dash_icon" style="padding:20px;">
                                            <img src="/images/admin/plans.png" style='width:100px'>
                                            <div class='title'>AWS EC2: amazonwebservices@slccompanies.com, hello101</div>
                                        </div>
                                    </div><!--end column-->
                                </a>

                                <a href="https://console.aws.amazon.com/console/home" target="_blank">
                                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                        <div class="dash_icon" style="padding:20px;">
                                            <img src="/images/admin/plans.png" style='width:100px'>
                                            <div class='title'>AWS S3: facemaster@slccompanies.com, hello101; amazonwebservices@slccompanies.com, hello101</div>
                                        </div>
                                    </div><!--end column-->
                                </a>
                            </div><!--column-->

                            <div class="row">

                                <a href="https://mail.google.com/mail/?shva=1#inbox" target="_blank">
                                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                        <div class="dash_icon" style="padding:20px;">
                                            <img src="/images/admin/plans.png" style='width:100px'>
                                            <div class='title'>gmail: facemaster@gmail.com, kingoftesting</div>
                                        </div>
                                    </div><!--end column-->
                                </a>

                                <a href="https://login.mailchimp.com/" target="_blank">
                                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                        <div class="dash_icon" style="padding:20px;">
                                            <img src="/images/admin/plans.png" style='width:100px'>
                                            <div class='title'>MailChimp: facemaster@slccompanies.com, Hello101!</div>
                                        </div>
                                    </div><!--end column-->
                                </a>

                                <a href="~/admin/Resources.aspx" target="_blank">
                                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                        <div class="dash_icon" style="padding:20px;">
                                            <img src="/images/admin/plans.png" style='width:100px'>
                                            <div class='title'>Resources For Developers, QA</div>
                                        </div>
                                    </div><!--end column-->
                                </a>

                            </div><!--end row-->

                        </div><!--tab-->

                    </div><!--tab content-->

                </div> <!--end panel body-->
            </div> <!--end panel -->
        </div> <!--end col -->
    </div> <!--end row -->
}

@if ((FM2015.Models.User.IsAuthenticated()) && (FM2015.Models.User.HasRole("admin")))
{
    <div id="divAdminStuff" class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div id="pnlQMSStuff" class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">
                        <h3>QMS Section</h3>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#tabUtilities">Utilities</a></li>
                            <li><a data-toggle="tab" href="#tabResources">Useful Resources</a></li>
                        </ul>
                    </div>

                    <div class="tab-content">

                        <div class="tab-pane active" id="tabUtilities">
                            <div class="row">

                                <!--Charts-->
                                <a href="~/CER/Charts.aspx">
                                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                        <div class="dash_icon" style="padding:20px;">
                                            <img src="/images/admin/metrics.png" style='width:100px'>
                                            <div class='title'>Charts</div>
                                        </div>
                                    </div><!--end column-->
                                </a>

                                <!--Charts-->
                                <a href="~/QMS/NCRs">
                                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                        <div class="dash_icon" style="padding:20px;">
                                            <img src="/images/admin/metrics.png" style='width:100px'>
                                            <div class='title'>NCRs</div>
                                        </div>
                                    </div><!--end column-->
                                </a>

                            </div> <!--end row-->
                        </div><!--tab-->

                        <div class="tab-pane" id="tabResources">
                            <div class="row">
                                <a href="~/admin/Resources.aspx" target="_blank">
                                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                        <div class="dash_icon" style="padding:20px;">
                                            <img src="/images/admin/plans.png" style='width:100px'>
                                            <div class='title'>Resources For Developers, QA</div>
                                        </div>
                                    </div><!--end column-->
                                </a>

                            </div><!--end row-->

                        </div><!--tab-->

                    </div><!--tab content-->

                </div> <!--end panel body-->
            </div> <!--end panel -->
        </div> <!--end col -->
    </div> <!--end row -->
}

<!-- Order Modal -->
<div class="modal fade" id="myOrderModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Order Search Tips</h4>
            </div>
            <div class="modal-body">
                @Html.Raw(AdminCart.Config.OrderSearchTip)
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" modal">close</button>
                <!--
                <button type="button" class="btn btn-primary">Save changes</button>
                -->
            </div>
        </div>
    </div>
</div>

<!-- Customer Modal -->
<div class="modal fade" id="myCustomerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Order Search Tips</h4>
            </div>
            <div class="modal-body">
                @Html.Raw(AdminCart.Config.CustomerSearchTip)
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">close</button>
                <!--
                <button type="button" class="btn btn-primary">Save changes</button>
                -->
            </div>
        </div>
    </div>
</div>

<!-- Subscriber Modal -->
<div class="modal fade" id="mySubscriberModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Order Search Tips</h4>
            </div>
            <div class="modal-body">
                @Html.Raw(AdminCart.Config.SubscriberSearchTip)
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">close</button>
                <!--
                <button type="button" class="btn btn-primary">Save changes</button>
                -->
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script src="@Url.Content("~/Scripts/jquery/jquery-1.8.3.min.js")" type="text/javascript"></script>

<script type="text/javascript">
    $(function () { //Document ready shorthand
        //$('#admin').addClass('active');
        //alert('test!');
        orig_val = '';
        customer_val = $('#paramCustomer').val(); //Get the original value to test against.
        order_val = $('#paramOrder').val();
        $('input:text').focus(function () { //When the user tabs/clicks the search box.
            //alert('customer or order box: customer: ' + customer_val + '; order: ' + order_val);
            orig_val = $(this).val();
            switch ($(this).val()) {
                case customer_val:
                case order_val:
                    $(this).val('');
                    break;

            }
        })
            .blur(function () {//When the user tabs/clicks out of the input
                if ($(this).val() === '') {//If the value is blank (such as the user clicking in it and clicking out)...
                    $(this).val(orig_val); //... set back to the original value
                }
            });
    });
</script>

