﻿
@{
    ViewBag.Title = "TestWebApi";
}

<h2>TestWebApi</h2>

@Html.Partial("_AdminNav")

<p>
    &nbsp;
</p>

<dl class="dl-horizontal">
    <dt>
        Test:
    </dt>

    <dd>
        @ViewBag.What;
    </dd>
    <dt>
        URL:
    </dt>

    <dd>
        @ViewBag.URL;
    </dd>

    <dt>
        Response:
    </dt>

    <dd>
        @ViewBag.Response;
    </dd>

</dl>

