﻿
@{
    ViewBag.Title = "test_Shopify_UpDateInventory";
}

<h2>test_Shopify_UpDateInventory</h2>

<h3>Test Pass/Fail: @ViewBag.Pass</h3>
<h4>Variant Name: @ViewBag.Name</h4>
<h4>Variant Sku: @ViewBag.Sku</h4>
<h4>Variant Id: @ViewBag.VariantId</h4>
<h4>Original Inventory: @ViewBag.OrigInventory</h4>
<h4>Attempt New Inventory: @ViewBag.NewInventoryAttempt</h4>
<h4>Confirmed New Inventory: @ViewBag.NewInventory</h4>

