﻿
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "test_PayWhirl_FindCustomerByEmail";
}

<h2>test_PayWhirl_FindCustomerByEmail</h2>

@Html.Partial("_AdminNav")

<hr />

<h3>Test Passed: @ViewBag.Pass</h3>
<h3>Error Message: @ViewBag.ErrMsg</h3>
