﻿
@{
    ViewBag.Title = "test_ShopifyProductTransform";
}

<h2>test_ShopifyProductTransform</h2>

@Html.Partial("_AdminNav")

<hr />

<h3>Test Passed: @ViewBag.Pass</h3>
<p>&nbsp;</p>
<h3>Message = @ViewBag.Message</h3>