﻿@model AdminCart.Cart
@using AdminCart
@using FM2015.Helpers

@{
    ViewBag.Title = "test_GetLoadCart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>test_GetLoadCart</h2>


@Html.Partial("_AdminNav")

<p>
    &nbsp;
</p>

<dl class="dl-horizontal">
    <dt>
        <span>Pass: </span>
    </dt>

    <dd>
        @if (ViewBag.Pass == true)
        {
            <span style="color:green"><strong>PASS!!!</strong></span>
        }
        else
        {
            <span style="color:red"><strong>FAIL....</strong></span>
        }
    </dd>
</dl>

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
        <h3>
            Admin: Order Details: @Html.DisplayFor(model => model.SiteOrder.OrderID)
        </h3>
    </div>
</div>

<table id="tblHeader" class="table table-responsive table-striped">
    <thead>
        <tr>
            <th>
                <strong>
                    @{
                        string str = AdminCart.Config.AppCode() + "/Shopify";
                        <span>Order# (@Html.Raw(str))</span>
                    }
                </strong>
            </th>
            <th><strong>Order Date</strong></th>
            <th><strong>Customer ID</strong></th>
            <th><strong>Source ID</strong></th>
            <th><strong>Company ID</strong></th>
            <th><strong>Fulfillment TrkNum</strong></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(model => model.SiteOrder.OrderID) &nbsp;/&nbsp;
                @if (Model.SiteOrder.SSOrderID > 600000)
                { @Html.DisplayFor(model => model.SiteOrder.SSOrderID);
                }
                else
                { <span>N/A</span> }
            </td>
            <td>
                @Html.DisplayFor(model => model.SiteOrder.OrderDate)
            </td>
            <td>
                @Html.ActionLink(Model.SiteCustomer.CustomerID.ToString(), "Details", "Customers", new { id = Model.SiteCustomer.CustomerID.ToString() }, null)
            </td>
            <td>
                @Model.SiteOrder.SourceID
            </td>
            <td>
                @Model.SiteOrder.CompanyID
            </td>
            <td>
                @if (Model.SiteOrder.upsShipments.Count() == 0)
                {
                    <span>n/a</span>
                }
                else
                {
                    string trkNumURL = "n/a";
                    string trkNum = Model.SiteOrder.upsShipments[0].TrackingNumber;
                    string carrierType = trkNum.Substring(0, 1);
                    if (carrierType == "1") //if not "1" then assume USPS
                    {
                        //trkNum = "<a href=" + "'http://wwwapps.ups.com/WebTracking/track?track=yes&trackNums='" + trkNum + ">" + trkNum + "</a>";
                        string url = "http://wwwapps.ups.com/WebTracking/track?track=yes&trackNums=" + trkNum;
                        trkNumURL = String.Format("<a href=\"{0}\" target='_blank'>{1}</a>", url, trkNum);
                    }
                    else
                    {
                        //trkNum = "<a href" + "'https://tools.usps.com/go/TrackConfirmAction_input?qtc_tLabels1='" + trkNum + ">" + trkNum + "</a>";
                        string url = "https://tools.usps.com/go/TrackConfirmAction_input?qtc_tLabels1=" + trkNum;
                        trkNumURL = String.Format("<a href=\"{0}\" target='_blank'>{1}</a>", url, trkNum);
                    }
                    <span>@Html.Raw(trkNumURL)</span>
                }
            </td>

        </tr>
    </tbody>
</table>

<div class="tab-pane active" id="tabAddresses">
    <div id="divAddresses" class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div id="frmBillAddress" class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">
                        <h3>Billing Address</h3>
                    </div>
                </div>
                <div class="panel-body">
                    <p>
                        @Html.DisplayFor(model => model.SiteCustomer.FirstName)&nbsp;@Html.DisplayFor(model => model.SiteCustomer.LastName)<br />
                        @Html.DisplayFor(model => model.BillAddress.Street)<br />
                        @if ((!string.IsNullOrEmpty(Model.BillAddress.Street2)) && (Model.BillAddress.Street2 != " "))
                        {
                            @Html.DisplayFor(model => model.BillAddress.Street2)<br />
                        }
                        @Html.DisplayFor(model => model.BillAddress.City), @Html.DisplayFor(model => model.BillAddress.State) @Html.DisplayFor(model => model.BillAddress.Zip)<br />
                        @{
                            string country = DBUtil.GetCountry(Model.BillAddress.Country);
                            <span>@Html.Raw(country)</span><br />
                        }
                        @Html.DisplayFor(model => model.SiteCustomer.Email)<br />
                        @Html.DisplayFor(model => model.SiteCustomer.Phone)
                    </p>

                    @Html.ActionLink("Update Order Addresses", "UpdateOrderAddresses", "Orders", new { orderID = Model.SiteOrder.OrderID }, new { @class = "btn btn-primary" })

                </div> <!--end Panel Body-->
            </div> <!--end Panel-->
        </div> <!--end col-->

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="row">
                <div id="frmShipAddress" class="panel panel-info">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <h3>Shipping Address</h3>
                        </div>
                    </div>
                    <div class="panel-body">
                        <p>
                            @Html.DisplayFor(model => model.SiteCustomer.FirstName)&nbsp;@Html.DisplayFor(model => model.SiteCustomer.LastName)<br />
                            @Html.DisplayFor(model => model.ShipAddress.Street)<br />
                            @if ((!string.IsNullOrEmpty(Model.ShipAddress.Street2)) && (Model.ShipAddress.Street2 != " "))
                            {
                                @Html.DisplayFor(model => model.ShipAddress.Street2)<br />
                            }
                            @Html.DisplayFor(model => model.ShipAddress.City), @Html.DisplayFor(model => model.ShipAddress.State) @Html.DisplayFor(model => model.ShipAddress.Zip)<br />
                            @{
                                country = DBUtil.GetCountry(Model.ShipAddress.Country);
                                <span>@Html.Raw(country)</span><br />
                            }
                            @Html.DisplayFor(model => model.SiteCustomer.Email)<br />
                            @if ((!string.IsNullOrEmpty(Model.SiteCustomer.Phone)) && (Model.SiteCustomer.Phone != " "))
                            {
                                @Html.DisplayFor(model => model.SiteCustomer.Phone)<br />
                            }
                            else
                            {
                                <sapn>Phone: n/a</sapn><br />
                            }
                            @if (Model.ShipType == 1)
                            { <span>Shipping: Ground</span> }
                            @if (Model.ShipType == 2)
                            { <span>Shipping: Expedited (2-Day Air)</span> }
                            @if (Model.ShipType == 3)
                            { <span>Shipping: Express (Guarenteed Overnight)</span> }
                        </p>
                    </div> <!--end of Shipping Panel Body-->
                </div> <!--end of Shipping Panel-->
            </div> <!--end of Col-->
        </div> <!--end of ROW-->
    </div> <!--end Row-->
</div>

    <table class="table table-responsive table-striped">
        <thead>
            <tr>
                <td></td>
                <td><strong>Description</strong></td>
                <td><strong>Quantity</strong></td>
                <td><strong>Unit Price</strong></td>
                <td><strong>Discount</strong></td>
                <td><strong>Price</strong></td>
            </tr>
        </thead>
        <tbody>
            @foreach (AdminCart.Item item in Model.Items)
            {
                <tr>
                    <td>
                        <img src="@Url.Content("~/images/products/" + item.LineItemProduct.ThumbnailImage)" alt="@item.LineItemProduct.ShortDescription" width="80px" />
                    </td>
                    <td>
                        @Html.DisplayFor(i => item.LineItemProduct.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(i => item.Quantity)
                    </td>
                    <td>
                        @Html.DisplayFor(i => item.LineItemProduct.SalePrice)
                    </td>
                    <td>
                        @Html.DisplayFor(i => item.LineItemDiscount)
                    </td>
                    <td>
                        @Html.DisplayFor(i => item.LineItemTotal)
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>
                    @Html.DisplayNameFor(i => Model.TotalProduct)
                </td>
                <td>
                    @Html.DisplayFor(i => Model.TotalProduct)
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>
                    @Html.DisplayNameFor(i => Model.SiteOrder.Adjust)
                </td>
                <td>
                    @Html.DisplayFor(i => Model.SiteOrder.Adjust)
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>
                    @Html.DisplayNameFor(i => Model.TotalTax)
                </td>
                <td>
                    @Html.DisplayFor(i => Model.TotalTax)
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>
                    @Html.DisplayNameFor(i => Model.TotalShipping)
                </td>
                <td>
                    @Html.DisplayFor(i => Model.TotalShipping)
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>
                    @Html.DisplayNameFor(i => Model.Total)
                </td>
                <td>
                    @Html.DisplayFor(i => Model.Total)
                </td>
            </tr>
        </tfoot>
    </table>
