﻿
@{
    ViewBag.Title = "test_GetInstallments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>test_GetInstallments</h2>

@Html.Partial("_AdminNav")

<p>
    &nbsp;
</p>

<dl class="dl-horizontal">
    <dt>
        <span>Pass: </span>
    </dt>

    <dd>
        @if (ViewBag.Pass == "yes")
        {
            <span style="color:green"><strong>PASS!!!</strong></span>
        }
        else
        {
            <span style="color:red"><strong>FAIL....</strong></span>
        }
    </dd>
    <dt>
        <span>Installment Plan: </span>
    </dt>

    <dd>
        <span>@ViewBag.PlanName</span>
    </dd>

    <dt>
        <span>Installments: </span>
    </dt>

    <dd>
        <span>@ViewBag.Installments</span>
    </dd>

</dl>

