﻿
@{
    ViewBag.Title = "test_IsEmailUnique";
}

<h2>test_IsEmailUnique</h2>

@Html.Partial("_AdminNav")

<h3>Test1 Pass/Fail: @ViewBag.Test1Pass; Email: @ViewBag.Test1Email</h3>

<h3>Test2 Pass/Fail: @ViewBag.Test2Pass; Email: @ViewBag.Test2Email</h3>