﻿
@{
    ViewBag.Title = "test_GETStripeSubscriberFromPW";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>test_GETStripeSubscriberFromPW</h2>

@Html.Partial("_AdminNav")

<hr />

<h3>Test Passed: @ViewBag.Pass</h3>
<p>&nbsp;</p>
<h3>Message = @ViewBag.Msg</h3>

