﻿
@{
    ViewBag.Title = "test_Cart_UpdateOrder";
}

<h2>test_Cart_UpdateOrder</h2>

@Html.Partial("_AdminNav")

<hr />

<h3>Test Passed: @ViewBag.Pass</h3>
<p>&nbsp;</p>
<h3>SourceID = @ViewBag.SourceID</h3>

