﻿
@{
    ViewBag.Title = "TestWebApi_ActivateDeferredSubscriptions";
}

<h2>TestWebApi_ActivateDeferredSubscriptions</h2>


@Html.Partial("_AdminNav")

<p>
    Note: this api test hits the CheckDeferredSubscriptions() method in controller: apiSubscriptions
</p>

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        @using (Html.BeginForm("TestWebApi_ActivateDeferredSubscriptions_x", "UnitTest", FormMethod.Get))
        {
            <div class="row">
                <div class="col-xs-4 col-sm-4 col-md-10 col-lg-8">
                    <button type="submit" class="btn btn-primary">Start Test</button>
                </div>
            </div>
        }
    </div> <!--col-->
</div> <!--row-->

<p>&nbsp;</p>

<dl class="dl-horizontal">
    <dt>
        Test:
    </dt>

    <dd>
        @ViewBag.What;
    </dd>
    <dt>
        URL:
    </dt>

    <dd>
        @ViewBag.URL;
    </dd>

    <dt>
        Response:
    </dt>

    <dd>
        @ViewBag.Response;
    </dd>

</dl>

