﻿@model FMWebApp.ViewModels.Stripe.StripeCustomerViewModel

@{
    ViewBag.Title = "test_GetStripeInvoiceList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>test_GetStripeInvoiceList</h2>

@Html.Partial("_AdminNav")

<hr />

<table class="table">
    <tr>
        <th>CustomerID</th>
        <th>ChargeID</th>
        <th>Date</th>
        <th>Amount</th>
    </tr>

@foreach (var item in Model.stripeCustomerInvoiceList) {
    <tr>
        <td> @Html.Raw(item.CustomerId) </td>
        <td> @Html.Raw(item.ChargeId) </td>
        <td> @Html.Raw(item.Date) </td>
        <td> @Html.Raw(item.AmountDue) </td>
    </tr>
}

</table>
