﻿
@{
    ViewBag.Title = "test_Subscriptions_Subscribers";
}

<h2>test_Subscriptions_Subscribers</h2>@Html.Partial("_AdminNav")

<hr />

<h3>Test Passed: @ViewBag.Pass</h3>
<p>&nbsp;</p>
<h3>Message = @ViewBag.Msg</h3>



