﻿
@{
    ViewBag.Title = "test_GetShopifyOrderRisk";
}

<h2>test_GetShopifyOrderRisk</h2>

@Html.Partial("_AdminNav")

<hr />

<h3>Test Passed: @ViewBag.Pass</h3>
<p>&nbsp;</p>
<h3>Message = @ViewBag.Message</h3>

<hr />
<h3>Bad Risk List</h3>
<table class="table">
    <tr>
        <th>
            Id
        </th>
        <th>
            OrderId
        </th>
        <th>
            Score
        </th>
        <th>
            Cause_Cancel
        </th>
        <th>
            Display
        </th>
        <th>
            Message
        </th>
        <th>
            Recommendation
        </th>
        <th>
            Source
        </th>
    </tr>
    @foreach (ShopifyAgent.ShopOrderRisk risk in ViewBag.BadList)
    {
        <tr>
            <td>
                @Html.DisplayFor(viewBagItem => risk.Id)
            </td>
            <td>
                @Html.DisplayFor(viewBagItem => risk.Order_id)
            </td>
            <td>
                @Html.DisplayFor(viewBagItem => risk.Score)
            </td>
            <td>
                @Html.DisplayFor(viewBagItem => risk.Cause_cancel)
            </td>
            <td>
                @Html.DisplayFor(viewBagItem => risk.Display)
            </td>
            <td>
                @Html.DisplayFor(viewBagItem => risk.Message)
            </td>
            <td>
                @Html.DisplayFor(viewBagItem => risk.Recommendation)
            </td>
            <td>
                @Html.DisplayFor(viewBagItem => risk.Source)
            </td>
        </tr>                
    }
</table>



<hr />
<h3>Good Risk List</h3>
<table class="table">
    <tr>
        <th>
            Id
        </th>
        <th>
            OrderId
        </th>
        <th>
            Score
        </th>
        <th>
            Cause_Cancel
        </th>
        <th>
            Display
        </th>
        <th>
            Message
        </th>
        <th>
            Recommendation
        </th>
        <th>
            Source
        </th>
    </tr>
    @foreach (ShopifyAgent.ShopOrderRisk risk in ViewBag.GoodList)
    {
        <tr>
            <td>
                @Html.DisplayFor(viewBagItem => risk.Id)
            </td>
            <td>
                @Html.DisplayFor(viewBagItem => risk.Order_id)
            </td>
            <td>
                @Html.DisplayFor(viewBagItem => risk.Score)
            </td>
            <td>
                @Html.DisplayFor(viewBagItem => risk.Cause_cancel)
            </td>
            <td>
                @Html.DisplayFor(viewBagItem => risk.Display)
            </td>
            <td>
                @Html.DisplayFor(viewBagItem => risk.Message)
            </td>
            <td>
                @Html.DisplayFor(viewBagItem => risk.Recommendation)
            </td>
            <td>
                @Html.DisplayFor(viewBagItem => risk.Source)
            </td>
        </tr>                
    }
</table>